
:root {
    --col-header-border: #D4E2FC;
}

#card_shade_1 {
  background: #17191C;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #2F3238;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #464B54;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #5E6470;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #757E8C;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #8D97A8;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #A4B0C4;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #BCC9E0;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #D4E2FC;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #E9F0FD;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #8F9297;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #B4BCC9;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #D4E2FC;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #B9D2FC;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #9FC1FC;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #84B1FD;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #6AA0FD;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #4F8FFD;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #357EFD;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #1A6EFE;
}
.card:hover #name_tone_10 p {
  color: #ffffff;
}

#card_simcol_1 {
  background: #D9E4F5;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #C3DDF9;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #E6E6FA;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #BDEDFD;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #D4D7D9;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #D4E2FC 0%, #D4E2FC 50%, #90B134 50%, #90B134 100%);
  background: -moz-linear-gradient(45deg, #D4E2FC 0%, #D4E2FC 50%, #90B134 50%, #90B134 100%);
  background: -o-linear-gradient(45deg, #D4E2FC 0%, #D4E2FC 50%, #90B134 50%, #90B134 100%);
  background: linear-gradient(45deg, #D4E2FC 0%, #D4E2FC 50%, #90B134 50%, #90B134 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #D4E2FC 0%, #D4E2FC 50%, #43BFC7 50%, #43BFC7 100%);
  background: -moz-linear-gradient(45deg, #D4E2FC 0%, #D4E2FC 50%, #43BFC7 50%, #43BFC7 100%);
  background: -o-linear-gradient(45deg, #D4E2FC 0%, #D4E2FC 50%, #43BFC7 50%, #43BFC7 100%);
  background: linear-gradient(45deg, #D4E2FC 0%, #D4E2FC 50%, #43BFC7 50%, #43BFC7 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #D4E2FC 0%, #D4E2FC 50%, #3C1F76 50%, #3C1F76 100%);
  background: -moz-linear-gradient(45deg, #D4E2FC 0%, #D4E2FC 50%, #3C1F76 50%, #3C1F76 100%);
  background: -o-linear-gradient(45deg, #D4E2FC 0%, #D4E2FC 50%, #3C1F76 50%, #3C1F76 100%);
  background: linear-gradient(45deg, #D4E2FC 0%, #D4E2FC 50%, #3C1F76 50%, #3C1F76 100%);
}
.combo:hover #name_combo_3 p {
  color: #ffffff;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #D4E2FC 0%, #D4E2FC 50%, #DB4BDA 50%, #DB4BDA 100%);
  background: -moz-linear-gradient(45deg, #D4E2FC 0%, #D4E2FC 50%, #DB4BDA 50%, #DB4BDA 100%);
  background: -o-linear-gradient(45deg, #D4E2FC 0%, #D4E2FC 50%, #DB4BDA 50%, #DB4BDA 100%);
  background: linear-gradient(45deg, #D4E2FC 0%, #D4E2FC 50%, #DB4BDA 50%, #DB4BDA 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #D4E2FC 0%, #D4E2FC 50%, #50C878 50%, #50C878 100%);
  background: -moz-linear-gradient(45deg, #D4E2FC 0%, #D4E2FC 50%, #50C878 50%, #50C878 100%);
  background: -o-linear-gradient(45deg, #D4E2FC 0%, #D4E2FC 50%, #50C878 50%, #50C878 100%);
  background: linear-gradient(45deg, #D4E2FC 0%, #D4E2FC 50%, #50C878 50%, #50C878 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_9 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #D4E2FC;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #D4E2FC;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #D4E2FC;
}

#card_tone_3 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #D4E2FC;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #D4E2FC;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #D4E2FC;
}
