
:root {
    --col-header-border: #0892D0;
}

#card_shade_1 {
  background: #011822;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #023145;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #044A68;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #05638B;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #067CAE;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #0892D0;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #32A7DA;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #60BCE3;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #91D1EC;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #C6E7F5;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #636B6E;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #627279;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #5E7884;
}
.card:hover #name_tone_3 p {
  color: #ffffff;
}

#card_tone_4 {
  background: #587E8F;
}
.card:hover #name_tone_4 p {
  color: #ffffff;
}

#card_tone_5 {
  background: #50849A;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #4688A5;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #398CB0;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #2B90BB;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #1A92C6;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #0892D0;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #0E87CC;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #0485D1;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #009DC4;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #0D98BA;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #0095B6;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #0892D0 0%, #0892D0 50%, #E18E96 50%, #E18E96 100%);
  background: -moz-linear-gradient(45deg, #0892D0 0%, #0892D0 50%, #E18E96 50%, #E18E96 100%);
  background: -o-linear-gradient(45deg, #0892D0 0%, #0892D0 50%, #E18E96 50%, #E18E96 100%);
  background: linear-gradient(45deg, #0892D0 0%, #0892D0 50%, #E18E96 50%, #E18E96 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #0892D0 0%, #0892D0 50%, #CFE5D2 50%, #CFE5D2 100%);
  background: -moz-linear-gradient(45deg, #0892D0 0%, #0892D0 50%, #CFE5D2 50%, #CFE5D2 100%);
  background: -o-linear-gradient(45deg, #0892D0 0%, #0892D0 50%, #CFE5D2 50%, #CFE5D2 100%);
  background: linear-gradient(45deg, #0892D0 0%, #0892D0 50%, #CFE5D2 50%, #CFE5D2 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #0892D0 0%, #0892D0 50%, #D1E231 50%, #D1E231 100%);
  background: -moz-linear-gradient(45deg, #0892D0 0%, #0892D0 50%, #D1E231 50%, #D1E231 100%);
  background: -o-linear-gradient(45deg, #0892D0 0%, #0892D0 50%, #D1E231 50%, #D1E231 100%);
  background: linear-gradient(45deg, #0892D0 0%, #0892D0 50%, #D1E231 50%, #D1E231 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #0892D0 0%, #0892D0 50%, #DD85D7 50%, #DD85D7 100%);
  background: -moz-linear-gradient(45deg, #0892D0 0%, #0892D0 50%, #DD85D7 50%, #DD85D7 100%);
  background: -o-linear-gradient(45deg, #0892D0 0%, #0892D0 50%, #DD85D7 50%, #DD85D7 100%);
  background: linear-gradient(45deg, #0892D0 0%, #0892D0 50%, #DD85D7 50%, #DD85D7 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #0892D0 0%, #0892D0 50%, #A0FEBF 50%, #A0FEBF 100%);
  background: -moz-linear-gradient(45deg, #0892D0 0%, #0892D0 50%, #A0FEBF 50%, #A0FEBF 100%);
  background: -o-linear-gradient(45deg, #0892D0 0%, #0892D0 50%, #A0FEBF 50%, #A0FEBF 100%);
  background: linear-gradient(45deg, #0892D0 0%, #0892D0 50%, #A0FEBF 50%, #A0FEBF 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_6 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #0892D0;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #0892D0;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #0892D0;
}

#card_tone_10 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #0892D0;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #0892D0;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #0892D0;
}
