
:root {
    --col-header-border: #00BFFF;
}

#card_shade_1 {
  background: #001F2A;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #003F54;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #005F7F;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #007FA9;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #009FD4;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #00BFFF;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #32CCFF;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #66D8FF;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #99E5FF;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #CCF2FF;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #788285;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #758B92;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #7094A0;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #689CAD;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #5DA3BB;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #50AAC8;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #40B0D6;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #2DB6E3;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #18BBF1;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #00BFFF;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #02CCFE;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #02D8E9;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #00CCCC;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #04D9FF;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #1DACD6;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #00BFFF 0%, #00BFFF 50%, #20F986 50%, #20F986 100%);
  background: -moz-linear-gradient(45deg, #00BFFF 0%, #00BFFF 50%, #20F986 50%, #20F986 100%);
  background: -o-linear-gradient(45deg, #00BFFF 0%, #00BFFF 50%, #20F986 50%, #20F986 100%);
  background: linear-gradient(45deg, #00BFFF 0%, #00BFFF 50%, #20F986 50%, #20F986 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #00BFFF 0%, #00BFFF 50%, #652DC1 50%, #652DC1 100%);
  background: -moz-linear-gradient(45deg, #00BFFF 0%, #00BFFF 50%, #652DC1 50%, #652DC1 100%);
  background: -o-linear-gradient(45deg, #00BFFF 0%, #00BFFF 50%, #652DC1 50%, #652DC1 100%);
  background: linear-gradient(45deg, #00BFFF 0%, #00BFFF 50%, #652DC1 50%, #652DC1 100%);
}
.combo:hover #name_combo_2 p {
  color: #ffffff;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #00BFFF 0%, #00BFFF 50%, #003FFF 50%, #003FFF 100%);
  background: -moz-linear-gradient(45deg, #00BFFF 0%, #00BFFF 50%, #003FFF 50%, #003FFF 100%);
  background: -o-linear-gradient(45deg, #00BFFF 0%, #00BFFF 50%, #003FFF 50%, #003FFF 100%);
  background: linear-gradient(45deg, #00BFFF 0%, #00BFFF 50%, #003FFF 50%, #003FFF 100%);
}
.combo:hover #name_combo_3 p {
  color: #ffffff;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #00BFFF 0%, #00BFFF 50%, #0041C2 50%, #0041C2 100%);
  background: -moz-linear-gradient(45deg, #00BFFF 0%, #00BFFF 50%, #0041C2 50%, #0041C2 100%);
  background: -o-linear-gradient(45deg, #00BFFF 0%, #00BFFF 50%, #0041C2 50%, #0041C2 100%);
  background: linear-gradient(45deg, #00BFFF 0%, #00BFFF 50%, #0041C2 50%, #0041C2 100%);
}
.combo:hover #name_combo_4 p {
  color: #ffffff;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #00BFFF 0%, #00BFFF 50%, #2C0E8C 50%, #2C0E8C 100%);
  background: -moz-linear-gradient(45deg, #00BFFF 0%, #00BFFF 50%, #2C0E8C 50%, #2C0E8C 100%);
  background: -o-linear-gradient(45deg, #00BFFF 0%, #00BFFF 50%, #2C0E8C 50%, #2C0E8C 100%);
  background: linear-gradient(45deg, #00BFFF 0%, #00BFFF 50%, #2C0E8C 50%, #2C0E8C 100%);
}
.combo:hover #name_combo_5 p {
  color: #ffffff;
}

#card_shade_6 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #00BFFF;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #00BFFF;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #00BFFF;
}

#card_tone_10 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #00BFFF;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #00BFFF;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #00BFFF;
}
