
:root {
    --col-header-border: #6E1D14;
}

#card_shade_1 {
  background: #1B0704;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #360E09;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #52150E;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #6E1D14;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #822F26;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #96473E;
}
.card:hover #name_shade_6 p {
  color: #ffffff;
}

#card_shade_7 {
  background: #AB635B;
}
.card:hover #name_shade_7 p {
  color: #ffffff;
}

#card_shade_8 {
  background: #C0837C;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #D4A7A2;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #E9D0CE;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #3A3535;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #413635;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #473533;
}
.card:hover #name_tone_3 p {
  color: #ffffff;
}

#card_tone_4 {
  background: #4D3431;
}
.card:hover #name_tone_4 p {
  color: #ffffff;
}

#card_tone_5 {
  background: #54312D;
}
.card:hover #name_tone_5 p {
  color: #ffffff;
}

#card_tone_6 {
  background: #5A2D29;
}
.card:hover #name_tone_6 p {
  color: #ffffff;
}

#card_tone_7 {
  background: #602923;
}
.card:hover #name_tone_7 p {
  color: #ffffff;
}

#card_tone_8 {
  background: #67231B;
}
.card:hover #name_tone_8 p {
  color: #ffffff;
}

#card_tone_9 {
  background: #6E1D14;
}
.card:hover #name_tone_9 p {
  color: #ffffff;
}

#card_tone_10 {
  background: #9E1C0E;
}
.card:hover #name_tone_10 p {
  color: #ffffff;
}

#card_simcol_1 {
  background: #651A14;
}
.circle:hover #name_simcol_1 p {
  color: #ffffff;
}

#card_simcol_2 {
  background: #661010;
}
.circle:hover #name_simcol_2 p {
  color: #ffffff;
}

#card_simcol_3 {
  background: #71291D;
}
.circle:hover #name_simcol_3 p {
  color: #ffffff;
}

#card_simcol_4 {
  background: #701C1C;
}
.circle:hover #name_simcol_4 p {
  color: #ffffff;
}

#card_simcol_5 {
  background: #801818;
}
.circle:hover #name_simcol_5 p {
  color: #ffffff;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #6E1D14 0%, #6E1D14 50%, #66B58F 50%, #66B58F 100%);
  background: -moz-linear-gradient(45deg, #6E1D14 0%, #6E1D14 50%, #66B58F 50%, #66B58F 100%);
  background: -o-linear-gradient(45deg, #6E1D14 0%, #6E1D14 50%, #66B58F 50%, #66B58F 100%);
  background: linear-gradient(45deg, #6E1D14 0%, #6E1D14 50%, #66B58F 50%, #66B58F 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #6E1D14 0%, #6E1D14 50%, #EDB381 50%, #EDB381 100%);
  background: -moz-linear-gradient(45deg, #6E1D14 0%, #6E1D14 50%, #EDB381 50%, #EDB381 100%);
  background: -o-linear-gradient(45deg, #6E1D14 0%, #6E1D14 50%, #EDB381 50%, #EDB381 100%);
  background: linear-gradient(45deg, #6E1D14 0%, #6E1D14 50%, #EDB381 50%, #EDB381 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #6E1D14 0%, #6E1D14 50%, #EEDC82 50%, #EEDC82 100%);
  background: -moz-linear-gradient(45deg, #6E1D14 0%, #6E1D14 50%, #EEDC82 50%, #EEDC82 100%);
  background: -o-linear-gradient(45deg, #6E1D14 0%, #6E1D14 50%, #EEDC82 50%, #EEDC82 100%);
  background: linear-gradient(45deg, #6E1D14 0%, #6E1D14 50%, #EEDC82 50%, #EEDC82 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #6E1D14 0%, #6E1D14 50%, #F49AC2 50%, #F49AC2 100%);
  background: -moz-linear-gradient(45deg, #6E1D14 0%, #6E1D14 50%, #F49AC2 50%, #F49AC2 100%);
  background: -o-linear-gradient(45deg, #6E1D14 0%, #6E1D14 50%, #F49AC2 50%, #F49AC2 100%);
  background: linear-gradient(45deg, #6E1D14 0%, #6E1D14 50%, #F49AC2 50%, #F49AC2 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #6E1D14 0%, #6E1D14 50%, #FE83CC 50%, #FE83CC 100%);
  background: -moz-linear-gradient(45deg, #6E1D14 0%, #6E1D14 50%, #FE83CC 50%, #FE83CC 100%);
  background: -o-linear-gradient(45deg, #6E1D14 0%, #6E1D14 50%, #FE83CC 50%, #FE83CC 100%);
  background: linear-gradient(45deg, #6E1D14 0%, #6E1D14 50%, #FE83CC 50%, #FE83CC 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_4 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #6E1D14;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #6E1D14;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #6E1D14;
}

#card_tone_9 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #6E1D14;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #6E1D14;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #6E1D14;
}
