
:root {
    --col-header-border: #044022;
}

#card_shade_1 {
  background: #01150B;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #022A16;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #044022;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #0F5733;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #216F48;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #38875F;
}
.card:hover #name_shade_6 p {
  color: #ffffff;
}

#card_shade_7 {
  background: #549F7A;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #77B797;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #9FCFB7;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #CDE7DA;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #1E2120;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #1E2521;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #1D2822;
}
.card:hover #name_tone_3 p {
  color: #ffffff;
}

#card_tone_4 {
  background: #1B2B23;
}
.card:hover #name_tone_4 p {
  color: #ffffff;
}

#card_tone_5 {
  background: #192F24;
}
.card:hover #name_tone_5 p {
  color: #ffffff;
}

#card_tone_6 {
  background: #163224;
}
.card:hover #name_tone_6 p {
  color: #ffffff;
}

#card_tone_7 {
  background: #123524;
}
.card:hover #name_tone_7 p {
  color: #ffffff;
}

#card_tone_8 {
  background: #0E3923;
}
.card:hover #name_tone_8 p {
  color: #ffffff;
}

#card_tone_9 {
  background: #093C22;
}
.card:hover #name_tone_9 p {
  color: #ffffff;
}

#card_tone_10 {
  background: #044022;
}
.card:hover #name_tone_10 p {
  color: #ffffff;
}

#card_simcol_1 {
  background: #05472A;
}
.circle:hover #name_simcol_1 p {
  color: #ffffff;
}

#card_simcol_2 {
  background: #01371A;
}
.circle:hover #name_simcol_2 p {
  color: #ffffff;
}

#card_simcol_3 {
  background: #004620;
}
.circle:hover #name_simcol_3 p {
  color: #ffffff;
}

#card_simcol_4 {
  background: #02402C;
}
.circle:hover #name_simcol_4 p {
  color: #ffffff;
}

#card_simcol_5 {
  background: #004816;
}
.circle:hover #name_simcol_5 p {
  color: #ffffff;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #044022 0%, #044022 50%, #73A9C2 50%, #73A9C2 100%);
  background: -moz-linear-gradient(45deg, #044022 0%, #044022 50%, #73A9C2 50%, #73A9C2 100%);
  background: -o-linear-gradient(45deg, #044022 0%, #044022 50%, #73A9C2 50%, #73A9C2 100%);
  background: linear-gradient(45deg, #044022 0%, #044022 50%, #73A9C2 50%, #73A9C2 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #044022 0%, #044022 50%, #48CCCD 50%, #48CCCD 100%);
  background: -moz-linear-gradient(45deg, #044022 0%, #044022 50%, #48CCCD 50%, #48CCCD 100%);
  background: -o-linear-gradient(45deg, #044022 0%, #044022 50%, #48CCCD 50%, #48CCCD 100%);
  background: linear-gradient(45deg, #044022 0%, #044022 50%, #48CCCD 50%, #48CCCD 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #044022 0%, #044022 50%, #6FD0C5 50%, #6FD0C5 100%);
  background: -moz-linear-gradient(45deg, #044022 0%, #044022 50%, #6FD0C5 50%, #6FD0C5 100%);
  background: -o-linear-gradient(45deg, #044022 0%, #044022 50%, #6FD0C5 50%, #6FD0C5 100%);
  background: linear-gradient(45deg, #044022 0%, #044022 50%, #6FD0C5 50%, #6FD0C5 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #044022 0%, #044022 50%, #51B73B 50%, #51B73B 100%);
  background: -moz-linear-gradient(45deg, #044022 0%, #044022 50%, #51B73B 50%, #51B73B 100%);
  background: -o-linear-gradient(45deg, #044022 0%, #044022 50%, #51B73B 50%, #51B73B 100%);
  background: linear-gradient(45deg, #044022 0%, #044022 50%, #51B73B 50%, #51B73B 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #044022 0%, #044022 50%, #B2C248 50%, #B2C248 100%);
  background: -moz-linear-gradient(45deg, #044022 0%, #044022 50%, #B2C248 50%, #B2C248 100%);
  background: -o-linear-gradient(45deg, #044022 0%, #044022 50%, #B2C248 50%, #B2C248 100%);
  background: linear-gradient(45deg, #044022 0%, #044022 50%, #B2C248 50%, #B2C248 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_3 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #044022;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #044022;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #044022;
}

#card_tone_10 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #044022;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #044022;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #044022;
}
