
:root {
    --col-header-border: #51808F;
}

#card_shade_1 {
  background: #0D1518;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #1B2B2F;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #284047;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #36555F;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #436B77;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #51808F;
}
.card:hover #name_shade_6 p {
  color: #ffffff;
}

#card_shade_7 {
  background: #6C97A5;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #8BB0BB;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #ADC9D2;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #D4E3E8;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #484D4F;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #4E5B5F;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #52686F;
}
.card:hover #name_tone_3 p {
  color: #ffffff;
}

#card_tone_4 {
  background: #53747E;
}
.card:hover #name_tone_4 p {
  color: #ffffff;
}

#card_tone_5 {
  background: #51808F;
}
.card:hover #name_tone_5 p {
  color: #ffffff;
}

#card_tone_6 {
  background: #488699;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #3E8BA3;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #3190AD;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #2294B7;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #1298C1;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #5A87A0;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #4C787E;
}
.circle:hover #name_simcol_2 p {
  color: #ffffff;
}

#card_simcol_3 {
  background: #4F738E;
}
.circle:hover #name_simcol_3 p {
  color: #ffffff;
}

#card_simcol_4 {
  background: #4E7F9E;
}
.circle:hover #name_simcol_4 p {
  color: #ffffff;
}

#card_simcol_5 {
  background: #5B7C99;
}
.circle:hover #name_simcol_5 p {
  color: #ffffff;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #51808F 0%, #51808F 50%, #B1E2C1 50%, #B1E2C1 100%);
  background: -moz-linear-gradient(45deg, #51808F 0%, #51808F 50%, #B1E2C1 50%, #B1E2C1 100%);
  background: -o-linear-gradient(45deg, #51808F 0%, #51808F 50%, #B1E2C1 50%, #B1E2C1 100%);
  background: linear-gradient(45deg, #51808F 0%, #51808F 50%, #B1E2C1 50%, #B1E2C1 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #51808F 0%, #51808F 50%, #EEE3AD 50%, #EEE3AD 100%);
  background: -moz-linear-gradient(45deg, #51808F 0%, #51808F 50%, #EEE3AD 50%, #EEE3AD 100%);
  background: -o-linear-gradient(45deg, #51808F 0%, #51808F 50%, #EEE3AD 50%, #EEE3AD 100%);
  background: linear-gradient(45deg, #51808F 0%, #51808F 50%, #EEE3AD 50%, #EEE3AD 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #51808F 0%, #51808F 50%, #D5D195 50%, #D5D195 100%);
  background: -moz-linear-gradient(45deg, #51808F 0%, #51808F 50%, #D5D195 50%, #D5D195 100%);
  background: -o-linear-gradient(45deg, #51808F 0%, #51808F 50%, #D5D195 50%, #D5D195 100%);
  background: linear-gradient(45deg, #51808F 0%, #51808F 50%, #D5D195 50%, #D5D195 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #51808F 0%, #51808F 50%, #82CBB2 50%, #82CBB2 100%);
  background: -moz-linear-gradient(45deg, #51808F 0%, #51808F 50%, #82CBB2 50%, #82CBB2 100%);
  background: -o-linear-gradient(45deg, #51808F 0%, #51808F 50%, #82CBB2 50%, #82CBB2 100%);
  background: linear-gradient(45deg, #51808F 0%, #51808F 50%, #82CBB2 50%, #82CBB2 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #51808F 0%, #51808F 50%, #B9CC81 50%, #B9CC81 100%);
  background: -moz-linear-gradient(45deg, #51808F 0%, #51808F 50%, #B9CC81 50%, #B9CC81 100%);
  background: -o-linear-gradient(45deg, #51808F 0%, #51808F 50%, #B9CC81 50%, #B9CC81 100%);
  background: linear-gradient(45deg, #51808F 0%, #51808F 50%, #B9CC81 50%, #B9CC81 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_6 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #51808F;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #51808F;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #51808F;
}

#card_tone_5 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #51808F;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #51808F;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #51808F;
}
