
:root {
    --col-header-border: #85C4CC;
}

#card_shade_1 {
  background: #131C1D;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #26383A;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #395457;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #4B7074;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #5E8C91;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #71A8AE;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #85C4CC;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #9FD3D8;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #BDE1E5;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #DDF0F2;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #697071;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #748687;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #7D9B9E;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #82B0B5;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #85C4CC;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #71C7D0;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #5CC9D5;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #46CBD9;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #30CCDE;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #18CEE2;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #78C7C7;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #77BFC7;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #92C7C7;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #7CB7BB;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #80B3C4;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #85C4CC 0%, #85C4CC 50%, #DEE5C0 50%, #DEE5C0 100%);
  background: -moz-linear-gradient(45deg, #85C4CC 0%, #85C4CC 50%, #DEE5C0 50%, #DEE5C0 100%);
  background: -o-linear-gradient(45deg, #85C4CC 0%, #85C4CC 50%, #DEE5C0 50%, #DEE5C0 100%);
  background: linear-gradient(45deg, #85C4CC 0%, #85C4CC 50%, #DEE5C0 50%, #DEE5C0 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #85C4CC 0%, #85C4CC 50%, #6C3082 50%, #6C3082 100%);
  background: -moz-linear-gradient(45deg, #85C4CC 0%, #85C4CC 50%, #6C3082 50%, #6C3082 100%);
  background: -o-linear-gradient(45deg, #85C4CC 0%, #85C4CC 50%, #6C3082 50%, #6C3082 100%);
  background: linear-gradient(45deg, #85C4CC 0%, #85C4CC 50%, #6C3082 50%, #6C3082 100%);
}
.combo:hover #name_combo_2 p {
  color: #ffffff;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #85C4CC 0%, #85C4CC 50%, #A6FBB2 50%, #A6FBB2 100%);
  background: -moz-linear-gradient(45deg, #85C4CC 0%, #85C4CC 50%, #A6FBB2 50%, #A6FBB2 100%);
  background: -o-linear-gradient(45deg, #85C4CC 0%, #85C4CC 50%, #A6FBB2 50%, #A6FBB2 100%);
  background: linear-gradient(45deg, #85C4CC 0%, #85C4CC 50%, #A6FBB2 50%, #A6FBB2 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #85C4CC 0%, #85C4CC 50%, #4E387E 50%, #4E387E 100%);
  background: -moz-linear-gradient(45deg, #85C4CC 0%, #85C4CC 50%, #4E387E 50%, #4E387E 100%);
  background: -o-linear-gradient(45deg, #85C4CC 0%, #85C4CC 50%, #4E387E 50%, #4E387E 100%);
  background: linear-gradient(45deg, #85C4CC 0%, #85C4CC 50%, #4E387E 50%, #4E387E 100%);
}
.combo:hover #name_combo_4 p {
  color: #ffffff;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #85C4CC 0%, #85C4CC 50%, #8FFF9F 50%, #8FFF9F 100%);
  background: -moz-linear-gradient(45deg, #85C4CC 0%, #85C4CC 50%, #8FFF9F 50%, #8FFF9F 100%);
  background: -o-linear-gradient(45deg, #85C4CC 0%, #85C4CC 50%, #8FFF9F 50%, #8FFF9F 100%);
  background: linear-gradient(45deg, #85C4CC 0%, #85C4CC 50%, #8FFF9F 50%, #8FFF9F 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_7 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #85C4CC;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #85C4CC;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #85C4CC;
}

#card_tone_5 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #85C4CC;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #85C4CC;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #85C4CC;
}
