
colors/functions/analyze_my_color_sec.js
colors/functions/draw_histogram.js
colors/functions/name_color.js
colors/functions/name_my_color_sec.js
colors/functions/scroll_to_page.js
colors/functions/search_functions.js
colors/functions/slideshow.js
colors/images/svg_icons.svg
