/* ==========================================================================
   Start of custom CSS
   ========================================================================== */

/*global colours and margins*/
:root {
    --accent-bg-color: #2cbbbf; 
    --main-bg-color: #1fc296;
    --animie1-color1: #96d1d3;
    --animie1-color2: #c0e3e5;
    --form-bg-color: #ffffff;
    --margin-left: 50px;
    --margin-right: 50px;
    --zero-margin:  0px;
}

/*body*/
body {
    background-color: var(--accent-bg-color);
    margin: var(--zero-margin);
}

/*all containers*/
.container {
    /*temp
    border: 2px solid #B22222;*/
}

/*outer body container - for everything*/
#outer-body-container {
    background-color: var(--accent-bg-color);
}

/*middle body container - except header and footer*/
#middle-body-container {
    background-color: var(--form-bg-color);
}
/*inner body container*/
#inner-body-container {
    margin-left: var(--margin-left);
    margin-right: var(--margin-right);
}

/*header*/
.header {
    display: grid;
    background-image: linear-gradient(var(--accent-bg-color),var(--main-bg-color));
    grid-template-columns: auto auto;
}

/*logo in header*/
#logo {
    display: block;
    width: 20%;
    height: auto;
    margin: 20px;
}

@media screen and (max-width: 767px) {
    #logo {
        width: 100%;
        margin: 30px;
    }
    #animie1 {
        display: none;
    }
}

/*footer*/
.footer {
    display: grid;
    background-image: linear-gradient(var(--main-bg-color),var(--accent-bg-color));
    grid-template-columns: auto auto auto;
}

/*making waves*/
@keyframes animateWave {
    0% {
        transform: scale(1,0);
    }

    100% {
        transform: scale(1,1);
    }
}

#top-wave-container {
    /*position: relative;*/
    background: var(--main-bg-color);
}

#bottom-wave-container {
    /*position: relative;*/
    background: var(--form-bg-color);
}

.wave-container > svg {
    display: block;
    transform-origin: bottom;
    animation: animateWave 5000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

/*from webflow*/
/*
.feature-section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.flex-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.feature-image-mask {
    width: 100%;
    margin-right: 40px;
}

.feature-image {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
}

@media screen and (max-width: 767px) {
    .feature-section {
        padding: 40px 20px;
    }

    .flex-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .feature-image-mask {
        margin-right: 0px;
    }

    .feature-image {
        margin-right: auto;
        margin-left: auto;
    }
}
    */