/* ==========================================================================
   Start of custom CSS
   ========================================================================== */

/*global colours and margins*/
:root {
    --main-bg-color: #1fc296;
    --animie1-color1: #96d1d3;
    --animie1-color2: #c0e3e5;
    --form-bg-color: #ffffff;
    --margin-left: 50px;
    --margin-right: 50px;
}

/*body*/
body {
    background-color: var(--main-bg-color);
    margin: 0px;
}

/*all containers*/
.container {
    /*temp*/
    border: 2px solid #B22222;
}

/*outer body container - for everything*/
#outer-body-container {
    background-color: var(--main-bg-color);
}

/*middle body container - except header and footer*/
#middle-body-container {
    background-color: var(--form-bg-color);
}
/*inner body container*/
#inner-body-container {
    margin-left: var(--margin-left);
    margin-right: var(--margin-right);
}

/*header*/
.header {
    display: grid;
    grid-template-columns: auto auto;
}


/*making waves*/
@keyframes animateWave {
    0% {
        transform: scale(1,0);
    }

    100% {
        transform: scale(1,1);
    }
}
.wave-container {
    position: relative;
    background: var(--main-bg-color);
}

.wave-container > svg {
    display: block;
    transform-origin: bottom;
    animation: animateWave 1000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
}