/* ==========================================================================
   Start of custom Webflow CSS
   ========================================================================== */

:root {
    --main-bg-color: #2cbbbf;
    --main-color: #2cbbbf;
    --form-bg-color: #ffffff;
}

body {
    background-color: var(--main-bg-color);
}

.wave-container {
    background: var(--form-bg-color);
    margin-left: 30px;
    margin-right: 30px;
}

.wave-container > svg {
        display: block;
}