
:root {
    --col-header-border: #A62F20;
}

#card_shade_1 {
  background: #210906;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #42120C;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #631C12;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #842519;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #A62F20;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #B4483A;
}
.card:hover #name_shade_6 p {
  color: #ffffff;
}

#card_shade_7 {
  background: #C36659;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #D2867D;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #E0ABA4;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #EFD3CF;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #585150;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #615250;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #6B514E;
}
.card:hover #name_tone_3 p {
  color: #ffffff;
}

#card_tone_4 {
  background: #754F4B;
}
.card:hover #name_tone_4 p {
  color: #ffffff;
}

#card_tone_5 {
  background: #7E4C45;
}
.card:hover #name_tone_5 p {
  color: #ffffff;
}

#card_tone_6 {
  background: #88473E;
}
.card:hover #name_tone_6 p {
  color: #ffffff;
}

#card_tone_7 {
  background: #924036;
}
.card:hover #name_tone_7 p {
  color: #ffffff;
}

#card_tone_8 {
  background: #9C382B;
}
.card:hover #name_tone_8 p {
  color: #ffffff;
}

#card_tone_9 {
  background: #A62F20;
}
.card:hover #name_tone_9 p {
  color: #ffffff;
}

#card_tone_10 {
  background: #C32712;
}
.card:hover #name_tone_10 p {
  color: #ffffff;
}

#card_simcol_1 {
  background: #A03623;
}
.circle:hover #name_simcol_1 p {
  color: #ffffff;
}

#card_simcol_2 {
  background: #9F381D;
}
.circle:hover #name_simcol_2 p {
  color: #ffffff;
}

#card_simcol_3 {
  background: #A02712;
}
.circle:hover #name_simcol_3 p {
  color: #ffffff;
}

#card_simcol_4 {
  background: #B22222;
}
.circle:hover #name_simcol_4 p {
  color: #ffffff;
}

#card_simcol_5 {
  background: #A52A2A;
}
.circle:hover #name_simcol_5 p {
  color: #ffffff;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #A62F20 0%, #A62F20 50%, #C8AABF 50%, #C8AABF 100%);
  background: -moz-linear-gradient(45deg, #A62F20 0%, #A62F20 50%, #C8AABF 50%, #C8AABF 100%);
  background: -o-linear-gradient(45deg, #A62F20 0%, #A62F20 50%, #C8AABF 50%, #C8AABF 100%);
  background: linear-gradient(45deg, #A62F20 0%, #A62F20 50%, #C8AABF 50%, #C8AABF 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #A62F20 0%, #A62F20 50%, #FBA0E3 50%, #FBA0E3 100%);
  background: -moz-linear-gradient(45deg, #A62F20 0%, #A62F20 50%, #FBA0E3 50%, #FBA0E3 100%);
  background: -o-linear-gradient(45deg, #A62F20 0%, #A62F20 50%, #FBA0E3 50%, #FBA0E3 100%);
  background: linear-gradient(45deg, #A62F20 0%, #A62F20 50%, #FBA0E3 50%, #FBA0E3 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #A62F20 0%, #A62F20 50%, #EF98AA 50%, #EF98AA 100%);
  background: -moz-linear-gradient(45deg, #A62F20 0%, #A62F20 50%, #EF98AA 50%, #EF98AA 100%);
  background: -o-linear-gradient(45deg, #A62F20 0%, #A62F20 50%, #EF98AA 50%, #EF98AA 100%);
  background: linear-gradient(45deg, #A62F20 0%, #A62F20 50%, #EF98AA 50%, #EF98AA 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #A62F20 0%, #A62F20 50%, #90E4C1 50%, #90E4C1 100%);
  background: -moz-linear-gradient(45deg, #A62F20 0%, #A62F20 50%, #90E4C1 50%, #90E4C1 100%);
  background: -o-linear-gradient(45deg, #A62F20 0%, #A62F20 50%, #90E4C1 50%, #90E4C1 100%);
  background: linear-gradient(45deg, #A62F20 0%, #A62F20 50%, #90E4C1 50%, #90E4C1 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #A62F20 0%, #A62F20 50%, #69D84F 50%, #69D84F 100%);
  background: -moz-linear-gradient(45deg, #A62F20 0%, #A62F20 50%, #69D84F 50%, #69D84F 100%);
  background: -o-linear-gradient(45deg, #A62F20 0%, #A62F20 50%, #69D84F 50%, #69D84F 100%);
  background: linear-gradient(45deg, #A62F20 0%, #A62F20 50%, #69D84F 50%, #69D84F 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_5 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #A62F20;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #A62F20;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #A62F20;
}

#card_tone_9 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #A62F20;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #A62F20;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #A62F20;
}
