
:root {
    --col-header-border: #D07D12;
}

#card_shade_1 {
  background: #221403;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #452A06;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #683F09;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #8B540C;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #AE690F;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #D07D12;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #DA953B;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #E3AD67;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #ECC796;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #F5E2C9;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #6E6A64;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #796F63;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #847460;
}
.card:hover #name_tone_3 p {
  color: #ffffff;
}

#card_tone_4 {
  background: #8F785B;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #9A7B54;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #A57E4B;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #B07F3F;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #BB8032;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #C67F23;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #D07D12;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #C87606;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #CB7723;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #CD8429;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #DA6304;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #CA6B02;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #D07D12 0%, #D07D12 50%, #BCECAC 50%, #BCECAC 100%);
  background: -moz-linear-gradient(45deg, #D07D12 0%, #D07D12 50%, #BCECAC 50%, #BCECAC 100%);
  background: -o-linear-gradient(45deg, #D07D12 0%, #D07D12 50%, #BCECAC 50%, #BCECAC 100%);
  background: linear-gradient(45deg, #D07D12 0%, #D07D12 50%, #BCECAC 50%, #BCECAC 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #D07D12 0%, #D07D12 50%, #B2FBA5 50%, #B2FBA5 100%);
  background: -moz-linear-gradient(45deg, #D07D12 0%, #D07D12 50%, #B2FBA5 50%, #B2FBA5 100%);
  background: -o-linear-gradient(45deg, #D07D12 0%, #D07D12 50%, #B2FBA5 50%, #B2FBA5 100%);
  background: linear-gradient(45deg, #D07D12 0%, #D07D12 50%, #B2FBA5 50%, #B2FBA5 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #D07D12 0%, #D07D12 50%, #C0FA8B 50%, #C0FA8B 100%);
  background: -moz-linear-gradient(45deg, #D07D12 0%, #D07D12 50%, #C0FA8B 50%, #C0FA8B 100%);
  background: -o-linear-gradient(45deg, #D07D12 0%, #D07D12 50%, #C0FA8B 50%, #C0FA8B 100%);
  background: linear-gradient(45deg, #D07D12 0%, #D07D12 50%, #C0FA8B 50%, #C0FA8B 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #D07D12 0%, #D07D12 50%, #8CFFDB 50%, #8CFFDB 100%);
  background: -moz-linear-gradient(45deg, #D07D12 0%, #D07D12 50%, #8CFFDB 50%, #8CFFDB 100%);
  background: -o-linear-gradient(45deg, #D07D12 0%, #D07D12 50%, #8CFFDB 50%, #8CFFDB 100%);
  background: linear-gradient(45deg, #D07D12 0%, #D07D12 50%, #8CFFDB 50%, #8CFFDB 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #D07D12 0%, #D07D12 50%, #9AFEFF 50%, #9AFEFF 100%);
  background: -moz-linear-gradient(45deg, #D07D12 0%, #D07D12 50%, #9AFEFF 50%, #9AFEFF 100%);
  background: -o-linear-gradient(45deg, #D07D12 0%, #D07D12 50%, #9AFEFF 50%, #9AFEFF 100%);
  background: linear-gradient(45deg, #D07D12 0%, #D07D12 50%, #9AFEFF 50%, #9AFEFF 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_6 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #D07D12;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #D07D12;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #D07D12;
}

#card_tone_10 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #D07D12;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #D07D12;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #D07D12;
}
