
:root {
    --col-header-border: #5E9B8A;
}

#card_shade_1 {
  background: #0F1916;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #1F332D;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #2F4D44;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #3F675C;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #4F8173;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #5E9B8A;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #78AF9F;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #95C3B6;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #B5D7CD;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #D8EBE5;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #4F5654;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #576762;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #5C7870;
}
.card:hover #name_tone_3 p {
  color: #ffffff;
}

#card_tone_4 {
  background: #5F8A7D;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #5E9B8A;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #53A48D;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #46AD90;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #37B692;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #26BF94;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #14C895;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #719F91;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #4C9085;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #4E8975;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #438D80;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #5FA777;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #5E9B8A 0%, #5E9B8A 50%, #CEB98F 50%, #CEB98F 100%);
  background: -moz-linear-gradient(45deg, #5E9B8A 0%, #5E9B8A 50%, #CEB98F 50%, #CEB98F 100%);
  background: -o-linear-gradient(45deg, #5E9B8A 0%, #5E9B8A 50%, #CEB98F 50%, #CEB98F 100%);
  background: linear-gradient(45deg, #5E9B8A 0%, #5E9B8A 50%, #CEB98F 50%, #CEB98F 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #5E9B8A 0%, #5E9B8A 50%, #C9DC87 50%, #C9DC87 100%);
  background: -moz-linear-gradient(45deg, #5E9B8A 0%, #5E9B8A 50%, #C9DC87 50%, #C9DC87 100%);
  background: -o-linear-gradient(45deg, #5E9B8A 0%, #5E9B8A 50%, #C9DC87 50%, #C9DC87 100%);
  background: linear-gradient(45deg, #5E9B8A 0%, #5E9B8A 50%, #C9DC87 50%, #C9DC87 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #5E9B8A 0%, #5E9B8A 50%, #B7E1A1 50%, #B7E1A1 100%);
  background: -moz-linear-gradient(45deg, #5E9B8A 0%, #5E9B8A 50%, #B7E1A1 50%, #B7E1A1 100%);
  background: -o-linear-gradient(45deg, #5E9B8A 0%, #5E9B8A 50%, #B7E1A1 50%, #B7E1A1 100%);
  background: linear-gradient(45deg, #5E9B8A 0%, #5E9B8A 50%, #B7E1A1 50%, #B7E1A1 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #5E9B8A 0%, #5E9B8A 50%, #F1E788 50%, #F1E788 100%);
  background: -moz-linear-gradient(45deg, #5E9B8A 0%, #5E9B8A 50%, #F1E788 50%, #F1E788 100%);
  background: -o-linear-gradient(45deg, #5E9B8A 0%, #5E9B8A 50%, #F1E788 50%, #F1E788 100%);
  background: linear-gradient(45deg, #5E9B8A 0%, #5E9B8A 50%, #F1E788 50%, #F1E788 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #5E9B8A 0%, #5E9B8A 50%, #D4B6AF 50%, #D4B6AF 100%);
  background: -moz-linear-gradient(45deg, #5E9B8A 0%, #5E9B8A 50%, #D4B6AF 50%, #D4B6AF 100%);
  background: -o-linear-gradient(45deg, #5E9B8A 0%, #5E9B8A 50%, #D4B6AF 50%, #D4B6AF 100%);
  background: linear-gradient(45deg, #5E9B8A 0%, #5E9B8A 50%, #D4B6AF 50%, #D4B6AF 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_6 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #5E9B8A;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #5E9B8A;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #5E9B8A;
}

#card_tone_5 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #5E9B8A;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #5E9B8A;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #5E9B8A;
}
