
:root {
    --col-header-border: #3D0734;
}

#card_shade_1 {
  background: #140211;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #280423;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #3D0734;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #55124B;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #6D2462;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #853B7A;
}
.card:hover #name_shade_6 p {
  color: #ffffff;
}

#card_shade_7 {
  background: #9E5793;
}
.card:hover #name_shade_7 p {
  color: #ffffff;
}

#card_shade_8 {
  background: #B679AD;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #CEA0C7;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #E6CCE2;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #1F1C1E;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #221C21;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #251B24;
}
.card:hover #name_tone_3 p {
  color: #ffffff;
}

#card_tone_4 {
  background: #291A27;
}
.card:hover #name_tone_4 p {
  color: #ffffff;
}

#card_tone_5 {
  background: #2C1829;
}
.card:hover #name_tone_5 p {
  color: #ffffff;
}

#card_tone_6 {
  background: #2F162C;
}
.card:hover #name_tone_6 p {
  color: #ffffff;
}

#card_tone_7 {
  background: #33132E;
}
.card:hover #name_tone_7 p {
  color: #ffffff;
}

#card_tone_8 {
  background: #360F30;
}
.card:hover #name_tone_8 p {
  color: #ffffff;
}

#card_tone_9 {
  background: #390B32;
}
.card:hover #name_tone_9 p {
  color: #ffffff;
}

#card_tone_10 {
  background: #3D0734;
}
.card:hover #name_tone_10 p {
  color: #ffffff;
}

#card_simcol_1 {
  background: #380835;
}
.circle:hover #name_simcol_1 p {
  color: #ffffff;
}

#card_simcol_2 {
  background: #430541;
}
.circle:hover #name_simcol_2 p {
  color: #ffffff;
}

#card_simcol_3 {
  background: #3F012C;
}
.circle:hover #name_simcol_3 p {
  color: #ffffff;
}

#card_simcol_4 {
  background: #4E0550;
}
.circle:hover #name_simcol_4 p {
  color: #ffffff;
}

#card_simcol_5 {
  background: #4D0135;
}
.circle:hover #name_simcol_5 p {
  color: #ffffff;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #3D0734 0%, #3D0734 50%, #D3B683 50%, #D3B683 100%);
  background: -moz-linear-gradient(45deg, #3D0734 0%, #3D0734 50%, #D3B683 50%, #D3B683 100%);
  background: -o-linear-gradient(45deg, #3D0734 0%, #3D0734 50%, #D3B683 50%, #D3B683 100%);
  background: linear-gradient(45deg, #3D0734 0%, #3D0734 50%, #D3B683 50%, #D3B683 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #3D0734 0%, #3D0734 50%, #ECE090 50%, #ECE090 100%);
  background: -moz-linear-gradient(45deg, #3D0734 0%, #3D0734 50%, #ECE090 50%, #ECE090 100%);
  background: -o-linear-gradient(45deg, #3D0734 0%, #3D0734 50%, #ECE090 50%, #ECE090 100%);
  background: linear-gradient(45deg, #3D0734 0%, #3D0734 50%, #ECE090 50%, #ECE090 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #3D0734 0%, #3D0734 50%, #B66A50 50%, #B66A50 100%);
  background: -moz-linear-gradient(45deg, #3D0734 0%, #3D0734 50%, #B66A50 50%, #B66A50 100%);
  background: -o-linear-gradient(45deg, #3D0734 0%, #3D0734 50%, #B66A50 50%, #B66A50 100%);
  background: linear-gradient(45deg, #3D0734 0%, #3D0734 50%, #B66A50 50%, #B66A50 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #3D0734 0%, #3D0734 50%, #D0F0C0 50%, #D0F0C0 100%);
  background: -moz-linear-gradient(45deg, #3D0734 0%, #3D0734 50%, #D0F0C0 50%, #D0F0C0 100%);
  background: -o-linear-gradient(45deg, #3D0734 0%, #3D0734 50%, #D0F0C0 50%, #D0F0C0 100%);
  background: linear-gradient(45deg, #3D0734 0%, #3D0734 50%, #D0F0C0 50%, #D0F0C0 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #3D0734 0%, #3D0734 50%, #CC8899 50%, #CC8899 100%);
  background: -moz-linear-gradient(45deg, #3D0734 0%, #3D0734 50%, #CC8899 50%, #CC8899 100%);
  background: -o-linear-gradient(45deg, #3D0734 0%, #3D0734 50%, #CC8899 50%, #CC8899 100%);
  background: linear-gradient(45deg, #3D0734 0%, #3D0734 50%, #CC8899 50%, #CC8899 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_3 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #3D0734;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #3D0734;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #3D0734;
}

#card_tone_10 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #3D0734;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #3D0734;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #3D0734;
}
