
:root {
    --col-header-border: #A87900;
}

#card_shade_1 {
  background: #211800;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #433000;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #644800;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #866000;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #A87900;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #B68B1E;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #C5A041;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #D3B56A;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #E2CD97;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #F0E5C9;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #57554F;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #605B4D;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #69604A;
}
.card:hover #name_tone_3 p {
  color: #ffffff;
}

#card_tone_4 {
  background: #726544;
}
.card:hover #name_tone_4 p {
  color: #ffffff;
}

#card_tone_5 {
  background: #7B6A3D;
}
.card:hover #name_tone_5 p {
  color: #ffffff;
}

#card_tone_6 {
  background: #846E35;
}
.card:hover #name_tone_6 p {
  color: #ffffff;
}

#card_tone_7 {
  background: #8D712A;
}
.card:hover #name_tone_7 p {
  color: #ffffff;
}

#card_tone_8 {
  background: #96741E;
}
.card:hover #name_tone_8 p {
  color: #ffffff;
}

#card_tone_9 {
  background: #9F760F;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #A87900;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #AC7E04;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #B27A01;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #9B7A01;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #A1750D;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #A88905;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #A87900 0%, #A87900 50%, #5729CE 50%, #5729CE 100%);
  background: -moz-linear-gradient(45deg, #A87900 0%, #A87900 50%, #5729CE 50%, #5729CE 100%);
  background: -o-linear-gradient(45deg, #A87900 0%, #A87900 50%, #5729CE 50%, #5729CE 100%);
  background: linear-gradient(45deg, #A87900 0%, #A87900 50%, #5729CE 50%, #5729CE 100%);
}
.combo:hover #name_combo_1 p {
  color: #ffffff;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #A87900 0%, #A87900 50%, #DCB4BC 50%, #DCB4BC 100%);
  background: -moz-linear-gradient(45deg, #A87900 0%, #A87900 50%, #DCB4BC 50%, #DCB4BC 100%);
  background: -o-linear-gradient(45deg, #A87900 0%, #A87900 50%, #DCB4BC 50%, #DCB4BC 100%);
  background: linear-gradient(45deg, #A87900 0%, #A87900 50%, #DCB4BC 50%, #DCB4BC 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #A87900 0%, #A87900 50%, #E7ACCF 50%, #E7ACCF 100%);
  background: -moz-linear-gradient(45deg, #A87900 0%, #A87900 50%, #E7ACCF 50%, #E7ACCF 100%);
  background: -o-linear-gradient(45deg, #A87900 0%, #A87900 50%, #E7ACCF 50%, #E7ACCF 100%);
  background: linear-gradient(45deg, #A87900 0%, #A87900 50%, #E7ACCF 50%, #E7ACCF 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #A87900 0%, #A87900 50%, #B5EAAA 50%, #B5EAAA 100%);
  background: -moz-linear-gradient(45deg, #A87900 0%, #A87900 50%, #B5EAAA 50%, #B5EAAA 100%);
  background: -o-linear-gradient(45deg, #A87900 0%, #A87900 50%, #B5EAAA 50%, #B5EAAA 100%);
  background: linear-gradient(45deg, #A87900 0%, #A87900 50%, #B5EAAA 50%, #B5EAAA 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #A87900 0%, #A87900 50%, #F984EF 50%, #F984EF 100%);
  background: -moz-linear-gradient(45deg, #A87900 0%, #A87900 50%, #F984EF 50%, #F984EF 100%);
  background: -o-linear-gradient(45deg, #A87900 0%, #A87900 50%, #F984EF 50%, #F984EF 100%);
  background: linear-gradient(45deg, #A87900 0%, #A87900 50%, #F984EF 50%, #F984EF 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_5 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #A87900;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #A87900;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #A87900;
}

#card_tone_10 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #A87900;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #A87900;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #A87900;
}
