
:root {
    --col-header-border: #FADFAD;
}

#card_shade_1 {
  background: #201C16;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #3F382B;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #5E5441;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #7D6F56;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #9C8B6C;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #BBA781;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #DAC396;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #FADFAD;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #FBE9C7;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #FDF4E3;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #8E8B83;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #B2A897;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #D6C4A4;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #FADFAD;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #FAD693;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #FACE7B;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #FBC662;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #FBBD4A;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #FCB531;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #FCAC18;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #FFDDAF;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #F8DB9D;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #FEE5AC;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #F9E4BC;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #FFD8B1;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #FADFAD 0%, #FADFAD 50%, #CF71AF 50%, #CF71AF 100%);
  background: -moz-linear-gradient(45deg, #FADFAD 0%, #FADFAD 50%, #CF71AF 50%, #CF71AF 100%);
  background: -o-linear-gradient(45deg, #FADFAD 0%, #FADFAD 50%, #CF71AF 50%, #CF71AF 100%);
  background: linear-gradient(45deg, #FADFAD 0%, #FADFAD 50%, #CF71AF 50%, #CF71AF 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #FADFAD 0%, #FADFAD 50%, #A8415B 50%, #A8415B 100%);
  background: -moz-linear-gradient(45deg, #FADFAD 0%, #FADFAD 50%, #A8415B 50%, #A8415B 100%);
  background: -o-linear-gradient(45deg, #FADFAD 0%, #FADFAD 50%, #A8415B 50%, #A8415B 100%);
  background: linear-gradient(45deg, #FADFAD 0%, #FADFAD 50%, #A8415B 50%, #A8415B 100%);
}
.combo:hover #name_combo_2 p {
  color: #ffffff;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #FADFAD 0%, #FADFAD 50%, #7DD8C6 50%, #7DD8C6 100%);
  background: -moz-linear-gradient(45deg, #FADFAD 0%, #FADFAD 50%, #7DD8C6 50%, #7DD8C6 100%);
  background: -o-linear-gradient(45deg, #FADFAD 0%, #FADFAD 50%, #7DD8C6 50%, #7DD8C6 100%);
  background: linear-gradient(45deg, #FADFAD 0%, #FADFAD 50%, #7DD8C6 50%, #7DD8C6 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #FADFAD 0%, #FADFAD 50%, #944747 50%, #944747 100%);
  background: -moz-linear-gradient(45deg, #FADFAD 0%, #FADFAD 50%, #944747 50%, #944747 100%);
  background: -o-linear-gradient(45deg, #FADFAD 0%, #FADFAD 50%, #944747 50%, #944747 100%);
  background: linear-gradient(45deg, #FADFAD 0%, #FADFAD 50%, #944747 50%, #944747 100%);
}
.combo:hover #name_combo_4 p {
  color: #ffffff;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #FADFAD 0%, #FADFAD 50%, #E4717A 50%, #E4717A 100%);
  background: -moz-linear-gradient(45deg, #FADFAD 0%, #FADFAD 50%, #E4717A 50%, #E4717A 100%);
  background: -o-linear-gradient(45deg, #FADFAD 0%, #FADFAD 50%, #E4717A 50%, #E4717A 100%);
  background: linear-gradient(45deg, #FADFAD 0%, #FADFAD 50%, #E4717A 50%, #E4717A 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_8 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FADFAD;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FADFAD;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FADFAD;
}

#card_tone_4 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FADFAD;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FADFAD;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FADFAD;
}
