
:root {
    --col-header-border: #0D98BA;
}

#card_shade_1 {
  background: #021E25;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #053D4A;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #075C6F;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #0A7B94;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #0D98BA;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #2CA9C5;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #4FB9D1;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #76C9DC;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #A0DAE8;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #CDECF3;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #596162;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #58686C;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #557076;
}
.card:hover #name_tone_3 p {
  color: #ffffff;
}

#card_tone_4 {
  background: #507780;
}
.card:hover #name_tone_4 p {
  color: #ffffff;
}

#card_tone_5 {
  background: #497D89;
}
.card:hover #name_tone_5 p {
  color: #ffffff;
}

#card_tone_6 {
  background: #418493;
}
.card:hover #name_tone_6 p {
  color: #ffffff;
}

#card_tone_7 {
  background: #368A9D;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #2A90A6;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #1C95B0;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #0D98BA;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #0095B6;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #009DC4;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #1E9AB0;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #0892D0;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #0E87CC;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #0D98BA 0%, #0D98BA 50%, #F77FBE 50%, #F77FBE 100%);
  background: -moz-linear-gradient(45deg, #0D98BA 0%, #0D98BA 50%, #F77FBE 50%, #F77FBE 100%);
  background: -o-linear-gradient(45deg, #0D98BA 0%, #0D98BA 50%, #F77FBE 50%, #F77FBE 100%);
  background: linear-gradient(45deg, #0D98BA 0%, #0D98BA 50%, #F77FBE 50%, #F77FBE 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #0D98BA 0%, #0D98BA 50%, #F78FA7 50%, #F78FA7 100%);
  background: -moz-linear-gradient(45deg, #0D98BA 0%, #0D98BA 50%, #F78FA7 50%, #F78FA7 100%);
  background: -o-linear-gradient(45deg, #0D98BA 0%, #0D98BA 50%, #F78FA7 50%, #F78FA7 100%);
  background: linear-gradient(45deg, #0D98BA 0%, #0D98BA 50%, #F78FA7 50%, #F78FA7 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #0D98BA 0%, #0D98BA 50%, #8FD6B4 50%, #8FD6B4 100%);
  background: -moz-linear-gradient(45deg, #0D98BA 0%, #0D98BA 50%, #8FD6B4 50%, #8FD6B4 100%);
  background: -o-linear-gradient(45deg, #0D98BA 0%, #0D98BA 50%, #8FD6B4 50%, #8FD6B4 100%);
  background: linear-gradient(45deg, #0D98BA 0%, #0D98BA 50%, #8FD6B4 50%, #8FD6B4 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #0D98BA 0%, #0D98BA 50%, #A6FBB2 50%, #A6FBB2 100%);
  background: -moz-linear-gradient(45deg, #0D98BA 0%, #0D98BA 50%, #A6FBB2 50%, #A6FBB2 100%);
  background: -o-linear-gradient(45deg, #0D98BA 0%, #0D98BA 50%, #A6FBB2 50%, #A6FBB2 100%);
  background: linear-gradient(45deg, #0D98BA 0%, #0D98BA 50%, #A6FBB2 50%, #A6FBB2 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #0D98BA 0%, #0D98BA 50%, #FB5FFC 50%, #FB5FFC 100%);
  background: -moz-linear-gradient(45deg, #0D98BA 0%, #0D98BA 50%, #FB5FFC 50%, #FB5FFC 100%);
  background: -o-linear-gradient(45deg, #0D98BA 0%, #0D98BA 50%, #FB5FFC 50%, #FB5FFC 100%);
  background: linear-gradient(45deg, #0D98BA 0%, #0D98BA 50%, #FB5FFC 50%, #FB5FFC 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_5 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #0D98BA;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #0D98BA;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #0D98BA;
}

#card_tone_10 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #0D98BA;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #0D98BA;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #0D98BA;
}
