
:root {
    --col-header-border: #EF98AA;
}

#card_shade_1 {
  background: #1D1214;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #3B252A;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #593940;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #774C55;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #955F6B;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #B37280;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #D18696;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #EF98AA;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #F4BAC6;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #F9DBE2;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #857B7E;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #A0898E;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #BA929B;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #D597A5;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #EF98AA;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #F08098;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #F26785;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #F34D71;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #F4335D;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #F61949;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #E799A3;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #E7A1B0;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #F78FA7;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #ED989E;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #FF91A4;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #EF98AA 0%, #EF98AA 50%, #C25283 50%, #C25283 100%);
  background: -moz-linear-gradient(45deg, #EF98AA 0%, #EF98AA 50%, #C25283 50%, #C25283 100%);
  background: -o-linear-gradient(45deg, #EF98AA 0%, #EF98AA 50%, #C25283 50%, #C25283 100%);
  background: linear-gradient(45deg, #EF98AA 0%, #EF98AA 50%, #C25283 50%, #C25283 100%);
}
.combo:hover #name_combo_1 p {
  color: #ffffff;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #EF98AA 0%, #EF98AA 50%, #5FA777 50%, #5FA777 100%);
  background: -moz-linear-gradient(45deg, #EF98AA 0%, #EF98AA 50%, #5FA777 50%, #5FA777 100%);
  background: -o-linear-gradient(45deg, #EF98AA 0%, #EF98AA 50%, #5FA777 50%, #5FA777 100%);
  background: linear-gradient(45deg, #EF98AA 0%, #EF98AA 50%, #5FA777 50%, #5FA777 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #EF98AA 0%, #EF98AA 50%, #589AAF 50%, #589AAF 100%);
  background: -moz-linear-gradient(45deg, #EF98AA 0%, #EF98AA 50%, #589AAF 50%, #589AAF 100%);
  background: -o-linear-gradient(45deg, #EF98AA 0%, #EF98AA 50%, #589AAF 50%, #589AAF 100%);
  background: linear-gradient(45deg, #EF98AA 0%, #EF98AA 50%, #589AAF 50%, #589AAF 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #EF98AA 0%, #EF98AA 50%, #1E90FF 50%, #1E90FF 100%);
  background: -moz-linear-gradient(45deg, #EF98AA 0%, #EF98AA 50%, #1E90FF 50%, #1E90FF 100%);
  background: -o-linear-gradient(45deg, #EF98AA 0%, #EF98AA 50%, #1E90FF 50%, #1E90FF 100%);
  background: linear-gradient(45deg, #EF98AA 0%, #EF98AA 50%, #1E90FF 50%, #1E90FF 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #EF98AA 0%, #EF98AA 50%, #E03FD8 50%, #E03FD8 100%);
  background: -moz-linear-gradient(45deg, #EF98AA 0%, #EF98AA 50%, #E03FD8 50%, #E03FD8 100%);
  background: -o-linear-gradient(45deg, #EF98AA 0%, #EF98AA 50%, #E03FD8 50%, #E03FD8 100%);
  background: linear-gradient(45deg, #EF98AA 0%, #EF98AA 50%, #E03FD8 50%, #E03FD8 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_8 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #EF98AA;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #EF98AA;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #EF98AA;
}

#card_tone_5 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #EF98AA;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #EF98AA;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #EF98AA;
}
