
:root {
    --col-header-border: #96F97B;
}

#card_shade_1 {
  background: #152311;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #2A4722;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #406B34;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #558E45;
}
.card:hover #name_shade_4 p {
  color: #000000;
}

#card_shade_5 {
  background: #6BB257;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #80D668;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #96F97B;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #B0FB9B;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #CAFCBC;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #E4FDDD;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #7F887C;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #899F84;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #91B587;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #96CC86;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #97E382;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #96F97B;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #83FA62;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #70FA49;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #5DFB31;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #49FB18;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #8CFD7E;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #75FD63;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #9AF764;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #76FF7A;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #B1FC99;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #96F97B 0%, #96F97B 50%, #AF8F2C 50%, #AF8F2C 100%);
  background: -moz-linear-gradient(45deg, #96F97B 0%, #96F97B 50%, #AF8F2C 50%, #AF8F2C 100%);
  background: -o-linear-gradient(45deg, #96F97B 0%, #96F97B 50%, #AF8F2C 50%, #AF8F2C 100%);
  background: linear-gradient(45deg, #96F97B 0%, #96F97B 50%, #AF8F2C 50%, #AF8F2C 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #96F97B 0%, #96F97B 50%, #6FD0C5 50%, #6FD0C5 100%);
  background: -moz-linear-gradient(45deg, #96F97B 0%, #96F97B 50%, #6FD0C5 50%, #6FD0C5 100%);
  background: -o-linear-gradient(45deg, #96F97B 0%, #96F97B 50%, #6FD0C5 50%, #6FD0C5 100%);
  background: linear-gradient(45deg, #96F97B 0%, #96F97B 50%, #6FD0C5 50%, #6FD0C5 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #96F97B 0%, #96F97B 50%, #90B134 50%, #90B134 100%);
  background: -moz-linear-gradient(45deg, #96F97B 0%, #96F97B 50%, #90B134 50%, #90B134 100%);
  background: -o-linear-gradient(45deg, #96F97B 0%, #96F97B 50%, #90B134 50%, #90B134 100%);
  background: linear-gradient(45deg, #96F97B 0%, #96F97B 50%, #90B134 50%, #90B134 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #96F97B 0%, #96F97B 50%, #A2653E 50%, #A2653E 100%);
  background: -moz-linear-gradient(45deg, #96F97B 0%, #96F97B 50%, #A2653E 50%, #A2653E 100%);
  background: -o-linear-gradient(45deg, #96F97B 0%, #96F97B 50%, #A2653E 50%, #A2653E 100%);
  background: linear-gradient(45deg, #96F97B 0%, #96F97B 50%, #A2653E 50%, #A2653E 100%);
}
.combo:hover #name_combo_4 p {
  color: #ffffff;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #96F97B 0%, #96F97B 50%, #32BF84 50%, #32BF84 100%);
  background: -moz-linear-gradient(45deg, #96F97B 0%, #96F97B 50%, #32BF84 50%, #32BF84 100%);
  background: -o-linear-gradient(45deg, #96F97B 0%, #96F97B 50%, #32BF84 50%, #32BF84 100%);
  background: linear-gradient(45deg, #96F97B 0%, #96F97B 50%, #32BF84 50%, #32BF84 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_7 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #96F97B;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #96F97B;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #96F97B;
}

#card_tone_6 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #96F97B;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #96F97B;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #96F97B;
}
