
:root {
    --col-header-border: #5A86AD;
}

#card_shade_1 {
  background: #0F161D;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #1E2D3A;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #2D4356;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #3C5973;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #4B7090;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #5A86AD;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #749BBD;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #92B2CE;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #B3CADE;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #D7E3EE;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #565A5E;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #5C656E;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #5F6F7D;
}
.card:hover #name_tone_3 p {
  color: #ffffff;
}

#card_tone_4 {
  background: #60788D;
}
.card:hover #name_tone_4 p {
  color: #ffffff;
}

#card_tone_5 {
  background: #5E809D;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #5A86AD;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #4B84B6;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #3B82BF;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #297EC8;
}
.card:hover #name_tone_9 p {
  color: #ffffff;
}

#card_tone_10 {
  background: #157AD2;
}
.card:hover #name_tone_10 p {
  color: #ffffff;
}

#card_simcol_1 {
  background: #6082B6;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #658CBB;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #5A87A0;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #4E7F9E;
}
.circle:hover #name_simcol_4 p {
  color: #ffffff;
}

#card_simcol_5 {
  background: #5E819D;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #5A86AD 0%, #5A86AD 50%, #E7A1B0 50%, #E7A1B0 100%);
  background: -moz-linear-gradient(45deg, #5A86AD 0%, #5A86AD 50%, #E7A1B0 50%, #E7A1B0 100%);
  background: -o-linear-gradient(45deg, #5A86AD 0%, #5A86AD 50%, #E7A1B0 50%, #E7A1B0 100%);
  background: linear-gradient(45deg, #5A86AD 0%, #5A86AD 50%, #E7A1B0 50%, #E7A1B0 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #5A86AD 0%, #5A86AD 50%, #F49AC2 50%, #F49AC2 100%);
  background: -moz-linear-gradient(45deg, #5A86AD 0%, #5A86AD 50%, #F49AC2 50%, #F49AC2 100%);
  background: -o-linear-gradient(45deg, #5A86AD 0%, #5A86AD 50%, #F49AC2 50%, #F49AC2 100%);
  background: linear-gradient(45deg, #5A86AD 0%, #5A86AD 50%, #F49AC2 50%, #F49AC2 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #5A86AD 0%, #5A86AD 50%, #F78FA7 50%, #F78FA7 100%);
  background: -moz-linear-gradient(45deg, #5A86AD 0%, #5A86AD 50%, #F78FA7 50%, #F78FA7 100%);
  background: -o-linear-gradient(45deg, #5A86AD 0%, #5A86AD 50%, #F78FA7 50%, #F78FA7 100%);
  background: linear-gradient(45deg, #5A86AD 0%, #5A86AD 50%, #F78FA7 50%, #F78FA7 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #5A86AD 0%, #5A86AD 50%, #FF69AF 50%, #FF69AF 100%);
  background: -moz-linear-gradient(45deg, #5A86AD 0%, #5A86AD 50%, #FF69AF 50%, #FF69AF 100%);
  background: -o-linear-gradient(45deg, #5A86AD 0%, #5A86AD 50%, #FF69AF 50%, #FF69AF 100%);
  background: linear-gradient(45deg, #5A86AD 0%, #5A86AD 50%, #FF69AF 50%, #FF69AF 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #5A86AD 0%, #5A86AD 50%, #C9DC87 50%, #C9DC87 100%);
  background: -moz-linear-gradient(45deg, #5A86AD 0%, #5A86AD 50%, #C9DC87 50%, #C9DC87 100%);
  background: -o-linear-gradient(45deg, #5A86AD 0%, #5A86AD 50%, #C9DC87 50%, #C9DC87 100%);
  background: linear-gradient(45deg, #5A86AD 0%, #5A86AD 50%, #C9DC87 50%, #C9DC87 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_6 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #5A86AD;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #5A86AD;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #5A86AD;
}

#card_tone_6 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #5A86AD;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #5A86AD;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #5A86AD;
}
