
:root {
    --col-header-border: #592804;
}

#card_shade_1 {
  background: #150900;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #2C1301;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #421D02;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #592804;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #703A13;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #88512A;
}
.card:hover #name_shade_6 p {
  color: #ffffff;
}

#card_shade_7 {
  background: #A06D48;
}
.card:hover #name_shade_7 p {
  color: #ffffff;
}

#card_shade_8 {
  background: #B88B6C;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #CFAE96;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #E7D4C7;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #2F2D2B;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #342E2A;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #392F28;
}
.card:hover #name_tone_3 p {
  color: #ffffff;
}

#card_tone_4 {
  background: #3D2F26;
}
.card:hover #name_tone_4 p {
  color: #ffffff;
}

#card_tone_5 {
  background: #422F22;
}
.card:hover #name_tone_5 p {
  color: #ffffff;
}

#card_tone_6 {
  background: #462F1E;
}
.card:hover #name_tone_6 p {
  color: #ffffff;
}

#card_tone_7 {
  background: #4B2D18;
}
.card:hover #name_tone_7 p {
  color: #ffffff;
}

#card_tone_8 {
  background: #502C12;
}
.card:hover #name_tone_8 p {
  color: #ffffff;
}

#card_tone_9 {
  background: #54290B;
}
.card:hover #name_tone_9 p {
  color: #ffffff;
}

#card_tone_10 {
  background: #592804;
}
.card:hover #name_tone_10 p {
  color: #ffffff;
}

#card_simcol_1 {
  background: #5C2E01;
}
.circle:hover #name_simcol_1 p {
  color: #ffffff;
}

#card_simcol_2 {
  background: #4D1E01;
}
.circle:hover #name_simcol_2 p {
  color: #ffffff;
}

#card_simcol_3 {
  background: #653700;
}
.circle:hover #name_simcol_3 p {
  color: #ffffff;
}

#card_simcol_4 {
  background: #411900;
}
.circle:hover #name_simcol_4 p {
  color: #ffffff;
}

#card_simcol_5 {
  background: #3C2005;
}
.circle:hover #name_simcol_5 p {
  color: #ffffff;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #592804 0%, #592804 50%, #E9D66B 50%, #E9D66B 100%);
  background: -moz-linear-gradient(45deg, #592804 0%, #592804 50%, #E9D66B 50%, #E9D66B 100%);
  background: -o-linear-gradient(45deg, #592804 0%, #592804 50%, #E9D66B 50%, #E9D66B 100%);
  background: linear-gradient(45deg, #592804 0%, #592804 50%, #E9D66B 50%, #E9D66B 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #592804 0%, #592804 50%, #74C365 50%, #74C365 100%);
  background: -moz-linear-gradient(45deg, #592804 0%, #592804 50%, #74C365 50%, #74C365 100%);
  background: -o-linear-gradient(45deg, #592804 0%, #592804 50%, #74C365 50%, #74C365 100%);
  background: linear-gradient(45deg, #592804 0%, #592804 50%, #74C365 50%, #74C365 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #592804 0%, #592804 50%, #DE6FA1 50%, #DE6FA1 100%);
  background: -moz-linear-gradient(45deg, #592804 0%, #592804 50%, #DE6FA1 50%, #DE6FA1 100%);
  background: -o-linear-gradient(45deg, #592804 0%, #592804 50%, #DE6FA1 50%, #DE6FA1 100%);
  background: linear-gradient(45deg, #592804 0%, #592804 50%, #DE6FA1 50%, #DE6FA1 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #592804 0%, #592804 50%, #DB4BDA 50%, #DB4BDA 100%);
  background: -moz-linear-gradient(45deg, #592804 0%, #592804 50%, #DB4BDA 50%, #DB4BDA 100%);
  background: -o-linear-gradient(45deg, #592804 0%, #592804 50%, #DB4BDA 50%, #DB4BDA 100%);
  background: linear-gradient(45deg, #592804 0%, #592804 50%, #DB4BDA 50%, #DB4BDA 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #592804 0%, #592804 50%, #C4F4EB 50%, #C4F4EB 100%);
  background: -moz-linear-gradient(45deg, #592804 0%, #592804 50%, #C4F4EB 50%, #C4F4EB 100%);
  background: -o-linear-gradient(45deg, #592804 0%, #592804 50%, #C4F4EB 50%, #C4F4EB 100%);
  background: linear-gradient(45deg, #592804 0%, #592804 50%, #C4F4EB 50%, #C4F4EB 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_4 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #592804;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #592804;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #592804;
}

#card_tone_10 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #592804;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #592804;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #592804;
}
