
:root {
    --col-header-border: #FBA0E3;
}

#card_shade_1 {
  background: #20141D;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #3F2839;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #5E3C55;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #7D5072;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #9C648E;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #BB78AA;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #DA8CC7;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #FBA0E3;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #FBBFEC;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #FDDFF5;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #8A8088;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #A68EA0;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #C298B7;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #DE9ECE;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #FBA0E3;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #FA85DD;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #FA6AD6;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #FB50D0;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #FB35CA;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #FC1AC3;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #E7ACCF;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #E29CD2;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #F6A4C9;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #F49AC2;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #FFA6C9;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #FBA0E3 0%, #FBA0E3 50%, #C45655 50%, #C45655 100%);
  background: -moz-linear-gradient(45deg, #FBA0E3 0%, #FBA0E3 50%, #C45655 50%, #C45655 100%);
  background: -o-linear-gradient(45deg, #FBA0E3 0%, #FBA0E3 50%, #C45655 50%, #C45655 100%);
  background: linear-gradient(45deg, #FBA0E3 0%, #FBA0E3 50%, #C45655 50%, #C45655 100%);
}
.combo:hover #name_combo_1 p {
  color: #ffffff;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #FBA0E3 0%, #FBA0E3 50%, #48C072 50%, #48C072 100%);
  background: -moz-linear-gradient(45deg, #FBA0E3 0%, #FBA0E3 50%, #48C072 50%, #48C072 100%);
  background: -o-linear-gradient(45deg, #FBA0E3 0%, #FBA0E3 50%, #48C072 50%, #48C072 100%);
  background: linear-gradient(45deg, #FBA0E3 0%, #FBA0E3 50%, #48C072 50%, #48C072 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #FBA0E3 0%, #FBA0E3 50%, #B5485D 50%, #B5485D 100%);
  background: -moz-linear-gradient(45deg, #FBA0E3 0%, #FBA0E3 50%, #B5485D 50%, #B5485D 100%);
  background: -o-linear-gradient(45deg, #FBA0E3 0%, #FBA0E3 50%, #B5485D 50%, #B5485D 100%);
  background: linear-gradient(45deg, #FBA0E3 0%, #FBA0E3 50%, #B5485D 50%, #B5485D 100%);
}
.combo:hover #name_combo_3 p {
  color: #ffffff;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #FBA0E3 0%, #FBA0E3 50%, #AF9B60 50%, #AF9B60 100%);
  background: -moz-linear-gradient(45deg, #FBA0E3 0%, #FBA0E3 50%, #AF9B60 50%, #AF9B60 100%);
  background: -o-linear-gradient(45deg, #FBA0E3 0%, #FBA0E3 50%, #AF9B60 50%, #AF9B60 100%);
  background: linear-gradient(45deg, #FBA0E3 0%, #FBA0E3 50%, #AF9B60 50%, #AF9B60 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #FBA0E3 0%, #FBA0E3 50%, #74A662 50%, #74A662 100%);
  background: -moz-linear-gradient(45deg, #FBA0E3 0%, #FBA0E3 50%, #74A662 50%, #74A662 100%);
  background: -o-linear-gradient(45deg, #FBA0E3 0%, #FBA0E3 50%, #74A662 50%, #74A662 100%);
  background: linear-gradient(45deg, #FBA0E3 0%, #FBA0E3 50%, #74A662 50%, #74A662 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_8 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FBA0E3;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FBA0E3;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FBA0E3;
}

#card_tone_5 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FBA0E3;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FBA0E3;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FBA0E3;
}
