
:root {
    --col-header-border: #CEBABA;
}

#card_shade_1 {
  background: #161414;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #2D2929;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #443D3D;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #5B5252;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #726767;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #897B7B;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #A09090;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #B7A5A5;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #CEBABA;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #E6DBDB;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #898282;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #CEBABA;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #D1A7A7;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #D49494;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #D68080;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #D96C6C;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #DC5858;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #DF4343;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #E22D2D;
}
.card:hover #name_tone_9 p {
  color: #ffffff;
}

#card_tone_10 {
  background: #E41616;
}
.card:hover #name_tone_10 p {
  color: #ffffff;
}

#card_simcol_1 {
  background: #C0C0C0;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #D4B6AF;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #E3BEBE;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #C8ACA9;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #B7B1B1;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #CEBABA 0%, #CEBABA 50%, #5FA052 50%, #5FA052 100%);
  background: -moz-linear-gradient(45deg, #CEBABA 0%, #CEBABA 50%, #5FA052 50%, #5FA052 100%);
  background: -o-linear-gradient(45deg, #CEBABA 0%, #CEBABA 50%, #5FA052 50%, #5FA052 100%);
  background: linear-gradient(45deg, #CEBABA 0%, #CEBABA 50%, #5FA052 50%, #5FA052 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #CEBABA 0%, #CEBABA 50%, #9D5783 50%, #9D5783 100%);
  background: -moz-linear-gradient(45deg, #CEBABA 0%, #CEBABA 50%, #9D5783 50%, #9D5783 100%);
  background: -o-linear-gradient(45deg, #CEBABA 0%, #CEBABA 50%, #9D5783 50%, #9D5783 100%);
  background: linear-gradient(45deg, #CEBABA 0%, #CEBABA 50%, #9D5783 50%, #9D5783 100%);
}
.combo:hover #name_combo_2 p {
  color: #ffffff;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #CEBABA 0%, #CEBABA 50%, #4E387E 50%, #4E387E 100%);
  background: -moz-linear-gradient(45deg, #CEBABA 0%, #CEBABA 50%, #4E387E 50%, #4E387E 100%);
  background: -o-linear-gradient(45deg, #CEBABA 0%, #CEBABA 50%, #4E387E 50%, #4E387E 100%);
  background: linear-gradient(45deg, #CEBABA 0%, #CEBABA 50%, #4E387E 50%, #4E387E 100%);
}
.combo:hover #name_combo_3 p {
  color: #ffffff;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #CEBABA 0%, #CEBABA 50%, #CE5DAE 50%, #CE5DAE 100%);
  background: -moz-linear-gradient(45deg, #CEBABA 0%, #CEBABA 50%, #CE5DAE 50%, #CE5DAE 100%);
  background: -o-linear-gradient(45deg, #CEBABA 0%, #CEBABA 50%, #CE5DAE 50%, #CE5DAE 100%);
  background: linear-gradient(45deg, #CEBABA 0%, #CEBABA 50%, #CE5DAE 50%, #CE5DAE 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #CEBABA 0%, #CEBABA 50%, #5E9B8A 50%, #5E9B8A 100%);
  background: -moz-linear-gradient(45deg, #CEBABA 0%, #CEBABA 50%, #5E9B8A 50%, #5E9B8A 100%);
  background: -o-linear-gradient(45deg, #CEBABA 0%, #CEBABA 50%, #5E9B8A 50%, #5E9B8A 100%);
  background: linear-gradient(45deg, #CEBABA 0%, #CEBABA 50%, #5E9B8A 50%, #5E9B8A 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_9 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #CEBABA;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #CEBABA;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #CEBABA;
}

#card_tone_2 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #CEBABA;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #CEBABA;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #CEBABA;
}
