
:root {
    --col-header-border: #82CBB2;
}

#card_shade_1 {
  background: #121D19;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #253A33;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #38574C;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #4A7466;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #5D917F;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #6FAE98;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #82CBB2;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #9ED8C4;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #BCE5D7;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #DCF2EA;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #69716E;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #748781;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #7C9E92;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #81B5A3;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #82CBB2;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #6FD0AE;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #5AD5AA;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #45D9A5;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #2FDEA1;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #17E29B;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #78D1B6;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #88D8C0;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #8FD6B4;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #9AC2B8;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #6FD0C5;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #82CBB2 0%, #82CBB2 50%, #652DC1 50%, #652DC1 100%);
  background: -moz-linear-gradient(45deg, #82CBB2 0%, #82CBB2 50%, #652DC1 50%, #652DC1 100%);
  background: -o-linear-gradient(45deg, #82CBB2 0%, #82CBB2 50%, #652DC1 50%, #652DC1 100%);
  background: linear-gradient(45deg, #82CBB2 0%, #82CBB2 50%, #652DC1 50%, #652DC1 100%);
}
.combo:hover #name_combo_1 p {
  color: #ffffff;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #82CBB2 0%, #82CBB2 50%, #FFCD8C 50%, #FFCD8C 100%);
  background: -moz-linear-gradient(45deg, #82CBB2 0%, #82CBB2 50%, #FFCD8C 50%, #FFCD8C 100%);
  background: -o-linear-gradient(45deg, #82CBB2 0%, #82CBB2 50%, #FFCD8C 50%, #FFCD8C 100%);
  background: linear-gradient(45deg, #82CBB2 0%, #82CBB2 50%, #FFCD8C 50%, #FFCD8C 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #82CBB2 0%, #82CBB2 50%, #B6FFBB 50%, #B6FFBB 100%);
  background: -moz-linear-gradient(45deg, #82CBB2 0%, #82CBB2 50%, #B6FFBB 50%, #B6FFBB 100%);
  background: -o-linear-gradient(45deg, #82CBB2 0%, #82CBB2 50%, #B6FFBB 50%, #B6FFBB 100%);
  background: linear-gradient(45deg, #82CBB2 0%, #82CBB2 50%, #B6FFBB 50%, #B6FFBB 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #82CBB2 0%, #82CBB2 50%, #B1FC99 50%, #B1FC99 100%);
  background: -moz-linear-gradient(45deg, #82CBB2 0%, #82CBB2 50%, #B1FC99 50%, #B1FC99 100%);
  background: -o-linear-gradient(45deg, #82CBB2 0%, #82CBB2 50%, #B1FC99 50%, #B1FC99 100%);
  background: linear-gradient(45deg, #82CBB2 0%, #82CBB2 50%, #B1FC99 50%, #B1FC99 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #82CBB2 0%, #82CBB2 50%, #AEFD6C 50%, #AEFD6C 100%);
  background: -moz-linear-gradient(45deg, #82CBB2 0%, #82CBB2 50%, #AEFD6C 50%, #AEFD6C 100%);
  background: -o-linear-gradient(45deg, #82CBB2 0%, #82CBB2 50%, #AEFD6C 50%, #AEFD6C 100%);
  background: linear-gradient(45deg, #82CBB2 0%, #82CBB2 50%, #AEFD6C 50%, #AEFD6C 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_7 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #82CBB2;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #82CBB2;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #82CBB2;
}

#card_tone_5 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #82CBB2;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #82CBB2;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #82CBB2;
}
