
:root {
    --col-header-border: #7F7589;
}

#card_shade_1 {
  background: #151316;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #2A272D;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #3F3A44;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #544E5B;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #696172;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #7F7589;
}
.card:hover #name_shade_6 p {
  color: #ffffff;
}

#card_shade_7 {
  background: #978DA1;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #B0A8B8;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #C9C3D0;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #E3E0E7;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #504E52;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #68636E;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #7F7589;
}
.card:hover #name_tone_3 p {
  color: #ffffff;
}

#card_tone_4 {
  background: #7E6C91;
}
.card:hover #name_tone_4 p {
  color: #ffffff;
}

#card_tone_5 {
  background: #7C6199;
}
.card:hover #name_tone_5 p {
  color: #ffffff;
}

#card_tone_6 {
  background: #7A55A1;
}
.card:hover #name_tone_6 p {
  color: #ffffff;
}

#card_tone_7 {
  background: #7748A9;
}
.card:hover #name_tone_7 p {
  color: #ffffff;
}

#card_tone_8 {
  background: #7238B1;
}
.card:hover #name_tone_8 p {
  color: #ffffff;
}

#card_tone_9 {
  background: #6D27B9;
}
.card:hover #name_tone_9 p {
  color: #ffffff;
}

#card_tone_10 {
  background: #6814C1;
}
.card:hover #name_tone_10 p {
  color: #ffffff;
}

#card_simcol_1 {
  background: #796989;
}
.circle:hover #name_simcol_1 p {
  color: #ffffff;
}

#card_simcol_2 {
  background: #826D8C;
}
.circle:hover #name_simcol_2 p {
  color: #ffffff;
}

#card_simcol_3 {
  background: #7A687F;
}
.circle:hover #name_simcol_3 p {
  color: #ffffff;
}

#card_simcol_4 {
  background: #916E99;
}
.circle:hover #name_simcol_4 p {
  color: #ffffff;
}

#card_simcol_5 {
  background: #646077;
}
.circle:hover #name_simcol_5 p {
  color: #ffffff;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #7F7589 0%, #7F7589 50%, #E7BCB4 50%, #E7BCB4 100%);
  background: -moz-linear-gradient(45deg, #7F7589 0%, #7F7589 50%, #E7BCB4 50%, #E7BCB4 100%);
  background: -o-linear-gradient(45deg, #7F7589 0%, #7F7589 50%, #E7BCB4 50%, #E7BCB4 100%);
  background: linear-gradient(45deg, #7F7589 0%, #7F7589 50%, #E7BCB4 50%, #E7BCB4 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #7F7589 0%, #7F7589 50%, #A1E9DE 50%, #A1E9DE 100%);
  background: -moz-linear-gradient(45deg, #7F7589 0%, #7F7589 50%, #A1E9DE 50%, #A1E9DE 100%);
  background: -o-linear-gradient(45deg, #7F7589 0%, #7F7589 50%, #A1E9DE 50%, #A1E9DE 100%);
  background: linear-gradient(45deg, #7F7589 0%, #7F7589 50%, #A1E9DE 50%, #A1E9DE 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #7F7589 0%, #7F7589 50%, #D2B9D3 50%, #D2B9D3 100%);
  background: -moz-linear-gradient(45deg, #7F7589 0%, #7F7589 50%, #D2B9D3 50%, #D2B9D3 100%);
  background: -o-linear-gradient(45deg, #7F7589 0%, #7F7589 50%, #D2B9D3 50%, #D2B9D3 100%);
  background: linear-gradient(45deg, #7F7589 0%, #7F7589 50%, #D2B9D3 50%, #D2B9D3 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #7F7589 0%, #7F7589 50%, #92C7C7 50%, #92C7C7 100%);
  background: -moz-linear-gradient(45deg, #7F7589 0%, #7F7589 50%, #92C7C7 50%, #92C7C7 100%);
  background: -o-linear-gradient(45deg, #7F7589 0%, #7F7589 50%, #92C7C7 50%, #92C7C7 100%);
  background: linear-gradient(45deg, #7F7589 0%, #7F7589 50%, #92C7C7 50%, #92C7C7 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #7F7589 0%, #7F7589 50%, #C0D3B9 50%, #C0D3B9 100%);
  background: -moz-linear-gradient(45deg, #7F7589 0%, #7F7589 50%, #C0D3B9 50%, #C0D3B9 100%);
  background: -o-linear-gradient(45deg, #7F7589 0%, #7F7589 50%, #C0D3B9 50%, #C0D3B9 100%);
  background: linear-gradient(45deg, #7F7589 0%, #7F7589 50%, #C0D3B9 50%, #C0D3B9 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_6 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #7F7589;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #7F7589;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #7F7589;
}

#card_tone_3 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #7F7589;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #7F7589;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #7F7589;
}
