
:root {
    --col-header-border: #01A368;
}

#card_shade_1 {
  background: #002014;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #004129;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #00613E;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #018253;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #01A368;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #1FB27C;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #41C192;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #69D1AB;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #96E0C5;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #C8EFE1;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #4C5552;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #4B5D57;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #48665B;
}
.card:hover #name_tone_3 p {
  color: #ffffff;
}

#card_tone_4 {
  background: #436F5F;
}
.card:hover #name_tone_4 p {
  color: #ffffff;
}

#card_tone_5 {
  background: #3C7762;
}
.card:hover #name_tone_5 p {
  color: #ffffff;
}

#card_tone_6 {
  background: #348064;
}
.card:hover #name_tone_6 p {
  color: #ffffff;
}

#card_tone_7 {
  background: #2A8966;
}
.card:hover #name_tone_7 p {
  color: #ffffff;
}

#card_tone_8 {
  background: #1E9167;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #109A68;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #01A368;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #00A86B;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #10A674;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #00A693;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #0CB577;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #01B44C;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #01A368 0%, #01A368 50%, #B9C46A 50%, #B9C46A 100%);
  background: -moz-linear-gradient(45deg, #01A368 0%, #01A368 50%, #B9C46A 50%, #B9C46A 100%);
  background: -o-linear-gradient(45deg, #01A368 0%, #01A368 50%, #B9C46A 50%, #B9C46A 100%);
  background: linear-gradient(45deg, #01A368 0%, #01A368 50%, #B9C46A 50%, #B9C46A 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #01A368 0%, #01A368 50%, #BCECAC 50%, #BCECAC 100%);
  background: -moz-linear-gradient(45deg, #01A368 0%, #01A368 50%, #BCECAC 50%, #BCECAC 100%);
  background: -o-linear-gradient(45deg, #01A368 0%, #01A368 50%, #BCECAC 50%, #BCECAC 100%);
  background: linear-gradient(45deg, #01A368 0%, #01A368 50%, #BCECAC 50%, #BCECAC 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #01A368 0%, #01A368 50%, #FFCC99 50%, #FFCC99 100%);
  background: -moz-linear-gradient(45deg, #01A368 0%, #01A368 50%, #FFCC99 50%, #FFCC99 100%);
  background: -o-linear-gradient(45deg, #01A368 0%, #01A368 50%, #FFCC99 50%, #FFCC99 100%);
  background: linear-gradient(45deg, #01A368 0%, #01A368 50%, #FFCC99 50%, #FFCC99 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #01A368 0%, #01A368 50%, #E3F5E1 50%, #E3F5E1 100%);
  background: -moz-linear-gradient(45deg, #01A368 0%, #01A368 50%, #E3F5E1 50%, #E3F5E1 100%);
  background: -o-linear-gradient(45deg, #01A368 0%, #01A368 50%, #E3F5E1 50%, #E3F5E1 100%);
  background: linear-gradient(45deg, #01A368 0%, #01A368 50%, #E3F5E1 50%, #E3F5E1 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #01A368 0%, #01A368 50%, #9AF764 50%, #9AF764 100%);
  background: -moz-linear-gradient(45deg, #01A368 0%, #01A368 50%, #9AF764 50%, #9AF764 100%);
  background: -o-linear-gradient(45deg, #01A368 0%, #01A368 50%, #9AF764 50%, #9AF764 100%);
  background: linear-gradient(45deg, #01A368 0%, #01A368 50%, #9AF764 50%, #9AF764 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_5 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #01A368;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #01A368;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #01A368;
}

#card_tone_10 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #01A368;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #01A368;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #01A368;
}
