
:root {
    --col-header-border: #717486;
}

#card_shade_1 {
  background: #131316;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #26272D;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #383A43;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #4B4D5A;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #5E6170;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #717486;
}
.card:hover #name_shade_6 p {
  color: #ffffff;
}

#card_shade_7 {
  background: #8A8D9F;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #A5A8B7;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #C1C3CF;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #DFE0E7;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #4C4D51;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #60626C;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #717486;
}
.card:hover #name_tone_3 p {
  color: #ffffff;
}

#card_tone_4 {
  background: #696E8F;
}
.card:hover #name_tone_4 p {
  color: #ffffff;
}

#card_tone_5 {
  background: #5F6796;
}
.card:hover #name_tone_5 p {
  color: #ffffff;
}

#card_tone_6 {
  background: #535E9E;
}
.card:hover #name_tone_6 p {
  color: #ffffff;
}

#card_tone_7 {
  background: #4654A6;
}
.card:hover #name_tone_7 p {
  color: #ffffff;
}

#card_tone_8 {
  background: #3748AE;
}
.card:hover #name_tone_8 p {
  color: #ffffff;
}

#card_tone_9 {
  background: #263BB6;
}
.card:hover #name_tone_9 p {
  color: #ffffff;
}

#card_tone_10 {
  background: #142DBE;
}
.card:hover #name_tone_10 p {
  color: #ffffff;
}

#card_simcol_1 {
  background: #646D7E;
}
.circle:hover #name_simcol_1 p {
  color: #ffffff;
}

#card_simcol_2 {
  background: #727B89;
}
.circle:hover #name_simcol_2 p {
  color: #ffffff;
}

#card_simcol_3 {
  background: #6E7783;
}
.circle:hover #name_simcol_3 p {
  color: #ffffff;
}

#card_simcol_4 {
  background: #5C5D75;
}
.circle:hover #name_simcol_4 p {
  color: #ffffff;
}

#card_simcol_5 {
  background: #5F5F6E;
}
.circle:hover #name_simcol_5 p {
  color: #ffffff;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #717486 0%, #717486 50%, #B1D27B 50%, #B1D27B 100%);
  background: -moz-linear-gradient(45deg, #717486 0%, #717486 50%, #B1D27B 50%, #B1D27B 100%);
  background: -o-linear-gradient(45deg, #717486 0%, #717486 50%, #B1D27B 50%, #B1D27B 100%);
  background: linear-gradient(45deg, #717486 0%, #717486 50%, #B1D27B 50%, #B1D27B 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #717486 0%, #717486 50%, #E68FAC 50%, #E68FAC 100%);
  background: -moz-linear-gradient(45deg, #717486 0%, #717486 50%, #E68FAC 50%, #E68FAC 100%);
  background: -o-linear-gradient(45deg, #717486 0%, #717486 50%, #E68FAC 50%, #E68FAC 100%);
  background: linear-gradient(45deg, #717486 0%, #717486 50%, #E68FAC 50%, #E68FAC 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #717486 0%, #717486 50%, #D58A94 50%, #D58A94 100%);
  background: -moz-linear-gradient(45deg, #717486 0%, #717486 50%, #D58A94 50%, #D58A94 100%);
  background: -o-linear-gradient(45deg, #717486 0%, #717486 50%, #D58A94 50%, #D58A94 100%);
  background: linear-gradient(45deg, #717486 0%, #717486 50%, #D58A94 50%, #D58A94 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #717486 0%, #717486 50%, #C9DC87 50%, #C9DC87 100%);
  background: -moz-linear-gradient(45deg, #717486 0%, #717486 50%, #C9DC87 50%, #C9DC87 100%);
  background: -o-linear-gradient(45deg, #717486 0%, #717486 50%, #C9DC87 50%, #C9DC87 100%);
  background: linear-gradient(45deg, #717486 0%, #717486 50%, #C9DC87 50%, #C9DC87 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #717486 0%, #717486 50%, #ACE5EE 50%, #ACE5EE 100%);
  background: -moz-linear-gradient(45deg, #717486 0%, #717486 50%, #ACE5EE 50%, #ACE5EE 100%);
  background: -o-linear-gradient(45deg, #717486 0%, #717486 50%, #ACE5EE 50%, #ACE5EE 100%);
  background: linear-gradient(45deg, #717486 0%, #717486 50%, #ACE5EE 50%, #ACE5EE 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_6 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #717486;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #717486;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #717486;
}

#card_tone_3 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #717486;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #717486;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #717486;
}
