
:root {
    --col-header-border: #E6F2EA;
}

#card_shade_1 {
  background: #171817;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #2E302E;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #454846;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #5C605D;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #737975;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #8A918C;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #A1A9A3;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #B8C1BB;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #CFDAD2;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #E6F2EA;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #9DA19E;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #E6F2EA;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #CDF3D9;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #B3F3C9;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #9AF4B8;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #81F5A7;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #67F696;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #4DF685;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #33F774;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #19F863;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #D2F6DE;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #D6FFDB;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #C9FFE5;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #E6FFE9;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #DDF9F1;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #E6F2EA 0%, #E6F2EA 50%, #B2C248 50%, #B2C248 100%);
  background: -moz-linear-gradient(45deg, #E6F2EA 0%, #E6F2EA 50%, #B2C248 50%, #B2C248 100%);
  background: -o-linear-gradient(45deg, #E6F2EA 0%, #E6F2EA 50%, #B2C248 50%, #B2C248 100%);
  background: linear-gradient(45deg, #E6F2EA 0%, #E6F2EA 50%, #B2C248 50%, #B2C248 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #E6F2EA 0%, #E6F2EA 50%, #69D84F 50%, #69D84F 100%);
  background: -moz-linear-gradient(45deg, #E6F2EA 0%, #E6F2EA 50%, #69D84F 50%, #69D84F 100%);
  background: -o-linear-gradient(45deg, #E6F2EA 0%, #E6F2EA 50%, #69D84F 50%, #69D84F 100%);
  background: linear-gradient(45deg, #E6F2EA 0%, #E6F2EA 50%, #69D84F 50%, #69D84F 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #E6F2EA 0%, #E6F2EA 50%, #B1D27B 50%, #B1D27B 100%);
  background: -moz-linear-gradient(45deg, #E6F2EA 0%, #E6F2EA 50%, #B1D27B 50%, #B1D27B 100%);
  background: -o-linear-gradient(45deg, #E6F2EA 0%, #E6F2EA 50%, #B1D27B 50%, #B1D27B 100%);
  background: linear-gradient(45deg, #E6F2EA 0%, #E6F2EA 50%, #B1D27B 50%, #B1D27B 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #E6F2EA 0%, #E6F2EA 50%, #6FD0C5 50%, #6FD0C5 100%);
  background: -moz-linear-gradient(45deg, #E6F2EA 0%, #E6F2EA 50%, #6FD0C5 50%, #6FD0C5 100%);
  background: -o-linear-gradient(45deg, #E6F2EA 0%, #E6F2EA 50%, #6FD0C5 50%, #6FD0C5 100%);
  background: linear-gradient(45deg, #E6F2EA 0%, #E6F2EA 50%, #6FD0C5 50%, #6FD0C5 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #E6F2EA 0%, #E6F2EA 50%, #63B365 50%, #63B365 100%);
  background: -moz-linear-gradient(45deg, #E6F2EA 0%, #E6F2EA 50%, #63B365 50%, #63B365 100%);
  background: -o-linear-gradient(45deg, #E6F2EA 0%, #E6F2EA 50%, #63B365 50%, #63B365 100%);
  background: linear-gradient(45deg, #E6F2EA 0%, #E6F2EA 50%, #63B365 50%, #63B365 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_10 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E6F2EA;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E6F2EA;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E6F2EA;
}

#card_tone_2 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E6F2EA;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E6F2EA;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E6F2EA;
}
