
:root {
    --col-header-border: #D8863B;
}

#card_shade_1 {
  background: #231609;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #472C13;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #6C431D;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #905926;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #B47030;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #D8863B;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #E09C5D;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #E8B382;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #EFCBA9;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #F7E4D3;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #736D68;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #817569;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #907B68;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #9E8064;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #AD845E;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #BB8654;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #CA8748;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #D8863B;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #E08128;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #E87A14;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #E08D3C;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #CD8429;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #C88141;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #F0833A;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #ED872D;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #D8863B 0%, #D8863B 50%, #DFBE6F 50%, #DFBE6F 100%);
  background: -moz-linear-gradient(45deg, #D8863B 0%, #D8863B 50%, #DFBE6F 50%, #DFBE6F 100%);
  background: -o-linear-gradient(45deg, #D8863B 0%, #D8863B 50%, #DFBE6F 50%, #DFBE6F 100%);
  background: linear-gradient(45deg, #D8863B 0%, #D8863B 50%, #DFBE6F 50%, #DFBE6F 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #D8863B 0%, #D8863B 50%, #C9FFE5 50%, #C9FFE5 100%);
  background: -moz-linear-gradient(45deg, #D8863B 0%, #D8863B 50%, #C9FFE5 50%, #C9FFE5 100%);
  background: -o-linear-gradient(45deg, #D8863B 0%, #D8863B 50%, #C9FFE5 50%, #C9FFE5 100%);
  background: linear-gradient(45deg, #D8863B 0%, #D8863B 50%, #C9FFE5 50%, #C9FFE5 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #D8863B 0%, #D8863B 50%, #4E387E 50%, #4E387E 100%);
  background: -moz-linear-gradient(45deg, #D8863B 0%, #D8863B 50%, #4E387E 50%, #4E387E 100%);
  background: -o-linear-gradient(45deg, #D8863B 0%, #D8863B 50%, #4E387E 50%, #4E387E 100%);
  background: linear-gradient(45deg, #D8863B 0%, #D8863B 50%, #4E387E 50%, #4E387E 100%);
}
.combo:hover #name_combo_3 p {
  color: #ffffff;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #D8863B 0%, #D8863B 50%, #EDEA99 50%, #EDEA99 100%);
  background: -moz-linear-gradient(45deg, #D8863B 0%, #D8863B 50%, #EDEA99 50%, #EDEA99 100%);
  background: -o-linear-gradient(45deg, #D8863B 0%, #D8863B 50%, #EDEA99 50%, #EDEA99 100%);
  background: linear-gradient(45deg, #D8863B 0%, #D8863B 50%, #EDEA99 50%, #EDEA99 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #D8863B 0%, #D8863B 50%, #C8E3D7 50%, #C8E3D7 100%);
  background: -moz-linear-gradient(45deg, #D8863B 0%, #D8863B 50%, #C8E3D7 50%, #C8E3D7 100%);
  background: -o-linear-gradient(45deg, #D8863B 0%, #D8863B 50%, #C8E3D7 50%, #C8E3D7 100%);
  background: linear-gradient(45deg, #D8863B 0%, #D8863B 50%, #C8E3D7 50%, #C8E3D7 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_6 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #D8863B;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #D8863B;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #D8863B;
}

#card_tone_8 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #D8863B;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #D8863B;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #D8863B;
}
