
:root {
    --col-header-border: #8EEBEC;
}

#card_shade_1 {
  background: #121E1E;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #233B3B;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #355959;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #477676;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #599494;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #6AB1B1;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #7CCFCF;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #8EEBEC;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #B2F3F3;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #D7F8F8;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #798484;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #859E9E;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #8CB8B8;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #8FD2D2;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #8EEBEC;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #77EEEE;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #60F0F0;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #48F1F1;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #30F3F3;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #18F4F4;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #A1E9DE;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #ACE5EE;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #9EDEE0;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #B0E0E6;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #96DED1;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #8EEBEC 0%, #8EEBEC 50%, #51B73B 50%, #51B73B 100%);
  background: -moz-linear-gradient(45deg, #8EEBEC 0%, #8EEBEC 50%, #51B73B 50%, #51B73B 100%);
  background: -o-linear-gradient(45deg, #8EEBEC 0%, #8EEBEC 50%, #51B73B 50%, #51B73B 100%);
  background: linear-gradient(45deg, #8EEBEC 0%, #8EEBEC 50%, #51B73B 50%, #51B73B 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #8EEBEC 0%, #8EEBEC 50%, #B93B8F 50%, #B93B8F 100%);
  background: -moz-linear-gradient(45deg, #8EEBEC 0%, #8EEBEC 50%, #B93B8F 50%, #B93B8F 100%);
  background: -o-linear-gradient(45deg, #8EEBEC 0%, #8EEBEC 50%, #B93B8F 50%, #B93B8F 100%);
  background: linear-gradient(45deg, #8EEBEC 0%, #8EEBEC 50%, #B93B8F 50%, #B93B8F 100%);
}
.combo:hover #name_combo_2 p {
  color: #ffffff;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #8EEBEC 0%, #8EEBEC 50%, #A68B5B 50%, #A68B5B 100%);
  background: -moz-linear-gradient(45deg, #8EEBEC 0%, #8EEBEC 50%, #A68B5B 50%, #A68B5B 100%);
  background: -o-linear-gradient(45deg, #8EEBEC 0%, #8EEBEC 50%, #A68B5B 50%, #A68B5B 100%);
  background: linear-gradient(45deg, #8EEBEC 0%, #8EEBEC 50%, #A68B5B 50%, #A68B5B 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #8EEBEC 0%, #8EEBEC 50%, #83AA5D 50%, #83AA5D 100%);
  background: -moz-linear-gradient(45deg, #8EEBEC 0%, #8EEBEC 50%, #83AA5D 50%, #83AA5D 100%);
  background: -o-linear-gradient(45deg, #8EEBEC 0%, #8EEBEC 50%, #83AA5D 50%, #83AA5D 100%);
  background: linear-gradient(45deg, #8EEBEC 0%, #8EEBEC 50%, #83AA5D 50%, #83AA5D 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #8EEBEC 0%, #8EEBEC 50%, #AF8751 50%, #AF8751 100%);
  background: -moz-linear-gradient(45deg, #8EEBEC 0%, #8EEBEC 50%, #AF8751 50%, #AF8751 100%);
  background: -o-linear-gradient(45deg, #8EEBEC 0%, #8EEBEC 50%, #AF8751 50%, #AF8751 100%);
  background: linear-gradient(45deg, #8EEBEC 0%, #8EEBEC 50%, #AF8751 50%, #AF8751 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_8 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #8EEBEC;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #8EEBEC;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #8EEBEC;
}

#card_tone_5 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #8EEBEC;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #8EEBEC;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #8EEBEC;
}
