
:root {
    --col-header-border: #FF3F00;
}

#card_shade_1 {
  background: #2A0A00;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #541500;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #7F1F00;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #A92A00;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #D43500;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #FF3F00;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #FF6532;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #FF8C66;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #FFB299;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #FFD8CC;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #857B78;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #927C75;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #A07C70;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #AD7968;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #BB755D;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #C86E50;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #D66540;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #E35B2D;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #F14E18;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #FF3F00;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #FF4F00;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #FF5B00;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #F4320C;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #F8481C;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #EC2D01;
}
.circle:hover #name_simcol_5 p {
  color: #ffffff;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #FF3F00 0%, #FF3F00 50%, #F7D560 50%, #F7D560 100%);
  background: -moz-linear-gradient(45deg, #FF3F00 0%, #FF3F00 50%, #F7D560 50%, #F7D560 100%);
  background: -o-linear-gradient(45deg, #FF3F00 0%, #FF3F00 50%, #F7D560 50%, #F7D560 100%);
  background: linear-gradient(45deg, #FF3F00 0%, #FF3F00 50%, #F7D560 50%, #F7D560 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #FF3F00 0%, #FF3F00 50%, #F1F33F 50%, #F1F33F 100%);
  background: -moz-linear-gradient(45deg, #FF3F00 0%, #FF3F00 50%, #F1F33F 50%, #F1F33F 100%);
  background: -o-linear-gradient(45deg, #FF3F00 0%, #FF3F00 50%, #F1F33F 50%, #F1F33F 100%);
  background: linear-gradient(45deg, #FF3F00 0%, #FF3F00 50%, #F1F33F 50%, #F1F33F 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #FF3F00 0%, #FF3F00 50%, #C9FFE5 50%, #C9FFE5 100%);
  background: -moz-linear-gradient(45deg, #FF3F00 0%, #FF3F00 50%, #C9FFE5 50%, #C9FFE5 100%);
  background: -o-linear-gradient(45deg, #FF3F00 0%, #FF3F00 50%, #C9FFE5 50%, #C9FFE5 100%);
  background: linear-gradient(45deg, #FF3F00 0%, #FF3F00 50%, #C9FFE5 50%, #C9FFE5 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #FF3F00 0%, #FF3F00 50%, #8CFD7E 50%, #8CFD7E 100%);
  background: -moz-linear-gradient(45deg, #FF3F00 0%, #FF3F00 50%, #8CFD7E 50%, #8CFD7E 100%);
  background: -o-linear-gradient(45deg, #FF3F00 0%, #FF3F00 50%, #8CFD7E 50%, #8CFD7E 100%);
  background: linear-gradient(45deg, #FF3F00 0%, #FF3F00 50%, #8CFD7E 50%, #8CFD7E 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #FF3F00 0%, #FF3F00 50%, #96F97B 50%, #96F97B 100%);
  background: -moz-linear-gradient(45deg, #FF3F00 0%, #FF3F00 50%, #96F97B 50%, #96F97B 100%);
  background: -o-linear-gradient(45deg, #FF3F00 0%, #FF3F00 50%, #96F97B 50%, #96F97B 100%);
  background: linear-gradient(45deg, #FF3F00 0%, #FF3F00 50%, #96F97B 50%, #96F97B 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_6 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF3F00;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF3F00;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF3F00;
}

#card_tone_10 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF3F00;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF3F00;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF3F00;
}
