
:root {
    --col-header-border: #FDE295;
}

#card_shade_1 {
  background: #1F1B12;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #3E3725;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #5E5437;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #7D704A;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #9D8C5C;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #BDA86F;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #DCC482;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #FDE295;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #FDEAB8;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #FDF4DB;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #8C8980;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #A8A08C;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #C4B794;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #E0CC96;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #FDE295;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #FCDA7C;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #FCD463;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #FDCD4A;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #FDC732;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #FDC019;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #FFE5A0;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #F8DB9D;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #F5E7A2;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #F8DE7E;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #FEE5AC;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #FDE295 0%, #FDE295 50%, #F88158 50%, #F88158 100%);
  background: -moz-linear-gradient(45deg, #FDE295 0%, #FDE295 50%, #F88158 50%, #F88158 100%);
  background: -o-linear-gradient(45deg, #FDE295 0%, #FDE295 50%, #F88158 50%, #F88158 100%);
  background: linear-gradient(45deg, #FDE295 0%, #FDE295 50%, #F88158 50%, #F88158 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #FDE295 0%, #FDE295 50%, #D767AD 50%, #D767AD 100%);
  background: -moz-linear-gradient(45deg, #FDE295 0%, #FDE295 50%, #D767AD 50%, #D767AD 100%);
  background: -o-linear-gradient(45deg, #FDE295 0%, #FDE295 50%, #D767AD 50%, #D767AD 100%);
  background: linear-gradient(45deg, #FDE295 0%, #FDE295 50%, #D767AD 50%, #D767AD 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #FDE295 0%, #FDE295 50%, #FD0E35 50%, #FD0E35 100%);
  background: -moz-linear-gradient(45deg, #FDE295 0%, #FDE295 50%, #FD0E35 50%, #FD0E35 100%);
  background: -o-linear-gradient(45deg, #FDE295 0%, #FDE295 50%, #FD0E35 50%, #FD0E35 100%);
  background: linear-gradient(45deg, #FDE295 0%, #FDE295 50%, #FD0E35 50%, #FD0E35 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #FDE295 0%, #FDE295 50%, #FF004F 50%, #FF004F 100%);
  background: -moz-linear-gradient(45deg, #FDE295 0%, #FDE295 50%, #FF004F 50%, #FF004F 100%);
  background: -o-linear-gradient(45deg, #FDE295 0%, #FDE295 50%, #FF004F 50%, #FF004F 100%);
  background: linear-gradient(45deg, #FDE295 0%, #FDE295 50%, #FF004F 50%, #FF004F 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #FDE295 0%, #FDE295 50%, #9E43A2 50%, #9E43A2 100%);
  background: -moz-linear-gradient(45deg, #FDE295 0%, #FDE295 50%, #9E43A2 50%, #9E43A2 100%);
  background: -o-linear-gradient(45deg, #FDE295 0%, #FDE295 50%, #9E43A2 50%, #9E43A2 100%);
  background: linear-gradient(45deg, #FDE295 0%, #FDE295 50%, #9E43A2 50%, #9E43A2 100%);
}
.combo:hover #name_combo_5 p {
  color: #ffffff;
}

#card_shade_8 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FDE295;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FDE295;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FDE295;
}

#card_tone_5 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FDE295;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FDE295;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FDE295;
}
