
:root {
    --col-header-border: #B7CEEC;
}

#card_shade_1 {
  background: #15171B;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #292E35;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #3E454F;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #525D69;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #677484;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #7B8B9E;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #90A2B8;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #A4B9D2;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #B7CEEC;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #DBE7F6;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #83888E;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #A1AEBD;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #B7CEEC;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #A2C4EE;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #8BB8EF;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #75ACF0;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #5DA0F2;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #4694F3;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #2F88F4;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #177BF6;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #ABCDEF;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #B7C9E2;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #B1D1FC;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #C3CDE6;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #A0CFEC;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: linear-gradient(30deg, #B7CEEC 0%, #B7CEEC 50%, #652DC1 50%, #652DC1 100%);
}
.combo:hover #name_combo_1 p {
  color: #ffffff;
}

#card_combo_2 {
  background: linear-gradient(30deg, #B7CEEC 0%, #B7CEEC 50%, #728639 50%, #728639 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: linear-gradient(30deg, #B7CEEC 0%, #B7CEEC 50%, #2E8B57 50%, #2E8B57 100%);
}
.combo:hover #name_combo_3 p {
  color: #ffffff;
}

#card_combo_4 {
  background: linear-gradient(30deg, #B7CEEC 0%, #B7CEEC 50%, #2F6168 50%, #2F6168 100%);
}
.combo:hover #name_combo_4 p {
  color: #ffffff;
}

#card_shade_9 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #B7CEEC;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #B7CEEC;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #B7CEEC;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #B7CEEC;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #B7CEEC;
}

#card_tone_3 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #B7CEEC;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #B7CEEC;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #B7CEEC;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #B7CEEC;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #B7CEEC;
}
