
:root {
    --col-header-border: #0E87CC;
}

#card_shade_1 {
  background: #021722;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #042E44;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #074466;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #095B88;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #0B72AA;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #0E87CC;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #369ED6;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #63B4E0;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #93CCEA;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #C7E4F4;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #61686B;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #606E76;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #5D7481;
}
.card:hover #name_tone_3 p {
  color: #ffffff;
}

#card_tone_4 {
  background: #57798B;
}
.card:hover #name_tone_4 p {
  color: #ffffff;
}

#card_tone_5 {
  background: #507D96;
}
.card:hover #name_tone_5 p {
  color: #ffffff;
}

#card_tone_6 {
  background: #4781A1;
}
.card:hover #name_tone_6 p {
  color: #ffffff;
}

#card_tone_7 {
  background: #3B84AB;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #2E87B6;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #1F88C1;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #0E87CC;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #0485D1;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #0892D0;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #107AB0;
}
.circle:hover #name_simcol_3 p {
  color: #ffffff;
}

#card_simcol_4 {
  background: #2596D1;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #0072BB;
}
.circle:hover #name_simcol_5 p {
  color: #ffffff;
}

#card_combo_1 {
  background: linear-gradient(30deg, #0E87CC 0%, #0E87CC 50%, #D19FE8 50%, #D19FE8 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: linear-gradient(30deg, #0E87CC 0%, #0E87CC 50%, #0000A0 50%, #0000A0 100%);
}
.combo:hover #name_combo_2 p {
  color: #ffffff;
}

#card_combo_3 {
  background: linear-gradient(30deg, #0E87CC 0%, #0E87CC 50%, #CDC50A 50%, #CDC50A 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: linear-gradient(30deg, #0E87CC 0%, #0E87CC 50%, #152EFF 50%, #152EFF 100%);
}
.combo:hover #name_combo_4 p {
  color: #ffffff;
}

#card_shade_6 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #0E87CC;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #0E87CC;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #0E87CC;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #0E87CC;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #0E87CC;
}

#card_tone_10 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #0E87CC;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #0E87CC;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #0E87CC;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #0E87CC;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #0E87CC;
}
