
:root {
    --col-header-border: #EF3038;
}

#card_shade_1 {
  background: #27070A;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #4F0F14;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #77171E;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #9F1F28;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #C72732;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #EF3038;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #F25761;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #F57F87;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #F8A9AE;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #FBD3D6;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #7F7475;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #8D7476;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #9B7274;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #A96D71;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #B7666B;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #C55C63;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #D35058;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #E1414B;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #EF3038;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #F41827;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #FB2943;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #E32636;
}
.circle:hover #name_simcol_2 p {
  color: #ffffff;
}

#card_simcol_3 {
  background: #FE2F4A;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #E52B50;
}
.circle:hover #name_simcol_4 p {
  color: #ffffff;
}

#card_simcol_5 {
  background: #FA2A55;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: linear-gradient(30deg, #EF3038 0%, #EF3038 50%, #571B7E 50%, #571B7E 100%);
}
.combo:hover #name_combo_1 p {
  color: #ffffff;
}

#card_combo_2 {
  background: linear-gradient(30deg, #EF3038 0%, #EF3038 50%, #7D1B7E 50%, #7D1B7E 100%);
}
.combo:hover #name_combo_2 p {
  color: #ffffff;
}

#card_combo_3 {
  background: linear-gradient(30deg, #EF3038 0%, #EF3038 50%, #1D5DEC 50%, #1D5DEC 100%);
}
.combo:hover #name_combo_3 p {
  color: #ffffff;
}

#card_combo_4 {
  background: linear-gradient(30deg, #EF3038 0%, #EF3038 50%, #175579 50%, #175579 100%);
}
.combo:hover #name_combo_4 p {
  color: #ffffff;
}

#card_shade_6 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #EF3038;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #EF3038;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #EF3038;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #EF3038;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #EF3038;
}

#card_tone_9 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #EF3038;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #EF3038;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #EF3038;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #EF3038;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #EF3038;
}
