
:root {
    --col-header-border: #F3E9E5;
}

#card_shade_1 {
  background: #181716;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #302E2D;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #484544;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #605C5B;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #797371;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #918B88;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #A9A29F;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #C1B9B6;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #DAD0CC;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #F3E9E5;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #A19D9C;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #F3E9E5;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #F3D6CB;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #F3C4B2;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #F4B399;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #F5A180;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #F68F67;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #F67D4E;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #F76B34;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #F8591A;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #FFEFEC;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #FAF3F0;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #F8F0E8;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #FFDFDD;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #FFDCD6;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: linear-gradient(30deg, #F3E9E5 0%, #F3E9E5 50%, #9C6DA5 50%, #9C6DA5 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: linear-gradient(30deg, #F3E9E5 0%, #F3E9E5 50%, #AB4E52 50%, #AB4E52 100%);
}
.combo:hover #name_combo_2 p {
  color: #ffffff;
}

#card_combo_3 {
  background: linear-gradient(30deg, #F3E9E5 0%, #F3E9E5 50%, #0C0B1D 50%, #0C0B1D 100%);
}
.combo:hover #name_combo_3 p {
  color: #ffffff;
}

#card_combo_4 {
  background: linear-gradient(30deg, #F3E9E5 0%, #F3E9E5 50%, #B7A458 50%, #B7A458 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_shade_10 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F3E9E5;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F3E9E5;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F3E9E5;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F3E9E5;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F3E9E5;
}

#card_tone_2 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F3E9E5;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F3E9E5;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F3E9E5;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F3E9E5;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F3E9E5;
}
