
:root {
    --col-header-border: #DCB4BC;
}

#card_shade_1 {
  background: #171314;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #2F2729;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #483B3E;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #604F53;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #796368;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #91777D;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #AA8B92;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #C29FA7;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #DCB4BC;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #EDD7DC;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #837B7D;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #AF9A9E;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #DCB4BC;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #DD9FAC;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #DF899C;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #E2748C;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #E45E7B;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #E6476A;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #E93058;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #EB1846;
}
.card:hover #name_tone_10 p {
  color: #ffffff;
}

#card_simcol_1 {
  background: #DDADAF;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #E1C0C8;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #E7A1B0;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #BEB5B7;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #DE9DAC;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: linear-gradient(30deg, #DCB4BC 0%, #DCB4BC 50%, #C25283 50%, #C25283 100%);
}
.combo:hover #name_combo_1 p {
  color: #ffffff;
}

#card_combo_2 {
  background: linear-gradient(30deg, #DCB4BC 0%, #DCB4BC 50%, #2E8B57 50%, #2E8B57 100%);
}
.combo:hover #name_combo_2 p {
  color: #ffffff;
}

#card_combo_3 {
  background: linear-gradient(30deg, #DCB4BC 0%, #DCB4BC 50%, #273BE2 50%, #273BE2 100%);
}
.combo:hover #name_combo_3 p {
  color: #ffffff;
}

#card_combo_4 {
  background: linear-gradient(30deg, #DCB4BC 0%, #DCB4BC 50%, #A7882C 50%, #A7882C 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_shade_9 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #DCB4BC;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #DCB4BC;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #DCB4BC;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #DCB4BC;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #DCB4BC;
}

#card_tone_3 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #DCB4BC;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #DCB4BC;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #DCB4BC;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #DCB4BC;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #DCB4BC;
}
