
:root {
    --col-header-border: #FC74FD;
}

#card_shade_1 {
  background: #241024;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #482148;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #6B316C;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #8F4290;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #B253B4;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #D663D8;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #FC74FD;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #FB96FC;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #FCB9FD;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #FDDBFD;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #897D89;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #A083A0;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #B686B7;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #CD84CE;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #E37EE5;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #FC74FD;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #FA5CFC;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #F945FC;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #F92EFD;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #F917FD;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #FF77FF;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #F984EF;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #EE82EE;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #F984E5;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #FA5FF7;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: linear-gradient(30deg, #FC74FD 0%, #FC74FD 50%, #1B1035 50%, #1B1035 100%);
}
.combo:hover #name_combo_1 p {
  color: #ffffff;
}

#card_combo_2 {
  background: linear-gradient(30deg, #FC74FD 0%, #FC74FD 50%, #1E9AB0 50%, #1E9AB0 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: linear-gradient(30deg, #FC74FD 0%, #FC74FD 50%, #4E387E 50%, #4E387E 100%);
}
.combo:hover #name_combo_3 p {
  color: #ffffff;
}

#card_combo_4 {
  background: linear-gradient(30deg, #FC74FD 0%, #FC74FD 50%, #4984B8 50%, #4984B8 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_shade_7 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FC74FD;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FC74FD;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FC74FD;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FC74FD;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FC74FD;
}

#card_tone_6 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FC74FD;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FC74FD;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FC74FD;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FC74FD;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FC74FD;
}
