
:root {
    --col-header-border: #FF33CC;
}

#card_shade_1 {
  background: #2A0822;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #541044;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #7F1967;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #A9218A;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #D42AAC;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #FF33CC;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #FF5BD8;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #FF84E2;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #FFADEB;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #FFD6F5;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #867A83;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #957B8F;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #A4789A;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #B373A4;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #C26CAE;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #D162B7;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #E055C0;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #EF45C8;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #FF33CC;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #FF19C9;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #F535AA;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #FE28A2;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #FE46A5;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #F433FF;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #FE59C2;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: linear-gradient(30deg, #FF33CC 0%, #FF33CC 50%, #922724 50%, #922724 100%);
}
.combo:hover #name_combo_1 p {
  color: #ffffff;
}

#card_combo_2 {
  background: linear-gradient(30deg, #FF33CC 0%, #FF33CC 50%, #9F1D35 50%, #9F1D35 100%);
}
.combo:hover #name_combo_2 p {
  color: #ffffff;
}

#card_combo_3 {
  background: linear-gradient(30deg, #FF33CC 0%, #FF33CC 50%, #202E54 50%, #202E54 100%);
}
.combo:hover #name_combo_3 p {
  color: #ffffff;
}

#card_combo_4 {
  background: linear-gradient(30deg, #FF33CC 0%, #FF33CC 50%, #864D1E 50%, #864D1E 100%);
}
.combo:hover #name_combo_4 p {
  color: #ffffff;
}

#card_shade_6 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF33CC;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF33CC;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF33CC;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF33CC;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF33CC;
}

#card_tone_9 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF33CC;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF33CC;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF33CC;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF33CC;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF33CC;
}
