
:root {
    --col-header-border: #496679;
}

#card_shade_1 {
  background: #0E1417;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #1C282F;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #2B3C47;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #39515F;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #496679;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #5E7C8E;
}
.card:hover #name_shade_6 p {
  color: #ffffff;
}

#card_shade_7 {
  background: #7893A4;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #95ACBB;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #B5C7D1;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #D8E2E8;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #3D4042;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #434B50;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #46545D;
}
.card:hover #name_tone_3 p {
  color: #ffffff;
}

#card_tone_4 {
  background: #485D6A;
}
.card:hover #name_tone_4 p {
  color: #ffffff;
}

#card_tone_5 {
  background: #496679;
}
.card:hover #name_tone_5 p {
  color: #ffffff;
}

#card_tone_6 {
  background: #426A84;
}
.card:hover #name_tone_6 p {
  color: #ffffff;
}

#card_tone_7 {
  background: #396F90;
}
.card:hover #name_tone_7 p {
  color: #ffffff;
}

#card_tone_8 {
  background: #2E729C;
}
.card:hover #name_tone_8 p {
  color: #ffffff;
}

#card_tone_9 {
  background: #2175A8;
}
.card:hover #name_tone_9 p {
  color: #ffffff;
}

#card_tone_10 {
  background: #1276B5;
}
.card:hover #name_tone_10 p {
  color: #ffffff;
}

#card_simcol_1 {
  background: #536878;
}
.circle:hover #name_simcol_1 p {
  color: #ffffff;
}

#card_simcol_2 {
  background: #516572;
}
.circle:hover #name_simcol_2 p {
  color: #ffffff;
}

#card_simcol_3 {
  background: #4F738E;
}
.circle:hover #name_simcol_3 p {
  color: #ffffff;
}

#card_simcol_4 {
  background: #536872;
}
.circle:hover #name_simcol_4 p {
  color: #ffffff;
}

#card_simcol_5 {
  background: #4E7496;
}
.circle:hover #name_simcol_5 p {
  color: #ffffff;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #496679 0%, #496679 50%, #6FC276 50%, #6FC276 100%);
  background: -moz-linear-gradient(45deg, #496679 0%, #496679 50%, #6FC276 50%, #6FC276 100%);
  background: -o-linear-gradient(45deg, #496679 0%, #496679 50%, #6FC276 50%, #6FC276 100%);
  background: linear-gradient(45deg, #496679 0%, #496679 50%, #6FC276 50%, #6FC276 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #496679 0%, #496679 50%, #B57EDC 50%, #B57EDC 100%);
  background: -moz-linear-gradient(45deg, #496679 0%, #496679 50%, #B57EDC 50%, #B57EDC 100%);
  background: -o-linear-gradient(45deg, #496679 0%, #496679 50%, #B57EDC 50%, #B57EDC 100%);
  background: linear-gradient(45deg, #496679 0%, #496679 50%, #B57EDC 50%, #B57EDC 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #496679 0%, #496679 50%, #DE9DAC 50%, #DE9DAC 100%);
  background: -moz-linear-gradient(45deg, #496679 0%, #496679 50%, #DE9DAC 50%, #DE9DAC 100%);
  background: -o-linear-gradient(45deg, #496679 0%, #496679 50%, #DE9DAC 50%, #DE9DAC 100%);
  background: linear-gradient(45deg, #496679 0%, #496679 50%, #DE9DAC 50%, #DE9DAC 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #496679 0%, #496679 50%, #9AB973 50%, #9AB973 100%);
  background: -moz-linear-gradient(45deg, #496679 0%, #496679 50%, #9AB973 50%, #9AB973 100%);
  background: -o-linear-gradient(45deg, #496679 0%, #496679 50%, #9AB973 50%, #9AB973 100%);
  background: linear-gradient(45deg, #496679 0%, #496679 50%, #9AB973 50%, #9AB973 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #496679 0%, #496679 50%, #C38EC7 50%, #C38EC7 100%);
  background: -moz-linear-gradient(45deg, #496679 0%, #496679 50%, #C38EC7 50%, #C38EC7 100%);
  background: -o-linear-gradient(45deg, #496679 0%, #496679 50%, #C38EC7 50%, #C38EC7 100%);
  background: linear-gradient(45deg, #496679 0%, #496679 50%, #C38EC7 50%, #C38EC7 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_5 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #496679;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #496679;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #496679;
}

#card_tone_5 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #496679;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #496679;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #496679;
}
