
:root {
    --col-header-border: #61845F;
}

#card_shade_1 {
  background: #10150F;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #202B1F;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #30422F;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #41583F;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #516E4F;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #61845F;
}
.card:hover #name_shade_6 p {
  color: #ffffff;
}

#card_shade_7 {
  background: #7C9D79;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #99B597;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #B8CEB6;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #DAE6D9;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #474B46;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #525E51;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #5B7159;
}
.card:hover #name_tone_3 p {
  color: #ffffff;
}

#card_tone_4 {
  background: #61845F;
}
.card:hover #name_tone_4 p {
  color: #ffffff;
}

#card_tone_5 {
  background: #5B8E57;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #52974D;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #48A042;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #3CAA34;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #2EB324;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #1EBD13;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #598556;
}
.circle:hover #name_simcol_1 p {
  color: #ffffff;
}

#card_simcol_2 {
  background: #617C58;
}
.circle:hover #name_simcol_2 p {
  color: #ffffff;
}

#card_simcol_3 {
  background: #587156;
}
.circle:hover #name_simcol_3 p {
  color: #ffffff;
}

#card_simcol_4 {
  background: #53824B;
}
.circle:hover #name_simcol_4 p {
  color: #ffffff;
}

#card_simcol_5 {
  background: #6F8E63;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #61845F 0%, #61845F 50%, #EAE0C8 50%, #EAE0C8 100%);
  background: -moz-linear-gradient(45deg, #61845F 0%, #61845F 50%, #EAE0C8 50%, #EAE0C8 100%);
  background: -o-linear-gradient(45deg, #61845F 0%, #61845F 50%, #EAE0C8 50%, #EAE0C8 100%);
  background: linear-gradient(45deg, #61845F 0%, #61845F 50%, #EAE0C8 50%, #EAE0C8 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #61845F 0%, #61845F 50%, #D5D195 50%, #D5D195 100%);
  background: -moz-linear-gradient(45deg, #61845F 0%, #61845F 50%, #D5D195 50%, #D5D195 100%);
  background: -o-linear-gradient(45deg, #61845F 0%, #61845F 50%, #D5D195 50%, #D5D195 100%);
  background: linear-gradient(45deg, #61845F 0%, #61845F 50%, #D5D195 50%, #D5D195 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #61845F 0%, #61845F 50%, #C1D7B0 50%, #C1D7B0 100%);
  background: -moz-linear-gradient(45deg, #61845F 0%, #61845F 50%, #C1D7B0 50%, #C1D7B0 100%);
  background: -o-linear-gradient(45deg, #61845F 0%, #61845F 50%, #C1D7B0 50%, #C1D7B0 100%);
  background: linear-gradient(45deg, #61845F 0%, #61845F 50%, #C1D7B0 50%, #C1D7B0 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #61845F 0%, #61845F 50%, #DAF4F0 50%, #DAF4F0 100%);
  background: -moz-linear-gradient(45deg, #61845F 0%, #61845F 50%, #DAF4F0 50%, #DAF4F0 100%);
  background: -o-linear-gradient(45deg, #61845F 0%, #61845F 50%, #DAF4F0 50%, #DAF4F0 100%);
  background: linear-gradient(45deg, #61845F 0%, #61845F 50%, #DAF4F0 50%, #DAF4F0 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #61845F 0%, #61845F 50%, #C69191 50%, #C69191 100%);
  background: -moz-linear-gradient(45deg, #61845F 0%, #61845F 50%, #C69191 50%, #C69191 100%);
  background: -o-linear-gradient(45deg, #61845F 0%, #61845F 50%, #C69191 50%, #C69191 100%);
  background: linear-gradient(45deg, #61845F 0%, #61845F 50%, #C69191 50%, #C69191 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_6 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #61845F;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #61845F;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #61845F;
}

#card_tone_4 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #61845F;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #61845F;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #61845F;
}
