
:root {
    --col-header-border: #E6F8F3;
}

#card_shade_1 {
  background: #171818;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #2E3130;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #454A48;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #5C6260;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #737B79;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #8A9491;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #A1ADA9;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #B8C5C1;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #CFDEDA;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #E6F8F3;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #9FA4A3;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #E6F8F3;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #CCF7EB;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #B3F8E4;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #9AF8DE;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #81F9D7;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #67F9D0;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #4EFAC9;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #34FAC2;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #1AFBBB;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #E8F5F2;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #EAF9F5;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #DDF9F1;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #DBFFF8;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #DAF4F0;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #E6F8F3 0%, #E6F8F3 50%, #ACBF69 50%, #ACBF69 100%);
  background: -moz-linear-gradient(45deg, #E6F8F3 0%, #E6F8F3 50%, #ACBF69 50%, #ACBF69 100%);
  background: -o-linear-gradient(45deg, #E6F8F3 0%, #E6F8F3 50%, #ACBF69 50%, #ACBF69 100%);
  background: linear-gradient(45deg, #E6F8F3 0%, #E6F8F3 50%, #ACBF69 50%, #ACBF69 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #E6F8F3 0%, #E6F8F3 50%, #C4A661 50%, #C4A661 100%);
  background: -moz-linear-gradient(45deg, #E6F8F3 0%, #E6F8F3 50%, #C4A661 50%, #C4A661 100%);
  background: -o-linear-gradient(45deg, #E6F8F3 0%, #E6F8F3 50%, #C4A661 50%, #C4A661 100%);
  background: linear-gradient(45deg, #E6F8F3 0%, #E6F8F3 50%, #C4A661 50%, #C4A661 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #E6F8F3 0%, #E6F8F3 50%, #8EE53F 50%, #8EE53F 100%);
  background: -moz-linear-gradient(45deg, #E6F8F3 0%, #E6F8F3 50%, #8EE53F 50%, #8EE53F 100%);
  background: -o-linear-gradient(45deg, #E6F8F3 0%, #E6F8F3 50%, #8EE53F 50%, #8EE53F 100%);
  background: linear-gradient(45deg, #E6F8F3 0%, #E6F8F3 50%, #8EE53F 50%, #8EE53F 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #E6F8F3 0%, #E6F8F3 50%, #C154C1 50%, #C154C1 100%);
  background: -moz-linear-gradient(45deg, #E6F8F3 0%, #E6F8F3 50%, #C154C1 50%, #C154C1 100%);
  background: -o-linear-gradient(45deg, #E6F8F3 0%, #E6F8F3 50%, #C154C1 50%, #C154C1 100%);
  background: linear-gradient(45deg, #E6F8F3 0%, #E6F8F3 50%, #C154C1 50%, #C154C1 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #E6F8F3 0%, #E6F8F3 50%, #ACDD4D 50%, #ACDD4D 100%);
  background: -moz-linear-gradient(45deg, #E6F8F3 0%, #E6F8F3 50%, #ACDD4D 50%, #ACDD4D 100%);
  background: -o-linear-gradient(45deg, #E6F8F3 0%, #E6F8F3 50%, #ACDD4D 50%, #ACDD4D 100%);
  background: linear-gradient(45deg, #E6F8F3 0%, #E6F8F3 50%, #ACDD4D 50%, #ACDD4D 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_10 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E6F8F3;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E6F8F3;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E6F8F3;
}

#card_tone_2 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E6F8F3;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E6F8F3;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E6F8F3;
}
