
:root {
    --col-header-border: #0BF77D;
}

#card_shade_1 {
  background: #012814;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #035229;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #047B3E;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #06A453;
}
.card:hover #name_shade_4 p {
  color: #000000;
}

#card_shade_5 {
  background: #08CE67;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #0BF77D;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #39F896;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #6AFAAF;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #9BFBC9;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #CCFDE4;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #75827B;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #738F81;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #6F9C85;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #68A987;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #5EB689;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #52C389;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #44D088;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #33DD85;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #1FEA81;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #0BF77D;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #04F489;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #1EF876;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #20F986;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #00FA9A;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #00FF7F;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #0BF77D 0%, #0BF77D 50%, #C0022F 50%, #C0022F 100%);
  background: -moz-linear-gradient(45deg, #0BF77D 0%, #0BF77D 50%, #C0022F 50%, #C0022F 100%);
  background: -o-linear-gradient(45deg, #0BF77D 0%, #0BF77D 50%, #C0022F 50%, #C0022F 100%);
  background: linear-gradient(45deg, #0BF77D 0%, #0BF77D 50%, #C0022F 50%, #C0022F 100%);
}
.combo:hover #name_combo_1 p {
  color: #ffffff;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #0BF77D 0%, #0BF77D 50%, #D0FEFE 50%, #D0FEFE 100%);
  background: -moz-linear-gradient(45deg, #0BF77D 0%, #0BF77D 50%, #D0FEFE 50%, #D0FEFE 100%);
  background: -o-linear-gradient(45deg, #0BF77D 0%, #0BF77D 50%, #D0FEFE 50%, #D0FEFE 100%);
  background: linear-gradient(45deg, #0BF77D 0%, #0BF77D 50%, #D0FEFE 50%, #D0FEFE 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #0BF77D 0%, #0BF77D 50%, #B9FF66 50%, #B9FF66 100%);
  background: -moz-linear-gradient(45deg, #0BF77D 0%, #0BF77D 50%, #B9FF66 50%, #B9FF66 100%);
  background: -o-linear-gradient(45deg, #0BF77D 0%, #0BF77D 50%, #B9FF66 50%, #B9FF66 100%);
  background: linear-gradient(45deg, #0BF77D 0%, #0BF77D 50%, #B9FF66 50%, #B9FF66 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #0BF77D 0%, #0BF77D 50%, #AD03DE 50%, #AD03DE 100%);
  background: -moz-linear-gradient(45deg, #0BF77D 0%, #0BF77D 50%, #AD03DE 50%, #AD03DE 100%);
  background: -o-linear-gradient(45deg, #0BF77D 0%, #0BF77D 50%, #AD03DE 50%, #AD03DE 100%);
  background: linear-gradient(45deg, #0BF77D 0%, #0BF77D 50%, #AD03DE 50%, #AD03DE 100%);
}
.combo:hover #name_combo_4 p {
  color: #ffffff;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #0BF77D 0%, #0BF77D 50%, #06B1C4 50%, #06B1C4 100%);
  background: -moz-linear-gradient(45deg, #0BF77D 0%, #0BF77D 50%, #06B1C4 50%, #06B1C4 100%);
  background: -o-linear-gradient(45deg, #0BF77D 0%, #0BF77D 50%, #06B1C4 50%, #06B1C4 100%);
  background: linear-gradient(45deg, #0BF77D 0%, #0BF77D 50%, #06B1C4 50%, #06B1C4 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_6 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #0BF77D;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #0BF77D;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #0BF77D;
}

#card_tone_10 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #0BF77D;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #0BF77D;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #0BF77D;
}
