
:root {
    --col-header-border: #CBD3B0;
}

#card_shade_1 {
  background: #181A15;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #32342B;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #4B4F41;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #656957;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #7E846D;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #989E83;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #B1B999;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #CBD3B0;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #DCE2C8;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #EDF0E3;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #7D7E77;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #A4A996;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #CBD3B0;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #C8D69B;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #C6D987;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #C3DC71;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #C0DE5C;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #BDE145;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #BAE42F;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #B6E717;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #C4D0B0;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #C6C8BD;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #CFCFC4;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #CCCAA8;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #C1D7B0;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #CBD3B0 0%, #CBD3B0 50%, #82CBB2 50%, #82CBB2 100%);
  background: -moz-linear-gradient(45deg, #CBD3B0 0%, #CBD3B0 50%, #82CBB2 50%, #82CBB2 100%);
  background: -o-linear-gradient(45deg, #CBD3B0 0%, #CBD3B0 50%, #82CBB2 50%, #82CBB2 100%);
  background: linear-gradient(45deg, #CBD3B0 0%, #CBD3B0 50%, #82CBB2 50%, #82CBB2 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #CBD3B0 0%, #CBD3B0 50%, #43BFC7 50%, #43BFC7 100%);
  background: -moz-linear-gradient(45deg, #CBD3B0 0%, #CBD3B0 50%, #43BFC7 50%, #43BFC7 100%);
  background: -o-linear-gradient(45deg, #CBD3B0 0%, #CBD3B0 50%, #43BFC7 50%, #43BFC7 100%);
  background: linear-gradient(45deg, #CBD3B0 0%, #CBD3B0 50%, #43BFC7 50%, #43BFC7 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #CBD3B0 0%, #CBD3B0 50%, #54AC68 50%, #54AC68 100%);
  background: -moz-linear-gradient(45deg, #CBD3B0 0%, #CBD3B0 50%, #54AC68 50%, #54AC68 100%);
  background: -o-linear-gradient(45deg, #CBD3B0 0%, #CBD3B0 50%, #54AC68 50%, #54AC68 100%);
  background: linear-gradient(45deg, #CBD3B0 0%, #CBD3B0 50%, #54AC68 50%, #54AC68 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #CBD3B0 0%, #CBD3B0 50%, #85BB65 50%, #85BB65 100%);
  background: -moz-linear-gradient(45deg, #CBD3B0 0%, #CBD3B0 50%, #85BB65 50%, #85BB65 100%);
  background: -o-linear-gradient(45deg, #CBD3B0 0%, #CBD3B0 50%, #85BB65 50%, #85BB65 100%);
  background: linear-gradient(45deg, #CBD3B0 0%, #CBD3B0 50%, #85BB65 50%, #85BB65 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #CBD3B0 0%, #CBD3B0 50%, #56AE57 50%, #56AE57 100%);
  background: -moz-linear-gradient(45deg, #CBD3B0 0%, #CBD3B0 50%, #56AE57 50%, #56AE57 100%);
  background: -o-linear-gradient(45deg, #CBD3B0 0%, #CBD3B0 50%, #56AE57 50%, #56AE57 100%);
  background: linear-gradient(45deg, #CBD3B0 0%, #CBD3B0 50%, #56AE57 50%, #56AE57 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_8 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #CBD3B0;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #CBD3B0;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #CBD3B0;
}

#card_tone_3 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #CBD3B0;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #CBD3B0;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #CBD3B0;
}
