
:root {
    --col-header-border: #720058;
}

#card_shade_1 {
  background: #1D0016;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #39002D;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #560043;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #720058;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #86136D;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #9B2C83;
}
.card:hover #name_shade_6 p {
  color: #ffffff;
}

#card_shade_7 {
  background: #AF4B99;
}
.card:hover #name_shade_7 p {
  color: #ffffff;
}

#card_shade_8 {
  background: #C36FB1;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #D79ACA;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #EBCAE4;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #3B353A;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #41343E;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #473243;
}
.card:hover #name_tone_3 p {
  color: #ffffff;
}

#card_tone_4 {
  background: #4E2E47;
}
.card:hover #name_tone_4 p {
  color: #ffffff;
}

#card_tone_5 {
  background: #542A4B;
}
.card:hover #name_tone_5 p {
  color: #ffffff;
}

#card_tone_6 {
  background: #5A244E;
}
.card:hover #name_tone_6 p {
  color: #ffffff;
}

#card_tone_7 {
  background: #601C51;
}
.card:hover #name_tone_7 p {
  color: #ffffff;
}

#card_tone_8 {
  background: #661454;
}
.card:hover #name_tone_8 p {
  color: #ffffff;
}

#card_tone_9 {
  background: #6C0A57;
}
.card:hover #name_tone_9 p {
  color: #ffffff;
}

#card_tone_10 {
  background: #720058;
}
.card:hover #name_tone_10 p {
  color: #ffffff;
}

#card_simcol_1 {
  background: #750851;
}
.circle:hover #name_simcol_1 p {
  color: #ffffff;
}

#card_simcol_2 {
  background: #7D0552;
}
.circle:hover #name_simcol_2 p {
  color: #ffffff;
}

#card_simcol_3 {
  background: #66023C;
}
.circle:hover #name_simcol_3 p {
  color: #ffffff;
}

#card_simcol_4 {
  background: #8C055E;
}
.circle:hover #name_simcol_4 p {
  color: #ffffff;
}

#card_simcol_5 {
  background: #5C0536;
}
.circle:hover #name_simcol_5 p {
  color: #ffffff;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #720058 0%, #720058 50%, #6FD0C5 50%, #6FD0C5 100%);
  background: -moz-linear-gradient(45deg, #720058 0%, #720058 50%, #6FD0C5 50%, #6FD0C5 100%);
  background: -o-linear-gradient(45deg, #720058 0%, #720058 50%, #6FD0C5 50%, #6FD0C5 100%);
  background: linear-gradient(45deg, #720058 0%, #720058 50%, #6FD0C5 50%, #6FD0C5 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #720058 0%, #720058 50%, #F0EAD6 50%, #F0EAD6 100%);
  background: -moz-linear-gradient(45deg, #720058 0%, #720058 50%, #F0EAD6 50%, #F0EAD6 100%);
  background: -o-linear-gradient(45deg, #720058 0%, #720058 50%, #F0EAD6 50%, #F0EAD6 100%);
  background: linear-gradient(45deg, #720058 0%, #720058 50%, #F0EAD6 50%, #F0EAD6 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #720058 0%, #720058 50%, #DA8A67 50%, #DA8A67 100%);
  background: -moz-linear-gradient(45deg, #720058 0%, #720058 50%, #DA8A67 50%, #DA8A67 100%);
  background: -o-linear-gradient(45deg, #720058 0%, #720058 50%, #DA8A67 50%, #DA8A67 100%);
  background: linear-gradient(45deg, #720058 0%, #720058 50%, #DA8A67 50%, #DA8A67 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #720058 0%, #720058 50%, #CC4E5C 50%, #CC4E5C 100%);
  background: -moz-linear-gradient(45deg, #720058 0%, #720058 50%, #CC4E5C 50%, #CC4E5C 100%);
  background: -o-linear-gradient(45deg, #720058 0%, #720058 50%, #CC4E5C 50%, #CC4E5C 100%);
  background: linear-gradient(45deg, #720058 0%, #720058 50%, #CC4E5C 50%, #CC4E5C 100%);
}
.combo:hover #name_combo_4 p {
  color: #ffffff;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #720058 0%, #720058 50%, #B1F4E7 50%, #B1F4E7 100%);
  background: -moz-linear-gradient(45deg, #720058 0%, #720058 50%, #B1F4E7 50%, #B1F4E7 100%);
  background: -o-linear-gradient(45deg, #720058 0%, #720058 50%, #B1F4E7 50%, #B1F4E7 100%);
  background: linear-gradient(45deg, #720058 0%, #720058 50%, #B1F4E7 50%, #B1F4E7 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_4 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #720058;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #720058;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #720058;
}

#card_tone_10 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #720058;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #720058;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #720058;
}
