
:root {
    --col-header-border: #CEB98F;
}

#card_shade_1 {
  background: #1A1712;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #342E23;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #4D4535;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #675C47;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #817359;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #9B8B6A;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #B4A27C;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #CEB98F;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #DECFB0;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #EEE6D5;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #75726C;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #938B7C;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #B0A387;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #CEB98F;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #D2B57C;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #D6B169;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #DAAD55;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #DDA941;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #E1A52C;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #E5A016;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #D2B48C;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #D3B683;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #DEB887;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #C2B280;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #C3B091;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: linear-gradient(25deg, #CEB98F 0%, #CEB98F 50%, #C3909B 50%, #C3909B 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: linear-gradient(25deg, #CEB98F 0%, #CEB98F 50%, #51B73B 50%, #51B73B 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: linear-gradient(25deg, #CEB98F 0%, #CEB98F 50%, #314459 50%, #314459 100%);
}
.combo:hover #name_combo_3 p {
  color: #ffffff;
}

#card_shade_8 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #CEB98F;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #CEB98F;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #CEB98F;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #CEB98F;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #CEB98F;
}

#card_tone_4 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #CEB98F;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #CEB98F;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #CEB98F;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #CEB98F;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #CEB98F;
}
