
:root {
    --col-header-border: #EEFFE2;
}

#card_shade_1 {
  background: #171916;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #2f332d;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #474c44;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #5f665a;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #777f71;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #8f9988;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #a7b29e;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #beccb5;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #d6e5cc;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #EEFFE2;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #a4aaa0;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #EEFFE2;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #dfffc9;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #d1ffb0;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #c2ff97;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #b3ff7d;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #a5ff64;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #96ff4b;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #87ff32;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #78ff18;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #F0FCEA;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #E4FFD1;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #F9FFF6;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #FCFFF9;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #EDF5DD;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_shade_10 {
  outline: var(--outline-swatch);
  outline-color: #EEFFE2;
  outline-offset: var(--outline-swatch-offset);
}

#card_tone_2 {
  outline: var(--outline-swatch);
  outline-color: #EEFFE2;
  outline-offset: var(--outline-swatch-offset);
}
