
:root {
    --col-header-border: #F8F8FF;
}

#card_shade_1 {
  background: #181819;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #313133;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #4a4a4c;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #626266;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #7b7b7f;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #949499;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #adadb2;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #c5c5cc;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #dedee5;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #F8F8FF;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #a7a7aa;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #F8F8FF;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #dbdcff;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #c0c1ff;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #a4a6ff;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #898bff;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #6d70ff;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #5254ff;
}
.card:hover #name_tone_8 p {
  color: #ffffff;
}

#card_tone_9 {
  background: #3639ff;
}
.card:hover #name_tone_9 p {
  color: #ffffff;
}

#card_tone_10 {
  background: #1b1eff;
}
.card:hover #name_tone_10 p {
  color: #ffffff;
}

#card_simcol_1 {
  background: #FDFDFE;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #F8F7FC;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #F0EEFF;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #F4F8FF;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #F7F5FA;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_shade_10 {
  outline: var(--outline-swatch);
  outline-color: #F8F8FF;
  outline-offset: var(--outline-swatch-offset);
}

#card_tone_2 {
  outline: var(--outline-swatch);
  outline-color: #F8F8FF;
  outline-offset: var(--outline-swatch-offset);
}
