
:root {
    --col-header-border: #63F7B4;
}

#card_shade_1 {
  background: #0D2218;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #1C4632;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #2A694C;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #388D65;
}
.card:hover #name_shade_4 p {
  color: #000000;
}

#card_shade_5 {
  background: #46B07F;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #54D398;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #63F7B4;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #89F9C5;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #B0FBD8;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #D7FDEB;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #79847F;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #7D978B;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #7FAA96;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #7DBD9F;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #77D1A7;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #6EE4AD;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #63F7B4;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #4AF8A7;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #31F99C;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #19FA91;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #56FCA2;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #7EF4CC;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #7AF9AB;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #7EFBB3;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #76FDA8;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: linear-gradient(25deg, #63F7B4 0%, #63F7B4 50%, #779ECB 50%, #779ECB 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: linear-gradient(25deg, #63F7B4 0%, #63F7B4 50%, #56A5EC 50%, #56A5EC 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: linear-gradient(25deg, #63F7B4 0%, #63F7B4 50%, #A74AC7 50%, #A74AC7 100%);
}
.combo:hover #name_combo_3 p {
  color: #ffffff;
}

#card_shade_7 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #63F7B4;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #63F7B4;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #63F7B4;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #63F7B4;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #63F7B4;
}

#card_tone_7 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #63F7B4;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #63F7B4;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #63F7B4;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #63F7B4;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #63F7B4;
}
