
:root {
    --col-header-border: #76FDA8;
}

#card_shade_1 {
  background: #112418;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #224830;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #336c48;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #439060;
}
.card:hover #name_shade_4 p {
  color: #000000;
}

#card_shade_5 {
  background: #54b477;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #65d88f;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #76FDA8;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #98fcbd;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #bafdd2;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #dbfde8;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #7d8981;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #84a08e;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #86b798;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #85cea0;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #80e5a5;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #76FDA8;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #5ffc98;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #47fc89;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #2ffd7a;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #17fd6c;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #7EFBB3;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #7AF9AB;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #6AFB92;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #90FDA9;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #56FCA2;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_shade_7 {
  outline: var(--outline-swatch);
  outline-color: #76FDA8;
  outline-offset: var(--outline-swatch-offset);
}

#card_tone_6 {
  outline: var(--outline-swatch);
  outline-color: #76FDA8;
  outline-offset: var(--outline-swatch-offset);
}
