
:root {
    --col-header-border: #E5D7BD;
}

#card_shade_1 {
  background: #191715;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #332F2A;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #4C473F;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #665F54;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #7F7769;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #998F7E;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #B2A794;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #CCBFA9;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #E5D7BD;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #F2EBDD;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #898781;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #B7B0A2;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #E5D7BD;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #E7D1A7;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #E9CA90;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #EAC379;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #ECBC61;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #EEB449;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #F0AD31;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #F1A518;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #E5D8AF;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #E4D1C0;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #EAE0C8;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #DBD7D2;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #E8E0D5;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: linear-gradient(25deg, #E5D7BD 0%, #E5D7BD 50%, #F36196 50%, #F36196 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: linear-gradient(25deg, #E5D7BD 0%, #E5D7BD 50%, #B39EB5 50%, #B39EB5 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: linear-gradient(25deg, #E5D7BD 0%, #E5D7BD 50%, #C5C9C7 50%, #C5C9C7 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_shade_9 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E5D7BD;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E5D7BD;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E5D7BD;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E5D7BD;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E5D7BD;
}

#card_tone_3 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E5D7BD;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E5D7BD;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E5D7BD;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E5D7BD;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E5D7BD;
}
