
:root {
    --col-header-border: #5CB3FF;
}

#card_shade_1 {
  background: #0d1924;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #1a3348;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #274d6d;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #346791;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #4181b6;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #4e9bda;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #5CB3FF;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #84c7ff;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #addaff;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #d6ecff;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #7c8389;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #7f8f9c;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #7f9ab0;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #7ca3c4;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #74abd7;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #6ab1eb;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #5CB3FF;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #44abff;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #2da0ff;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #1696ff;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #45B1E8;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #56A5EC;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #79BAEC;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #38ACEC;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #8AB9F1;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_shade_7 {
  outline: var(--outline-swatch);
  outline-color: #5CB3FF;
  outline-offset: var(--outline-swatch-offset);
}

#card_tone_7 {
  outline: var(--outline-swatch);
  outline-color: #5CB3FF;
  outline-offset: var(--outline-swatch-offset);
}
