
:root {
    --col-header-border: #598556;
}

#card_shade_1 {
  background: #0e150e;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #1d2b1c;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #2c422a;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #3b5839;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #4a6e47;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #598556;
}
.card:hover #name_shade_6 p {
  color: #ffffff;
}

#card_shade_7 {
  background: #749d71;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #91b58f;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #b3ceb1;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #d7e6d6;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #444944;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #4c584b;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #526751;
}
.card:hover #name_tone_3 p {
  color: #ffffff;
}

#card_tone_4 {
  background: #577554;
}
.card:hover #name_tone_4 p {
  color: #ffffff;
}

#card_tone_5 {
  background: #598556;
}
.card:hover #name_tone_5 p {
  color: #ffffff;
}

#card_tone_6 {
  background: #528f4d;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #499b43;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #3da636;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #2fb126;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #1fbc14;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #61845F;
}
.circle:hover #name_simcol_1 p {
  color: #ffffff;
}

#card_simcol_2 {
  background: #53824B;
}
.circle:hover #name_simcol_2 p {
  color: #ffffff;
}

#card_simcol_3 {
  background: #617C58;
}
.circle:hover #name_simcol_3 p {
  color: #ffffff;
}

#card_simcol_4 {
  background: #4F9153;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #6F8E63;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_shade_6 {
  outline: var(--outline-swatch);
  outline-color: #598556;
  outline-offset: var(--outline-swatch-offset);
}

#card_tone_5 {
  outline: var(--outline-swatch);
  outline-color: #598556;
  outline-offset: var(--outline-swatch-offset);
}
