
:root {
    --col-header-border: #BDDA57;
}

#card_shade_1 {
  background: #1b1f0c;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #363e18;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #515d25;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #6c7c31;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #869b3e;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #a1b94a;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #BDDA57;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #cce27c;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #dceca5;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #edf5d0;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #73756b;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #80856f;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #8e966f;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #9aa76d;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #a6b769;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #b1c861;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #BDDA57;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #bcde42;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #bce32d;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #bbe817;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #ACDD4D;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #DCD747;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #BCE954;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #C9D179;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #C9DC87;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_shade_7 {
  outline: var(--outline-swatch);
  outline-color: #BDDA57;
  outline-offset: var(--outline-swatch-offset);
}

#card_tone_7 {
  outline: var(--outline-swatch);
  outline-color: #BDDA57;
  outline-offset: var(--outline-swatch-offset);
}
