
:root {
    --col-header-border: #9EB1CD;
}

#card_shade_1 {
  background: #131619;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #272c33;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #3a424c;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #4e5866;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #626e7f;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #758499;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #899ab2;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #9EB1CD;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #bbc9dd;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #dce3ee;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #6e7074;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #818891;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #909dae;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #9EB1CD;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #89a6cf;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #749cd3;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #5e91d7;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #4885db;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #3179df;
}
.card:hover #name_tone_9 p {
  color: #ffffff;
}

#card_tone_10 {
  background: #186de2;
}
.card:hover #name_tone_10 p {
  color: #ffffff;
}

#card_simcol_1 {
  background: #A9B2C3;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #9DBCD4;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #99BADD;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #ADBED1;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #9DACB7;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_shade_8 {
  outline: var(--outline-swatch);
  outline-color: #9EB1CD;
  outline-offset: var(--outline-swatch-offset);
}

#card_tone_4 {
  outline: var(--outline-swatch);
  outline-color: #9EB1CD;
  outline-offset: var(--outline-swatch-offset);
}
