
:root {
    --col-header-border: #F4C2C2;
}

#card_shade_1 {
  background: #1A1515;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #352B2B;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #514040;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #6C5656;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #876C6C;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #A28282;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #BE9898;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #D9AEAE;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #F4C2C2;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #F9E0E0;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #928989;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #C3A9A9;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #F4C2C2;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #F5ABAB;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #F69393;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #F77B7B;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #F76363;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #F84A4A;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #F93131;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #FA1919;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #EEC1BE;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #FBBBB9;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #E5CCC9;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #E9CECD;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #E3BEBE;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: linear-gradient(25deg, #F4C2C2 0%, #F4C2C2 50%, #66DDAA 50%, #66DDAA 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: linear-gradient(25deg, #F4C2C2 0%, #F4C2C2 50%, #D2B9D3 50%, #D2B9D3 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: linear-gradient(25deg, #F4C2C2 0%, #F4C2C2 50%, #A69279 50%, #A69279 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_shade_9 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F4C2C2;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F4C2C2;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F4C2C2;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F4C2C2;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F4C2C2;
}

#card_tone_3 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F4C2C2;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F4C2C2;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F4C2C2;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F4C2C2;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F4C2C2;
}
