
:root {
    --col-header-border: #F9FFF6;
}

#card_shade_1 {
  background: #181918;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #313330;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #4a4c49;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #636661;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #7c7f7a;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #949992;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #adb2ab;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #c6ccc3;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #dfe5dc;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #F9FFF6;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #a7aaa6;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #F9FFF6;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #e6ffd9;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #d3ffbe;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #c1ffa2;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #afff87;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #9dff6c;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #8bff51;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #78ff35;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #66ff1a;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #F0FCEA;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #FCFFF9;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #EEFFE2;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #E4FFD1;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #F0FFF0;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_shade_10 {
  outline: var(--outline-swatch);
  outline-color: #F9FFF6;
  outline-offset: var(--outline-swatch-offset);
}

#card_tone_2 {
  outline: var(--outline-swatch);
  outline-color: #F9FFF6;
  outline-offset: var(--outline-swatch-offset);
}
