
:root {
    --col-header-border: #FFAD01;
}

#card_shade_1 {
  background: #2a1c00;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #543900;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #7f5600;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #a97400;
}
.card:hover #name_shade_4 p {
  color: #000000;
}

#card_shade_5 {
  background: #d49100;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #FFAD01;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #ffbe32;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #ffce66;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #ffde99;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #ffeecc;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #858178;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #928975;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #a09170;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #ad9768;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #bb9d5d;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #c8a250;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #d6a640;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #e3aa2d;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #f1ac18;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #FFAD01;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #FEA904;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #FFAB0F;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #FBB117;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #FFBA00;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #FFA000;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_shade_6 {
  outline: var(--outline-swatch);
  outline-color: #FFAD01;
  outline-offset: var(--outline-swatch-offset);
}

#card_tone_10 {
  outline: var(--outline-swatch);
  outline-color: #FFAD01;
  outline-offset: var(--outline-swatch-offset);
}
