
:root {
    --col-header-border: #96AE8D;
}

#card_shade_1 {
  background: #151814;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #2a3128;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #404a3c;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #556350;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #6b7b64;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #809478;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #96AE8D;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #aec1a6;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #c7d6c2;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #e2eadf;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #636861;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #7e8a79;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #96AE8D;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #8db27e;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #84b86f;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #7abd60;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #6fc24f;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #64c83d;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #58cd29;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #4bd215;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #8BB381;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #8FB67B;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #82A67D;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #7BB274;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #7EA07A;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_shade_7 {
  outline: var(--outline-swatch);
  outline-color: #96AE8D;
  outline-offset: var(--outline-swatch-offset);
}

#card_tone_3 {
  outline: var(--outline-swatch);
  outline-color: #96AE8D;
  outline-offset: var(--outline-swatch-offset);
}
