
:root {
    --col-header-border: #00FBB0;
}

#card_shade_1 {
  background: #002a1d;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #00533a;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #007d57;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #00a674;
}
.card:hover #name_shade_4 p {
  color: #000000;
}

#card_shade_5 {
  background: #00d091;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #00FBB0;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #32fabe;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #64fbce;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #97fcde;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #cbfdee;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #75827e;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #738f87;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #6d9d8e;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #66aa95;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #5bb79c;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #4ec4a1;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #3fd2a5;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #2cdfa9;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #17ecac;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #00FBB0;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #01F9C6;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #05FFA6;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #00FFBF;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #00FF7F;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #0BF9EA;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_shade_6 {
  outline: var(--outline-swatch);
  outline-color: #00FBB0;
  outline-offset: var(--outline-swatch-offset);
}

#card_tone_10 {
  outline: var(--outline-swatch);
  outline-color: #00FBB0;
  outline-offset: var(--outline-swatch-offset);
}
