
#card_shade_1 {
  background: #2A2A07;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #545410;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #7F7F18;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #A9A920;
}
.card:hover #name_shade_4 p {
  color: #000000;
}

#card_shade_5 {
  background: #D4D428;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #FFFF31;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #FFFF59;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #FFFF83;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #FFFFAC;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #FFFFD5;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #86867A;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #95957A;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #A4A478;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #B3B373;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #C2C26B;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #D1D160;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #E0E053;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #EFEF43;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #FFFF31;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #FFFF18;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #F5FB3D;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #FAFE4B;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #FFF917;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #FFF44F;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #FFFF00;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: linear-gradient(25deg, #FFFF31 0%, #FFFF31 50%, #58BC08 50%, #58BC08 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: linear-gradient(25deg, #FFFF31 0%, #FFFF31 50%, #45B1E8 50%, #45B1E8 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: linear-gradient(25deg, #FFFF31 0%, #FFFF31 50%, #F535AA 50%, #F535AA 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_shade_6 {
  border-color: var(--col-accent2);
}

#card_tone_9 {
  border-color: var(--col-accent2);
}

:root {
  --shadow-swatch: 0 3px 6px rgba(0,0,0,.3);
}
