
:root {
    --col-header-border: #F8DB9D;
}

#card_shade_1 {
  background: #1F1B13;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #3E3627;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #5D523A;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #7B6D4E;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #9A8861;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #B9A374;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #D8BF88;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #F8DB9D;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #F9E6BC;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #FCF2DD;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #89857F;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #A49D8C;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #C0B295;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #DBC79A;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #F8DB9D;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #F8D282;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #F8CB68;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #F9C34E;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #FABB34;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #FBB31A;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #FAD6A5;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #FADFAD;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #FDE295;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #EED794;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #FFDEAD;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: linear-gradient(25deg, #F8DB9D 0%, #F8DB9D 50%, #B9C46A 50%, #B9C46A 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: linear-gradient(25deg, #F8DB9D 0%, #F8DB9D 50%, #5729CE 50%, #5729CE 100%);
}
.combo:hover #name_combo_2 p {
  color: #ffffff;
}

#card_combo_3 {
  background: linear-gradient(25deg, #F8DB9D 0%, #F8DB9D 50%, #AFDCEC 50%, #AFDCEC 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_shade_8 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F8DB9D;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F8DB9D;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F8DB9D;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F8DB9D;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F8DB9D;
}

#card_tone_5 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F8DB9D;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F8DB9D;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F8DB9D;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F8DB9D;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F8DB9D;
}
