
:root {
    --col-header-border: #50A747;
}

#card_shade_1 {
  background: #0d1c0c;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #1b3717;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #285323;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #356e2f;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #438a3b;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #50A747;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #6cb763;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #8bc984;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #aedba9;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #d4edd2;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #525951;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #566655;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #597256;
}
.card:hover #name_tone_3 p {
  color: #ffffff;
}

#card_tone_4 {
  background: #597f55;
}
.card:hover #name_tone_4 p {
  color: #ffffff;
}

#card_tone_5 {
  background: #588c53;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #55994e;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #50A747;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #45b239;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #37bf28;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #27cc15;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #63A950;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #5FA052;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #56AE57;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #6BA353;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #39AD48;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_shade_6 {
  outline: var(--outline-swatch);
  outline-color: #50A747;
  outline-offset: var(--outline-swatch-offset);
}

#card_tone_7 {
  outline: var(--outline-swatch);
  outline-color: #50A747;
  outline-offset: var(--outline-swatch-offset);
}
