
:root {
    --col-header-border: #E4CFDE;
}

#card_shade_1 {
  background: #181618;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #322d31;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #4b4449;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #645b62;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #7d727a;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #978993;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #b0a0ac;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #c9b7c4;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #E4CFDE;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #f0e6ee;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #979095;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #E4CFDE;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #e4b8d8;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #e6a2d4;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #e78ccf;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #e975ca;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #ea5fc5;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #ec47c0;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #ed30bb;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #ef18b5;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #FBCCE7;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #ECC7EE;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #FED0FC;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #EBDDE2;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #F6CEFC;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_shade_9 {
  outline: var(--outline-swatch);
  outline-color: #E4CFDE;
  outline-offset: var(--outline-swatch-offset);
}

#card_tone_2 {
  outline: var(--outline-swatch);
  outline-color: #E4CFDE;
  outline-offset: var(--outline-swatch-offset);
}
