
:root {
    --col-header-border: #91A3B0;
}

#card_shade_1 {
  background: #141618;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #282d31;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #3d454a;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #525c64;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #66747d;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #7b8b96;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #91A3B0;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #a9b8c3;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #c4cfd7;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #e1e7eb;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #636669;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #7b858c;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #91A3B0;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #82a0b5;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #729cba;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #6299c0;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #5195c5;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #3e90ca;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #2b8bd0;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #1685d5;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #9DACB7;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #86949F;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #A1ADB5;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #A2AAB3;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #87AFC7;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_shade_7 {
  outline: var(--outline-swatch);
  outline-color: #91A3B0;
  outline-offset: var(--outline-swatch-offset);
}

#card_tone_3 {
  outline: var(--outline-swatch);
  outline-color: #91A3B0;
  outline-offset: var(--outline-swatch-offset);
}
