
:root {
    --col-header-border: #9FFEB0;
}

#card_shade_1 {
  background: #141F16;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #283F2C;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #3C5F42;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #507F58;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #649F6E;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #78BF84;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #8CDF9A;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #9FFEB0;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #C0FFCA;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #DFFFE4;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #838D85;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #90AA95;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #9AC6A1;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #9FE2AA;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #9FFEB0;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #85FF9A;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #6BFF83;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #50FF6D;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #35FF57;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #1AFF40;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #A6FBB2;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #A7FFB5;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #90FDA9;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #8CFF9E;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #A0FEBF;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: linear-gradient(25deg, #9FFEB0 0%, #9FFEB0 50%, #9D5783 50%, #9D5783 100%);
}
.combo:hover #name_combo_1 p {
  color: #ffffff;
}

#card_combo_2 {
  background: linear-gradient(25deg, #9FFEB0 0%, #9FFEB0 50%, #C9B35B 50%, #C9B35B 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: linear-gradient(25deg, #9FFEB0 0%, #9FFEB0 50%, #632DE9 50%, #632DE9 100%);
}
.combo:hover #name_combo_3 p {
  color: #ffffff;
}

#card_shade_8 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #9FFEB0;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #9FFEB0;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #9FFEB0;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #9FFEB0;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #9FFEB0;
}

#card_tone_5 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #9FFEB0;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #9FFEB0;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #9FFEB0;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #9FFEB0;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #9FFEB0;
}
