
:root {
    --col-header-border: #FEA904;
}

#card_shade_1 {
  background: #2a1b00;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #543701;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #7f5302;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #a96f03;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #d48b04;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #FEA904;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #ffb937;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #ffca69;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #ffdc9b;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #ffedcd;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #858078;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #928876;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #a08f71;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #ad9669;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #bb9b5f;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #c89f52;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #d6a243;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #e3a531;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #f1a61c;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #FEA904;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #FFAB0F;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #FFAD01;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #FFA000;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #F2AB15;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #FBB117;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_shade_6 {
  outline: var(--outline-swatch);
  outline-color: #FEA904;
  outline-offset: var(--outline-swatch-offset);
}

#card_tone_10 {
  outline: var(--outline-swatch);
  outline-color: #FEA904;
  outline-offset: var(--outline-swatch-offset);
}
