
:root {
    --col-header-border: #6AFB92;
}

#card_shade_1 {
  background: #0e2314;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #1d4729;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #2c6b3d;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #3b8e52;
}
.card:hover #name_shade_4 p {
  color: #000000;
}

#card_shade_5 {
  background: #4ab266;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #59d67b;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #6AFB92;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #8dfbab;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #b3fcc6;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #d8fde2;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #7c877f;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #809a87;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #82ad8d;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #80c091;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #7cd393;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #74e692;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #6AFB92;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #4efa7c;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #34fb69;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #1afc56;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #76FDA8;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #7AF9AB;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #5EFB6E;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #7EFBB3;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #56FCA2;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_shade_7 {
  outline: var(--outline-swatch);
  outline-color: #6AFB92;
  outline-offset: var(--outline-swatch-offset);
}

#card_tone_7 {
  outline: var(--outline-swatch);
  outline-color: #6AFB92;
  outline-offset: var(--outline-swatch-offset);
}
