
:root {
    --col-header-border: #B1FF65;
}

#card_shade_1 {
  background: #19240e;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #32481d;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #4c6d2b;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #65913a;
}
.card:hover #name_shade_4 p {
  color: #000000;
}

#card_shade_5 {
  background: #7fb648;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #98da57;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #B1FF65;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #c5ff8c;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #d8ffb2;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #ebffd8;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #83897d;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #8f9c82;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #99b083;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #a2c481;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #a9d77b;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #aeeb72;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #B1FF65;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #a5ff4c;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #99ff32;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #8cff19;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #AEFF6E;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #AEFD6C;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #BEFD73;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #C4FE82;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #CBF85F;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_shade_7 {
  outline: var(--outline-swatch);
  outline-color: #B1FF65;
  outline-offset: var(--outline-swatch-offset);
}

#card_tone_7 {
  outline: var(--outline-swatch);
  outline-color: #B1FF65;
  outline-offset: var(--outline-swatch-offset);
}
