
:root {
    --col-header-border: #FEF4F8;
}

#card_shade_1 {
  background: #191818;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #333031;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #4c494a;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #666163;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #7f7a7c;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #999295;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #b2abae;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #ccc3c7;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #e5dce0;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #FEF4F8;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #aaa6a8;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #FEF4F8;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #ffd9e9;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #ffbed9;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #ffa2c9;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #ff87b9;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #ff6ca9;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #ff5199;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #ff3589;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #ff1a79;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #FFF0F5;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #F5EDEF;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #F9EAF3;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #F9E0ED;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #FFDDF4;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_shade_10 {
  outline: var(--outline-swatch);
  outline-color: #FEF4F8;
  outline-offset: var(--outline-swatch-offset);
}

#card_tone_2 {
  outline: var(--outline-swatch);
  outline-color: #FEF4F8;
  outline-offset: var(--outline-swatch-offset);
}
