
:root {
    --col-header-border: #F5BF03;
}

#card_shade_1 {
  background: #281f00;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #513e00;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #7a5e01;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #a37d01;
}
.card:hover #name_shade_4 p {
  color: #000000;
}

#card_shade_5 {
  background: #cc9c02;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #F5BF03;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #f6c933;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #f8d665;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #fae397;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #fcf1ca;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #7f7c73;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #8c8670;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #998f6c;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #a69764;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #b39f5a;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #c0a64e;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #cdac3f;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #dab22d;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #e7b719;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #F5BF03;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #FFBA00;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #FFBF00;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #FDB915;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #FFC512;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #FCC01E;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_shade_6 {
  outline: var(--outline-swatch);
  outline-color: #F5BF03;
  outline-offset: var(--outline-swatch-offset);
}

#card_tone_10 {
  outline: var(--outline-swatch);
  outline-color: #F5BF03;
  outline-offset: var(--outline-swatch-offset);
}
