
:root {
    --col-header-border: #43B3AE;
}

#card_shade_1 {
  background: #0a1d1c;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #153b39;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #205856;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #2b7673;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #37948f;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #43B3AE;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #60c1bc;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #82d1cd;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #a7e0dd;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #d1efee;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #575f5f;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #596d6c;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #5a7b79;
}
.card:hover #name_tone_3 p {
  color: #ffffff;
}

#card_tone_4 {
  background: #578986;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #539693;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #4ba4a0;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #43B3AE;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #34bdb6;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #25c8c0;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #13d3c9;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #42B395;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #56B4BE;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #43BFC7;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #20B2AA;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #29AB87;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_shade_6 {
  outline: var(--outline-swatch);
  outline-color: #43B3AE;
  outline-offset: var(--outline-swatch-offset);
}

#card_tone_7 {
  outline: var(--outline-swatch);
  outline-color: #43B3AE;
  outline-offset: var(--outline-swatch-offset);
}
