
:root {
    --col-header-border: #C3B091;
}

#card_shade_1 {
  background: #181511;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #302B23;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #484135;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #605747;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #796D59;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #91826B;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #A9987D;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #C3B091;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #D6C7B1;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #EAE2D6;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #6E6B67;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #8A8378;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #A69985;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #C3B091;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #C6AA7D;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #CAA66B;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #CFA157;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #D49C43;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #D8972D;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #DD9117;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #C9B29B;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #C2B280;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #D2B48C;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #C7AC7D;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #CEB98F;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: linear-gradient(25deg, #C3B091 0%, #C3B091 50%, #9D5783 50%, #9D5783 100%);
}
.combo:hover #name_combo_1 p {
  color: #ffffff;
}

#card_combo_2 {
  background: linear-gradient(25deg, #C3B091 0%, #C3B091 50%, #4E4562 50%, #4E4562 100%);
}
.combo:hover #name_combo_2 p {
  color: #ffffff;
}

#card_combo_3 {
  background: linear-gradient(25deg, #C3B091 0%, #C3B091 50%, #496679 50%, #496679 100%);
}
.combo:hover #name_combo_3 p {
  color: #ffffff;
}

#card_shade_8 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #C3B091;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #C3B091;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #C3B091;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #C3B091;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #C3B091;
}

#card_tone_4 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #C3B091;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #C3B091;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #C3B091;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #C3B091;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #C3B091;
}
