
:root {
    --col-header-border: #50EBEC;
}

#card_shade_1 {
  background: #0B2121;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #164343;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #226565;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #2E8787;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #39A9A9;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #45CBCB;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #50EBEC;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #7AF1F1;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #A5F6F6;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #D1FAFA;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #727E7E;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #759191;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #75A3A3;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #71B6B6;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #69C8C8;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #5EDADA;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #50EBEC;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #3DEFEF;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #29F2F2;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #14F4F4;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #2EE8BB;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #71D9E2;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #26F7FD;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #41FDFE;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #57FEFF;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: linear-gradient(25deg, #50EBEC 0%, #50EBEC 50%, #51B73B 50%, #51B73B 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: linear-gradient(25deg, #50EBEC 0%, #50EBEC 50%, #E4D00A 50%, #E4D00A 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: linear-gradient(25deg, #50EBEC 0%, #50EBEC 50%, #DA1D81 50%, #DA1D81 100%);
}
.combo:hover #name_combo_3 p {
  color: #ffffff;
}

#card_shade_7 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #50EBEC;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #50EBEC;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #50EBEC;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #50EBEC;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #50EBEC;
}

#card_tone_7 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #50EBEC;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #50EBEC;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #50EBEC;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #50EBEC;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #50EBEC;
}
