
:root {
    --col-header-border: #AF593E;
}

#card_shade_1 {
  background: #1d0e0a;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #3a1d14;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #572c1e;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #753a29;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #924933;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #AF593E;
}
.card:hover #name_shade_6 p {
  color: #ffffff;
}

#card_shade_7 {
  background: #bf735c;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #cf917e;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #dfb2a5;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #efd7d0;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #5e5856;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #6c5d58;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #795f58;
}
.card:hover #name_tone_3 p {
  color: #ffffff;
}

#card_tone_4 {
  background: #876055;
}
.card:hover #name_tone_4 p {
  color: #ffffff;
}

#card_tone_5 {
  background: #945f4f;
}
.card:hover #name_tone_5 p {
  color: #ffffff;
}

#card_tone_6 {
  background: #a25d47;
}
.card:hover #name_tone_6 p {
  color: #ffffff;
}

#card_tone_7 {
  background: #AF593E;
}
.card:hover #name_tone_7 p {
  color: #ffffff;
}

#card_tone_8 {
  background: #bb5131;
}
.card:hover #name_tone_8 p {
  color: #ffffff;
}

#card_tone_9 {
  background: #c64822;
}
.card:hover #name_tone_9 p {
  color: #ffffff;
}

#card_tone_10 {
  background: #d13e12;
}
.card:hover #name_tone_10 p {
  color: #ffffff;
}

#card_simcol_1 {
  background: #AF4D43;
}
.circle:hover #name_simcol_1 p {
  color: #ffffff;
}

#card_simcol_2 {
  background: #9E5B40;
}
.circle:hover #name_simcol_2 p {
  color: #ffffff;
}

#card_simcol_3 {
  background: #A2653E;
}
.circle:hover #name_simcol_3 p {
  color: #ffffff;
}

#card_simcol_4 {
  background: #C04737;
}
.circle:hover #name_simcol_4 p {
  color: #ffffff;
}

#card_simcol_5 {
  background: #B66A50;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_shade_6 {
  outline: var(--outline-swatch);
  outline-color: #AF593E;
  outline-offset: var(--outline-swatch-offset);
}

#card_tone_7 {
  outline: var(--outline-swatch);
  outline-color: #AF593E;
  outline-offset: var(--outline-swatch-offset);
}
