
#card_shade_1 {
  background: #1C1A16;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #38342C;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #554D42;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #716758;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #8D816E;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #AA9B84;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #C6B59A;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #E2CFB0;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #FFEAC8;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #FFF4E2;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #99948D;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #CCC0AE;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #FFEAC8;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #FFDFAD;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #FFD694;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #FFCC7B;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #FFC362;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #FFB949;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #FFB030;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #FFA617;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #FEEFCE;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #FFE4C4;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #FFEDBC;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #F7E7CE;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #FAEBD7;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: linear-gradient(25deg, #FFEAC8 0%, #FFEAC8 50%, #C5DBCA 50%, #C5DBCA 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: linear-gradient(25deg, #FFEAC8 0%, #FFEAC8 50%, #74C365 50%, #74C365 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: linear-gradient(25deg, #FFEAC8 0%, #FFEAC8 50%, #90E4C1 50%, #90E4C1 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_shade_9 {
  border-color: var(--col-accent2);
}

#card_tone_3 {
  border-color: var(--col-accent2);
}

:root {
  --shadow-swatch: 0 3px 6px rgba(0,0,0,.3);
}
