
:root {
    --col-header-border: #F5EDEF;
}

#card_shade_1 {
  background: #181717;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #302f2f;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #494747;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #615e5f;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #7a7677;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #928e8f;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #aba6a7;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #c3bdbf;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #dcd5d7;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #F5EDEF;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #a3a0a1;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #F5EDEF;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #f5d3dc;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #f5b9c9;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #f69fb6;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #f684a3;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #f76a8f;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #f74f7c;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #f83569;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #f81a55;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #FFF0F5;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #FEF4F8;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #F9E0ED;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #F9EAF3;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #EBDDE2;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_shade_10 {
  outline: var(--outline-swatch);
  outline-color: #F5EDEF;
  outline-offset: var(--outline-swatch-offset);
}

#card_tone_2 {
  outline: var(--outline-swatch);
  outline-color: #F5EDEF;
  outline-offset: var(--outline-swatch-offset);
}
