
:root {
    --col-header-border: #347235;
}

#card_shade_1 {
  background: #0a160a;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #152d15;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #1f4420;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #2a5b2b;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #347235;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #4c8a4d;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #67a168;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #87b987;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #abd0ab;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #d3e8d3;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #383e38;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #3b483c;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #3c533d;
}
.card:hover #name_tone_3 p {
  color: #ffffff;
}

#card_tone_4 {
  background: #3c5d3c;
}
.card:hover #name_tone_4 p {
  color: #ffffff;
}

#card_tone_5 {
  background: #39683a;
}
.card:hover #name_tone_5 p {
  color: #ffffff;
}

#card_tone_6 {
  background: #347235;
}
.card:hover #name_tone_6 p {
  color: #ffffff;
}

#card_tone_7 {
  background: #2f8231;
}
.card:hover #name_tone_7 p {
  color: #ffffff;
}

#card_tone_8 {
  background: #28912a;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #1da11f;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #10b012;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #2B5D34;
}
.circle:hover #name_simcol_1 p {
  color: #ffffff;
}

#card_simcol_2 {
  background: #355E3B;
}
.circle:hover #name_simcol_2 p {
  color: #ffffff;
}

#card_simcol_3 {
  background: #4F7942;
}
.circle:hover #name_simcol_3 p {
  color: #ffffff;
}

#card_simcol_4 {
  background: #53824B;
}
.circle:hover #name_simcol_4 p {
  color: #ffffff;
}

#card_simcol_5 {
  background: #4F9153;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_shade_5 {
  outline: var(--outline-swatch);
  outline-color: #347235;
  outline-offset: var(--outline-swatch-offset);
}

#card_tone_6 {
  outline: var(--outline-swatch);
  outline-color: #347235;
  outline-offset: var(--outline-swatch-offset);
}
