
:root {
    --col-header-border: #FAFAFA;
}

#card_shade_1 {
  background: #181818;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #313131;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #4a4a4a;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #636363;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #7c7c7c;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #959595;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #aeaeae;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #c7c7c7;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #e0e0e0;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #FAFAFA;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #FAFAFA;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #fae1e1;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #fac8c8;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #faafaf;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #fa9696;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #fb7d7d;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #fb6464;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #fb4b4b;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #fb3232;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #fc1919;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #FFFFFF;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #FFF6F5;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #F4F4F4;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #FCF8F7;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #FFF5F3;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_shade_10 {
  outline: var(--outline-swatch);
  outline-color: #FAFAFA;
  outline-offset: var(--outline-swatch-offset);
}

#card_tone_1 {
  outline: var(--outline-swatch);
  outline-color: #FAFAFA;
  outline-offset: var(--outline-swatch-offset);
}
