
:root {
    --col-header-border: #9EA587;
}

#card_shade_1 {
  background: #161713;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #2d2f26;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #43463a;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #5a5e4d;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #717661;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #888e74;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #9EA587;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #b6bca2;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #ced2bf;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #e6e9de;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #62635d;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #808474;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #9EA587;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #a0ab7b;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #a1b16d;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #a2b75e;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #a3bd4d;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #a3c33c;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #a3c829;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #a3ce15;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #9B9E8F;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #9CB071;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #A5A391;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #A4AF6E;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #9F9F9C;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_shade_7 {
  outline: var(--outline-swatch);
  outline-color: #9EA587;
  outline-offset: var(--outline-swatch-offset);
}

#card_tone_3 {
  outline: var(--outline-swatch);
  outline-color: #9EA587;
  outline-offset: var(--outline-swatch-offset);
}
