
:root {
    --col-header-border: #21FC0D;
}

#card_shade_1 {
  background: #052a02;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #0a5404;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #107e06;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #15a808;
}
.card:hover #name_shade_4 p {
  color: #000000;
}

#card_shade_5 {
  background: #1bd20a;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #21FC0D;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #4cfc3c;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #79fd6c;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #a5fd9d;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #d2fece;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #798578;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #789276;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #759f72;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #70ac6b;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #69ba61;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #5fc755;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #53d447;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #44e136;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #33ef22;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #21FC0D;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #2CFA1F;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #40FD14;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #00FF00;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #25FF29;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #3FFF00;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_shade_6 {
  outline: var(--outline-swatch);
  outline-color: #21FC0D;
  outline-offset: var(--outline-swatch-offset);
}

#card_tone_10 {
  outline: var(--outline-swatch);
  outline-color: #21FC0D;
  outline-offset: var(--outline-swatch-offset);
}
