
:root {
    --col-header-border: #FED33C;
}

#card_shade_1 {
  background: #241e08;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #483c11;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #6d5b1a;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #917922;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #b6982b;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #dab634;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #FED33C;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #ffdf6d;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #ffea9e;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #fff4ce;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #87847a;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #98927b;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #a99f79;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #baab73;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #cbb66a;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #dcc15e;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #edcb4f;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #FED33C;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #ffd028;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #ffcc14;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #FFCC33;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #ECD540;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #F0D52D;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #F4D054;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #F4D81C;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_shade_7 {
  outline: var(--outline-swatch);
  outline-color: #FED33C;
  outline-offset: var(--outline-swatch-offset);
}

#card_tone_8 {
  outline: var(--outline-swatch);
  outline-color: #FED33C;
  outline-offset: var(--outline-swatch-offset);
}
