
:root {
    --col-header-border: #FF007F;
}

#card_shade_1 {
  background: #2a0015;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #54002b;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #7f0041;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #a90057;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #d4006d;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #FF007F;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #ff329c;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #ff66b5;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #ff99cd;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #ffcce6;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #85787e;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #927584;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #a07089;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #ad688c;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #bb5d8e;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #c8508e;
}
.card:hover #name_tone_6 p {
  color: #ffffff;
}

#card_tone_7 {
  background: #d6408d;
}
.card:hover #name_tone_7 p {
  color: #ffffff;
}

#card_tone_8 {
  background: #e32d8b;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #f11888;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #FF007F;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #FE02A2;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #F400A1;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #FF004F;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #F5054F;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #FF003F;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_shade_6 {
  outline: var(--outline-swatch);
  outline-color: #FF007F;
  outline-offset: var(--outline-swatch-offset);
}

#card_tone_10 {
  outline: var(--outline-swatch);
  outline-color: #FF007F;
  outline-offset: var(--outline-swatch-offset);
}
