
:root {
    --col-header-border: #8BB381;
}

#card_shade_1 {
  background: #131912;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #273324;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #3B4C37;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #4F6649;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #627F5B;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #76996E;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #8BB381;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #A4C59C;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #C0D8BA;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #DEEBDB;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #60665E;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #717F6D;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #7F9978;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #8BB381;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #7FB871;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #74BE61;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #67C450;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #5AC93E;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #4BCF2A;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #3CD515;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #7BB274;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #96AE8D;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #8FB67B;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #82A67D;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #76A973;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: linear-gradient(25deg, #8BB381 0%, #8BB381 50%, #7FFFD4 50%, #7FFFD4 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: linear-gradient(25deg, #8BB381 0%, #8BB381 50%, #805B87 50%, #805B87 100%);
}
.combo:hover #name_combo_2 p {
  color: #ffffff;
}

#card_combo_3 {
  background: linear-gradient(25deg, #8BB381 0%, #8BB381 50%, #E1E6D6 50%, #E1E6D6 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_shade_7 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #8BB381;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #8BB381;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #8BB381;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #8BB381;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #8BB381;
}

#card_tone_4 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #8BB381;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #8BB381;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #8BB381;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #8BB381;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #8BB381;
}
