
:root {
    --col-header-border: #FFFBF9;
}

#card_shade_1 {
  background: #191918;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #333231;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #4c4b4a;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #666463;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #7f7d7c;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #999695;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #b2b0ae;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #ccc9c7;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #e5e2e0;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #FFFBF9;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #aaa8a8;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #FFFBF9;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #ffe9de;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #ffd6c2;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #ffc4a6;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #ffb18a;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #ff9e6e;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #ff8c53;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #ff7937;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #ff671b;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #FCF8F7;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #FFFEFD;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #FAF3F0;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #FFF5F3;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #FFF6F5;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_shade_10 {
  outline: var(--outline-swatch);
  outline-color: #FFFBF9;
  outline-offset: var(--outline-swatch-offset);
}

#card_tone_2 {
  outline: var(--outline-swatch);
  outline-color: #FFFBF9;
  outline-offset: var(--outline-swatch-offset);
}
