
:root {
    --col-header-border: #AC86A8;
}

#card_shade_1 {
  background: #171217;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #30252f;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #483847;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #614b5f;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #795f77;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #92728f;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #AC86A8;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #bfa0bd;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #d4bdd2;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #e9dce8;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #665e65;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #887487;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #AC86A8;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #b078ab;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #b66aaf;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #bb5bb3;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #c14ab7;
}
.card:hover #name_tone_7 p {
  color: #ffffff;
}

#card_tone_8 {
  background: #c639bb;
}
.card:hover #name_tone_8 p {
  color: #ffffff;
}

#card_tone_9 {
  background: #cc27be;
}
.card:hover #name_tone_9 p {
  color: #ffffff;
}

#card_tone_10 {
  background: #d213c2;
}
.card:hover #name_tone_10 p {
  color: #ffffff;
}

#card_simcol_1 {
  background: #B784A7;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #AA98A9;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #AE809E;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #928590;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #C38EC7;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_shade_7 {
  outline: var(--outline-swatch);
  outline-color: #AC86A8;
  outline-offset: var(--outline-swatch-offset);
}

#card_tone_3 {
  outline: var(--outline-swatch);
  outline-color: #AC86A8;
  outline-offset: var(--outline-swatch-offset);
}
