
:root {
    --col-header-border: #C1BECD;
}

#card_shade_1 {
  background: #151416;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #2a292d;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #3f3f43;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #55545a;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #6a6971;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #807e87;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #95939e;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #aaa8b5;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #C1BECD;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #dedde5;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #848387;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #C1BECD;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #b1abcf;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #a298d2;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #9384d5;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #8370d8;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #725bdb;
}
.card:hover #name_tone_7 p {
  color: #ffffff;
}

#card_tone_8 {
  background: #6145de;
}
.card:hover #name_tone_8 p {
  color: #ffffff;
}

#card_tone_9 {
  background: #4f2fe1;
}
.card:hover #name_tone_9 p {
  color: #ffffff;
}

#card_tone_10 {
  background: #3d18e4;
}
.card:hover #name_tone_10 p {
  color: #ffffff;
}

#card_simcol_1 {
  background: #BDBBD7;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #BFBED8;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #BDBDC6;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #C7C9D5;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #C7C1FF;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_shade_9 {
  outline: var(--outline-swatch);
  outline-color: #C1BECD;
  outline-offset: var(--outline-swatch-offset);
}

#card_tone_2 {
  outline: var(--outline-swatch);
  outline-color: #C1BECD;
  outline-offset: var(--outline-swatch-offset);
}
