
:root {
    --col-header-border: #D6CADD;
}

#card_shade_1 {
  background: #171517;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #2f2c30;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #464249;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #5e5962;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #766f7a;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #8e8693;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #a69cac;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #beb3c5;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #D6CADD;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #eae3ee;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #918d93;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #D6CADD;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #cfb5df;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #c89fe1;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #c18ae3;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #ba74e6;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #b35de8;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #ab47ea;
}
.card:hover #name_tone_8 p {
  color: #ffffff;
}

#card_tone_9 {
  background: #a32fec;
}
.card:hover #name_tone_9 p {
  color: #ffffff;
}

#card_tone_10 {
  background: #9c18ee;
}
.card:hover #name_tone_10 p {
  color: #ffffff;
}

#card_simcol_1 {
  background: #E4CBFF;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #DFC5FE;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #EDC8FF;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #ECC7EE;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #EECFFE;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_shade_9 {
  outline: var(--outline-swatch);
  outline-color: #D6CADD;
  outline-offset: var(--outline-swatch-offset);
}

#card_tone_2 {
  outline: var(--outline-swatch);
  outline-color: #D6CADD;
  outline-offset: var(--outline-swatch-offset);
}
