
:root {
    --col-header-border: #B39EB5;
}

#card_shade_1 {
  background: #151316;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #2c272c;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #423a43;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #594e5a;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #6f6270;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #857687;
}
.card:hover #name_shade_6 p {
  color: #ffffff;
}

#card_shade_7 {
  background: #9c899e;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #B39EB5;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #cbbbcd;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #e5dce6;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #6c676c;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #8f8490;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #B39EB5;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #b58db9;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #b87cbe;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #ba6ac3;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #bd56c8;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #bf42cd;
}
.card:hover #name_tone_8 p {
  color: #ffffff;
}

#card_tone_9 {
  background: #c12dd2;
}
.card:hover #name_tone_9 p {
  color: #ffffff;
}

#card_tone_10 {
  background: #c317d6;
}
.card:hover #name_tone_10 p {
  color: #ffffff;
}

#card_simcol_1 {
  background: #AA98A9;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #BEA6C3;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #C8A2C8;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #C38EC7;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #CB99C9;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_shade_8 {
  outline: var(--outline-swatch);
  outline-color: #B39EB5;
  outline-offset: var(--outline-swatch-offset);
}

#card_tone_3 {
  outline: var(--outline-swatch);
  outline-color: #B39EB5;
  outline-offset: var(--outline-swatch-offset);
}
