
:root {
    --col-header-border: #FFFFE4;
}

#card_shade_1 {
  background: #191916;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #33332d;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #4c4c44;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #66665a;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #7f7f71;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #999988;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #b2b29e;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #ccccb5;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #e5e5cc;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #FFFFE4;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #aaaaa0;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #FFFFE4;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #ffffc9;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #ffffb0;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #ffff97;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #ffff7d;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #ffff64;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #ffff4b;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #ffff32;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #ffff18;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #FCFEDA;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #FFFEEC;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #FFFFD4;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #FCFFE7;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #FAFDE4;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_shade_10 {
  outline: var(--outline-swatch);
  outline-color: #FFFFE4;
  outline-offset: var(--outline-swatch-offset);
}

#card_tone_2 {
  outline: var(--outline-swatch);
  outline-color: #FFFFE4;
  outline-offset: var(--outline-swatch-offset);
}
