
:root {
    --col-header-border: #8AFB17;
}

#card_shade_1 {
  background: #172a03;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #2e5307;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #467d0b;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #5da60f;
}
.card:hover #name_shade_4 p {
  color: #000000;
}

#card_shade_5 {
  background: #74d012;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #8AFB17;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #a2fa44;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #b9fb72;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #d0fca0;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #e7fdcf;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #7c8276;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #838f75;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #889d72;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #8caa6c;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #8fb764;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #90c459;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #91d24c;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #90df3c;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #8eec2a;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #8AFB17;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #87F717;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #8FFE09;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #7FFF00;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #65FE08;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #5FFB17;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_shade_6 {
  outline: var(--outline-swatch);
  outline-color: #8AFB17;
  outline-offset: var(--outline-swatch-offset);
}

#card_tone_10 {
  outline: var(--outline-swatch);
  outline-color: #8AFB17;
  outline-offset: var(--outline-swatch-offset);
}
