
:root {
    --col-header-border: #E4FFD1;
}

#card_shade_1 {
  background: #191c17;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #32382e;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #4c5545;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #65715d;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #7e8d74;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #98aa8b;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #b1c6a2;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #cae2b9;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #E4FFD1;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #f1ffe8;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #93998f;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #bdccb3;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #E4FFD1;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #d5ffb7;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #c5ff9d;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #b6ff83;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #a7ff69;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #98ff4f;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #89ff35;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #7aff1b;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #EEFFE2;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #F0FCEA;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #D1FFBD;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #CFFDBC;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #F9FFF6;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_shade_9 {
  outline: var(--outline-swatch);
  outline-color: #E4FFD1;
  outline-offset: var(--outline-swatch-offset);
}

#card_tone_3 {
  outline: var(--outline-swatch);
  outline-color: #E4FFD1;
  outline-offset: var(--outline-swatch-offset);
}
