
:root {
    --col-header-border: #FF004F;
}

#card_shade_1 {
  background: #2a000e;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #54001c;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #7f002a;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #a90038;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #d40046;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #FF004F;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #ff3277;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #ff6699;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #ff99bb;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #ffccdd;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #85787c;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #92757f;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #a07080;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #ad687f;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #bb5d7c;
}
.card:hover #name_tone_5 p {
  color: #ffffff;
}

#card_tone_6 {
  background: #c85078;
}
.card:hover #name_tone_6 p {
  color: #ffffff;
}

#card_tone_7 {
  background: #d64072;
}
.card:hover #name_tone_7 p {
  color: #ffffff;
}

#card_tone_8 {
  background: #e32d6a;
}
.card:hover #name_tone_8 p {
  color: #ffffff;
}

#card_tone_9 {
  background: #f11860;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #FF004F;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #FF003F;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #F5054F;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #FF073A;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #FF0028;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #FD0E35;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_shade_6 {
  outline: var(--outline-swatch);
  outline-color: #FF004F;
  outline-offset: var(--outline-swatch-offset);
}

#card_tone_10 {
  outline: var(--outline-swatch);
  outline-color: #FF004F;
  outline-offset: var(--outline-swatch-offset);
}
