
:root {
    --col-header-border: #EBDDE2;
}

#card_shade_1 {
  background: #171616;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #2e2c2d;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #464243;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #5d585a;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #756e70;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #8c8487;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #a49a9d;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #bbb0b4;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #d3c6cb;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #EBDDE2;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #9c9799;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #EBDDE2;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #ebc5d3;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #edadc4;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #ee95b6;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #ef7da7;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #f06598;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #f24c89;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #f33379;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #f41a6a;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #F3D9DF;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #FDD7E4;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #F9E0ED;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #FADADD;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #FFD8D9;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_shade_10 {
  outline: var(--outline-swatch);
  outline-color: #EBDDE2;
  outline-offset: var(--outline-swatch-offset);
}

#card_tone_2 {
  outline: var(--outline-swatch);
  outline-color: #EBDDE2;
  outline-offset: var(--outline-swatch-offset);
}
