
:root {
    --col-header-border: #7FFF00;
}

#card_shade_1 {
  background: #152A00;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #2A5400;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #3F7F00;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #54A900;
}
.card:hover #name_shade_4 p {
  color: #000000;
}

#card_shade_5 {
  background: #6AD400;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #7FFF00;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #99FF32;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #B2FF66;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #CCFF99;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #E5FFCC;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #7E8578;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #849275;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #88A070;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #8BAD68;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #8CBB5D;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #8CC850;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #8BD640;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #88E32D;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #84F118;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #7FFF00;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #8FFE09;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #65FE08;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #9DFF00;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #ADF802;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #BBF90F;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #7FFF00 0%, #7FFF00 50%, #0BDA51 50%, #0BDA51 100%);
  background: -moz-linear-gradient(45deg, #7FFF00 0%, #7FFF00 50%, #0BDA51 50%, #0BDA51 100%);
  background: -o-linear-gradient(45deg, #7FFF00 0%, #7FFF00 50%, #0BDA51 50%, #0BDA51 100%);
  background: linear-gradient(45deg, #7FFF00 0%, #7FFF00 50%, #0BDA51 50%, #0BDA51 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #7FFF00 0%, #7FFF00 50%, #00BFFF 50%, #00BFFF 100%);
  background: -moz-linear-gradient(45deg, #7FFF00 0%, #7FFF00 50%, #00BFFF 50%, #00BFFF 100%);
  background: -o-linear-gradient(45deg, #7FFF00 0%, #7FFF00 50%, #00BFFF 50%, #00BFFF 100%);
  background: linear-gradient(45deg, #7FFF00 0%, #7FFF00 50%, #00BFFF 50%, #00BFFF 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #7FFF00 0%, #7FFF00 50%, #13BBAF 50%, #13BBAF 100%);
  background: -moz-linear-gradient(45deg, #7FFF00 0%, #7FFF00 50%, #13BBAF 50%, #13BBAF 100%);
  background: -o-linear-gradient(45deg, #7FFF00 0%, #7FFF00 50%, #13BBAF 50%, #13BBAF 100%);
  background: linear-gradient(45deg, #7FFF00 0%, #7FFF00 50%, #13BBAF 50%, #13BBAF 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #7FFF00 0%, #7FFF00 50%, #652DC1 50%, #652DC1 100%);
  background: -moz-linear-gradient(45deg, #7FFF00 0%, #7FFF00 50%, #652DC1 50%, #652DC1 100%);
  background: -o-linear-gradient(45deg, #7FFF00 0%, #7FFF00 50%, #652DC1 50%, #652DC1 100%);
  background: linear-gradient(45deg, #7FFF00 0%, #7FFF00 50%, #652DC1 50%, #652DC1 100%);
}
.combo:hover #name_combo_4 p {
  color: #ffffff;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #7FFF00 0%, #7FFF00 50%, #2BAF6A 50%, #2BAF6A 100%);
  background: -moz-linear-gradient(45deg, #7FFF00 0%, #7FFF00 50%, #2BAF6A 50%, #2BAF6A 100%);
  background: -o-linear-gradient(45deg, #7FFF00 0%, #7FFF00 50%, #2BAF6A 50%, #2BAF6A 100%);
  background: linear-gradient(45deg, #7FFF00 0%, #7FFF00 50%, #2BAF6A 50%, #2BAF6A 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_6 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #7FFF00;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #7FFF00;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #7FFF00;
}

#card_tone_10 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #7FFF00;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #7FFF00;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #7FFF00;
}
