
:root {
    --col-header-border: #C38EC7;
}

#card_shade_1 {
  background: #171117;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #2F2230;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #483449;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #604662;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #78577B;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #916994;
}
.card:hover #name_shade_6 p {
  color: #ffffff;
}

#card_shade_7 {
  background: #A97BAD;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #C38EC7;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #D6AFD9;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #EAD5EC;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #716971;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #8C798E;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #A785AA;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #C38EC7;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #C47BCB;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #C769CF;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #C956D3;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #CB42D8;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #CD2DDC;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #D017E0;
}
.card:hover #name_tone_10 p {
  color: #ffffff;
}

#card_simcol_1 {
  background: #CB99C9;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #DD85D7;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #C8A2C8;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #B39EB5;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #AC86A8;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #C38EC7 0%, #C38EC7 50%, #E9D66B 50%, #E9D66B 100%);
  background: -moz-linear-gradient(45deg, #C38EC7 0%, #C38EC7 50%, #E9D66B 50%, #E9D66B 100%);
  background: -o-linear-gradient(45deg, #C38EC7 0%, #C38EC7 50%, #E9D66B 50%, #E9D66B 100%);
  background: linear-gradient(45deg, #C38EC7 0%, #C38EC7 50%, #E9D66B 50%, #E9D66B 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #C38EC7 0%, #C38EC7 50%, #3C1F76 50%, #3C1F76 100%);
  background: -moz-linear-gradient(45deg, #C38EC7 0%, #C38EC7 50%, #3C1F76 50%, #3C1F76 100%);
  background: -o-linear-gradient(45deg, #C38EC7 0%, #C38EC7 50%, #3C1F76 50%, #3C1F76 100%);
  background: linear-gradient(45deg, #C38EC7 0%, #C38EC7 50%, #3C1F76 50%, #3C1F76 100%);
}
.combo:hover #name_combo_2 p {
  color: #ffffff;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #C38EC7 0%, #C38EC7 50%, #DCEDB4 50%, #DCEDB4 100%);
  background: -moz-linear-gradient(45deg, #C38EC7 0%, #C38EC7 50%, #DCEDB4 50%, #DCEDB4 100%);
  background: -o-linear-gradient(45deg, #C38EC7 0%, #C38EC7 50%, #DCEDB4 50%, #DCEDB4 100%);
  background: linear-gradient(45deg, #C38EC7 0%, #C38EC7 50%, #DCEDB4 50%, #DCEDB4 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #C38EC7 0%, #C38EC7 50%, #2E3F62 50%, #2E3F62 100%);
  background: -moz-linear-gradient(45deg, #C38EC7 0%, #C38EC7 50%, #2E3F62 50%, #2E3F62 100%);
  background: -o-linear-gradient(45deg, #C38EC7 0%, #C38EC7 50%, #2E3F62 50%, #2E3F62 100%);
  background: linear-gradient(45deg, #C38EC7 0%, #C38EC7 50%, #2E3F62 50%, #2E3F62 100%);
}
.combo:hover #name_combo_4 p {
  color: #ffffff;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #C38EC7 0%, #C38EC7 50%, #B1E2C1 50%, #B1E2C1 100%);
  background: -moz-linear-gradient(45deg, #C38EC7 0%, #C38EC7 50%, #B1E2C1 50%, #B1E2C1 100%);
  background: -o-linear-gradient(45deg, #C38EC7 0%, #C38EC7 50%, #B1E2C1 50%, #B1E2C1 100%);
  background: linear-gradient(45deg, #C38EC7 0%, #C38EC7 50%, #B1E2C1 50%, #B1E2C1 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_8 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #C38EC7;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #C38EC7;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #C38EC7;
}

#card_tone_4 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #C38EC7;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #C38EC7;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #C38EC7;
}
