
:root {
    --col-header-border: #6E750E;
}

#card_shade_1 {
  background: #1B1D03;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #373A07;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #52570A;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #6E750E;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #828821;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #969C3A;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #AAB057;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #BEC37A;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #D3D7A1;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #E9EBCD;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #3D3E38;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #444537;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #4A4B35;
}
.card:hover #name_tone_3 p {
  color: #ffffff;
}

#card_tone_4 {
  background: #505232;
}
.card:hover #name_tone_4 p {
  color: #ffffff;
}

#card_tone_5 {
  background: #56592D;
}
.card:hover #name_tone_5 p {
  color: #ffffff;
}

#card_tone_6 {
  background: #5C6028;
}
.card:hover #name_tone_6 p {
  color: #ffffff;
}

#card_tone_7 {
  background: #626720;
}
.card:hover #name_tone_7 p {
  color: #ffffff;
}

#card_tone_8 {
  background: #686E18;
}
.card:hover #name_tone_8 p {
  color: #ffffff;
}

#card_tone_9 {
  background: #6E750E;
}
.card:hover #name_tone_9 p {
  color: #ffffff;
}

#card_tone_10 {
  background: #98A309;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #6C7A0E;
}
.circle:hover #name_simcol_1 p {
  color: #ffffff;
}

#card_simcol_2 {
  background: #6A6E09;
}
.circle:hover #name_simcol_2 p {
  color: #ffffff;
}

#card_simcol_3 {
  background: #716E10;
}
.circle:hover #name_simcol_3 p {
  color: #ffffff;
}

#card_simcol_4 {
  background: #6F6C0A;
}
.circle:hover #name_simcol_4 p {
  color: #ffffff;
}

#card_simcol_5 {
  background: #74640D;
}
.circle:hover #name_simcol_5 p {
  color: #ffffff;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #6E750E 0%, #6E750E 50%, #FC89AC 50%, #FC89AC 100%);
  background: -moz-linear-gradient(45deg, #6E750E 0%, #6E750E 50%, #FC89AC 50%, #FC89AC 100%);
  background: -ms-linear-gradient(45deg, #6E750E 0%, #6E750E 50%, #FC89AC 50%, #FC89AC 100%);
  background: -o-linear-gradient(45deg, #6E750E 0%, #6E750E 50%, #FC89AC 50%, #FC89AC 100%);
  background: linear-gradient(45deg, #6E750E 0%, #6E750E 50%, #FC89AC 50%, #FC89AC 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #6E750E 0%, #6E750E 50%, #B5EAAA 50%, #B5EAAA 100%);
  background: -moz-linear-gradient(45deg, #6E750E 0%, #6E750E 50%, #B5EAAA 50%, #B5EAAA 100%);
  background: -ms-linear-gradient(45deg, #6E750E 0%, #6E750E 50%, #B5EAAA 50%, #B5EAAA 100%);
  background: -o-linear-gradient(45deg, #6E750E 0%, #6E750E 50%, #B5EAAA 50%, #B5EAAA 100%);
  background: linear-gradient(45deg, #6E750E 0%, #6E750E 50%, #B5EAAA 50%, #B5EAAA 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #6E750E 0%, #6E750E 50%, #96F97B 50%, #96F97B 100%);
  background: -moz-linear-gradient(45deg, #6E750E 0%, #6E750E 50%, #96F97B 50%, #96F97B 100%);
  background: -ms-linear-gradient(45deg, #6E750E 0%, #6E750E 50%, #96F97B 50%, #96F97B 100%);
  background: -o-linear-gradient(45deg, #6E750E 0%, #6E750E 50%, #96F97B 50%, #96F97B 100%);
  background: linear-gradient(45deg, #6E750E 0%, #6E750E 50%, #96F97B 50%, #96F97B 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #6E750E 0%, #6E750E 50%, #E38AAE 50%, #E38AAE 100%);
  background: -moz-linear-gradient(45deg, #6E750E 0%, #6E750E 50%, #E38AAE 50%, #E38AAE 100%);
  background: -ms-linear-gradient(45deg, #6E750E 0%, #6E750E 50%, #E38AAE 50%, #E38AAE 100%);
  background: -o-linear-gradient(45deg, #6E750E 0%, #6E750E 50%, #E38AAE 50%, #E38AAE 100%);
  background: linear-gradient(45deg, #6E750E 0%, #6E750E 50%, #E38AAE 50%, #E38AAE 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #6E750E 0%, #6E750E 50%, #A0FEBF 50%, #A0FEBF 100%);
  background: -moz-linear-gradient(45deg, #6E750E 0%, #6E750E 50%, #A0FEBF 50%, #A0FEBF 100%);
  background: -ms-linear-gradient(45deg, #6E750E 0%, #6E750E 50%, #A0FEBF 50%, #A0FEBF 100%);
  background: -o-linear-gradient(45deg, #6E750E 0%, #6E750E 50%, #A0FEBF 50%, #A0FEBF 100%);
  background: linear-gradient(45deg, #6E750E 0%, #6E750E 50%, #A0FEBF 50%, #A0FEBF 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_4 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #6E750E;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #6E750E;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #6E750E;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #6E750E;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #6E750E;
}

#card_tone_9 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #6E750E;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #6E750E;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #6E750E;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #6E750E;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #6E750E;
}
