
:root {
    --col-header-border: #4E3B41;
}

#card_shade_1 {
  background: #130E10;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #271D20;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #3B2C31;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #4E3B41;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #685259;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #816B72;
}
.card:hover #name_shade_6 p {
  color: #ffffff;
}

#card_shade_7 {
  background: #9A858C;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #B4A1A7;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #CDBEC3;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #E6DEE0;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #2D2A2B;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #383134;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #43373B;
}
.card:hover #name_tone_3 p {
  color: #ffffff;
}

#card_tone_4 {
  background: #4E3B41;
}
.card:hover #name_tone_4 p {
  color: #ffffff;
}

#card_tone_5 {
  background: #5C3C47;
}
.card:hover #name_tone_5 p {
  color: #ffffff;
}

#card_tone_6 {
  background: #6A3949;
}
.card:hover #name_tone_6 p {
  color: #ffffff;
}

#card_tone_7 {
  background: #77334A;
}
.card:hover #name_tone_7 p {
  color: #ffffff;
}

#card_tone_8 {
  background: #852B49;
}
.card:hover #name_tone_8 p {
  color: #ffffff;
}

#card_tone_9 {
  background: #921F45;
}
.card:hover #name_tone_9 p {
  color: #ffffff;
}

#card_tone_10 {
  background: #A01040;
}
.card:hover #name_tone_10 p {
  color: #ffffff;
}

#card_simcol_1 {
  background: #66424D;
}
.circle:hover #name_simcol_1 p {
  color: #ffffff;
}

#card_simcol_2 {
  background: #413839;
}
.circle:hover #name_simcol_2 p {
  color: #ffffff;
}

#card_simcol_3 {
  background: #614051;
}
.circle:hover #name_simcol_3 p {
  color: #ffffff;
}

#card_simcol_4 {
  background: #463E3F;
}
.circle:hover #name_simcol_4 p {
  color: #ffffff;
}

#card_simcol_5 {
  background: #534B4F;
}
.circle:hover #name_simcol_5 p {
  color: #ffffff;
}

#card_combo_1 {
  background: linear-gradient(45deg, #4E3B41 0%, #4E3B41 50%, #BB8983 50%, #BB8983 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: linear-gradient(45deg, #4E3B41 0%, #4E3B41 50%, #DCEDB4 50%, #DCEDB4 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: linear-gradient(45deg, #4E3B41 0%, #4E3B41 50%, #CB99C9 50%, #CB99C9 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: linear-gradient(45deg, #4E3B41 0%, #4E3B41 50%, #E5D8AF 50%, #E5D8AF 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: linear-gradient(45deg, #4E3B41 0%, #4E3B41 50%, #B6BAA4 50%, #B6BAA4 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_4 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #4E3B41;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #4E3B41;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #4E3B41;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #4E3B41;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #4E3B41;
}

#card_tone_4 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #4E3B41;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #4E3B41;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #4E3B41;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #4E3B41;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #4E3B41;
}
