
:root {
    --col-header-border: #819885;
}

#card_shade_1 {
  background: #121512;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #242B25;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #374139;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #4A574C;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #5C6D5F;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #6F8372;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #819885;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #9EB2A1;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #BCCCBF;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #DDE5DE;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #575B57;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #6E7A70;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #819885;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #769F7D;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #6AA674;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #5CAD69;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #4CB45E;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #3BBB51;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #29C243;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #15C933;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #779E86;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #658D6D;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #7EA07A;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #7DA98D;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #789B73;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #819885 0%, #819885 50%, #EEF0C8 50%, #EEF0C8 100%);
  background: -moz-linear-gradient(45deg, #819885 0%, #819885 50%, #EEF0C8 50%, #EEF0C8 100%);
  background: -ms-linear-gradient(45deg, #819885 0%, #819885 50%, #EEF0C8 50%, #EEF0C8 100%);
  background: -o-linear-gradient(45deg, #819885 0%, #819885 50%, #EEF0C8 50%, #EEF0C8 100%);
  background: linear-gradient(45deg, #819885 0%, #819885 50%, #EEF0C8 50%, #EEF0C8 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #819885 0%, #819885 50%, #E8F1D4 50%, #E8F1D4 100%);
  background: -moz-linear-gradient(45deg, #819885 0%, #819885 50%, #E8F1D4 50%, #E8F1D4 100%);
  background: -ms-linear-gradient(45deg, #819885 0%, #819885 50%, #E8F1D4 50%, #E8F1D4 100%);
  background: -o-linear-gradient(45deg, #819885 0%, #819885 50%, #E8F1D4 50%, #E8F1D4 100%);
  background: linear-gradient(45deg, #819885 0%, #819885 50%, #E8F1D4 50%, #E8F1D4 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #819885 0%, #819885 50%, #DDADAF 50%, #DDADAF 100%);
  background: -moz-linear-gradient(45deg, #819885 0%, #819885 50%, #DDADAF 50%, #DDADAF 100%);
  background: -ms-linear-gradient(45deg, #819885 0%, #819885 50%, #DDADAF 50%, #DDADAF 100%);
  background: -o-linear-gradient(45deg, #819885 0%, #819885 50%, #DDADAF 50%, #DDADAF 100%);
  background: linear-gradient(45deg, #819885 0%, #819885 50%, #DDADAF 50%, #DDADAF 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #819885 0%, #819885 50%, #2B547E 50%, #2B547E 100%);
  background: -moz-linear-gradient(45deg, #819885 0%, #819885 50%, #2B547E 50%, #2B547E 100%);
  background: -ms-linear-gradient(45deg, #819885 0%, #819885 50%, #2B547E 50%, #2B547E 100%);
  background: -o-linear-gradient(45deg, #819885 0%, #819885 50%, #2B547E 50%, #2B547E 100%);
  background: linear-gradient(45deg, #819885 0%, #819885 50%, #2B547E 50%, #2B547E 100%);
}
.combo:hover #name_combo_4 p {
  color: #ffffff;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #819885 0%, #819885 50%, #9EDEE0 50%, #9EDEE0 100%);
  background: -moz-linear-gradient(45deg, #819885 0%, #819885 50%, #9EDEE0 50%, #9EDEE0 100%);
  background: -ms-linear-gradient(45deg, #819885 0%, #819885 50%, #9EDEE0 50%, #9EDEE0 100%);
  background: -o-linear-gradient(45deg, #819885 0%, #819885 50%, #9EDEE0 50%, #9EDEE0 100%);
  background: linear-gradient(45deg, #819885 0%, #819885 50%, #9EDEE0 50%, #9EDEE0 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_7 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #819885;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #819885;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #819885;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #819885;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #819885;
}

#card_tone_3 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #819885;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #819885;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #819885;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #819885;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #819885;
}
