
:root {
    --col-header-border: #D9D6CF;
}

#card_shade_1 {
  background: #181817;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #30302E;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #484745;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #605F5C;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #787772;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #908E89;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #A8A6A0;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #C0BDB7;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #D9D6CF;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #EBEAE5;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #908F8C;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #D9D6CF;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #DBD0B8;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #DDCBA3;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #DFC68D;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #E1C176;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #E4BC5F;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #E6B748;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #E8B130;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #EBAB17;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #D1D0CE;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #E6D7B9;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #D6D6D1;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #E4D1C0;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #E8E0D5;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #D9D6CF 0%, #D9D6CF 50%, #0CDC73 50%, #0CDC73 100%);
  background: -moz-linear-gradient(45deg, #D9D6CF 0%, #D9D6CF 50%, #0CDC73 50%, #0CDC73 100%);
  background: -ms-linear-gradient(45deg, #D9D6CF 0%, #D9D6CF 50%, #0CDC73 50%, #0CDC73 100%);
  background: -o-linear-gradient(45deg, #D9D6CF 0%, #D9D6CF 50%, #0CDC73 50%, #0CDC73 100%);
  background: linear-gradient(45deg, #D9D6CF 0%, #D9D6CF 50%, #0CDC73 50%, #0CDC73 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #D9D6CF 0%, #D9D6CF 50%, #51B73B 50%, #51B73B 100%);
  background: -moz-linear-gradient(45deg, #D9D6CF 0%, #D9D6CF 50%, #51B73B 50%, #51B73B 100%);
  background: -ms-linear-gradient(45deg, #D9D6CF 0%, #D9D6CF 50%, #51B73B 50%, #51B73B 100%);
  background: -o-linear-gradient(45deg, #D9D6CF 0%, #D9D6CF 50%, #51B73B 50%, #51B73B 100%);
  background: linear-gradient(45deg, #D9D6CF 0%, #D9D6CF 50%, #51B73B 50%, #51B73B 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #D9D6CF 0%, #D9D6CF 50%, #CC4E5C 50%, #CC4E5C 100%);
  background: -moz-linear-gradient(45deg, #D9D6CF 0%, #D9D6CF 50%, #CC4E5C 50%, #CC4E5C 100%);
  background: -ms-linear-gradient(45deg, #D9D6CF 0%, #D9D6CF 50%, #CC4E5C 50%, #CC4E5C 100%);
  background: -o-linear-gradient(45deg, #D9D6CF 0%, #D9D6CF 50%, #CC4E5C 50%, #CC4E5C 100%);
  background: linear-gradient(45deg, #D9D6CF 0%, #D9D6CF 50%, #CC4E5C 50%, #CC4E5C 100%);
}
.combo:hover #name_combo_3 p {
  color: #ffffff;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #D9D6CF 0%, #D9D6CF 50%, #FB5FFC 50%, #FB5FFC 100%);
  background: -moz-linear-gradient(45deg, #D9D6CF 0%, #D9D6CF 50%, #FB5FFC 50%, #FB5FFC 100%);
  background: -ms-linear-gradient(45deg, #D9D6CF 0%, #D9D6CF 50%, #FB5FFC 50%, #FB5FFC 100%);
  background: -o-linear-gradient(45deg, #D9D6CF 0%, #D9D6CF 50%, #FB5FFC 50%, #FB5FFC 100%);
  background: linear-gradient(45deg, #D9D6CF 0%, #D9D6CF 50%, #FB5FFC 50%, #FB5FFC 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #D9D6CF 0%, #D9D6CF 50%, #986960 50%, #986960 100%);
  background: -moz-linear-gradient(45deg, #D9D6CF 0%, #D9D6CF 50%, #986960 50%, #986960 100%);
  background: -ms-linear-gradient(45deg, #D9D6CF 0%, #D9D6CF 50%, #986960 50%, #986960 100%);
  background: -o-linear-gradient(45deg, #D9D6CF 0%, #D9D6CF 50%, #986960 50%, #986960 100%);
  background: linear-gradient(45deg, #D9D6CF 0%, #D9D6CF 50%, #986960 50%, #986960 100%);
}
.combo:hover #name_combo_5 p {
  color: #ffffff;
}

#card_shade_9 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #D9D6CF;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #D9D6CF;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #D9D6CF;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #D9D6CF;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #D9D6CF;
}

#card_tone_2 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #D9D6CF;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #D9D6CF;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #D9D6CF;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #D9D6CF;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #D9D6CF;
}
