
:root {
    --col-header-border: #FF6600;
}

#card_shade_1 {
  background: #2A1000;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #542100;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #7F3200;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #A94300;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #D45400;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #FF6600;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #FF8432;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #FFA366;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #FFC199;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #FFE0CC;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #857D78;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #928175;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #A08370;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #AD8468;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #BB835D;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #C88050;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #D67C40;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #E3762D;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #F16F18;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #FF6600;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #FF5B00;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #FF4F00;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #FB7D07;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #FF7518;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #E96E00;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #FF6600 0%, #FF6600 50%, #BEFD73 50%, #BEFD73 100%);
  background: -moz-linear-gradient(45deg, #FF6600 0%, #FF6600 50%, #BEFD73 50%, #BEFD73 100%);
  background: -ms-linear-gradient(45deg, #FF6600 0%, #FF6600 50%, #BEFD73 50%, #BEFD73 100%);
  background: -o-linear-gradient(45deg, #FF6600 0%, #FF6600 50%, #BEFD73 50%, #BEFD73 100%);
  background: linear-gradient(45deg, #FF6600 0%, #FF6600 50%, #BEFD73 50%, #BEFD73 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #FF6600 0%, #FF6600 50%, #B8FFEB 50%, #B8FFEB 100%);
  background: -moz-linear-gradient(45deg, #FF6600 0%, #FF6600 50%, #B8FFEB 50%, #B8FFEB 100%);
  background: -ms-linear-gradient(45deg, #FF6600 0%, #FF6600 50%, #B8FFEB 50%, #B8FFEB 100%);
  background: -o-linear-gradient(45deg, #FF6600 0%, #FF6600 50%, #B8FFEB 50%, #B8FFEB 100%);
  background: linear-gradient(45deg, #FF6600 0%, #FF6600 50%, #B8FFEB 50%, #B8FFEB 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #FF6600 0%, #FF6600 50%, #BE0119 50%, #BE0119 100%);
  background: -moz-linear-gradient(45deg, #FF6600 0%, #FF6600 50%, #BE0119 50%, #BE0119 100%);
  background: -ms-linear-gradient(45deg, #FF6600 0%, #FF6600 50%, #BE0119 50%, #BE0119 100%);
  background: -o-linear-gradient(45deg, #FF6600 0%, #FF6600 50%, #BE0119 50%, #BE0119 100%);
  background: linear-gradient(45deg, #FF6600 0%, #FF6600 50%, #BE0119 50%, #BE0119 100%);
}
.combo:hover #name_combo_3 p {
  color: #ffffff;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #FF6600 0%, #FF6600 50%, #CB0162 50%, #CB0162 100%);
  background: -moz-linear-gradient(45deg, #FF6600 0%, #FF6600 50%, #CB0162 50%, #CB0162 100%);
  background: -ms-linear-gradient(45deg, #FF6600 0%, #FF6600 50%, #CB0162 50%, #CB0162 100%);
  background: -o-linear-gradient(45deg, #FF6600 0%, #FF6600 50%, #CB0162 50%, #CB0162 100%);
  background: linear-gradient(45deg, #FF6600 0%, #FF6600 50%, #CB0162 50%, #CB0162 100%);
}
.combo:hover #name_combo_4 p {
  color: #ffffff;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #FF6600 0%, #FF6600 50%, #FED33C 50%, #FED33C 100%);
  background: -moz-linear-gradient(45deg, #FF6600 0%, #FF6600 50%, #FED33C 50%, #FED33C 100%);
  background: -ms-linear-gradient(45deg, #FF6600 0%, #FF6600 50%, #FED33C 50%, #FED33C 100%);
  background: -o-linear-gradient(45deg, #FF6600 0%, #FF6600 50%, #FED33C 50%, #FED33C 100%);
  background: linear-gradient(45deg, #FF6600 0%, #FF6600 50%, #FED33C 50%, #FED33C 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_6 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF6600;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF6600;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF6600;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF6600;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF6600;
}

#card_tone_10 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF6600;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF6600;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF6600;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF6600;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF6600;
}
