
:root {
    --col-header-border: #171F04;
}

#card_shade_1 {
  background: #0B0F01;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #171F04;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #2A370C;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #40501A;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #57692C;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #6F8243;
}
.card:hover #name_shade_6 p {
  color: #ffffff;
}

#card_shade_7 {
  background: #899B5F;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #A4B480;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #C1CDA6;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #E0E6D0;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #0F100E;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #11120E;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #12130E;
}
.card:hover #name_tone_3 p {
  color: #ffffff;
}

#card_tone_4 {
  background: #13150D;
}
.card:hover #name_tone_4 p {
  color: #ffffff;
}

#card_tone_5 {
  background: #14170C;
}
.card:hover #name_tone_5 p {
  color: #ffffff;
}

#card_tone_6 {
  background: #14190A;
}
.card:hover #name_tone_6 p {
  color: #ffffff;
}

#card_tone_7 {
  background: #151B08;
}
.card:hover #name_tone_7 p {
  color: #ffffff;
}

#card_tone_8 {
  background: #161C06;
}
.card:hover #name_tone_8 p {
  color: #ffffff;
}

#card_tone_9 {
  background: #171F04;
}
.card:hover #name_tone_9 p {
  color: #ffffff;
}

#card_tone_10 {
  background: #4B6906;
}
.card:hover #name_tone_10 p {
  color: #ffffff;
}

#card_simcol_1 {
  background: #2A380B;
}
.circle:hover #name_simcol_1 p {
  color: #ffffff;
}

#card_simcol_2 {
  background: #0B1304;
}
.circle:hover #name_simcol_2 p {
  color: #ffffff;
}

#card_simcol_3 {
  background: #182D09;
}
.circle:hover #name_simcol_3 p {
  color: #ffffff;
}

#card_simcol_4 {
  background: #373E02;
}
.circle:hover #name_simcol_4 p {
  color: #ffffff;
}

#card_simcol_5 {
  background: #384910;
}
.circle:hover #name_simcol_5 p {
  color: #ffffff;
}

#card_combo_1 {
  background: linear-gradient(30deg, #171F04 0%, #171F04 50%, #417DC1 50%, #417DC1 100%);
}
.combo:hover #name_combo_1 p {
  color: #ffffff;
}

#card_combo_2 {
  background: linear-gradient(30deg, #171F04 0%, #171F04 50%, #6FD0C5 50%, #6FD0C5 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: linear-gradient(30deg, #171F04 0%, #171F04 50%, #5F9E8F 50%, #5F9E8F 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: linear-gradient(30deg, #171F04 0%, #171F04 50%, #C875C4 50%, #C875C4 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_shade_2 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #171F04;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #171F04;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #171F04;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #171F04;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #171F04;
}

#card_tone_9 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #171F04;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #171F04;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #171F04;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #171F04;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #171F04;
}
