
:root {
    --col-header-border: #21421E;
}

#card_shade_1 {
  background: #0A1509;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #152C13;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #21421E;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #32592E;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #467142;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #5D8859;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #77A074;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #95B791;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #B5CFB2;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #D8E6D7;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #202320;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #222922;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #232F22;
}
.card:hover #name_tone_3 p {
  color: #ffffff;
}

#card_tone_4 {
  background: #233622;
}
.card:hover #name_tone_4 p {
  color: #ffffff;
}

#card_tone_5 {
  background: #223C20;
}
.card:hover #name_tone_5 p {
  color: #ffffff;
}

#card_tone_6 {
  background: #21421E;
}
.card:hover #name_tone_6 p {
  color: #ffffff;
}

#card_tone_7 {
  background: #24571F;
}
.card:hover #name_tone_7 p {
  color: #ffffff;
}

#card_tone_8 {
  background: #236C1D;
}
.card:hover #name_tone_8 p {
  color: #ffffff;
}

#card_tone_9 {
  background: #208117;
}
.card:hover #name_tone_9 p {
  color: #ffffff;
}

#card_tone_10 {
  background: #18950D;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #254117;
}
.circle:hover #name_simcol_1 p {
  color: #ffffff;
}

#card_simcol_2 {
  background: #1B2F11;
}
.circle:hover #name_simcol_2 p {
  color: #ffffff;
}

#card_simcol_3 {
  background: #2B5D34;
}
.circle:hover #name_simcol_3 p {
  color: #ffffff;
}

#card_simcol_4 {
  background: #19330E;
}
.circle:hover #name_simcol_4 p {
  color: #ffffff;
}

#card_simcol_5 {
  background: #134F19;
}
.circle:hover #name_simcol_5 p {
  color: #ffffff;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #21421E 0%, #21421E 50%, #AC9362 50%, #AC9362 100%);
  background: -moz-linear-gradient(45deg, #21421E 0%, #21421E 50%, #AC9362 50%, #AC9362 100%);
  background: -ms-linear-gradient(45deg, #21421E 0%, #21421E 50%, #AC9362 50%, #AC9362 100%);
  background: -o-linear-gradient(45deg, #21421E 0%, #21421E 50%, #AC9362 50%, #AC9362 100%);
  background: linear-gradient(45deg, #21421E 0%, #21421E 50%, #AC9362 50%, #AC9362 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #21421E 0%, #21421E 50%, #B784A7 50%, #B784A7 100%);
  background: -moz-linear-gradient(45deg, #21421E 0%, #21421E 50%, #B784A7 50%, #B784A7 100%);
  background: -ms-linear-gradient(45deg, #21421E 0%, #21421E 50%, #B784A7 50%, #B784A7 100%);
  background: -o-linear-gradient(45deg, #21421E 0%, #21421E 50%, #B784A7 50%, #B784A7 100%);
  background: linear-gradient(45deg, #21421E 0%, #21421E 50%, #B784A7 50%, #B784A7 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #21421E 0%, #21421E 50%, #8FD6B4 50%, #8FD6B4 100%);
  background: -moz-linear-gradient(45deg, #21421E 0%, #21421E 50%, #8FD6B4 50%, #8FD6B4 100%);
  background: -ms-linear-gradient(45deg, #21421E 0%, #21421E 50%, #8FD6B4 50%, #8FD6B4 100%);
  background: -o-linear-gradient(45deg, #21421E 0%, #21421E 50%, #8FD6B4 50%, #8FD6B4 100%);
  background: linear-gradient(45deg, #21421E 0%, #21421E 50%, #8FD6B4 50%, #8FD6B4 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #21421E 0%, #21421E 50%, #BCCB7A 50%, #BCCB7A 100%);
  background: -moz-linear-gradient(45deg, #21421E 0%, #21421E 50%, #BCCB7A 50%, #BCCB7A 100%);
  background: -ms-linear-gradient(45deg, #21421E 0%, #21421E 50%, #BCCB7A 50%, #BCCB7A 100%);
  background: -o-linear-gradient(45deg, #21421E 0%, #21421E 50%, #BCCB7A 50%, #BCCB7A 100%);
  background: linear-gradient(45deg, #21421E 0%, #21421E 50%, #BCCB7A 50%, #BCCB7A 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #21421E 0%, #21421E 50%, #C4A661 50%, #C4A661 100%);
  background: -moz-linear-gradient(45deg, #21421E 0%, #21421E 50%, #C4A661 50%, #C4A661 100%);
  background: -ms-linear-gradient(45deg, #21421E 0%, #21421E 50%, #C4A661 50%, #C4A661 100%);
  background: -o-linear-gradient(45deg, #21421E 0%, #21421E 50%, #C4A661 50%, #C4A661 100%);
  background: linear-gradient(45deg, #21421E 0%, #21421E 50%, #C4A661 50%, #C4A661 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_3 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #21421E;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #21421E;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #21421E;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #21421E;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #21421E;
}

#card_tone_6 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #21421E;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #21421E;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #21421E;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #21421E;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #21421E;
}
