
:root {
    --col-header-border: #98FF98;
}

#card_shade_1 {
  background: #131F13;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #263F26;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #395F39;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #4C7F4C;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #5F9F5F;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #72BF72;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #85DF85;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #98FF98;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #BAFFBA;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #DCFFDC;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #828D82;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #8EAA8E;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #96C696;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #9AE29A;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #98FF98;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #7FFF7F;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #66FF66;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #4CFF4C;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #32FF32;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #19FF19;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #A6FBB2;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #8CFF9E;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #9FFEB0;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #B2FBA5;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #A7FFB5;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: linear-gradient(45deg, #98FF98 0%, #98FF98 50%, #66DDAA 50%, #66DDAA 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: linear-gradient(45deg, #98FF98 0%, #98FF98 50%, #C88141 50%, #C88141 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: linear-gradient(45deg, #98FF98 0%, #98FF98 50%, #483D8B 50%, #483D8B 100%);
}
.combo:hover #name_combo_3 p {
  color: #ffffff;
}

#card_combo_4 {
  background: linear-gradient(45deg, #98FF98 0%, #98FF98 50%, #6FD0C5 50%, #6FD0C5 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: linear-gradient(45deg, #98FF98 0%, #98FF98 50%, #9D5783 50%, #9D5783 100%);
}
.combo:hover #name_combo_5 p {
  color: #ffffff;
}

#card_shade_8 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #98FF98;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #98FF98;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #98FF98;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #98FF98;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #98FF98;
}

#card_tone_5 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #98FF98;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #98FF98;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #98FF98;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #98FF98;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #98FF98;
}
