
#card_shade_1 {
  background: #1C1A15;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #38352B;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #554F40;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #716A56;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #8D846B;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #AA9F81;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #C6B996;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #E2D4AC;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #FFEFC1;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #FFF6E0;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #918F88;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #B6B0A0;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #DAD0B3;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #FFEFC1;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #FFE7A6;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #FFDF8A;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #FFD86E;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #FFD152;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #FFC936;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #FFC21B;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #FFEDBC;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #FEF2C7;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #FEEFCE;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #FAF0BE;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #FFF1B5;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: linear-gradient(45deg, #FFEFC1 0%, #FFEFC1 50%, #B53389 50%, #B53389 100%);
}
.combo:hover #name_combo_1 p {
  color: #ffffff;
}

#card_combo_2 {
  background: linear-gradient(45deg, #FFEFC1 0%, #FFEFC1 50%, #DB9690 50%, #DB9690 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: linear-gradient(45deg, #FFEFC1 0%, #FFEFC1 50%, #C87F89 50%, #C87F89 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: linear-gradient(45deg, #FFEFC1 0%, #FFEFC1 50%, #C25283 50%, #C25283 100%);
}
.combo:hover #name_combo_4 p {
  color: #ffffff;
}

#card_combo_5 {
  background: linear-gradient(45deg, #FFEFC1 0%, #FFEFC1 50%, #E03FD8 50%, #E03FD8 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_9 {
  border-color: var(--col-accent2);
}

#card_tone_4 {
  border-color: var(--col-accent2);
}

:root {
  --shadow-swatch: 0 3px 6px rgba(0,0,0,.3);
}
