
:root {
    --col-header-border: #EB4C42;
}

#card_shade_1 {
  background: #220B09;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #431612;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #64211C;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #862C25;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #A7372E;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #C94138;
}
.card:hover #name_shade_6 p {
  color: #ffffff;
}

#card_shade_7 {
  background: #EB4C42;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #EF766E;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #F4A29C;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #F9CFCC;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #7D7372;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #8D7573;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #9C7572;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #AC726E;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #BB6D67;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #CB645D;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #DB5A51;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #EB4C42;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #EE392C;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #F22516;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #E55B3C;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #E55451;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #E34234;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #D9544D;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #FF4040;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: linear-gradient(45deg, #EB4C42 0%, #EB4C42 50%, #3C1F76 50%, #3C1F76 100%);
}
.combo:hover #name_combo_1 p {
  color: #ffffff;
}

#card_combo_2 {
  background: linear-gradient(45deg, #EB4C42 0%, #EB4C42 50%, #E3F5E1 50%, #E3F5E1 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: linear-gradient(45deg, #EB4C42 0%, #EB4C42 50%, #5FFB17 50%, #5FFB17 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: linear-gradient(45deg, #EB4C42 0%, #EB4C42 50%, #F4D054 50%, #F4D054 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: linear-gradient(45deg, #EB4C42 0%, #EB4C42 50%, #C2E8E5 50%, #C2E8E5 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_7 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #EB4C42;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #EB4C42;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #EB4C42;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #EB4C42;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #EB4C42;
}

#card_tone_8 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #EB4C42;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #EB4C42;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #EB4C42;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #EB4C42;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #EB4C42;
}
