
:root {
    --col-header-border: #E68FAC;
}

#card_shade_1 {
  background: #1D1216;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #3A242B;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #563541;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #734756;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #8F596C;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #AC6A81;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #C87C97;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #E68FAC;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #EDB1C6;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #F6D7E2;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #7F7579;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #998189;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #B28998;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #CC8DA3;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #E68FAC;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #E7779F;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #EA6090;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #EC4982;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #EE3173;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #F01964;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #E38AAE;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #F78FA7;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #D5869D;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #EF98AA;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #FC89AC;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #E68FAC 0%, #E68FAC 50%, #496679 50%, #496679 100%);
  background: -moz-linear-gradient(45deg, #E68FAC 0%, #E68FAC 50%, #496679 50%, #496679 100%);
  background: -ms-linear-gradient(45deg, #E68FAC 0%, #E68FAC 50%, #496679 50%, #496679 100%);
  background: -o-linear-gradient(45deg, #E68FAC 0%, #E68FAC 50%, #496679 50%, #496679 100%);
  background: linear-gradient(45deg, #E68FAC 0%, #E68FAC 50%, #496679 50%, #496679 100%);
}
.combo:hover #name_combo_1 p {
  color: #ffffff;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #E68FAC 0%, #E68FAC 50%, #EEDC82 50%, #EEDC82 100%);
  background: -moz-linear-gradient(45deg, #E68FAC 0%, #E68FAC 50%, #EEDC82 50%, #EEDC82 100%);
  background: -ms-linear-gradient(45deg, #E68FAC 0%, #E68FAC 50%, #EEDC82 50%, #EEDC82 100%);
  background: -o-linear-gradient(45deg, #E68FAC 0%, #E68FAC 50%, #EEDC82 50%, #EEDC82 100%);
  background: linear-gradient(45deg, #E68FAC 0%, #E68FAC 50%, #EEDC82 50%, #EEDC82 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #E68FAC 0%, #E68FAC 50%, #AA23FF 50%, #AA23FF 100%);
  background: -moz-linear-gradient(45deg, #E68FAC 0%, #E68FAC 50%, #AA23FF 50%, #AA23FF 100%);
  background: -ms-linear-gradient(45deg, #E68FAC 0%, #E68FAC 50%, #AA23FF 50%, #AA23FF 100%);
  background: -o-linear-gradient(45deg, #E68FAC 0%, #E68FAC 50%, #AA23FF 50%, #AA23FF 100%);
  background: linear-gradient(45deg, #E68FAC 0%, #E68FAC 50%, #AA23FF 50%, #AA23FF 100%);
}
.combo:hover #name_combo_3 p {
  color: #ffffff;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #E68FAC 0%, #E68FAC 50%, #EED794 50%, #EED794 100%);
  background: -moz-linear-gradient(45deg, #E68FAC 0%, #E68FAC 50%, #EED794 50%, #EED794 100%);
  background: -ms-linear-gradient(45deg, #E68FAC 0%, #E68FAC 50%, #EED794 50%, #EED794 100%);
  background: -o-linear-gradient(45deg, #E68FAC 0%, #E68FAC 50%, #EED794 50%, #EED794 100%);
  background: linear-gradient(45deg, #E68FAC 0%, #E68FAC 50%, #EED794 50%, #EED794 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #E68FAC 0%, #E68FAC 50%, #A2653E 50%, #A2653E 100%);
  background: -moz-linear-gradient(45deg, #E68FAC 0%, #E68FAC 50%, #A2653E 50%, #A2653E 100%);
  background: -ms-linear-gradient(45deg, #E68FAC 0%, #E68FAC 50%, #A2653E 50%, #A2653E 100%);
  background: -o-linear-gradient(45deg, #E68FAC 0%, #E68FAC 50%, #A2653E 50%, #A2653E 100%);
  background: linear-gradient(45deg, #E68FAC 0%, #E68FAC 50%, #A2653E 50%, #A2653E 100%);
}
.combo:hover #name_combo_5 p {
  color: #ffffff;
}

#card_shade_8 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E68FAC;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E68FAC;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E68FAC;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E68FAC;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E68FAC;
}

#card_tone_5 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E68FAC;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E68FAC;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E68FAC;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E68FAC;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E68FAC;
}
