
:root {
    --col-header-border: #DB5079;
}

#card_shade_1 {
  background: #1F0B11;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #3E1723;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #5D2235;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #7D2E47;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #9C3959;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #BB456B;
}
.card:hover #name_shade_6 p {
  color: #ffffff;
}

#card_shade_7 {
  background: #DB5079;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #E4789A;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #EDA2BA;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #F6CFDB;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #766B6F;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #876E76;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #976E7B;
}
.card:hover #name_tone_3 p {
  color: #ffffff;
}

#card_tone_4 {
  background: #A86C7F;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #B96680;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #CA5D7F;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #DB5079;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #E03E71;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #E52A65;
}
.card:hover #name_tone_9 p {
  color: #ffffff;
}

#card_tone_10 {
  background: #EA1659;
}
.card:hover #name_tone_10 p {
  color: #ffffff;
}

#card_simcol_1 {
  background: #CB416B;
}
.circle:hover #name_simcol_1 p {
  color: #ffffff;
}

#card_simcol_2 {
  background: #E25465;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #C74767;
}
.circle:hover #name_simcol_3 p {
  color: #ffffff;
}

#card_simcol_4 {
  background: #E25098;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #D16587;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: linear-gradient(30deg, #DB5079 0%, #DB5079 50%, #26538D 50%, #26538D 100%);
}
.combo:hover #name_combo_1 p {
  color: #ffffff;
}

#card_combo_2 {
  background: linear-gradient(30deg, #DB5079 0%, #DB5079 50%, #202E54 50%, #202E54 100%);
}
.combo:hover #name_combo_2 p {
  color: #ffffff;
}

#card_combo_3 {
  background: linear-gradient(30deg, #DB5079 0%, #DB5079 50%, #2554C7 50%, #2554C7 100%);
}
.combo:hover #name_combo_3 p {
  color: #ffffff;
}

#card_combo_4 {
  background: linear-gradient(30deg, #DB5079 0%, #DB5079 50%, #8A2BE2 50%, #8A2BE2 100%);
}
.combo:hover #name_combo_4 p {
  color: #ffffff;
}

#card_shade_7 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #DB5079;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #DB5079;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #DB5079;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #DB5079;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #DB5079;
}

#card_tone_7 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #DB5079;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #DB5079;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #DB5079;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #DB5079;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #DB5079;
}
