
:root {
    --col-header-border: #90EE90;
}

#card_shade_1 {
  background: #121E12;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #243B24;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #365936;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #487648;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #5A945A;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #6CB16C;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #7ECF7E;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #90EE90;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #B3F3B3;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #D8F8D8;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #798479;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #859E85;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #8DB88D;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #91D291;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #90EE90;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #79EE79;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #61F061;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #49F149;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #31F331;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #18F418;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #B5EAAA;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #ADDFAD;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #8CFD7E;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #BCECAC;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #98FF98;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: linear-gradient(45deg, #90EE90 0%, #90EE90 50%, #E03FD8 50%, #E03FD8 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: linear-gradient(45deg, #90EE90 0%, #90EE90 50%, #3C9992 50%, #3C9992 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: linear-gradient(45deg, #90EE90 0%, #90EE90 50%, #AF884A 50%, #AF884A 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: linear-gradient(45deg, #90EE90 0%, #90EE90 50%, #66B58F 50%, #66B58F 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: linear-gradient(45deg, #90EE90 0%, #90EE90 50%, #9D5783 50%, #9D5783 100%);
}
.combo:hover #name_combo_5 p {
  color: #ffffff;
}

#card_shade_8 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #90EE90;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #90EE90;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #90EE90;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #90EE90;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #90EE90;
}

#card_tone_5 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #90EE90;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #90EE90;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #90EE90;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #90EE90;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #90EE90;
}
