
:root {
    --col-header-border: #5D7747;
}

#card_shade_1 {
  background: #12170E;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #252F1C;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #38472B;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #4B5F39;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #5D7747;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #758E5E;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #8DA478;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #A7BB95;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #C2D1B5;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #E0E8D8;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #3F423D;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #495043;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #515D46;
}
.card:hover #name_tone_3 p {
  color: #ffffff;
}

#card_tone_4 {
  background: #586A48;
}
.card:hover #name_tone_4 p {
  color: #ffffff;
}

#card_tone_5 {
  background: #5D7747;
}
.card:hover #name_tone_5 p {
  color: #ffffff;
}

#card_tone_6 {
  background: #608442;
}
.card:hover #name_tone_6 p {
  color: #ffffff;
}

#card_tone_7 {
  background: #629039;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #629C2E;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #60A821;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #5EB512;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #667C3E;
}
.circle:hover #name_simcol_1 p {
  color: #ffffff;
}

#card_simcol_2 {
  background: #617C58;
}
.circle:hover #name_simcol_2 p {
  color: #ffffff;
}

#card_simcol_3 {
  background: #53824B;
}
.circle:hover #name_simcol_3 p {
  color: #ffffff;
}

#card_simcol_4 {
  background: #556B2F;
}
.circle:hover #name_simcol_4 p {
  color: #ffffff;
}

#card_simcol_5 {
  background: #747D63;
}
.circle:hover #name_simcol_5 p {
  color: #ffffff;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #5D7747 0%, #5D7747 50%, #C9DC87 50%, #C9DC87 100%);
  background: -moz-linear-gradient(45deg, #5D7747 0%, #5D7747 50%, #C9DC87 50%, #C9DC87 100%);
  background: -ms-linear-gradient(45deg, #5D7747 0%, #5D7747 50%, #C9DC87 50%, #C9DC87 100%);
  background: -o-linear-gradient(45deg, #5D7747 0%, #5D7747 50%, #C9DC87 50%, #C9DC87 100%);
  background: linear-gradient(45deg, #5D7747 0%, #5D7747 50%, #C9DC87 50%, #C9DC87 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #5D7747 0%, #5D7747 50%, #82CBB2 50%, #82CBB2 100%);
  background: -moz-linear-gradient(45deg, #5D7747 0%, #5D7747 50%, #82CBB2 50%, #82CBB2 100%);
  background: -ms-linear-gradient(45deg, #5D7747 0%, #5D7747 50%, #82CBB2 50%, #82CBB2 100%);
  background: -o-linear-gradient(45deg, #5D7747 0%, #5D7747 50%, #82CBB2 50%, #82CBB2 100%);
  background: linear-gradient(45deg, #5D7747 0%, #5D7747 50%, #82CBB2 50%, #82CBB2 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #5D7747 0%, #5D7747 50%, #80B3AE 50%, #80B3AE 100%);
  background: -moz-linear-gradient(45deg, #5D7747 0%, #5D7747 50%, #80B3AE 50%, #80B3AE 100%);
  background: -ms-linear-gradient(45deg, #5D7747 0%, #5D7747 50%, #80B3AE 50%, #80B3AE 100%);
  background: -o-linear-gradient(45deg, #5D7747 0%, #5D7747 50%, #80B3AE 50%, #80B3AE 100%);
  background: linear-gradient(45deg, #5D7747 0%, #5D7747 50%, #80B3AE 50%, #80B3AE 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #5D7747 0%, #5D7747 50%, #FBCEB1 50%, #FBCEB1 100%);
  background: -moz-linear-gradient(45deg, #5D7747 0%, #5D7747 50%, #FBCEB1 50%, #FBCEB1 100%);
  background: -ms-linear-gradient(45deg, #5D7747 0%, #5D7747 50%, #FBCEB1 50%, #FBCEB1 100%);
  background: -o-linear-gradient(45deg, #5D7747 0%, #5D7747 50%, #FBCEB1 50%, #FBCEB1 100%);
  background: linear-gradient(45deg, #5D7747 0%, #5D7747 50%, #FBCEB1 50%, #FBCEB1 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #5D7747 0%, #5D7747 50%, #CFE5D2 50%, #CFE5D2 100%);
  background: -moz-linear-gradient(45deg, #5D7747 0%, #5D7747 50%, #CFE5D2 50%, #CFE5D2 100%);
  background: -ms-linear-gradient(45deg, #5D7747 0%, #5D7747 50%, #CFE5D2 50%, #CFE5D2 100%);
  background: -o-linear-gradient(45deg, #5D7747 0%, #5D7747 50%, #CFE5D2 50%, #CFE5D2 100%);
  background: linear-gradient(45deg, #5D7747 0%, #5D7747 50%, #CFE5D2 50%, #CFE5D2 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_5 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #5D7747;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #5D7747;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #5D7747;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #5D7747;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #5D7747;
}

#card_tone_5 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #5D7747;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #5D7747;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #5D7747;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #5D7747;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #5D7747;
}
