
:root {
    --col-header-border: #5170D7;
}

#card_shade_1 {
  background: #0B101E;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #17203D;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #22315B;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #2E417A;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #3A5199;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #4562B7;
}
.card:hover #name_shade_6 p {
  color: #ffffff;
}

#card_shade_7 {
  background: #5170D7;
}
.card:hover #name_shade_7 p {
  color: #ffffff;
}

#card_shade_8 {
  background: #7892E0;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #A1B4EA;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #CED8F4;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #686B72;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #6C7283;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #6C7693;
}
.card:hover #name_tone_3 p {
  color: #ffffff;
}

#card_tone_4 {
  background: #6A78A4;
}
.card:hover #name_tone_4 p {
  color: #ffffff;
}

#card_tone_5 {
  background: #6579B5;
}
.card:hover #name_tone_5 p {
  color: #ffffff;
}

#card_tone_6 {
  background: #5C76C5;
}
.card:hover #name_tone_6 p {
  color: #ffffff;
}

#card_tone_7 {
  background: #5170D7;
}
.card:hover #name_tone_7 p {
  color: #ffffff;
}

#card_tone_8 {
  background: #3E66DC;
}
.card:hover #name_tone_8 p {
  color: #ffffff;
}

#card_tone_9 {
  background: #2A58E1;
}
.card:hover #name_tone_9 p {
  color: #ffffff;
}

#card_tone_10 {
  background: #164AE7;
}
.card:hover #name_tone_10 p {
  color: #ffffff;
}

#card_simcol_1 {
  background: #4B57DB;
}
.circle:hover #name_simcol_1 p {
  color: #ffffff;
}

#card_simcol_2 {
  background: #4166F5;
}
.circle:hover #name_simcol_2 p {
  color: #ffffff;
}

#card_simcol_3 {
  background: #417DC1;
}
.circle:hover #name_simcol_3 p {
  color: #ffffff;
}

#card_simcol_4 {
  background: #6488EA;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #436BAD;
}
.circle:hover #name_simcol_5 p {
  color: #ffffff;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #5170D7 0%, #5170D7 50%, #F49AC2 50%, #F49AC2 100%);
  background: -moz-linear-gradient(45deg, #5170D7 0%, #5170D7 50%, #F49AC2 50%, #F49AC2 100%);
  background: -ms-linear-gradient(45deg, #5170D7 0%, #5170D7 50%, #F49AC2 50%, #F49AC2 100%);
  background: -o-linear-gradient(45deg, #5170D7 0%, #5170D7 50%, #F49AC2 50%, #F49AC2 100%);
  background: linear-gradient(45deg, #5170D7 0%, #5170D7 50%, #F49AC2 50%, #F49AC2 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #5170D7 0%, #5170D7 50%, #A8E3BD 50%, #A8E3BD 100%);
  background: -moz-linear-gradient(45deg, #5170D7 0%, #5170D7 50%, #A8E3BD 50%, #A8E3BD 100%);
  background: -ms-linear-gradient(45deg, #5170D7 0%, #5170D7 50%, #A8E3BD 50%, #A8E3BD 100%);
  background: -o-linear-gradient(45deg, #5170D7 0%, #5170D7 50%, #A8E3BD 50%, #A8E3BD 100%);
  background: linear-gradient(45deg, #5170D7 0%, #5170D7 50%, #A8E3BD 50%, #A8E3BD 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #5170D7 0%, #5170D7 50%, #8EEBEC 50%, #8EEBEC 100%);
  background: -moz-linear-gradient(45deg, #5170D7 0%, #5170D7 50%, #8EEBEC 50%, #8EEBEC 100%);
  background: -ms-linear-gradient(45deg, #5170D7 0%, #5170D7 50%, #8EEBEC 50%, #8EEBEC 100%);
  background: -o-linear-gradient(45deg, #5170D7 0%, #5170D7 50%, #8EEBEC 50%, #8EEBEC 100%);
  background: linear-gradient(45deg, #5170D7 0%, #5170D7 50%, #8EEBEC 50%, #8EEBEC 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #5170D7 0%, #5170D7 50%, #D462FF 50%, #D462FF 100%);
  background: -moz-linear-gradient(45deg, #5170D7 0%, #5170D7 50%, #D462FF 50%, #D462FF 100%);
  background: -ms-linear-gradient(45deg, #5170D7 0%, #5170D7 50%, #D462FF 50%, #D462FF 100%);
  background: -o-linear-gradient(45deg, #5170D7 0%, #5170D7 50%, #D462FF 50%, #D462FF 100%);
  background: linear-gradient(45deg, #5170D7 0%, #5170D7 50%, #D462FF 50%, #D462FF 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #5170D7 0%, #5170D7 50%, #BFF128 50%, #BFF128 100%);
  background: -moz-linear-gradient(45deg, #5170D7 0%, #5170D7 50%, #BFF128 50%, #BFF128 100%);
  background: -ms-linear-gradient(45deg, #5170D7 0%, #5170D7 50%, #BFF128 50%, #BFF128 100%);
  background: -o-linear-gradient(45deg, #5170D7 0%, #5170D7 50%, #BFF128 50%, #BFF128 100%);
  background: linear-gradient(45deg, #5170D7 0%, #5170D7 50%, #BFF128 50%, #BFF128 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_7 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #5170D7;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #5170D7;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #5170D7;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #5170D7;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #5170D7;
}

#card_tone_7 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #5170D7;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #5170D7;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #5170D7;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #5170D7;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #5170D7;
}
