
:root {
    --col-header-border: #0F0F0F;
}

#card_shade_1 {
  background: #070707;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #0F0F0F;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #292929;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #444444;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #5E5E5E;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #797979;
}
.card:hover #name_shade_6 p {
  color: #ffffff;
}

#card_shade_7 {
  background: #939393;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #AEAEAE;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #C8C8C8;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #E3E3E3;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #0F0F0F;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #1B1919;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #282020;
}
.card:hover #name_tone_3 p {
  color: #ffffff;
}

#card_tone_4 {
  background: #342424;
}
.card:hover #name_tone_4 p {
  color: #ffffff;
}

#card_tone_5 {
  background: #412727;
}
.card:hover #name_tone_5 p {
  color: #ffffff;
}

#card_tone_6 {
  background: #4D2626;
}
.card:hover #name_tone_6 p {
  color: #ffffff;
}

#card_tone_7 {
  background: #5A2424;
}
.card:hover #name_tone_7 p {
  color: #ffffff;
}

#card_tone_8 {
  background: #661E1E;
}
.card:hover #name_tone_8 p {
  color: #ffffff;
}

#card_tone_9 {
  background: #731717;
}
.card:hover #name_tone_9 p {
  color: #ffffff;
}

#card_tone_10 {
  background: #7F0C0C;
}
.card:hover #name_tone_10 p {
  color: #ffffff;
}

#card_simcol_1 {
  background: #000000;
}
.circle:hover #name_simcol_1 p {
  color: #ffffff;
}

#card_simcol_2 {
  background: #4C4646;
}
.circle:hover #name_simcol_2 p {
  color: #ffffff;
}

#card_simcol_3 {
  background: #383533;
}
.circle:hover #name_simcol_3 p {
  color: #ffffff;
}

#card_simcol_4 {
  background: #555555;
}
.circle:hover #name_simcol_4 p {
  color: #ffffff;
}

#card_simcol_5 {
  background: #625D5D;
}
.circle:hover #name_simcol_5 p {
  color: #ffffff;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #0F0F0F 0%, #0F0F0F 50%, #B6B095 50%, #B6B095 100%);
  background: -moz-linear-gradient(45deg, #0F0F0F 0%, #0F0F0F 50%, #B6B095 50%, #B6B095 100%);
  background: -ms-linear-gradient(45deg, #0F0F0F 0%, #0F0F0F 50%, #B6B095 50%, #B6B095 100%);
  background: -o-linear-gradient(45deg, #0F0F0F 0%, #0F0F0F 50%, #B6B095 50%, #B6B095 100%);
  background: linear-gradient(45deg, #0F0F0F 0%, #0F0F0F 50%, #B6B095 50%, #B6B095 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #0F0F0F 0%, #0F0F0F 50%, #A6C875 50%, #A6C875 100%);
  background: -moz-linear-gradient(45deg, #0F0F0F 0%, #0F0F0F 50%, #A6C875 50%, #A6C875 100%);
  background: -ms-linear-gradient(45deg, #0F0F0F 0%, #0F0F0F 50%, #A6C875 50%, #A6C875 100%);
  background: -o-linear-gradient(45deg, #0F0F0F 0%, #0F0F0F 50%, #A6C875 50%, #A6C875 100%);
  background: linear-gradient(45deg, #0F0F0F 0%, #0F0F0F 50%, #A6C875 50%, #A6C875 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #0F0F0F 0%, #0F0F0F 50%, #88B378 50%, #88B378 100%);
  background: -moz-linear-gradient(45deg, #0F0F0F 0%, #0F0F0F 50%, #88B378 50%, #88B378 100%);
  background: -ms-linear-gradient(45deg, #0F0F0F 0%, #0F0F0F 50%, #88B378 50%, #88B378 100%);
  background: -o-linear-gradient(45deg, #0F0F0F 0%, #0F0F0F 50%, #88B378 50%, #88B378 100%);
  background: linear-gradient(45deg, #0F0F0F 0%, #0F0F0F 50%, #88B378 50%, #88B378 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #0F0F0F 0%, #0F0F0F 50%, #AC86A8 50%, #AC86A8 100%);
  background: -moz-linear-gradient(45deg, #0F0F0F 0%, #0F0F0F 50%, #AC86A8 50%, #AC86A8 100%);
  background: -ms-linear-gradient(45deg, #0F0F0F 0%, #0F0F0F 50%, #AC86A8 50%, #AC86A8 100%);
  background: -o-linear-gradient(45deg, #0F0F0F 0%, #0F0F0F 50%, #AC86A8 50%, #AC86A8 100%);
  background: linear-gradient(45deg, #0F0F0F 0%, #0F0F0F 50%, #AC86A8 50%, #AC86A8 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #0F0F0F 0%, #0F0F0F 50%, #C48793 50%, #C48793 100%);
  background: -moz-linear-gradient(45deg, #0F0F0F 0%, #0F0F0F 50%, #C48793 50%, #C48793 100%);
  background: -ms-linear-gradient(45deg, #0F0F0F 0%, #0F0F0F 50%, #C48793 50%, #C48793 100%);
  background: -o-linear-gradient(45deg, #0F0F0F 0%, #0F0F0F 50%, #C48793 50%, #C48793 100%);
  background: linear-gradient(45deg, #0F0F0F 0%, #0F0F0F 50%, #C48793 50%, #C48793 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_2 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #0F0F0F;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #0F0F0F;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #0F0F0F;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #0F0F0F;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #0F0F0F;
}

#card_tone_1 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #0F0F0F;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #0F0F0F;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #0F0F0F;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #0F0F0F;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #0F0F0F;
}
