
:root {
    --col-header-border: #D9E4F5;
}

#card_shade_1 {
  background: #151618;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #2B2D30;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #414449;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #575B61;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #6C727A;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #828992;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #98A0AB;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #AEB6C3;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #C4CDDC;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #D9E4F5;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #9A9DA3;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #D9E4F5;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #C2D6F5;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #AAC8F5;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #92BAF6;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #79ABF6;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #619DF7;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #498FF7;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #3080F8;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #1872F8;
}
.card:hover #name_tone_10 p {
  color: #ffffff;
}

#card_simcol_1 {
  background: #D4E2FC;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #C3DDF9;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #E6E6FA;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #BDEDFD;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #D4D7D9;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #D9E4F5 0%, #D9E4F5 50%, #43BFC7 50%, #43BFC7 100%);
  background: -moz-linear-gradient(45deg, #D9E4F5 0%, #D9E4F5 50%, #43BFC7 50%, #43BFC7 100%);
  background: -ms-linear-gradient(45deg, #D9E4F5 0%, #D9E4F5 50%, #43BFC7 50%, #43BFC7 100%);
  background: -o-linear-gradient(45deg, #D9E4F5 0%, #D9E4F5 50%, #43BFC7 50%, #43BFC7 100%);
  background: linear-gradient(45deg, #D9E4F5 0%, #D9E4F5 50%, #43BFC7 50%, #43BFC7 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #D9E4F5 0%, #D9E4F5 50%, #601EF9 50%, #601EF9 100%);
  background: -moz-linear-gradient(45deg, #D9E4F5 0%, #D9E4F5 50%, #601EF9 50%, #601EF9 100%);
  background: -ms-linear-gradient(45deg, #D9E4F5 0%, #D9E4F5 50%, #601EF9 50%, #601EF9 100%);
  background: -o-linear-gradient(45deg, #D9E4F5 0%, #D9E4F5 50%, #601EF9 50%, #601EF9 100%);
  background: linear-gradient(45deg, #D9E4F5 0%, #D9E4F5 50%, #601EF9 50%, #601EF9 100%);
}
.combo:hover #name_combo_2 p {
  color: #ffffff;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #D9E4F5 0%, #D9E4F5 50%, #FF08E8 50%, #FF08E8 100%);
  background: -moz-linear-gradient(45deg, #D9E4F5 0%, #D9E4F5 50%, #FF08E8 50%, #FF08E8 100%);
  background: -ms-linear-gradient(45deg, #D9E4F5 0%, #D9E4F5 50%, #FF08E8 50%, #FF08E8 100%);
  background: -o-linear-gradient(45deg, #D9E4F5 0%, #D9E4F5 50%, #FF08E8 50%, #FF08E8 100%);
  background: linear-gradient(45deg, #D9E4F5 0%, #D9E4F5 50%, #FF08E8 50%, #FF08E8 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #D9E4F5 0%, #D9E4F5 50%, #6B3FA0 50%, #6B3FA0 100%);
  background: -moz-linear-gradient(45deg, #D9E4F5 0%, #D9E4F5 50%, #6B3FA0 50%, #6B3FA0 100%);
  background: -ms-linear-gradient(45deg, #D9E4F5 0%, #D9E4F5 50%, #6B3FA0 50%, #6B3FA0 100%);
  background: -o-linear-gradient(45deg, #D9E4F5 0%, #D9E4F5 50%, #6B3FA0 50%, #6B3FA0 100%);
  background: linear-gradient(45deg, #D9E4F5 0%, #D9E4F5 50%, #6B3FA0 50%, #6B3FA0 100%);
}
.combo:hover #name_combo_4 p {
  color: #ffffff;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #D9E4F5 0%, #D9E4F5 50%, #54C571 50%, #54C571 100%);
  background: -moz-linear-gradient(45deg, #D9E4F5 0%, #D9E4F5 50%, #54C571 50%, #54C571 100%);
  background: -ms-linear-gradient(45deg, #D9E4F5 0%, #D9E4F5 50%, #54C571 50%, #54C571 100%);
  background: -o-linear-gradient(45deg, #D9E4F5 0%, #D9E4F5 50%, #54C571 50%, #54C571 100%);
  background: linear-gradient(45deg, #D9E4F5 0%, #D9E4F5 50%, #54C571 50%, #54C571 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_10 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #D9E4F5;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #D9E4F5;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #D9E4F5;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #D9E4F5;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #D9E4F5;
}

#card_tone_2 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #D9E4F5;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #D9E4F5;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #D9E4F5;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #D9E4F5;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #D9E4F5;
}
