
:root {
    --col-header-border: #019529;
}

#card_shade_1 {
  background: #001D08;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #003B10;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #005818;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #017620;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #019529;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #1DA541;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #3EB75E;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #65C980;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #92DBA6;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #C6EDD0;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #454C47;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #435448;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #415C48;
}
.card:hover #name_tone_3 p {
  color: #ffffff;
}

#card_tone_4 {
  background: #3C6447;
}
.card:hover #name_tone_4 p {
  color: #ffffff;
}

#card_tone_5 {
  background: #366C45;
}
.card:hover #name_tone_5 p {
  color: #ffffff;
}

#card_tone_6 {
  background: #2F7441;
}
.card:hover #name_tone_6 p {
  color: #ffffff;
}

#card_tone_7 {
  background: #267C3D;
}
.card:hover #name_tone_7 p {
  color: #ffffff;
}

#card_tone_8 {
  background: #1B8437;
}
.card:hover #name_tone_8 p {
  color: #ffffff;
}

#card_tone_9 {
  background: #0F8B30;
}
.card:hover #name_tone_9 p {
  color: #ffffff;
}

#card_tone_10 {
  background: #019529;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #089404;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #087830;
}
.circle:hover #name_simcol_2 p {
  color: #ffffff;
}

#card_simcol_3 {
  background: #008000;
}
.circle:hover #name_simcol_3 p {
  color: #ffffff;
}

#card_simcol_4 {
  background: #01A368;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #00A86B;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: linear-gradient(45deg, #019529 0%, #019529 50%, #93CCEA 50%, #93CCEA 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: linear-gradient(45deg, #019529 0%, #019529 50%, #90EE90 50%, #90EE90 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: linear-gradient(45deg, #019529 0%, #019529 50%, #A4C639 50%, #A4C639 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: linear-gradient(45deg, #019529 0%, #019529 50%, #EE82EE 50%, #EE82EE 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: linear-gradient(45deg, #019529 0%, #019529 50%, #E18E96 50%, #E18E96 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_5 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #019529;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #019529;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #019529;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #019529;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #019529;
}

#card_tone_10 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #019529;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #019529;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #019529;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #019529;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #019529;
}
