
:root {
    --col-header-border: #0070FF;
}

#card_shade_1 {
  background: #00122A;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #002654;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #00397F;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #004CA9;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #005FD4;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #0070FF;
}
.card:hover #name_shade_6 p {
  color: #ffffff;
}

#card_shade_7 {
  background: #328EFF;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #66AAFF;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #99C6FF;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #CCE2FF;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #787E85;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #758292;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #7085A0;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #6887AD;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #5D87BB;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #5086C8;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #4083D6;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #2D7FE3;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #1879F1;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #0070FF;
}
.card:hover #name_tone_10 p {
  color: #ffffff;
}

#card_simcol_1 {
  background: #0165FC;
}
.circle:hover #name_simcol_1 p {
  color: #ffffff;
}

#card_simcol_2 {
  background: #007FFF;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #157DEC;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #247AFD;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #1D5DEC;
}
.circle:hover #name_simcol_5 p {
  color: #ffffff;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #0070FF 0%, #0070FF 50%, #EF3038 50%, #EF3038 100%);
  background: -moz-linear-gradient(45deg, #0070FF 0%, #0070FF 50%, #EF3038 50%, #EF3038 100%);
  background: -ms-linear-gradient(45deg, #0070FF 0%, #0070FF 50%, #EF3038 50%, #EF3038 100%);
  background: -o-linear-gradient(45deg, #0070FF 0%, #0070FF 50%, #EF3038 50%, #EF3038 100%);
  background: linear-gradient(45deg, #0070FF 0%, #0070FF 50%, #EF3038 50%, #EF3038 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #0070FF 0%, #0070FF 50%, #1DACD6 50%, #1DACD6 100%);
  background: -moz-linear-gradient(45deg, #0070FF 0%, #0070FF 50%, #1DACD6 50%, #1DACD6 100%);
  background: -ms-linear-gradient(45deg, #0070FF 0%, #0070FF 50%, #1DACD6 50%, #1DACD6 100%);
  background: -o-linear-gradient(45deg, #0070FF 0%, #0070FF 50%, #1DACD6 50%, #1DACD6 100%);
  background: linear-gradient(45deg, #0070FF 0%, #0070FF 50%, #1DACD6 50%, #1DACD6 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #0070FF 0%, #0070FF 50%, #00FF7F 50%, #00FF7F 100%);
  background: -moz-linear-gradient(45deg, #0070FF 0%, #0070FF 50%, #00FF7F 50%, #00FF7F 100%);
  background: -ms-linear-gradient(45deg, #0070FF 0%, #0070FF 50%, #00FF7F 50%, #00FF7F 100%);
  background: -o-linear-gradient(45deg, #0070FF 0%, #0070FF 50%, #00FF7F 50%, #00FF7F 100%);
  background: linear-gradient(45deg, #0070FF 0%, #0070FF 50%, #00FF7F 50%, #00FF7F 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #0070FF 0%, #0070FF 50%, #B6FFBB 50%, #B6FFBB 100%);
  background: -moz-linear-gradient(45deg, #0070FF 0%, #0070FF 50%, #B6FFBB 50%, #B6FFBB 100%);
  background: -ms-linear-gradient(45deg, #0070FF 0%, #0070FF 50%, #B6FFBB 50%, #B6FFBB 100%);
  background: -o-linear-gradient(45deg, #0070FF 0%, #0070FF 50%, #B6FFBB 50%, #B6FFBB 100%);
  background: linear-gradient(45deg, #0070FF 0%, #0070FF 50%, #B6FFBB 50%, #B6FFBB 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #0070FF 0%, #0070FF 50%, #FF6FFF 50%, #FF6FFF 100%);
  background: -moz-linear-gradient(45deg, #0070FF 0%, #0070FF 50%, #FF6FFF 50%, #FF6FFF 100%);
  background: -ms-linear-gradient(45deg, #0070FF 0%, #0070FF 50%, #FF6FFF 50%, #FF6FFF 100%);
  background: -o-linear-gradient(45deg, #0070FF 0%, #0070FF 50%, #FF6FFF 50%, #FF6FFF 100%);
  background: linear-gradient(45deg, #0070FF 0%, #0070FF 50%, #FF6FFF 50%, #FF6FFF 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_6 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #0070FF;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #0070FF;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #0070FF;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #0070FF;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #0070FF;
}

#card_tone_10 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #0070FF;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #0070FF;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #0070FF;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #0070FF;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #0070FF;
}
