
:root {
    --col-header-border: #ACBF69;
}

#card_shade_1 {
  background: #181B0F;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #31361E;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #4A522D;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #626D3C;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #7B884B;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #93A35A;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #ACBF69;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #BFCF89;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #D3DEAC;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #E8EED3;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #666860;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #757967;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #848B6B;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #929C6D;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #9FAD6C;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #ACBF69;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #AEC657;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #AFCD43;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #B0D42E;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #B1DB18;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #A9BE70;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #A4BE5C;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #B9C46A;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #B8C25D;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #A6C875;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: linear-gradient(45deg, #ACBF69 0%, #ACBF69 50%, #CAFFFB 50%, #CAFFFB 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: linear-gradient(45deg, #ACBF69 0%, #ACBF69 50%, #B8FFEB 50%, #B8FFEB 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: linear-gradient(45deg, #ACBF69 0%, #ACBF69 50%, #D2F6DE 50%, #D2F6DE 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: linear-gradient(45deg, #ACBF69 0%, #ACBF69 50%, #0ABAB5 50%, #0ABAB5 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: linear-gradient(45deg, #ACBF69 0%, #ACBF69 50%, #B6FFBB 50%, #B6FFBB 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_7 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #ACBF69;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #ACBF69;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #ACBF69;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #ACBF69;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #ACBF69;
}

#card_tone_6 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #ACBF69;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #ACBF69;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #ACBF69;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #ACBF69;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #ACBF69;
}
