
:root {
    --col-header-border: #9EA587;
}

#card_shade_1 {
  background: #161713;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #2D2F26;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #43463A;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #5A5E4D;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #717661;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #888E74;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #9EA587;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #B6BCA2;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #CED2BF;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #E6E9DE;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #62635D;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #808474;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #9EA587;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #A0AB7B;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #A1B16D;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #A2B75E;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #A3BD4D;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #A3C33C;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #A3C829;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #A3CE15;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #9B9E8F;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #ACB78E;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #9CB071;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #A4AF6E;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #9F9F9C;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: linear-gradient(45deg, #9EA587 0%, #9EA587 50%, #C9FFE5 50%, #C9FFE5 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: linear-gradient(45deg, #9EA587 0%, #9EA587 50%, #6B3FA0 50%, #6B3FA0 100%);
}
.combo:hover #name_combo_2 p {
  color: #ffffff;
}

#card_combo_3 {
  background: linear-gradient(45deg, #9EA587 0%, #9EA587 50%, #B1F4E7 50%, #B1F4E7 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: linear-gradient(45deg, #9EA587 0%, #9EA587 50%, #4E7F9E 50%, #4E7F9E 100%);
}
.combo:hover #name_combo_4 p {
  color: #ffffff;
}

#card_combo_5 {
  background: linear-gradient(45deg, #9EA587 0%, #9EA587 50%, #B6FFBB 50%, #B6FFBB 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_7 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #9EA587;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #9EA587;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #9EA587;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #9EA587;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #9EA587;
}

#card_tone_3 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #9EA587;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #9EA587;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #9EA587;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #9EA587;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #9EA587;
}
