
:root {
    --col-header-border: #01371A;
}

#card_shade_1 {
  background: #001208;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #002511;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #01371A;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #0B512A;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #1C6A3F;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #328356;
}
.card:hover #name_shade_6 p {
  color: #ffffff;
}

#card_shade_7 {
  background: #4F9C71;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #72B590;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #9ACEB1;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #C9E7D7;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #191C1B;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #191F1C;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #18221D;
}
.card:hover #name_tone_3 p {
  color: #ffffff;
}

#card_tone_4 {
  background: #16251D;
}
.card:hover #name_tone_4 p {
  color: #ffffff;
}

#card_tone_5 {
  background: #14281D;
}
.card:hover #name_tone_5 p {
  color: #ffffff;
}

#card_tone_6 {
  background: #122B1D;
}
.card:hover #name_tone_6 p {
  color: #ffffff;
}

#card_tone_7 {
  background: #0E2E1D;
}
.card:hover #name_tone_7 p {
  color: #ffffff;
}

#card_tone_8 {
  background: #0A311C;
}
.card:hover #name_tone_8 p {
  color: #ffffff;
}

#card_tone_9 {
  background: #06351B;
}
.card:hover #name_tone_9 p {
  color: #ffffff;
}

#card_tone_10 {
  background: #01371A;
}
.card:hover #name_tone_10 p {
  color: #ffffff;
}

#card_simcol_1 {
  background: #004620;
}
.circle:hover #name_simcol_1 p {
  color: #ffffff;
}

#card_simcol_2 {
  background: #044022;
}
.circle:hover #name_simcol_2 p {
  color: #ffffff;
}

#card_simcol_3 {
  background: #05472A;
}
.circle:hover #name_simcol_3 p {
  color: #ffffff;
}

#card_simcol_4 {
  background: #004816;
}
.circle:hover #name_simcol_4 p {
  color: #ffffff;
}

#card_simcol_5 {
  background: #02402C;
}
.circle:hover #name_simcol_5 p {
  color: #ffffff;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #01371A 0%, #01371A 50%, #BA55D3 50%, #BA55D3 100%);
  background: -moz-linear-gradient(45deg, #01371A 0%, #01371A 50%, #BA55D3 50%, #BA55D3 100%);
  background: -ms-linear-gradient(45deg, #01371A 0%, #01371A 50%, #BA55D3 50%, #BA55D3 100%);
  background: -o-linear-gradient(45deg, #01371A 0%, #01371A 50%, #BA55D3 50%, #BA55D3 100%);
  background: linear-gradient(45deg, #01371A 0%, #01371A 50%, #BA55D3 50%, #BA55D3 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #01371A 0%, #01371A 50%, #9AF764 50%, #9AF764 100%);
  background: -moz-linear-gradient(45deg, #01371A 0%, #01371A 50%, #9AF764 50%, #9AF764 100%);
  background: -ms-linear-gradient(45deg, #01371A 0%, #01371A 50%, #9AF764 50%, #9AF764 100%);
  background: -o-linear-gradient(45deg, #01371A 0%, #01371A 50%, #9AF764 50%, #9AF764 100%);
  background: linear-gradient(45deg, #01371A 0%, #01371A 50%, #9AF764 50%, #9AF764 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #01371A 0%, #01371A 50%, #74C365 50%, #74C365 100%);
  background: -moz-linear-gradient(45deg, #01371A 0%, #01371A 50%, #74C365 50%, #74C365 100%);
  background: -ms-linear-gradient(45deg, #01371A 0%, #01371A 50%, #74C365 50%, #74C365 100%);
  background: -o-linear-gradient(45deg, #01371A 0%, #01371A 50%, #74C365 50%, #74C365 100%);
  background: linear-gradient(45deg, #01371A 0%, #01371A 50%, #74C365 50%, #74C365 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #01371A 0%, #01371A 50%, #B1D27B 50%, #B1D27B 100%);
  background: -moz-linear-gradient(45deg, #01371A 0%, #01371A 50%, #B1D27B 50%, #B1D27B 100%);
  background: -ms-linear-gradient(45deg, #01371A 0%, #01371A 50%, #B1D27B 50%, #B1D27B 100%);
  background: -o-linear-gradient(45deg, #01371A 0%, #01371A 50%, #B1D27B 50%, #B1D27B 100%);
  background: linear-gradient(45deg, #01371A 0%, #01371A 50%, #B1D27B 50%, #B1D27B 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #01371A 0%, #01371A 50%, #CA7B80 50%, #CA7B80 100%);
  background: -moz-linear-gradient(45deg, #01371A 0%, #01371A 50%, #CA7B80 50%, #CA7B80 100%);
  background: -ms-linear-gradient(45deg, #01371A 0%, #01371A 50%, #CA7B80 50%, #CA7B80 100%);
  background: -o-linear-gradient(45deg, #01371A 0%, #01371A 50%, #CA7B80 50%, #CA7B80 100%);
  background: linear-gradient(45deg, #01371A 0%, #01371A 50%, #CA7B80 50%, #CA7B80 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_3 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #01371A;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #01371A;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #01371A;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #01371A;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #01371A;
}

#card_tone_10 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #01371A;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #01371A;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #01371A;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #01371A;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #01371A;
}
