
:root {
    --col-header-border: #71AA34;
}

#card_shade_1 {
  background: #121C08;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #253811;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #38551A;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #4B7123;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #5E8E2C;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #71AA34;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #89BB54;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #A3CC77;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #BFDDA0;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #DEEECD;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #565A52;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #5D6654;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #637153;
}
.card:hover #name_tone_3 p {
  color: #ffffff;
}

#card_tone_4 {
  background: #687C51;
}
.card:hover #name_tone_4 p {
  color: #ffffff;
}

#card_tone_5 {
  background: #6B884D;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #6E9347;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #709F3F;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #71AA34;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #73BB26;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #73CC15;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #70B23F;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #6AA121;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #6CBB3C;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #90B134;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #8FAE22;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #71AA34 0%, #71AA34 50%, #8EEBEC 50%, #8EEBEC 100%);
  background: -moz-linear-gradient(45deg, #71AA34 0%, #71AA34 50%, #8EEBEC 50%, #8EEBEC 100%);
  background: -ms-linear-gradient(45deg, #71AA34 0%, #71AA34 50%, #8EEBEC 50%, #8EEBEC 100%);
  background: -o-linear-gradient(45deg, #71AA34 0%, #71AA34 50%, #8EEBEC 50%, #8EEBEC 100%);
  background: linear-gradient(45deg, #71AA34 0%, #71AA34 50%, #8EEBEC 50%, #8EEBEC 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #71AA34 0%, #71AA34 50%, #A6FBB2 50%, #A6FBB2 100%);
  background: -moz-linear-gradient(45deg, #71AA34 0%, #71AA34 50%, #A6FBB2 50%, #A6FBB2 100%);
  background: -ms-linear-gradient(45deg, #71AA34 0%, #71AA34 50%, #A6FBB2 50%, #A6FBB2 100%);
  background: -o-linear-gradient(45deg, #71AA34 0%, #71AA34 50%, #A6FBB2 50%, #A6FBB2 100%);
  background: linear-gradient(45deg, #71AA34 0%, #71AA34 50%, #A6FBB2 50%, #A6FBB2 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #71AA34 0%, #71AA34 50%, #8CFD7E 50%, #8CFD7E 100%);
  background: -moz-linear-gradient(45deg, #71AA34 0%, #71AA34 50%, #8CFD7E 50%, #8CFD7E 100%);
  background: -ms-linear-gradient(45deg, #71AA34 0%, #71AA34 50%, #8CFD7E 50%, #8CFD7E 100%);
  background: -o-linear-gradient(45deg, #71AA34 0%, #71AA34 50%, #8CFD7E 50%, #8CFD7E 100%);
  background: linear-gradient(45deg, #71AA34 0%, #71AA34 50%, #8CFD7E 50%, #8CFD7E 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #71AA34 0%, #71AA34 50%, #A0FEBF 50%, #A0FEBF 100%);
  background: -moz-linear-gradient(45deg, #71AA34 0%, #71AA34 50%, #A0FEBF 50%, #A0FEBF 100%);
  background: -ms-linear-gradient(45deg, #71AA34 0%, #71AA34 50%, #A0FEBF 50%, #A0FEBF 100%);
  background: -o-linear-gradient(45deg, #71AA34 0%, #71AA34 50%, #A0FEBF 50%, #A0FEBF 100%);
  background: linear-gradient(45deg, #71AA34 0%, #71AA34 50%, #A0FEBF 50%, #A0FEBF 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #71AA34 0%, #71AA34 50%, #7FFFD4 50%, #7FFFD4 100%);
  background: -moz-linear-gradient(45deg, #71AA34 0%, #71AA34 50%, #7FFFD4 50%, #7FFFD4 100%);
  background: -ms-linear-gradient(45deg, #71AA34 0%, #71AA34 50%, #7FFFD4 50%, #7FFFD4 100%);
  background: -o-linear-gradient(45deg, #71AA34 0%, #71AA34 50%, #7FFFD4 50%, #7FFFD4 100%);
  background: linear-gradient(45deg, #71AA34 0%, #71AA34 50%, #7FFFD4 50%, #7FFFD4 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_6 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #71AA34;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #71AA34;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #71AA34;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #71AA34;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #71AA34;
}

#card_tone_8 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #71AA34;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #71AA34;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #71AA34;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #71AA34;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #71AA34;
}
