
:root {
    --col-header-border: #DAFAFF;
}

#card_shade_1 {
  background: #181B1C;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #303738;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #485355;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #606F71;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #788A8D;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #90A6AA;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #A8C2C6;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #C0DEE2;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #DAFAFF;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #EBFCFF;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #919799;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #B7C9CC;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #DAFAFF;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #BDF6FF;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #A2F2FF;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #87EFFF;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #6CEBFF;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #51E7FF;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #36E4FF;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #1BE0FF;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #D9F7FF;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #D0FEFE;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #DEF5FF;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #E7F8FF;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #D6FFFE;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #DAFAFF 0%, #DAFAFF 50%, #805B87 50%, #805B87 100%);
  background: -moz-linear-gradient(45deg, #DAFAFF 0%, #DAFAFF 50%, #805B87 50%, #805B87 100%);
  background: -ms-linear-gradient(45deg, #DAFAFF 0%, #DAFAFF 50%, #805B87 50%, #805B87 100%);
  background: -o-linear-gradient(45deg, #DAFAFF 0%, #DAFAFF 50%, #805B87 50%, #805B87 100%);
  background: linear-gradient(45deg, #DAFAFF 0%, #DAFAFF 50%, #805B87 50%, #805B87 100%);
}
.combo:hover #name_combo_1 p {
  color: #ffffff;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #DAFAFF 0%, #DAFAFF 50%, #354E8C 50%, #354E8C 100%);
  background: -moz-linear-gradient(45deg, #DAFAFF 0%, #DAFAFF 50%, #354E8C 50%, #354E8C 100%);
  background: -ms-linear-gradient(45deg, #DAFAFF 0%, #DAFAFF 50%, #354E8C 50%, #354E8C 100%);
  background: -o-linear-gradient(45deg, #DAFAFF 0%, #DAFAFF 50%, #354E8C 50%, #354E8C 100%);
  background: linear-gradient(45deg, #DAFAFF 0%, #DAFAFF 50%, #354E8C 50%, #354E8C 100%);
}
.combo:hover #name_combo_2 p {
  color: #ffffff;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #DAFAFF 0%, #DAFAFF 50%, #C9D179 50%, #C9D179 100%);
  background: -moz-linear-gradient(45deg, #DAFAFF 0%, #DAFAFF 50%, #C9D179 50%, #C9D179 100%);
  background: -ms-linear-gradient(45deg, #DAFAFF 0%, #DAFAFF 50%, #C9D179 50%, #C9D179 100%);
  background: -o-linear-gradient(45deg, #DAFAFF 0%, #DAFAFF 50%, #C9D179 50%, #C9D179 100%);
  background: linear-gradient(45deg, #DAFAFF 0%, #DAFAFF 50%, #C9D179 50%, #C9D179 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #DAFAFF 0%, #DAFAFF 50%, #4E387E 50%, #4E387E 100%);
  background: -moz-linear-gradient(45deg, #DAFAFF 0%, #DAFAFF 50%, #4E387E 50%, #4E387E 100%);
  background: -ms-linear-gradient(45deg, #DAFAFF 0%, #DAFAFF 50%, #4E387E 50%, #4E387E 100%);
  background: -o-linear-gradient(45deg, #DAFAFF 0%, #DAFAFF 50%, #4E387E 50%, #4E387E 100%);
  background: linear-gradient(45deg, #DAFAFF 0%, #DAFAFF 50%, #4E387E 50%, #4E387E 100%);
}
.combo:hover #name_combo_4 p {
  color: #ffffff;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #DAFAFF 0%, #DAFAFF 50%, #A552E6 50%, #A552E6 100%);
  background: -moz-linear-gradient(45deg, #DAFAFF 0%, #DAFAFF 50%, #A552E6 50%, #A552E6 100%);
  background: -ms-linear-gradient(45deg, #DAFAFF 0%, #DAFAFF 50%, #A552E6 50%, #A552E6 100%);
  background: -o-linear-gradient(45deg, #DAFAFF 0%, #DAFAFF 50%, #A552E6 50%, #A552E6 100%);
  background: linear-gradient(45deg, #DAFAFF 0%, #DAFAFF 50%, #A552E6 50%, #A552E6 100%);
}
.combo:hover #name_combo_5 p {
  color: #ffffff;
}

#card_shade_9 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #DAFAFF;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #DAFAFF;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #DAFAFF;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #DAFAFF;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #DAFAFF;
}

#card_tone_3 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #DAFAFF;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #DAFAFF;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #DAFAFF;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #DAFAFF;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #DAFAFF;
}
