
:root {
    --col-header-border: #510AC9;
}

#card_shade_1 {
  background: #0D0121;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #1A0342;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #280564;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #350686;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #4208A7;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #510AC9;
}
.card:hover #name_shade_6 p {
  color: #ffffff;
}

#card_shade_7 {
  background: #6E32D4;
}
.card:hover #name_shade_7 p {
  color: #ffffff;
}

#card_shade_8 {
  background: #8E5FDE;
}
.card:hover #name_shade_8 p {
  color: #ffffff;
}

#card_shade_9 {
  background: #B190E9;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #D6C5F4;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #625F69;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #655D73;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #675A7E;
}
.card:hover #name_tone_3 p {
  color: #ffffff;
}

#card_tone_4 {
  background: #685589;
}
.card:hover #name_tone_4 p {
  color: #ffffff;
}

#card_tone_5 {
  background: #674D93;
}
.card:hover #name_tone_5 p {
  color: #ffffff;
}

#card_tone_6 {
  background: #65449E;
}
.card:hover #name_tone_6 p {
  color: #ffffff;
}

#card_tone_7 {
  background: #6238A9;
}
.card:hover #name_tone_7 p {
  color: #ffffff;
}

#card_tone_8 {
  background: #5D2BB4;
}
.card:hover #name_tone_8 p {
  color: #ffffff;
}

#card_tone_9 {
  background: #571BBE;
}
.card:hover #name_tone_9 p {
  color: #ffffff;
}

#card_tone_10 {
  background: #510AC9;
}
.card:hover #name_tone_10 p {
  color: #ffffff;
}

#card_simcol_1 {
  background: #5729CE;
}
.circle:hover #name_simcol_1 p {
  color: #ffffff;
}

#card_simcol_2 {
  background: #652DC1;
}
.circle:hover #name_simcol_2 p {
  color: #ffffff;
}

#card_simcol_3 {
  background: #632DE9;
}
.circle:hover #name_simcol_3 p {
  color: #ffffff;
}

#card_simcol_4 {
  background: #601EF9;
}
.circle:hover #name_simcol_4 p {
  color: #ffffff;
}

#card_simcol_5 {
  background: #3F00FF;
}
.circle:hover #name_simcol_5 p {
  color: #ffffff;
}

#card_combo_1 {
  background: linear-gradient(45deg, #510AC9 0%, #510AC9 50%, #77BFC7 50%, #77BFC7 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: linear-gradient(45deg, #510AC9 0%, #510AC9 50%, #BD978E 50%, #BD978E 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: linear-gradient(45deg, #510AC9 0%, #510AC9 50%, #61E160 50%, #61E160 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: linear-gradient(45deg, #510AC9 0%, #510AC9 50%, #D2B9D3 50%, #D2B9D3 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: linear-gradient(45deg, #510AC9 0%, #510AC9 50%, #D2B48C 50%, #D2B48C 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_6 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #510AC9;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #510AC9;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #510AC9;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #510AC9;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #510AC9;
}

#card_tone_10 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #510AC9;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #510AC9;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #510AC9;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #510AC9;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #510AC9;
}
