
#card_shade_1 {
  background: #1B1C17;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #36382E;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #525445;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #6D705D;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #898C74;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #A4A88B;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #C0C4A2;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #DBE0BA;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #F8FDD3;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #FBFDE8;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #96978E;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #C7C9B3;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #F8FDD3;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #F4FCB7;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #F1FC9D;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #EEFD83;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #ECFD68;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #E9FD4E;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #E6FD34;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #E3FE19;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #FCFEDA;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #FAFDE4;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #FAFAD2;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #F5FFBE;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #FFFFCC;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #F8FDD3 0%, #F8FDD3 50%, #43B3AE 50%, #43B3AE 100%);
  background: -moz-linear-gradient(45deg, #F8FDD3 0%, #F8FDD3 50%, #43B3AE 50%, #43B3AE 100%);
  background: -ms-linear-gradient(45deg, #F8FDD3 0%, #F8FDD3 50%, #43B3AE 50%, #43B3AE 100%);
  background: -o-linear-gradient(45deg, #F8FDD3 0%, #F8FDD3 50%, #43B3AE 50%, #43B3AE 100%);
  background: linear-gradient(45deg, #F8FDD3 0%, #F8FDD3 50%, #43B3AE 50%, #43B3AE 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #F8FDD3 0%, #F8FDD3 50%, #45B1E8 50%, #45B1E8 100%);
  background: -moz-linear-gradient(45deg, #F8FDD3 0%, #F8FDD3 50%, #45B1E8 50%, #45B1E8 100%);
  background: -ms-linear-gradient(45deg, #F8FDD3 0%, #F8FDD3 50%, #45B1E8 50%, #45B1E8 100%);
  background: -o-linear-gradient(45deg, #F8FDD3 0%, #F8FDD3 50%, #45B1E8 50%, #45B1E8 100%);
  background: linear-gradient(45deg, #F8FDD3 0%, #F8FDD3 50%, #45B1E8 50%, #45B1E8 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #F8FDD3 0%, #F8FDD3 50%, #57E964 50%, #57E964 100%);
  background: -moz-linear-gradient(45deg, #F8FDD3 0%, #F8FDD3 50%, #57E964 50%, #57E964 100%);
  background: -ms-linear-gradient(45deg, #F8FDD3 0%, #F8FDD3 50%, #57E964 50%, #57E964 100%);
  background: -o-linear-gradient(45deg, #F8FDD3 0%, #F8FDD3 50%, #57E964 50%, #57E964 100%);
  background: linear-gradient(45deg, #F8FDD3 0%, #F8FDD3 50%, #57E964 50%, #57E964 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #F8FDD3 0%, #F8FDD3 50%, #E25465 50%, #E25465 100%);
  background: -moz-linear-gradient(45deg, #F8FDD3 0%, #F8FDD3 50%, #E25465 50%, #E25465 100%);
  background: -ms-linear-gradient(45deg, #F8FDD3 0%, #F8FDD3 50%, #E25465 50%, #E25465 100%);
  background: -o-linear-gradient(45deg, #F8FDD3 0%, #F8FDD3 50%, #E25465 50%, #E25465 100%);
  background: linear-gradient(45deg, #F8FDD3 0%, #F8FDD3 50%, #E25465 50%, #E25465 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #F8FDD3 0%, #F8FDD3 50%, #89C35C 50%, #89C35C 100%);
  background: -moz-linear-gradient(45deg, #F8FDD3 0%, #F8FDD3 50%, #89C35C 50%, #89C35C 100%);
  background: -ms-linear-gradient(45deg, #F8FDD3 0%, #F8FDD3 50%, #89C35C 50%, #89C35C 100%);
  background: -o-linear-gradient(45deg, #F8FDD3 0%, #F8FDD3 50%, #89C35C 50%, #89C35C 100%);
  background: linear-gradient(45deg, #F8FDD3 0%, #F8FDD3 50%, #89C35C 50%, #89C35C 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_9 {
  border-color: var(--col-accent2);
}

#card_tone_3 {
  border-color: var(--col-accent2);
}

:root {
  --shadow-swatch: 0 3px 6px rgba(0,0,0,.3);
}
