
:root {
    --col-header-border: #B7C9E2;
}

#card_shade_1 {
  background: #141618;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #282C32;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #3D434B;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #515964;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #66707D;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #7A8697;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #8E9DB0;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #A3B3C9;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #B7C9E2;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #DAE4F0;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #7F8388;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #9EA8B5;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #B7C9E2;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #A2BFE4;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #8CB3E6;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #75A7E8;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #5F9BEA;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #478EEB;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #3082ED;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #1875EF;
}
.card:hover #name_tone_10 p {
  color: #ffffff;
}

#card_simcol_1 {
  background: #B7CEEC;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #ACC2D9;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #C3CDE6;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #ABCDEF;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #ADBED1;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #B7C9E2 0%, #B7C9E2 50%, #B5485D 50%, #B5485D 100%);
  background: -moz-linear-gradient(45deg, #B7C9E2 0%, #B7C9E2 50%, #B5485D 50%, #B5485D 100%);
  background: -ms-linear-gradient(45deg, #B7C9E2 0%, #B7C9E2 50%, #B5485D 50%, #B5485D 100%);
  background: -o-linear-gradient(45deg, #B7C9E2 0%, #B7C9E2 50%, #B5485D 50%, #B5485D 100%);
  background: linear-gradient(45deg, #B7C9E2 0%, #B7C9E2 50%, #B5485D 50%, #B5485D 100%);
}
.combo:hover #name_combo_1 p {
  color: #ffffff;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #B7C9E2 0%, #B7C9E2 50%, #66B58F 50%, #66B58F 100%);
  background: -moz-linear-gradient(45deg, #B7C9E2 0%, #B7C9E2 50%, #66B58F 50%, #66B58F 100%);
  background: -ms-linear-gradient(45deg, #B7C9E2 0%, #B7C9E2 50%, #66B58F 50%, #66B58F 100%);
  background: -o-linear-gradient(45deg, #B7C9E2 0%, #B7C9E2 50%, #66B58F 50%, #66B58F 100%);
  background: linear-gradient(45deg, #B7C9E2 0%, #B7C9E2 50%, #66B58F 50%, #66B58F 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #B7C9E2 0%, #B7C9E2 50%, #589AAF 50%, #589AAF 100%);
  background: -moz-linear-gradient(45deg, #B7C9E2 0%, #B7C9E2 50%, #589AAF 50%, #589AAF 100%);
  background: -ms-linear-gradient(45deg, #B7C9E2 0%, #B7C9E2 50%, #589AAF 50%, #589AAF 100%);
  background: -o-linear-gradient(45deg, #B7C9E2 0%, #B7C9E2 50%, #589AAF 50%, #589AAF 100%);
  background: linear-gradient(45deg, #B7C9E2 0%, #B7C9E2 50%, #589AAF 50%, #589AAF 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #B7C9E2 0%, #B7C9E2 50%, #9900FA 50%, #9900FA 100%);
  background: -moz-linear-gradient(45deg, #B7C9E2 0%, #B7C9E2 50%, #9900FA 50%, #9900FA 100%);
  background: -ms-linear-gradient(45deg, #B7C9E2 0%, #B7C9E2 50%, #9900FA 50%, #9900FA 100%);
  background: -o-linear-gradient(45deg, #B7C9E2 0%, #B7C9E2 50%, #9900FA 50%, #9900FA 100%);
  background: linear-gradient(45deg, #B7C9E2 0%, #B7C9E2 50%, #9900FA 50%, #9900FA 100%);
}
.combo:hover #name_combo_4 p {
  color: #ffffff;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #B7C9E2 0%, #B7C9E2 50%, #A23BEC 50%, #A23BEC 100%);
  background: -moz-linear-gradient(45deg, #B7C9E2 0%, #B7C9E2 50%, #A23BEC 50%, #A23BEC 100%);
  background: -ms-linear-gradient(45deg, #B7C9E2 0%, #B7C9E2 50%, #A23BEC 50%, #A23BEC 100%);
  background: -o-linear-gradient(45deg, #B7C9E2 0%, #B7C9E2 50%, #A23BEC 50%, #A23BEC 100%);
  background: linear-gradient(45deg, #B7C9E2 0%, #B7C9E2 50%, #A23BEC 50%, #A23BEC 100%);
}
.combo:hover #name_combo_5 p {
  color: #ffffff;
}

#card_shade_9 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #B7C9E2;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #B7C9E2;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #B7C9E2;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #B7C9E2;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #B7C9E2;
}

#card_tone_3 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #B7C9E2;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #B7C9E2;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #B7C9E2;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #B7C9E2;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #B7C9E2;
}
