
:root {
    --col-header-border: #8FD6B4;
}

#card_shade_1 {
  background: #111A16;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #23352D;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #355043;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #476B5A;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #598570;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #6BA087;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #7DBB9D;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #8FD6B4;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #B1E3CB;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #D6F1E4;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #707A75;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #7F998C;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #8AB7A1;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #8FD6B4;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #7CD9AC;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #69DCA4;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #55DF9C;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #40E294;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #2BE58B;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #15E882;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #88D8C0;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #82CBB2;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #78D1B6;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #90E4C1;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #7DD8C6;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #8FD6B4 0%, #8FD6B4 50%, #AF4D43 50%, #AF4D43 100%);
  background: -moz-linear-gradient(45deg, #8FD6B4 0%, #8FD6B4 50%, #AF4D43 50%, #AF4D43 100%);
  background: -ms-linear-gradient(45deg, #8FD6B4 0%, #8FD6B4 50%, #AF4D43 50%, #AF4D43 100%);
  background: -o-linear-gradient(45deg, #8FD6B4 0%, #8FD6B4 50%, #AF4D43 50%, #AF4D43 100%);
  background: linear-gradient(45deg, #8FD6B4 0%, #8FD6B4 50%, #AF4D43 50%, #AF4D43 100%);
}
.combo:hover #name_combo_1 p {
  color: #ffffff;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #8FD6B4 0%, #8FD6B4 50%, #9C6D57 50%, #9C6D57 100%);
  background: -moz-linear-gradient(45deg, #8FD6B4 0%, #8FD6B4 50%, #9C6D57 50%, #9C6D57 100%);
  background: -ms-linear-gradient(45deg, #8FD6B4 0%, #8FD6B4 50%, #9C6D57 50%, #9C6D57 100%);
  background: -o-linear-gradient(45deg, #8FD6B4 0%, #8FD6B4 50%, #9C6D57 50%, #9C6D57 100%);
  background: linear-gradient(45deg, #8FD6B4 0%, #8FD6B4 50%, #9C6D57 50%, #9C6D57 100%);
}
.combo:hover #name_combo_2 p {
  color: #ffffff;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #8FD6B4 0%, #8FD6B4 50%, #9E43A2 50%, #9E43A2 100%);
  background: -moz-linear-gradient(45deg, #8FD6B4 0%, #8FD6B4 50%, #9E43A2 50%, #9E43A2 100%);
  background: -ms-linear-gradient(45deg, #8FD6B4 0%, #8FD6B4 50%, #9E43A2 50%, #9E43A2 100%);
  background: -o-linear-gradient(45deg, #8FD6B4 0%, #8FD6B4 50%, #9E43A2 50%, #9E43A2 100%);
  background: linear-gradient(45deg, #8FD6B4 0%, #8FD6B4 50%, #9E43A2 50%, #9E43A2 100%);
}
.combo:hover #name_combo_3 p {
  color: #ffffff;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #8FD6B4 0%, #8FD6B4 50%, #EDEA99 50%, #EDEA99 100%);
  background: -moz-linear-gradient(45deg, #8FD6B4 0%, #8FD6B4 50%, #EDEA99 50%, #EDEA99 100%);
  background: -ms-linear-gradient(45deg, #8FD6B4 0%, #8FD6B4 50%, #EDEA99 50%, #EDEA99 100%);
  background: -o-linear-gradient(45deg, #8FD6B4 0%, #8FD6B4 50%, #EDEA99 50%, #EDEA99 100%);
  background: linear-gradient(45deg, #8FD6B4 0%, #8FD6B4 50%, #EDEA99 50%, #EDEA99 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #8FD6B4 0%, #8FD6B4 50%, #D6FFDB 50%, #D6FFDB 100%);
  background: -moz-linear-gradient(45deg, #8FD6B4 0%, #8FD6B4 50%, #D6FFDB 50%, #D6FFDB 100%);
  background: -ms-linear-gradient(45deg, #8FD6B4 0%, #8FD6B4 50%, #D6FFDB 50%, #D6FFDB 100%);
  background: -o-linear-gradient(45deg, #8FD6B4 0%, #8FD6B4 50%, #D6FFDB 50%, #D6FFDB 100%);
  background: linear-gradient(45deg, #8FD6B4 0%, #8FD6B4 50%, #D6FFDB 50%, #D6FFDB 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_8 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #8FD6B4;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #8FD6B4;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #8FD6B4;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #8FD6B4;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #8FD6B4;
}

#card_tone_4 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #8FD6B4;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #8FD6B4;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #8FD6B4;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #8FD6B4;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #8FD6B4;
}
