
:root {
    --col-header-border: #FFDCD6;
}

#card_shade_1 {
  background: #1C1817;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #38312F;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #554947;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #71625F;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #8D7A77;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #AA928E;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #C6ABA6;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #E2C3BE;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #FFDCD6;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #FFEDEA;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #999190;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #CCB9B6;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #FFDCD6;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #FFC5BB;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #FFAEA0;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #FF9885;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #FF816B;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #FF6A50;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #FF5335;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #FF3D1A;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #FFDFDD;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #F3E9E5;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #E9E3E3;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #EFDECD;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #FFDAB9;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: linear-gradient(45deg, #FFDCD6 0%, #FFDCD6 50%, #66DDAA 50%, #66DDAA 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: linear-gradient(45deg, #FFDCD6 0%, #FFDCD6 50%, #C9B35B 50%, #C9B35B 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: linear-gradient(45deg, #FFDCD6 0%, #FFDCD6 50%, #E2A76F 50%, #E2A76F 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: linear-gradient(45deg, #FFDCD6 0%, #FFDCD6 50%, #51B73B 50%, #51B73B 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: linear-gradient(45deg, #FFDCD6 0%, #FFDCD6 50%, #DB4BDA 50%, #DB4BDA 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_9 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FFDCD6;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FFDCD6;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FFDCD6;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FFDCD6;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FFDCD6;
}

#card_tone_3 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FFDCD6;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FFDCD6;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FFDCD6;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FFDCD6;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FFDCD6;
}
