
:root {
    --col-header-border: #E89928;
}

#card_shade_1 {
  background: #261906;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #4D320D;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #734B13;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #9A651A;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #C17E20;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #E89928;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #ECAB4F;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #F1BF79;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #F5D3A4;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #FAE9D0;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #79756E;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #877D6E;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #95846B;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #A38A66;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #B08E5F;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #BE9255;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #CC9548;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #DA9739;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #E89928;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #EF9414;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #ED9121;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #E8A317;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #DAA520;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #E49B0F;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #ED872D;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #E89928 0%, #E89928 50%, #BE0119 50%, #BE0119 100%);
  background: -moz-linear-gradient(45deg, #E89928 0%, #E89928 50%, #BE0119 50%, #BE0119 100%);
  background: -ms-linear-gradient(45deg, #E89928 0%, #E89928 50%, #BE0119 50%, #BE0119 100%);
  background: -o-linear-gradient(45deg, #E89928 0%, #E89928 50%, #BE0119 50%, #BE0119 100%);
  background: linear-gradient(45deg, #E89928 0%, #E89928 50%, #BE0119 50%, #BE0119 100%);
}
.combo:hover #name_combo_1 p {
  color: #ffffff;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #E89928 0%, #E89928 50%, #D70A53 50%, #D70A53 100%);
  background: -moz-linear-gradient(45deg, #E89928 0%, #E89928 50%, #D70A53 50%, #D70A53 100%);
  background: -ms-linear-gradient(45deg, #E89928 0%, #E89928 50%, #D70A53 50%, #D70A53 100%);
  background: -o-linear-gradient(45deg, #E89928 0%, #E89928 50%, #D70A53 50%, #D70A53 100%);
  background: linear-gradient(45deg, #E89928 0%, #E89928 50%, #D70A53 50%, #D70A53 100%);
}
.combo:hover #name_combo_2 p {
  color: #ffffff;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #E89928 0%, #E89928 50%, #C12283 50%, #C12283 100%);
  background: -moz-linear-gradient(45deg, #E89928 0%, #E89928 50%, #C12283 50%, #C12283 100%);
  background: -ms-linear-gradient(45deg, #E89928 0%, #E89928 50%, #C12283 50%, #C12283 100%);
  background: -o-linear-gradient(45deg, #E89928 0%, #E89928 50%, #C12283 50%, #C12283 100%);
  background: linear-gradient(45deg, #E89928 0%, #E89928 50%, #C12283 50%, #C12283 100%);
}
.combo:hover #name_combo_3 p {
  color: #ffffff;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #E89928 0%, #E89928 50%, #601EF9 50%, #601EF9 100%);
  background: -moz-linear-gradient(45deg, #E89928 0%, #E89928 50%, #601EF9 50%, #601EF9 100%);
  background: -ms-linear-gradient(45deg, #E89928 0%, #E89928 50%, #601EF9 50%, #601EF9 100%);
  background: -o-linear-gradient(45deg, #E89928 0%, #E89928 50%, #601EF9 50%, #601EF9 100%);
  background: linear-gradient(45deg, #E89928 0%, #E89928 50%, #601EF9 50%, #601EF9 100%);
}
.combo:hover #name_combo_4 p {
  color: #ffffff;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #E89928 0%, #E89928 50%, #D0F0C0 50%, #D0F0C0 100%);
  background: -moz-linear-gradient(45deg, #E89928 0%, #E89928 50%, #D0F0C0 50%, #D0F0C0 100%);
  background: -ms-linear-gradient(45deg, #E89928 0%, #E89928 50%, #D0F0C0 50%, #D0F0C0 100%);
  background: -o-linear-gradient(45deg, #E89928 0%, #E89928 50%, #D0F0C0 50%, #D0F0C0 100%);
  background: linear-gradient(45deg, #E89928 0%, #E89928 50%, #D0F0C0 50%, #D0F0C0 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_6 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E89928;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E89928;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E89928;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E89928;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E89928;
}

#card_tone_9 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E89928;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E89928;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E89928;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E89928;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E89928;
}
