
:root {
    --col-header-border: #C19A6B;
}

#card_shade_1 {
  background: #1B150E;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #362B1E;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #52412D;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #6E583C;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #8A6E4C;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #A6845B;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #C19A6B;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #D1B18A;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #E0C9AD;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #EFE3D4;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #696661;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #7B7368;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #8D7E6D;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #9E896F;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #B0926E;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #C19A6B;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #C89658;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #CF9044;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #D68B2F;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #DD8418;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #CD9575;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #C69F59;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #B2996E;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #D59A6F;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #CBA560;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: linear-gradient(30deg, #C19A6B 0%, #C19A6B 50%, #510AC9 50%, #510AC9 100%);
}
.combo:hover #name_combo_1 p {
  color: #ffffff;
}

#card_combo_2 {
  background: linear-gradient(30deg, #C19A6B 0%, #C19A6B 50%, #893843 50%, #893843 100%);
}
.combo:hover #name_combo_2 p {
  color: #ffffff;
}

#card_combo_3 {
  background: linear-gradient(30deg, #C19A6B 0%, #C19A6B 50%, #873260 50%, #873260 100%);
}
.combo:hover #name_combo_3 p {
  color: #ffffff;
}

#card_combo_4 {
  background: linear-gradient(30deg, #C19A6B 0%, #C19A6B 50%, #1B1035 50%, #1B1035 100%);
}
.combo:hover #name_combo_4 p {
  color: #ffffff;
}

#card_shade_7 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #C19A6B;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #C19A6B;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #C19A6B;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #C19A6B;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #C19A6B;
}

#card_tone_6 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #C19A6B;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #C19A6B;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #C19A6B;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #C19A6B;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #C19A6B;
}
