
#card_shade_1 {
  background: #242310;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #484820;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #6D6C31;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #919041;
}
.card:hover #name_shade_4 p {
  color: #000000;
}

#card_shade_5 {
  background: #B6B451;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #DAD862;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #FFFD74;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #FFFD95;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #FFFDB9;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #FFFEDC;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #8A8A7E;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #A2A184;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #B9B886;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #D0CF84;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #E7E67D;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #FFFD74;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #FFFC5B;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #FFFB44;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #FFFB2D;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #FFFB16;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #FDFF63;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #FFFF81;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #FCFC81;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #FFFA86;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #FCF679;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: linear-gradient(45deg, #FFFD74 0%, #FFFD74 50%, #25FF29 50%, #25FF29 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: linear-gradient(45deg, #FFFD74 0%, #FFFD74 50%, #BB3385 50%, #BB3385 100%);
}
.combo:hover #name_combo_2 p {
  color: #ffffff;
}

#card_combo_3 {
  background: linear-gradient(45deg, #FFFD74 0%, #FFFD74 50%, #2AFEB7 50%, #2AFEB7 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: linear-gradient(45deg, #FFFD74 0%, #FFFD74 50%, #CA6641 50%, #CA6641 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: linear-gradient(45deg, #FFFD74 0%, #FFFD74 50%, #AF4035 50%, #AF4035 100%);
}
.combo:hover #name_combo_5 p {
  color: #ffffff;
}

#card_shade_7 {
  border-color: var(--col-accent2);
}

#card_tone_6 {
  border-color: var(--col-accent2);
}

:root {
  --shadow-swatch: 0 3px 6px rgba(0,0,0,.3);
}
