
#card_shade_1 {
  background: #201D17;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #3F3A2D;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #5E5643;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #7D735A;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #9C9070;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #BBAC87;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #DAC99D;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #FAE7B5;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #FBEECC;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #FDF6E5;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #8E8B84;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #B2AB99;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #D6C9A9;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #FAE7B5;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #FADF9A;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #FAD880;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #FBD167;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #FBCA4D;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #FCC333;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #FCBC19;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #FFE5B4;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #FAEAB9;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #FEE5AC;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #F9E4BC;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #FFEDBC;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: linear-gradient(45deg, #FAE7B5 0%, #FAE7B5 50%, #CD9575 50%, #CD9575 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: linear-gradient(45deg, #FAE7B5 0%, #FAE7B5 50%, #26F7FD 50%, #26F7FD 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: linear-gradient(45deg, #FAE7B5 0%, #FAE7B5 50%, #C875C4 50%, #C875C4 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: linear-gradient(45deg, #FAE7B5 0%, #FAE7B5 50%, #FE59C2 50%, #FE59C2 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: linear-gradient(45deg, #FAE7B5 0%, #FAE7B5 50%, #B3446C 50%, #B3446C 100%);
}
.combo:hover #name_combo_5 p {
  color: #ffffff;
}

#card_shade_8 {
  border-color: var(--col-accent2);
}

#card_tone_4 {
  border-color: var(--col-accent2);
}

:root {
  --shadow-swatch: 0 3px 6px rgba(0,0,0,.3);
}
