
:root {
    --col-header-border: #A8989B;
}

#card_shade_1 {
  background: #181616;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #302B2C;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #484142;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #605658;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #786C6E;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #908184;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #A8989B;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #BDAFB2;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #D3C9CB;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #E9E3E4;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #706A6B;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #A8989B;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #AD8A91;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #B27C87;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #B76E7C;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #BC5E71;
}
.card:hover #name_tone_6 p {
  color: #ffffff;
}

#card_tone_7 {
  background: #C14D64;
}
.card:hover #name_tone_7 p {
  color: #ffffff;
}

#card_tone_8 {
  background: #C63B57;
}
.card:hover #name_tone_8 p {
  color: #ffffff;
}

#card_tone_9 {
  background: #CC2849;
}
.card:hover #name_tone_9 p {
  color: #ffffff;
}

#card_tone_10 {
  background: #D1143A;
}
.card:hover #name_tone_10 p {
  color: #ffffff;
}

#card_simcol_1 {
  background: #C3909B;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #C292A1;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #C88D94;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #C48793;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #CC8899;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #A8989B 0%, #A8989B 50%, #ACE5EE 50%, #ACE5EE 100%);
  background: -moz-linear-gradient(45deg, #A8989B 0%, #A8989B 50%, #ACE5EE 50%, #ACE5EE 100%);
  background: -ms-linear-gradient(45deg, #A8989B 0%, #A8989B 50%, #ACE5EE 50%, #ACE5EE 100%);
  background: -o-linear-gradient(45deg, #A8989B 0%, #A8989B 50%, #ACE5EE 50%, #ACE5EE 100%);
  background: linear-gradient(45deg, #A8989B 0%, #A8989B 50%, #ACE5EE 50%, #ACE5EE 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #A8989B 0%, #A8989B 50%, #DCEDB4 50%, #DCEDB4 100%);
  background: -moz-linear-gradient(45deg, #A8989B 0%, #A8989B 50%, #DCEDB4 50%, #DCEDB4 100%);
  background: -ms-linear-gradient(45deg, #A8989B 0%, #A8989B 50%, #DCEDB4 50%, #DCEDB4 100%);
  background: -o-linear-gradient(45deg, #A8989B 0%, #A8989B 50%, #DCEDB4 50%, #DCEDB4 100%);
  background: linear-gradient(45deg, #A8989B 0%, #A8989B 50%, #DCEDB4 50%, #DCEDB4 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #A8989B 0%, #A8989B 50%, #E5D8AF 50%, #E5D8AF 100%);
  background: -moz-linear-gradient(45deg, #A8989B 0%, #A8989B 50%, #E5D8AF 50%, #E5D8AF 100%);
  background: -ms-linear-gradient(45deg, #A8989B 0%, #A8989B 50%, #E5D8AF 50%, #E5D8AF 100%);
  background: -o-linear-gradient(45deg, #A8989B 0%, #A8989B 50%, #E5D8AF 50%, #E5D8AF 100%);
  background: linear-gradient(45deg, #A8989B 0%, #A8989B 50%, #E5D8AF 50%, #E5D8AF 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #A8989B 0%, #A8989B 50%, #314459 50%, #314459 100%);
  background: -moz-linear-gradient(45deg, #A8989B 0%, #A8989B 50%, #314459 50%, #314459 100%);
  background: -ms-linear-gradient(45deg, #A8989B 0%, #A8989B 50%, #314459 50%, #314459 100%);
  background: -o-linear-gradient(45deg, #A8989B 0%, #A8989B 50%, #314459 50%, #314459 100%);
  background: linear-gradient(45deg, #A8989B 0%, #A8989B 50%, #314459 50%, #314459 100%);
}
.combo:hover #name_combo_4 p {
  color: #ffffff;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #A8989B 0%, #A8989B 50%, #4E7F9E 50%, #4E7F9E 100%);
  background: -moz-linear-gradient(45deg, #A8989B 0%, #A8989B 50%, #4E7F9E 50%, #4E7F9E 100%);
  background: -ms-linear-gradient(45deg, #A8989B 0%, #A8989B 50%, #4E7F9E 50%, #4E7F9E 100%);
  background: -o-linear-gradient(45deg, #A8989B 0%, #A8989B 50%, #4E7F9E 50%, #4E7F9E 100%);
  background: linear-gradient(45deg, #A8989B 0%, #A8989B 50%, #4E7F9E 50%, #4E7F9E 100%);
}
.combo:hover #name_combo_5 p {
  color: #ffffff;
}

#card_shade_7 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #A8989B;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #A8989B;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #A8989B;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #A8989B;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #A8989B;
}

#card_tone_2 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #A8989B;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #A8989B;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #A8989B;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #A8989B;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #A8989B;
}
