
:root {
    --col-header-border: #DCEDB4;
}

#card_shade_1 {
  background: #191B14;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #313528;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #494F3C;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #626950;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #7A8464;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #929E78;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #ABB88C;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #C3D2A0;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #DCEDB4;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #EDF6D8;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #84877F;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #A3A995;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #C0CBA6;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #DCEDB4;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #D5EE9B;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #CEEF81;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #C7F068;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #C1F24E;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #BAF334;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #B3F419;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #DEE5C0;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #E8F1D4;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #E1E6D6;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #ECEBBD;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #E8EBE0;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #DCEDB4 0%, #DCEDB4 50%, #DF00FF 50%, #DF00FF 100%);
  background: -moz-linear-gradient(45deg, #DCEDB4 0%, #DCEDB4 50%, #DF00FF 50%, #DF00FF 100%);
  background: -ms-linear-gradient(45deg, #DCEDB4 0%, #DCEDB4 50%, #DF00FF 50%, #DF00FF 100%);
  background: -o-linear-gradient(45deg, #DCEDB4 0%, #DCEDB4 50%, #DF00FF 50%, #DF00FF 100%);
  background: linear-gradient(45deg, #DCEDB4 0%, #DCEDB4 50%, #DF00FF 50%, #DF00FF 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #DCEDB4 0%, #DCEDB4 50%, #7DD8C6 50%, #7DD8C6 100%);
  background: -moz-linear-gradient(45deg, #DCEDB4 0%, #DCEDB4 50%, #7DD8C6 50%, #7DD8C6 100%);
  background: -ms-linear-gradient(45deg, #DCEDB4 0%, #DCEDB4 50%, #7DD8C6 50%, #7DD8C6 100%);
  background: -o-linear-gradient(45deg, #DCEDB4 0%, #DCEDB4 50%, #7DD8C6 50%, #7DD8C6 100%);
  background: linear-gradient(45deg, #DCEDB4 0%, #DCEDB4 50%, #7DD8C6 50%, #7DD8C6 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #DCEDB4 0%, #DCEDB4 50%, #3CB371 50%, #3CB371 100%);
  background: -moz-linear-gradient(45deg, #DCEDB4 0%, #DCEDB4 50%, #3CB371 50%, #3CB371 100%);
  background: -ms-linear-gradient(45deg, #DCEDB4 0%, #DCEDB4 50%, #3CB371 50%, #3CB371 100%);
  background: -o-linear-gradient(45deg, #DCEDB4 0%, #DCEDB4 50%, #3CB371 50%, #3CB371 100%);
  background: linear-gradient(45deg, #DCEDB4 0%, #DCEDB4 50%, #3CB371 50%, #3CB371 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #DCEDB4 0%, #DCEDB4 50%, #74C365 50%, #74C365 100%);
  background: -moz-linear-gradient(45deg, #DCEDB4 0%, #DCEDB4 50%, #74C365 50%, #74C365 100%);
  background: -ms-linear-gradient(45deg, #DCEDB4 0%, #DCEDB4 50%, #74C365 50%, #74C365 100%);
  background: -o-linear-gradient(45deg, #DCEDB4 0%, #DCEDB4 50%, #74C365 50%, #74C365 100%);
  background: linear-gradient(45deg, #DCEDB4 0%, #DCEDB4 50%, #74C365 50%, #74C365 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #DCEDB4 0%, #DCEDB4 50%, #78D1B6 50%, #78D1B6 100%);
  background: -moz-linear-gradient(45deg, #DCEDB4 0%, #DCEDB4 50%, #78D1B6 50%, #78D1B6 100%);
  background: -ms-linear-gradient(45deg, #DCEDB4 0%, #DCEDB4 50%, #78D1B6 50%, #78D1B6 100%);
  background: -o-linear-gradient(45deg, #DCEDB4 0%, #DCEDB4 50%, #78D1B6 50%, #78D1B6 100%);
  background: linear-gradient(45deg, #DCEDB4 0%, #DCEDB4 50%, #78D1B6 50%, #78D1B6 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_9 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #DCEDB4;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #DCEDB4;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #DCEDB4;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #DCEDB4;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #DCEDB4;
}

#card_tone_4 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #DCEDB4;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #DCEDB4;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #DCEDB4;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #DCEDB4;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #DCEDB4;
}
