
:root {
    --col-header-border: #2FEF10;
}

#card_shade_1 {
  background: #082702;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #104F05;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #197708;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #219F0B;
}
.card:hover #name_shade_4 p {
  color: #000000;
}

#card_shade_5 {
  background: #29C70D;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #2FEF10;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #59F23E;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #81F56C;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #AAF89C;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #D4FBCD;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #757F73;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #758B71;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #74986D;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #70A467;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #6BB15E;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #63BD53;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #5ACA46;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #4ED636;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #41E325;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #2FEF10;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #59E817;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #2CFA1F;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #21FC0D;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #40FD14;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #5FFB17;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #2FEF10 0%, #2FEF10 50%, #C9FFE5 50%, #C9FFE5 100%);
  background: -moz-linear-gradient(45deg, #2FEF10 0%, #2FEF10 50%, #C9FFE5 50%, #C9FFE5 100%);
  background: -ms-linear-gradient(45deg, #2FEF10 0%, #2FEF10 50%, #C9FFE5 50%, #C9FFE5 100%);
  background: -o-linear-gradient(45deg, #2FEF10 0%, #2FEF10 50%, #C9FFE5 50%, #C9FFE5 100%);
  background: linear-gradient(45deg, #2FEF10 0%, #2FEF10 50%, #C9FFE5 50%, #C9FFE5 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #2FEF10 0%, #2FEF10 50%, #FFB97B 50%, #FFB97B 100%);
  background: -moz-linear-gradient(45deg, #2FEF10 0%, #2FEF10 50%, #FFB97B 50%, #FFB97B 100%);
  background: -ms-linear-gradient(45deg, #2FEF10 0%, #2FEF10 50%, #FFB97B 50%, #FFB97B 100%);
  background: -o-linear-gradient(45deg, #2FEF10 0%, #2FEF10 50%, #FFB97B 50%, #FFB97B 100%);
  background: linear-gradient(45deg, #2FEF10 0%, #2FEF10 50%, #FFB97B 50%, #FFB97B 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #2FEF10 0%, #2FEF10 50%, #C23B22 50%, #C23B22 100%);
  background: -moz-linear-gradient(45deg, #2FEF10 0%, #2FEF10 50%, #C23B22 50%, #C23B22 100%);
  background: -ms-linear-gradient(45deg, #2FEF10 0%, #2FEF10 50%, #C23B22 50%, #C23B22 100%);
  background: -o-linear-gradient(45deg, #2FEF10 0%, #2FEF10 50%, #C23B22 50%, #C23B22 100%);
  background: linear-gradient(45deg, #2FEF10 0%, #2FEF10 50%, #C23B22 50%, #C23B22 100%);
}
.combo:hover #name_combo_3 p {
  color: #ffffff;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #2FEF10 0%, #2FEF10 50%, #DCEDB4 50%, #DCEDB4 100%);
  background: -moz-linear-gradient(45deg, #2FEF10 0%, #2FEF10 50%, #DCEDB4 50%, #DCEDB4 100%);
  background: -ms-linear-gradient(45deg, #2FEF10 0%, #2FEF10 50%, #DCEDB4 50%, #DCEDB4 100%);
  background: -o-linear-gradient(45deg, #2FEF10 0%, #2FEF10 50%, #DCEDB4 50%, #DCEDB4 100%);
  background: linear-gradient(45deg, #2FEF10 0%, #2FEF10 50%, #DCEDB4 50%, #DCEDB4 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #2FEF10 0%, #2FEF10 50%, #F1F33F 50%, #F1F33F 100%);
  background: -moz-linear-gradient(45deg, #2FEF10 0%, #2FEF10 50%, #F1F33F 50%, #F1F33F 100%);
  background: -ms-linear-gradient(45deg, #2FEF10 0%, #2FEF10 50%, #F1F33F 50%, #F1F33F 100%);
  background: -o-linear-gradient(45deg, #2FEF10 0%, #2FEF10 50%, #F1F33F 50%, #F1F33F 100%);
  background: linear-gradient(45deg, #2FEF10 0%, #2FEF10 50%, #F1F33F 50%, #F1F33F 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_6 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #2FEF10;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #2FEF10;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #2FEF10;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #2FEF10;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #2FEF10;
}

#card_tone_10 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #2FEF10;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #2FEF10;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #2FEF10;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #2FEF10;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #2FEF10;
}
