
:root {
    --col-header-border: #00FF00;
}

#card_shade_1 {
  background: #002A00;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #005400;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #007F00;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #00A900;
}
.card:hover #name_shade_4 p {
  color: #000000;
}

#card_shade_5 {
  background: #00D400;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #00FF00;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #32FF32;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #66FF66;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #99FF99;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #CCFFCC;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #788578;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #759275;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #70A070;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #68AD68;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #5DBB5D;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #50C850;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #40D640;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #2DE32D;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #18F118;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #00FF00;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #21FC0D;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #00FF3F;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #2CFA1F;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #40FD14;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #25FF29;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: linear-gradient(30deg, #00FF00 0%, #00FF00 50%, #278A5B 50%, #278A5B 100%);
}
.combo:hover #name_combo_1 p {
  color: #ffffff;
}

#card_combo_2 {
  background: linear-gradient(30deg, #00FF00 0%, #00FF00 50%, #00A86B 50%, #00A86B 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: linear-gradient(30deg, #00FF00 0%, #00FF00 50%, #5729CE 50%, #5729CE 100%);
}
.combo:hover #name_combo_3 p {
  color: #ffffff;
}

#card_combo_4 {
  background: linear-gradient(30deg, #00FF00 0%, #00FF00 50%, #AC1DB8 50%, #AC1DB8 100%);
}
.combo:hover #name_combo_4 p {
  color: #ffffff;
}

#card_shade_6 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #00FF00;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #00FF00;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #00FF00;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #00FF00;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #00FF00;
}

#card_tone_10 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #00FF00;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #00FF00;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #00FF00;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #00FF00;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #00FF00;
}
