
:root {
    --col-header-border: #97CD2D;
}

#card_shade_1 {
  background: #192207;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #32440F;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #4B6616;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #64881D;
}
.card:hover #name_shade_4 p {
  color: #000000;
}

#card_shade_5 {
  background: #7DAA25;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #97CD2D;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #A9D650;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #BDE077;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #D2EAA1;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #E8F4CE;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #696C63;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #717863;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #788462;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #7F905E;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #859C58;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #8AA850;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #8FB446;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #93C03A;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #97CD2D;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #9BDD18;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #A1C935;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #A4C639;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #76CD26;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #A4BF20;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #B2C248;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #97CD2D 0%, #97CD2D 50%, #BE0119 50%, #BE0119 100%);
  background: -moz-linear-gradient(45deg, #97CD2D 0%, #97CD2D 50%, #BE0119 50%, #BE0119 100%);
  background: -ms-linear-gradient(45deg, #97CD2D 0%, #97CD2D 50%, #BE0119 50%, #BE0119 100%);
  background: -o-linear-gradient(45deg, #97CD2D 0%, #97CD2D 50%, #BE0119 50%, #BE0119 100%);
  background: linear-gradient(45deg, #97CD2D 0%, #97CD2D 50%, #BE0119 50%, #BE0119 100%);
}
.combo:hover #name_combo_1 p {
  color: #ffffff;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #97CD2D 0%, #97CD2D 50%, #1959A8 50%, #1959A8 100%);
  background: -moz-linear-gradient(45deg, #97CD2D 0%, #97CD2D 50%, #1959A8 50%, #1959A8 100%);
  background: -ms-linear-gradient(45deg, #97CD2D 0%, #97CD2D 50%, #1959A8 50%, #1959A8 100%);
  background: -o-linear-gradient(45deg, #97CD2D 0%, #97CD2D 50%, #1959A8 50%, #1959A8 100%);
  background: linear-gradient(45deg, #97CD2D 0%, #97CD2D 50%, #1959A8 50%, #1959A8 100%);
}
.combo:hover #name_combo_2 p {
  color: #ffffff;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #97CD2D 0%, #97CD2D 50%, #CFE5D2 50%, #CFE5D2 100%);
  background: -moz-linear-gradient(45deg, #97CD2D 0%, #97CD2D 50%, #CFE5D2 50%, #CFE5D2 100%);
  background: -ms-linear-gradient(45deg, #97CD2D 0%, #97CD2D 50%, #CFE5D2 50%, #CFE5D2 100%);
  background: -o-linear-gradient(45deg, #97CD2D 0%, #97CD2D 50%, #CFE5D2 50%, #CFE5D2 100%);
  background: linear-gradient(45deg, #97CD2D 0%, #97CD2D 50%, #CFE5D2 50%, #CFE5D2 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #97CD2D 0%, #97CD2D 50%, #B7FFFA 50%, #B7FFFA 100%);
  background: -moz-linear-gradient(45deg, #97CD2D 0%, #97CD2D 50%, #B7FFFA 50%, #B7FFFA 100%);
  background: -ms-linear-gradient(45deg, #97CD2D 0%, #97CD2D 50%, #B7FFFA 50%, #B7FFFA 100%);
  background: -o-linear-gradient(45deg, #97CD2D 0%, #97CD2D 50%, #B7FFFA 50%, #B7FFFA 100%);
  background: linear-gradient(45deg, #97CD2D 0%, #97CD2D 50%, #B7FFFA 50%, #B7FFFA 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #97CD2D 0%, #97CD2D 50%, #06B1C4 50%, #06B1C4 100%);
  background: -moz-linear-gradient(45deg, #97CD2D 0%, #97CD2D 50%, #06B1C4 50%, #06B1C4 100%);
  background: -ms-linear-gradient(45deg, #97CD2D 0%, #97CD2D 50%, #06B1C4 50%, #06B1C4 100%);
  background: -o-linear-gradient(45deg, #97CD2D 0%, #97CD2D 50%, #06B1C4 50%, #06B1C4 100%);
  background: linear-gradient(45deg, #97CD2D 0%, #97CD2D 50%, #06B1C4 50%, #06B1C4 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_6 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #97CD2D;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #97CD2D;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #97CD2D;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #97CD2D;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #97CD2D;
}

#card_tone_9 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #97CD2D;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #97CD2D;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #97CD2D;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #97CD2D;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #97CD2D;
}
