
:root {
    --col-header-border: #E8F1D4;
}

#card_shade_1 {
  background: #191A16;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #33352E;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #4D5046;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #676B5E;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #818676;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #9BA18D;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #B5BCA5;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #CFD7BD;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #E8F1D4;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #F4F8E9;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #8F918B;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #BDC1B2;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #E8F1D4;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #E2F3BB;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #DAF3A0;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #D3F486;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #CCF56B;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #C4F651;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #BDF636;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #B5F71B;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #EEF4DE;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #EDF5DD;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #E8EBE0;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #EEF0C8;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #DCEDB4;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #E8F1D4 0%, #E8F1D4 50%, #DB4BDA 50%, #DB4BDA 100%);
  background: -moz-linear-gradient(45deg, #E8F1D4 0%, #E8F1D4 50%, #DB4BDA 50%, #DB4BDA 100%);
  background: -ms-linear-gradient(45deg, #E8F1D4 0%, #E8F1D4 50%, #DB4BDA 50%, #DB4BDA 100%);
  background: -o-linear-gradient(45deg, #E8F1D4 0%, #E8F1D4 50%, #DB4BDA 50%, #DB4BDA 100%);
  background: linear-gradient(45deg, #E8F1D4 0%, #E8F1D4 50%, #DB4BDA 50%, #DB4BDA 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #E8F1D4 0%, #E8F1D4 50%, #3CB371 50%, #3CB371 100%);
  background: -moz-linear-gradient(45deg, #E8F1D4 0%, #E8F1D4 50%, #3CB371 50%, #3CB371 100%);
  background: -ms-linear-gradient(45deg, #E8F1D4 0%, #E8F1D4 50%, #3CB371 50%, #3CB371 100%);
  background: -o-linear-gradient(45deg, #E8F1D4 0%, #E8F1D4 50%, #3CB371 50%, #3CB371 100%);
  background: linear-gradient(45deg, #E8F1D4 0%, #E8F1D4 50%, #3CB371 50%, #3CB371 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #E8F1D4 0%, #E8F1D4 50%, #02CCFE 50%, #02CCFE 100%);
  background: -moz-linear-gradient(45deg, #E8F1D4 0%, #E8F1D4 50%, #02CCFE 50%, #02CCFE 100%);
  background: -ms-linear-gradient(45deg, #E8F1D4 0%, #E8F1D4 50%, #02CCFE 50%, #02CCFE 100%);
  background: -o-linear-gradient(45deg, #E8F1D4 0%, #E8F1D4 50%, #02CCFE 50%, #02CCFE 100%);
  background: linear-gradient(45deg, #E8F1D4 0%, #E8F1D4 50%, #02CCFE 50%, #02CCFE 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #E8F1D4 0%, #E8F1D4 50%, #5FA052 50%, #5FA052 100%);
  background: -moz-linear-gradient(45deg, #E8F1D4 0%, #E8F1D4 50%, #5FA052 50%, #5FA052 100%);
  background: -ms-linear-gradient(45deg, #E8F1D4 0%, #E8F1D4 50%, #5FA052 50%, #5FA052 100%);
  background: -o-linear-gradient(45deg, #E8F1D4 0%, #E8F1D4 50%, #5FA052 50%, #5FA052 100%);
  background: linear-gradient(45deg, #E8F1D4 0%, #E8F1D4 50%, #5FA052 50%, #5FA052 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #E8F1D4 0%, #E8F1D4 50%, #66B58F 50%, #66B58F 100%);
  background: -moz-linear-gradient(45deg, #E8F1D4 0%, #E8F1D4 50%, #66B58F 50%, #66B58F 100%);
  background: -ms-linear-gradient(45deg, #E8F1D4 0%, #E8F1D4 50%, #66B58F 50%, #66B58F 100%);
  background: -o-linear-gradient(45deg, #E8F1D4 0%, #E8F1D4 50%, #66B58F 50%, #66B58F 100%);
  background: linear-gradient(45deg, #E8F1D4 0%, #E8F1D4 50%, #66B58F 50%, #66B58F 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_9 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E8F1D4;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E8F1D4;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E8F1D4;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E8F1D4;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E8F1D4;
}

#card_tone_3 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E8F1D4;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E8F1D4;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E8F1D4;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E8F1D4;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E8F1D4;
}
