
:root {
    --col-header-border: #E6E200;
}

#card_shade_1 {
  background: #262500;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #4C4B00;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #727000;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #999600;
}
.card:hover #name_shade_4 p {
  color: #000000;
}

#card_shade_5 {
  background: #BFBC00;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #E6E200;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #EAE72E;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #EFED5F;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #F4F392;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #F9F9C7;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #79796D;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #85856A;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #919065;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #9D9C5E;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #A9A854;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #B5B348;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #C1BF3A;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #CDCA29;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #D9D615;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #E6E200;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #EEE600;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #FFD801;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #CAE00D;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #FEDF08;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #FCD917;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: linear-gradient(30deg, #E6E200 0%, #E6E200 50%, #C32148 50%, #C32148 100%);
}
.combo:hover #name_combo_1 p {
  color: #ffffff;
}

#card_combo_2 {
  background: linear-gradient(30deg, #E6E200 0%, #E6E200 50%, #DA3287 50%, #DA3287 100%);
}
.combo:hover #name_combo_2 p {
  color: #ffffff;
}

#card_combo_3 {
  background: linear-gradient(30deg, #E6E200 0%, #E6E200 50%, #C71585 50%, #C71585 100%);
}
.combo:hover #name_combo_3 p {
  color: #ffffff;
}

#card_combo_4 {
  background: linear-gradient(30deg, #E6E200 0%, #E6E200 50%, #D8863B 50%, #D8863B 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_shade_6 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E6E200;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E6E200;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E6E200;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E6E200;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E6E200;
}

#card_tone_10 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E6E200;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E6E200;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E6E200;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E6E200;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #E6E200;
}
