
:root {
    --col-header-border: #FF3F34;
}

#card_shade_1 {
  background: #2A0A08;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #541410;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #7F1E19;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #A92821;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #D4322A;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #FF3F34;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #FF635B;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #FF8A84;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #FFB1AD;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #FFD8D6;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #867B7A;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #957C7B;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #A47B78;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #B37773;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #C2706C;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #D16762;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #E05C55;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #EF4D45;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #FF3F34;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #FF2419;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #FF4040;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #FE4C40;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #FA4224;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #EF4026;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #FF5A36;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #FF3F34 0%, #FF3F34 50%, #B1FC99 50%, #B1FC99 100%);
  background: -moz-linear-gradient(45deg, #FF3F34 0%, #FF3F34 50%, #B1FC99 50%, #B1FC99 100%);
  background: -ms-linear-gradient(45deg, #FF3F34 0%, #FF3F34 50%, #B1FC99 50%, #B1FC99 100%);
  background: -o-linear-gradient(45deg, #FF3F34 0%, #FF3F34 50%, #B1FC99 50%, #B1FC99 100%);
  background: linear-gradient(45deg, #FF3F34 0%, #FF3F34 50%, #B1FC99 50%, #B1FC99 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #FF3F34 0%, #FF3F34 50%, #C4FFF7 50%, #C4FFF7 100%);
  background: -moz-linear-gradient(45deg, #FF3F34 0%, #FF3F34 50%, #C4FFF7 50%, #C4FFF7 100%);
  background: -ms-linear-gradient(45deg, #FF3F34 0%, #FF3F34 50%, #C4FFF7 50%, #C4FFF7 100%);
  background: -o-linear-gradient(45deg, #FF3F34 0%, #FF3F34 50%, #C4FFF7 50%, #C4FFF7 100%);
  background: linear-gradient(45deg, #FF3F34 0%, #FF3F34 50%, #C4FFF7 50%, #C4FFF7 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #FF3F34 0%, #FF3F34 50%, #7BFDC7 50%, #7BFDC7 100%);
  background: -moz-linear-gradient(45deg, #FF3F34 0%, #FF3F34 50%, #7BFDC7 50%, #7BFDC7 100%);
  background: -ms-linear-gradient(45deg, #FF3F34 0%, #FF3F34 50%, #7BFDC7 50%, #7BFDC7 100%);
  background: -o-linear-gradient(45deg, #FF3F34 0%, #FF3F34 50%, #7BFDC7 50%, #7BFDC7 100%);
  background: linear-gradient(45deg, #FF3F34 0%, #FF3F34 50%, #7BFDC7 50%, #7BFDC7 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #FF3F34 0%, #FF3F34 50%, #652DC1 50%, #652DC1 100%);
  background: -moz-linear-gradient(45deg, #FF3F34 0%, #FF3F34 50%, #652DC1 50%, #652DC1 100%);
  background: -ms-linear-gradient(45deg, #FF3F34 0%, #FF3F34 50%, #652DC1 50%, #652DC1 100%);
  background: -o-linear-gradient(45deg, #FF3F34 0%, #FF3F34 50%, #652DC1 50%, #652DC1 100%);
  background: linear-gradient(45deg, #FF3F34 0%, #FF3F34 50%, #652DC1 50%, #652DC1 100%);
}
.combo:hover #name_combo_4 p {
  color: #ffffff;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #FF3F34 0%, #FF3F34 50%, #BEFDB7 50%, #BEFDB7 100%);
  background: -moz-linear-gradient(45deg, #FF3F34 0%, #FF3F34 50%, #BEFDB7 50%, #BEFDB7 100%);
  background: -ms-linear-gradient(45deg, #FF3F34 0%, #FF3F34 50%, #BEFDB7 50%, #BEFDB7 100%);
  background: -o-linear-gradient(45deg, #FF3F34 0%, #FF3F34 50%, #BEFDB7 50%, #BEFDB7 100%);
  background: linear-gradient(45deg, #FF3F34 0%, #FF3F34 50%, #BEFDB7 50%, #BEFDB7 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_6 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF3F34;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF3F34;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF3F34;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF3F34;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF3F34;
}

#card_tone_9 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF3F34;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF3F34;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF3F34;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF3F34;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF3F34;
}
