
:root {
    --col-header-border: #FADADD;
}

#card_shade_1 {
  background: #1B1718;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #373030;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #534849;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #6E6062;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #8A787A;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #A69093;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #C2A9AB;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #DEC1C4;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #FADADD;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #FCECED;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #958F90;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #C7B6B8;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #FADADD;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #FABEC5;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #FAA3AD;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #FA8895;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #FA6C7D;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #FB5165;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #FB364D;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #FB1A35;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #FFD8D9;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #F3D9DF;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #FDD7E4;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #EBDDE2;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #FFC5CB;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: linear-gradient(45deg, #FADADD 0%, #FADADD 50%, #32CD32 50%, #32CD32 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: linear-gradient(45deg, #FADADD 0%, #FADADD 50%, #C154C1 50%, #C154C1 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: linear-gradient(45deg, #FADADD 0%, #FADADD 50%, #C88141 50%, #C88141 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: linear-gradient(45deg, #FADADD 0%, #FADADD 50%, #2E3F62 50%, #2E3F62 100%);
}
.combo:hover #name_combo_4 p {
  color: #ffffff;
}

#card_combo_5 {
  background: linear-gradient(45deg, #FADADD 0%, #FADADD 50%, #A67B5B 50%, #A67B5B 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_9 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FADADD;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FADADD;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FADADD;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FADADD;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FADADD;
}

#card_tone_3 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FADADD;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FADADD;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FADADD;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FADADD;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FADADD;
}
