
:root {
    --col-header-border: #EEDC5B;
}

#card_shade_1 {
  background: #211F0C;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #433E19;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #655E26;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #877D33;
}
.card:hover #name_shade_4 p {
  color: #000000;
}

#card_shade_5 {
  background: #A99D40;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #CBBC4D;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #EEDC5B;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #F1E481;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #F6EDA9;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #FAF6D4;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #7E7D74;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #918E77;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #A39E78;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #B6AE75;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #C8BE6F;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #DACD66;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #EEDC5B;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #EFDB44;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #F2DB2E;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #F4DA17;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #E9D75A;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #FADA5E;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #F7D560;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #FDDC5C;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #E9D66B;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #EEDC5B 0%, #EEDC5B 50%, #50C878 50%, #50C878 100%);
  background: -moz-linear-gradient(45deg, #EEDC5B 0%, #EEDC5B 50%, #50C878 50%, #50C878 100%);
  background: -ms-linear-gradient(45deg, #EEDC5B 0%, #EEDC5B 50%, #50C878 50%, #50C878 100%);
  background: -o-linear-gradient(45deg, #EEDC5B 0%, #EEDC5B 50%, #50C878 50%, #50C878 100%);
  background: linear-gradient(45deg, #EEDC5B 0%, #EEDC5B 50%, #50C878 50%, #50C878 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #EEDC5B 0%, #EEDC5B 50%, #EF3038 50%, #EF3038 100%);
  background: -moz-linear-gradient(45deg, #EEDC5B 0%, #EEDC5B 50%, #EF3038 50%, #EF3038 100%);
  background: -ms-linear-gradient(45deg, #EEDC5B 0%, #EEDC5B 50%, #EF3038 50%, #EF3038 100%);
  background: -o-linear-gradient(45deg, #EEDC5B 0%, #EEDC5B 50%, #EF3038 50%, #EF3038 100%);
  background: linear-gradient(45deg, #EEDC5B 0%, #EEDC5B 50%, #EF3038 50%, #EF3038 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #EEDC5B 0%, #EEDC5B 50%, #63B365 50%, #63B365 100%);
  background: -moz-linear-gradient(45deg, #EEDC5B 0%, #EEDC5B 50%, #63B365 50%, #63B365 100%);
  background: -ms-linear-gradient(45deg, #EEDC5B 0%, #EEDC5B 50%, #63B365 50%, #63B365 100%);
  background: -o-linear-gradient(45deg, #EEDC5B 0%, #EEDC5B 50%, #63B365 50%, #63B365 100%);
  background: linear-gradient(45deg, #EEDC5B 0%, #EEDC5B 50%, #63B365 50%, #63B365 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #EEDC5B 0%, #EEDC5B 50%, #CD5B45 50%, #CD5B45 100%);
  background: -moz-linear-gradient(45deg, #EEDC5B 0%, #EEDC5B 50%, #CD5B45 50%, #CD5B45 100%);
  background: -ms-linear-gradient(45deg, #EEDC5B 0%, #EEDC5B 50%, #CD5B45 50%, #CD5B45 100%);
  background: -o-linear-gradient(45deg, #EEDC5B 0%, #EEDC5B 50%, #CD5B45 50%, #CD5B45 100%);
  background: linear-gradient(45deg, #EEDC5B 0%, #EEDC5B 50%, #CD5B45 50%, #CD5B45 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #EEDC5B 0%, #EEDC5B 50%, #B93B8F 50%, #B93B8F 100%);
  background: -moz-linear-gradient(45deg, #EEDC5B 0%, #EEDC5B 50%, #B93B8F 50%, #B93B8F 100%);
  background: -ms-linear-gradient(45deg, #EEDC5B 0%, #EEDC5B 50%, #B93B8F 50%, #B93B8F 100%);
  background: -o-linear-gradient(45deg, #EEDC5B 0%, #EEDC5B 50%, #B93B8F 50%, #B93B8F 100%);
  background: linear-gradient(45deg, #EEDC5B 0%, #EEDC5B 50%, #B93B8F 50%, #B93B8F 100%);
}
.combo:hover #name_combo_5 p {
  color: #ffffff;
}

#card_shade_7 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #EEDC5B;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #EEDC5B;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #EEDC5B;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #EEDC5B;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #EEDC5B;
}

#card_tone_7 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #EEDC5B;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #EEDC5B;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #EEDC5B;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #EEDC5B;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #EEDC5B;
}
