
:root {
    --col-header-border: #FFDDAF;
}

#card_shade_1 {
  background: #1F1B15;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #3F372B;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #5F5241;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #7F6E57;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #9F896D;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #BFA583;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #DFC199;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #FFDDAF;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #FFE8CA;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #FFF3E4;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #918C86;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #B6A99A;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #DAC4A7;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #FFDDAF;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #FFD196;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #FFC67D;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #FFBB64;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #FFB04A;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #FFA631;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #FF9B18;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #FADFAD;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #FFD8B1;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #FFDAB9;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #FDD5B1;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #FAD6A5;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #FFDDAF 0%, #FFDDAF 50%, #E47698 50%, #E47698 100%);
  background: -moz-linear-gradient(45deg, #FFDDAF 0%, #FFDDAF 50%, #E47698 50%, #E47698 100%);
  background: -ms-linear-gradient(45deg, #FFDDAF 0%, #FFDDAF 50%, #E47698 50%, #E47698 100%);
  background: -o-linear-gradient(45deg, #FFDDAF 0%, #FFDDAF 50%, #E47698 50%, #E47698 100%);
  background: linear-gradient(45deg, #FFDDAF 0%, #FFDDAF 50%, #E47698 50%, #E47698 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #FFDDAF 0%, #FFDDAF 50%, #F984EF 50%, #F984EF 100%);
  background: -moz-linear-gradient(45deg, #FFDDAF 0%, #FFDDAF 50%, #F984EF 50%, #F984EF 100%);
  background: -ms-linear-gradient(45deg, #FFDDAF 0%, #FFDDAF 50%, #F984EF 50%, #F984EF 100%);
  background: -o-linear-gradient(45deg, #FFDDAF 0%, #FFDDAF 50%, #F984EF 50%, #F984EF 100%);
  background: linear-gradient(45deg, #FFDDAF 0%, #FFDDAF 50%, #F984EF 50%, #F984EF 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #FFDDAF 0%, #FFDDAF 50%, #B17261 50%, #B17261 100%);
  background: -moz-linear-gradient(45deg, #FFDDAF 0%, #FFDDAF 50%, #B17261 50%, #B17261 100%);
  background: -ms-linear-gradient(45deg, #FFDDAF 0%, #FFDDAF 50%, #B17261 50%, #B17261 100%);
  background: -o-linear-gradient(45deg, #FFDDAF 0%, #FFDDAF 50%, #B17261 50%, #B17261 100%);
  background: linear-gradient(45deg, #FFDDAF 0%, #FFDDAF 50%, #B17261 50%, #B17261 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #FFDDAF 0%, #FFDDAF 50%, #63F7B4 50%, #63F7B4 100%);
  background: -moz-linear-gradient(45deg, #FFDDAF 0%, #FFDDAF 50%, #63F7B4 50%, #63F7B4 100%);
  background: -ms-linear-gradient(45deg, #FFDDAF 0%, #FFDDAF 50%, #63F7B4 50%, #63F7B4 100%);
  background: -o-linear-gradient(45deg, #FFDDAF 0%, #FFDDAF 50%, #63F7B4 50%, #63F7B4 100%);
  background: linear-gradient(45deg, #FFDDAF 0%, #FFDDAF 50%, #63F7B4 50%, #63F7B4 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #FFDDAF 0%, #FFDDAF 50%, #CE5DAE 50%, #CE5DAE 100%);
  background: -moz-linear-gradient(45deg, #FFDDAF 0%, #FFDDAF 50%, #CE5DAE 50%, #CE5DAE 100%);
  background: -ms-linear-gradient(45deg, #FFDDAF 0%, #FFDDAF 50%, #CE5DAE 50%, #CE5DAE 100%);
  background: -o-linear-gradient(45deg, #FFDDAF 0%, #FFDDAF 50%, #CE5DAE 50%, #CE5DAE 100%);
  background: linear-gradient(45deg, #FFDDAF 0%, #FFDDAF 50%, #CE5DAE 50%, #CE5DAE 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_8 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FFDDAF;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FFDDAF;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FFDDAF;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FFDDAF;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FFDDAF;
}

#card_tone_4 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FFDDAF;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FFDDAF;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FFDDAF;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FFDDAF;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FFDDAF;
}
