
:root {
    --col-header-border: #F0E130;
}

#card_shade_1 {
  background: #272407;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #4F4A0F;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #776F17;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #9F941F;
}
.card:hover #name_shade_4 p {
  color: #000000;
}

#card_shade_5 {
  background: #C7BA27;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #F0E130;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #F2E557;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #F5EB7F;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #F8F2A9;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #FBF8D3;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #7F7E74;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #8D8B74;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #9B9872;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #A9A46D;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #B7B066;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #C5BC5C;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #D3C850;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #E1D441;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #F0E130;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #F4E218;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #FFE135;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #FFDF22;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #F4D81C;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #FCD917;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #F0D52D;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #F0E130 0%, #F0E130 50%, #4F2398 50%, #4F2398 100%);
  background: -moz-linear-gradient(45deg, #F0E130 0%, #F0E130 50%, #4F2398 50%, #4F2398 100%);
  background: -ms-linear-gradient(45deg, #F0E130 0%, #F0E130 50%, #4F2398 50%, #4F2398 100%);
  background: -o-linear-gradient(45deg, #F0E130 0%, #F0E130 50%, #4F2398 50%, #4F2398 100%);
  background: linear-gradient(45deg, #F0E130 0%, #F0E130 50%, #4F2398 50%, #4F2398 100%);
}
.combo:hover #name_combo_1 p {
  color: #ffffff;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #F0E130 0%, #F0E130 50%, #AF593E 50%, #AF593E 100%);
  background: -moz-linear-gradient(45deg, #F0E130 0%, #F0E130 50%, #AF593E 50%, #AF593E 100%);
  background: -ms-linear-gradient(45deg, #F0E130 0%, #F0E130 50%, #AF593E 50%, #AF593E 100%);
  background: -o-linear-gradient(45deg, #F0E130 0%, #F0E130 50%, #AF593E 50%, #AF593E 100%);
  background: linear-gradient(45deg, #F0E130 0%, #F0E130 50%, #AF593E 50%, #AF593E 100%);
}
.combo:hover #name_combo_2 p {
  color: #ffffff;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #F0E130 0%, #F0E130 50%, #13EAC9 50%, #13EAC9 100%);
  background: -moz-linear-gradient(45deg, #F0E130 0%, #F0E130 50%, #13EAC9 50%, #13EAC9 100%);
  background: -ms-linear-gradient(45deg, #F0E130 0%, #F0E130 50%, #13EAC9 50%, #13EAC9 100%);
  background: -o-linear-gradient(45deg, #F0E130 0%, #F0E130 50%, #13EAC9 50%, #13EAC9 100%);
  background: linear-gradient(45deg, #F0E130 0%, #F0E130 50%, #13EAC9 50%, #13EAC9 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #F0E130 0%, #F0E130 50%, #E42217 50%, #E42217 100%);
  background: -moz-linear-gradient(45deg, #F0E130 0%, #F0E130 50%, #E42217 50%, #E42217 100%);
  background: -ms-linear-gradient(45deg, #F0E130 0%, #F0E130 50%, #E42217 50%, #E42217 100%);
  background: -o-linear-gradient(45deg, #F0E130 0%, #F0E130 50%, #E42217 50%, #E42217 100%);
  background: linear-gradient(45deg, #F0E130 0%, #F0E130 50%, #E42217 50%, #E42217 100%);
}
.combo:hover #name_combo_4 p {
  color: #ffffff;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #F0E130 0%, #F0E130 50%, #69D84F 50%, #69D84F 100%);
  background: -moz-linear-gradient(45deg, #F0E130 0%, #F0E130 50%, #69D84F 50%, #69D84F 100%);
  background: -ms-linear-gradient(45deg, #F0E130 0%, #F0E130 50%, #69D84F 50%, #69D84F 100%);
  background: -o-linear-gradient(45deg, #F0E130 0%, #F0E130 50%, #69D84F 50%, #69D84F 100%);
  background: linear-gradient(45deg, #F0E130 0%, #F0E130 50%, #69D84F 50%, #69D84F 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_6 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F0E130;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F0E130;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F0E130;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F0E130;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F0E130;
}

#card_tone_9 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F0E130;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F0E130;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F0E130;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F0E130;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F0E130;
}
