
:root {
    --col-header-border: #93FFE8;
}

#card_shade_1 {
  background: #121F1C;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #243F39;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #375F56;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #497F73;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #5C9F90;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #6EBFAD;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #81DFCA;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #93FFE8;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #B7FFEF;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #DBFFF7;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #818D8B;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #8DAAA3;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #94C6BB;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #96E2D2;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #93FFE8;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #7BFFE2;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #62FFDD;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #49FFD7;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #30FFD2;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #18FFCC;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #8CFFDB;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #7FFFD4;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #7DFDFE;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #B8FFEB;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #A5FBD5;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: linear-gradient(30deg, #93FFE8 0%, #93FFE8 50%, #4F7942 50%, #4F7942 100%);
}
.combo:hover #name_combo_1 p {
  color: #ffffff;
}

#card_combo_2 {
  background: linear-gradient(30deg, #93FFE8 0%, #93FFE8 50%, #5D7747 50%, #5D7747 100%);
}
.combo:hover #name_combo_2 p {
  color: #ffffff;
}

#card_combo_3 {
  background: linear-gradient(30deg, #93FFE8 0%, #93FFE8 50%, #63B365 50%, #63B365 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: linear-gradient(30deg, #93FFE8 0%, #93FFE8 50%, #9C6D57 50%, #9C6D57 100%);
}
.combo:hover #name_combo_4 p {
  color: #ffffff;
}

#card_shade_8 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #93FFE8;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #93FFE8;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #93FFE8;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #93FFE8;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #93FFE8;
}

#card_tone_5 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #93FFE8;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #93FFE8;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #93FFE8;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #93FFE8;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #93FFE8;
}
