
:root {
    --col-header-border: #080110;
}

#card_shade_1 {
  background: #030007;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #080110;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #160629;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #281244;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #3E235E;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #563979;
}
.card:hover #name_shade_6 p {
  color: #ffffff;
}

#card_shade_7 {
  background: #715593;
}
.card:hover #name_shade_7 p {
  color: #ffffff;
}

#card_shade_8 {
  background: #9077AE;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #B19EC8;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #D5CAE3;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #070708;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #080709;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #080709;
}
.card:hover #name_tone_3 p {
  color: #ffffff;
}

#card_tone_4 {
  background: #08060A;
}
.card:hover #name_tone_4 p {
  color: #ffffff;
}

#card_tone_5 {
  background: #08060B;
}
.card:hover #name_tone_5 p {
  color: #ffffff;
}

#card_tone_6 {
  background: #08050C;
}
.card:hover #name_tone_6 p {
  color: #ffffff;
}

#card_tone_7 {
  background: #08040D;
}
.card:hover #name_tone_7 p {
  color: #ffffff;
}

#card_tone_8 {
  background: #08030D;
}
.card:hover #name_tone_8 p {
  color: #ffffff;
}

#card_tone_9 {
  background: #07020E;
}
.card:hover #name_tone_9 p {
  color: #ffffff;
}

#card_tone_10 {
  background: #080110;
}
.card:hover #name_tone_10 p {
  color: #ffffff;
}

#card_simcol_1 {
  background: #0A001C;
}
.circle:hover #name_simcol_1 p {
  color: #ffffff;
}

#card_simcol_2 {
  background: #0D0332;
}
.circle:hover #name_simcol_2 p {
  color: #ffffff;
}

#card_simcol_3 {
  background: #280137;
}
.circle:hover #name_simcol_3 p {
  color: #ffffff;
}

#card_simcol_4 {
  background: #2A0134;
}
.circle:hover #name_simcol_4 p {
  color: #ffffff;
}

#card_simcol_5 {
  background: #2A0359;
}
.circle:hover #name_simcol_5 p {
  color: #ffffff;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #080110 0%, #080110 50%, #A74AC7 50%, #A74AC7 100%);
  background: -moz-linear-gradient(45deg, #080110 0%, #080110 50%, #A74AC7 50%, #A74AC7 100%);
  background: -ms-linear-gradient(45deg, #080110 0%, #080110 50%, #A74AC7 50%, #A74AC7 100%);
  background: -o-linear-gradient(45deg, #080110 0%, #080110 50%, #A74AC7 50%, #A74AC7 100%);
  background: linear-gradient(45deg, #080110 0%, #080110 50%, #A74AC7 50%, #A74AC7 100%);
}
.combo:hover #name_combo_1 p {
  color: #ffffff;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #080110 0%, #080110 50%, #8EEBEC 50%, #8EEBEC 100%);
  background: -moz-linear-gradient(45deg, #080110 0%, #080110 50%, #8EEBEC 50%, #8EEBEC 100%);
  background: -ms-linear-gradient(45deg, #080110 0%, #080110 50%, #8EEBEC 50%, #8EEBEC 100%);
  background: -o-linear-gradient(45deg, #080110 0%, #080110 50%, #8EEBEC 50%, #8EEBEC 100%);
  background: linear-gradient(45deg, #080110 0%, #080110 50%, #8EEBEC 50%, #8EEBEC 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #080110 0%, #080110 50%, #C154C1 50%, #C154C1 100%);
  background: -moz-linear-gradient(45deg, #080110 0%, #080110 50%, #C154C1 50%, #C154C1 100%);
  background: -ms-linear-gradient(45deg, #080110 0%, #080110 50%, #C154C1 50%, #C154C1 100%);
  background: -o-linear-gradient(45deg, #080110 0%, #080110 50%, #C154C1 50%, #C154C1 100%);
  background: linear-gradient(45deg, #080110 0%, #080110 50%, #C154C1 50%, #C154C1 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #080110 0%, #080110 50%, #D68A59 50%, #D68A59 100%);
  background: -moz-linear-gradient(45deg, #080110 0%, #080110 50%, #D68A59 50%, #D68A59 100%);
  background: -ms-linear-gradient(45deg, #080110 0%, #080110 50%, #D68A59 50%, #D68A59 100%);
  background: -o-linear-gradient(45deg, #080110 0%, #080110 50%, #D68A59 50%, #D68A59 100%);
  background: linear-gradient(45deg, #080110 0%, #080110 50%, #D68A59 50%, #D68A59 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #080110 0%, #080110 50%, #E2CA76 50%, #E2CA76 100%);
  background: -moz-linear-gradient(45deg, #080110 0%, #080110 50%, #E2CA76 50%, #E2CA76 100%);
  background: -ms-linear-gradient(45deg, #080110 0%, #080110 50%, #E2CA76 50%, #E2CA76 100%);
  background: -o-linear-gradient(45deg, #080110 0%, #080110 50%, #E2CA76 50%, #E2CA76 100%);
  background: linear-gradient(45deg, #080110 0%, #080110 50%, #E2CA76 50%, #E2CA76 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_2 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #080110;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #080110;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #080110;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #080110;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #080110;
}

#card_tone_10 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #080110;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #080110;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #080110;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #080110;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #080110;
}
