
:root {
    --col-header-border: #9BDDFF;
}

#card_shade_1 {
  background: #131B1F;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #26373F;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #3A535F;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #4D6E7F;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #618A9F;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #74A6BF;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #88C2DF;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #9BDDFF;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #BCE8FF;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #DDF3FF;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #828A8D;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #8FA1AA;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #97B6C6;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #9BCBE2;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #9BDDFF;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #81D5FF;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #67CCFF;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #4DC3FF;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #33BBFF;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #19B2FF;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #AFDCEC;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #A2CFFE;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #ADD8E6;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #A0CFEC;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #ACE5EE;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #9BDDFF 0%, #9BDDFF 50%, #3CB371 50%, #3CB371 100%);
  background: -moz-linear-gradient(45deg, #9BDDFF 0%, #9BDDFF 50%, #3CB371 50%, #3CB371 100%);
  background: -ms-linear-gradient(45deg, #9BDDFF 0%, #9BDDFF 50%, #3CB371 50%, #3CB371 100%);
  background: -o-linear-gradient(45deg, #9BDDFF 0%, #9BDDFF 50%, #3CB371 50%, #3CB371 100%);
  background: linear-gradient(45deg, #9BDDFF 0%, #9BDDFF 50%, #3CB371 50%, #3CB371 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #9BDDFF 0%, #9BDDFF 50%, #C25A7C 50%, #C25A7C 100%);
  background: -moz-linear-gradient(45deg, #9BDDFF 0%, #9BDDFF 50%, #C25A7C 50%, #C25A7C 100%);
  background: -ms-linear-gradient(45deg, #9BDDFF 0%, #9BDDFF 50%, #C25A7C 50%, #C25A7C 100%);
  background: -o-linear-gradient(45deg, #9BDDFF 0%, #9BDDFF 50%, #C25A7C 50%, #C25A7C 100%);
  background: linear-gradient(45deg, #9BDDFF 0%, #9BDDFF 50%, #C25A7C 50%, #C25A7C 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #9BDDFF 0%, #9BDDFF 50%, #9E43A2 50%, #9E43A2 100%);
  background: -moz-linear-gradient(45deg, #9BDDFF 0%, #9BDDFF 50%, #9E43A2 50%, #9E43A2 100%);
  background: -ms-linear-gradient(45deg, #9BDDFF 0%, #9BDDFF 50%, #9E43A2 50%, #9E43A2 100%);
  background: -o-linear-gradient(45deg, #9BDDFF 0%, #9BDDFF 50%, #9E43A2 50%, #9E43A2 100%);
  background: linear-gradient(45deg, #9BDDFF 0%, #9BDDFF 50%, #9E43A2 50%, #9E43A2 100%);
}
.combo:hover #name_combo_3 p {
  color: #ffffff;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #9BDDFF 0%, #9BDDFF 50%, #4F9153 50%, #4F9153 100%);
  background: -moz-linear-gradient(45deg, #9BDDFF 0%, #9BDDFF 50%, #4F9153 50%, #4F9153 100%);
  background: -ms-linear-gradient(45deg, #9BDDFF 0%, #9BDDFF 50%, #4F9153 50%, #4F9153 100%);
  background: -o-linear-gradient(45deg, #9BDDFF 0%, #9BDDFF 50%, #4F9153 50%, #4F9153 100%);
  background: linear-gradient(45deg, #9BDDFF 0%, #9BDDFF 50%, #4F9153 50%, #4F9153 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #9BDDFF 0%, #9BDDFF 50%, #DA70D6 50%, #DA70D6 100%);
  background: -moz-linear-gradient(45deg, #9BDDFF 0%, #9BDDFF 50%, #DA70D6 50%, #DA70D6 100%);
  background: -ms-linear-gradient(45deg, #9BDDFF 0%, #9BDDFF 50%, #DA70D6 50%, #DA70D6 100%);
  background: -o-linear-gradient(45deg, #9BDDFF 0%, #9BDDFF 50%, #DA70D6 50%, #DA70D6 100%);
  background: linear-gradient(45deg, #9BDDFF 0%, #9BDDFF 50%, #DA70D6 50%, #DA70D6 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_8 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #9BDDFF;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #9BDDFF;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #9BDDFF;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #9BDDFF;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #9BDDFF;
}

#card_tone_5 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #9BDDFF;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #9BDDFF;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #9BDDFF;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #9BDDFF;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #9BDDFF;
}
