
:root {
    --col-header-border: #4F1C70;
}

#card_shade_1 {
  background: #13071C;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #270E38;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #3A1554;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #4F1C70;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #622F84;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #784699;
}
.card:hover #name_shade_6 p {
  color: #ffffff;
}

#card_shade_7 {
  background: #8F63AD;
}
.card:hover #name_shade_7 p {
  color: #ffffff;
}

#card_shade_8 {
  background: #A883C1;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #C3A8D6;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #E0D1EA;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #3A363C;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #3E3743;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #42364B;
}
.card:hover #name_tone_3 p {
  color: #ffffff;
}

#card_tone_4 {
  background: #463352;
}
.card:hover #name_tone_4 p {
  color: #ffffff;
}

#card_tone_5 {
  background: #492F5A;
}
.card:hover #name_tone_5 p {
  color: #ffffff;
}

#card_tone_6 {
  background: #4B2A61;
}
.card:hover #name_tone_6 p {
  color: #ffffff;
}

#card_tone_7 {
  background: #4D2468;
}
.card:hover #name_tone_7 p {
  color: #ffffff;
}

#card_tone_8 {
  background: #4F1C70;
}
.card:hover #name_tone_8 p {
  color: #ffffff;
}

#card_tone_9 {
  background: #5D178C;
}
.card:hover #name_tone_9 p {
  color: #ffffff;
}

#card_tone_10 {
  background: #6B0EA9;
}
.card:hover #name_tone_10 p {
  color: #ffffff;
}

#card_simcol_1 {
  background: #571B7E;
}
.circle:hover #name_simcol_1 p {
  color: #ffffff;
}

#card_simcol_2 {
  background: #461B7E;
}
.circle:hover #name_simcol_2 p {
  color: #ffffff;
}

#card_simcol_3 {
  background: #6A287E;
}
.circle:hover #name_simcol_3 p {
  color: #ffffff;
}

#card_simcol_4 {
  background: #6C3082;
}
.circle:hover #name_simcol_4 p {
  color: #ffffff;
}

#card_simcol_5 {
  background: #3C1F76;
}
.circle:hover #name_simcol_5 p {
  color: #ffffff;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #4F1C70 0%, #4F1C70 50%, #DB7093 50%, #DB7093 100%);
  background: -moz-linear-gradient(45deg, #4F1C70 0%, #4F1C70 50%, #DB7093 50%, #DB7093 100%);
  background: -ms-linear-gradient(45deg, #4F1C70 0%, #4F1C70 50%, #DB7093 50%, #DB7093 100%);
  background: -o-linear-gradient(45deg, #4F1C70 0%, #4F1C70 50%, #DB7093 50%, #DB7093 100%);
  background: linear-gradient(45deg, #4F1C70 0%, #4F1C70 50%, #DB7093 50%, #DB7093 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #4F1C70 0%, #4F1C70 50%, #E7A1B0 50%, #E7A1B0 100%);
  background: -moz-linear-gradient(45deg, #4F1C70 0%, #4F1C70 50%, #E7A1B0 50%, #E7A1B0 100%);
  background: -ms-linear-gradient(45deg, #4F1C70 0%, #4F1C70 50%, #E7A1B0 50%, #E7A1B0 100%);
  background: -o-linear-gradient(45deg, #4F1C70 0%, #4F1C70 50%, #E7A1B0 50%, #E7A1B0 100%);
  background: linear-gradient(45deg, #4F1C70 0%, #4F1C70 50%, #E7A1B0 50%, #E7A1B0 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #4F1C70 0%, #4F1C70 50%, #43BFC7 50%, #43BFC7 100%);
  background: -moz-linear-gradient(45deg, #4F1C70 0%, #4F1C70 50%, #43BFC7 50%, #43BFC7 100%);
  background: -ms-linear-gradient(45deg, #4F1C70 0%, #4F1C70 50%, #43BFC7 50%, #43BFC7 100%);
  background: -o-linear-gradient(45deg, #4F1C70 0%, #4F1C70 50%, #43BFC7 50%, #43BFC7 100%);
  background: linear-gradient(45deg, #4F1C70 0%, #4F1C70 50%, #43BFC7 50%, #43BFC7 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #4F1C70 0%, #4F1C70 50%, #45B1E8 50%, #45B1E8 100%);
  background: -moz-linear-gradient(45deg, #4F1C70 0%, #4F1C70 50%, #45B1E8 50%, #45B1E8 100%);
  background: -ms-linear-gradient(45deg, #4F1C70 0%, #4F1C70 50%, #45B1E8 50%, #45B1E8 100%);
  background: -o-linear-gradient(45deg, #4F1C70 0%, #4F1C70 50%, #45B1E8 50%, #45B1E8 100%);
  background: linear-gradient(45deg, #4F1C70 0%, #4F1C70 50%, #45B1E8 50%, #45B1E8 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #4F1C70 0%, #4F1C70 50%, #71D9E2 50%, #71D9E2 100%);
  background: -moz-linear-gradient(45deg, #4F1C70 0%, #4F1C70 50%, #71D9E2 50%, #71D9E2 100%);
  background: -ms-linear-gradient(45deg, #4F1C70 0%, #4F1C70 50%, #71D9E2 50%, #71D9E2 100%);
  background: -o-linear-gradient(45deg, #4F1C70 0%, #4F1C70 50%, #71D9E2 50%, #71D9E2 100%);
  background: linear-gradient(45deg, #4F1C70 0%, #4F1C70 50%, #71D9E2 50%, #71D9E2 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_4 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #4F1C70;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #4F1C70;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #4F1C70;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #4F1C70;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #4F1C70;
}

#card_tone_8 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #4F1C70;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #4F1C70;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #4F1C70;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #4F1C70;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #4F1C70;
}
