
:root {
    --col-header-border: #FF4F00;
}

#card_shade_1 {
  background: #2A0D00;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #541A00;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #7F2800;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #A93500;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #D44300;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #FF4F00;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #FF7332;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #FF9666;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #FFB999;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #FFDCCC;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #857C78;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #927E75;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #A07F70;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #AD7E68;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #BB7B5D;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #C87650;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #D66F40;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #E3672D;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #F15C18;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #FF4F00;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #FF5B00;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #FF3F00;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #FF6600;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #E96E00;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #F8481C;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: linear-gradient(45deg, #FF4F00 0%, #FF4F00 50%, #AC1DB8 50%, #AC1DB8 100%);
}
.combo:hover #name_combo_1 p {
  color: #ffffff;
}

#card_combo_2 {
  background: linear-gradient(45deg, #FF4F00 0%, #FF4F00 50%, #C12267 50%, #C12267 100%);
}
.combo:hover #name_combo_2 p {
  color: #ffffff;
}

#card_combo_3 {
  background: linear-gradient(45deg, #FF4F00 0%, #FF4F00 50%, #AEFF6E 50%, #AEFF6E 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: linear-gradient(45deg, #FF4F00 0%, #FF4F00 50%, #B2FFFF 50%, #B2FFFF 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: linear-gradient(45deg, #FF4F00 0%, #FF4F00 50%, #C32148 50%, #C32148 100%);
}
.combo:hover #name_combo_5 p {
  color: #ffffff;
}

#card_shade_6 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF4F00;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF4F00;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF4F00;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF4F00;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF4F00;
}

#card_tone_10 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF4F00;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF4F00;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF4F00;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF4F00;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF4F00;
}
