
:root {
    --col-header-border: #9F821C;
}

#card_shade_1 {
  background: #1F1A05;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #3F340B;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #5E4E11;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #7E6816;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #9F821C;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #AE9437;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #BEA756;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #CEBC79;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #DED1A1;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #EEE7CE;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #54524C;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #5D5A4C;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #67604A;
}
.card:hover #name_tone_3 p {
  color: #ffffff;
}

#card_tone_4 {
  background: #706747;
}
.card:hover #name_tone_4 p {
  color: #ffffff;
}

#card_tone_5 {
  background: #796D42;
}
.card:hover #name_tone_5 p {
  color: #ffffff;
}

#card_tone_6 {
  background: #82733B;
}
.card:hover #name_tone_6 p {
  color: #ffffff;
}

#card_tone_7 {
  background: #8B7832;
}
.card:hover #name_tone_7 p {
  color: #ffffff;
}

#card_tone_8 {
  background: #947D28;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #9F821C;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #BE9811;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #8E7618;
}
.circle:hover #name_simcol_1 p {
  color: #ffffff;
}

#card_simcol_2 {
  background: #A7882C;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #967117;
}
.circle:hover #name_simcol_3 p {
  color: #ffffff;
}

#card_simcol_4 {
  background: #A1750D;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #AE8B0C;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #9F821C 0%, #9F821C 50%, #DDADAF 50%, #DDADAF 100%);
  background: -moz-linear-gradient(45deg, #9F821C 0%, #9F821C 50%, #DDADAF 50%, #DDADAF 100%);
  background: -ms-linear-gradient(45deg, #9F821C 0%, #9F821C 50%, #DDADAF 50%, #DDADAF 100%);
  background: -o-linear-gradient(45deg, #9F821C 0%, #9F821C 50%, #DDADAF 50%, #DDADAF 100%);
  background: linear-gradient(45deg, #9F821C 0%, #9F821C 50%, #DDADAF 50%, #DDADAF 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #9F821C 0%, #9F821C 50%, #B8FFEB 50%, #B8FFEB 100%);
  background: -moz-linear-gradient(45deg, #9F821C 0%, #9F821C 50%, #B8FFEB 50%, #B8FFEB 100%);
  background: -ms-linear-gradient(45deg, #9F821C 0%, #9F821C 50%, #B8FFEB 50%, #B8FFEB 100%);
  background: -o-linear-gradient(45deg, #9F821C 0%, #9F821C 50%, #B8FFEB 50%, #B8FFEB 100%);
  background: linear-gradient(45deg, #9F821C 0%, #9F821C 50%, #B8FFEB 50%, #B8FFEB 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #9F821C 0%, #9F821C 50%, #E29CD2 50%, #E29CD2 100%);
  background: -moz-linear-gradient(45deg, #9F821C 0%, #9F821C 50%, #E29CD2 50%, #E29CD2 100%);
  background: -ms-linear-gradient(45deg, #9F821C 0%, #9F821C 50%, #E29CD2 50%, #E29CD2 100%);
  background: -o-linear-gradient(45deg, #9F821C 0%, #9F821C 50%, #E29CD2 50%, #E29CD2 100%);
  background: linear-gradient(45deg, #9F821C 0%, #9F821C 50%, #E29CD2 50%, #E29CD2 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #9F821C 0%, #9F821C 50%, #FB8989 50%, #FB8989 100%);
  background: -moz-linear-gradient(45deg, #9F821C 0%, #9F821C 50%, #FB8989 50%, #FB8989 100%);
  background: -ms-linear-gradient(45deg, #9F821C 0%, #9F821C 50%, #FB8989 50%, #FB8989 100%);
  background: -o-linear-gradient(45deg, #9F821C 0%, #9F821C 50%, #FB8989 50%, #FB8989 100%);
  background: linear-gradient(45deg, #9F821C 0%, #9F821C 50%, #FB8989 50%, #FB8989 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #9F821C 0%, #9F821C 50%, #E7ACCF 50%, #E7ACCF 100%);
  background: -moz-linear-gradient(45deg, #9F821C 0%, #9F821C 50%, #E7ACCF 50%, #E7ACCF 100%);
  background: -ms-linear-gradient(45deg, #9F821C 0%, #9F821C 50%, #E7ACCF 50%, #E7ACCF 100%);
  background: -o-linear-gradient(45deg, #9F821C 0%, #9F821C 50%, #E7ACCF 50%, #E7ACCF 100%);
  background: linear-gradient(45deg, #9F821C 0%, #9F821C 50%, #E7ACCF 50%, #E7ACCF 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_5 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #9F821C;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #9F821C;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #9F821C;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #9F821C;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #9F821C;
}

#card_tone_9 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #9F821C;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #9F821C;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #9F821C;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #9F821C;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #9F821C;
}
