
:root {
    --col-header-border: #6A5D1B;
}

#card_shade_1 {
  background: #1A1706;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #352E0D;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #504614;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #6A5D1B;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #80722D;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #958845;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #AA9E61;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #BFB582;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #D4CDA7;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #EAE5D0;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #393833;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #403E34;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #474433;
}
.card:hover #name_tone_3 p {
  color: #ffffff;
}

#card_tone_4 {
  background: #4E4931;
}
.card:hover #name_tone_4 p {
  color: #ffffff;
}

#card_tone_5 {
  background: #554E2D;
}
.card:hover #name_tone_5 p {
  color: #ffffff;
}

#card_tone_6 {
  background: #5C5428;
}
.card:hover #name_tone_6 p {
  color: #ffffff;
}

#card_tone_7 {
  background: #635922;
}
.card:hover #name_tone_7 p {
  color: #ffffff;
}

#card_tone_8 {
  background: #6A5D1B;
}
.card:hover #name_tone_8 p {
  color: #ffffff;
}

#card_tone_9 {
  background: #887516;
}
.card:hover #name_tone_9 p {
  color: #ffffff;
}

#card_tone_10 {
  background: #A68C0D;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #696112;
}
.circle:hover #name_simcol_1 p {
  color: #ffffff;
}

#card_simcol_2 {
  background: #806517;
}
.circle:hover #name_simcol_2 p {
  color: #ffffff;
}

#card_simcol_3 {
  background: #706C11;
}
.circle:hover #name_simcol_3 p {
  color: #ffffff;
}

#card_simcol_4 {
  background: #74640D;
}
.circle:hover #name_simcol_4 p {
  color: #ffffff;
}

#card_simcol_5 {
  background: #4E420C;
}
.circle:hover #name_simcol_5 p {
  color: #ffffff;
}

#card_combo_1 {
  background: linear-gradient(45deg, #6A5D1B 0%, #6A5D1B 50%, #CF71AF 50%, #CF71AF 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: linear-gradient(45deg, #6A5D1B 0%, #6A5D1B 50%, #E6A9EC 50%, #E6A9EC 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: linear-gradient(45deg, #6A5D1B 0%, #6A5D1B 50%, #DE7E5D 50%, #DE7E5D 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: linear-gradient(45deg, #6A5D1B 0%, #6A5D1B 50%, #7EFBB3 50%, #7EFBB3 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: linear-gradient(45deg, #6A5D1B 0%, #6A5D1B 50%, #D5869D 50%, #D5869D 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_4 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #6A5D1B;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #6A5D1B;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #6A5D1B;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #6A5D1B;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #6A5D1B;
}

#card_tone_8 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #6A5D1B;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #6A5D1B;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #6A5D1B;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #6A5D1B;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #6A5D1B;
}
