
:root {
    --col-header-border: #C8FFB0;
}

#card_shade_1 {
  background: #191F15;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #323F2B;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #4B5F41;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #647F57;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #7D9F6D;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #96BF83;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #AFDF99;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #C8FFB0;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #DAFFCA;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #ECFFE4;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #8A9186;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #A2B69A;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #B7DAA7;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #C8FFB0;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #B7FF96;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #A6FF7D;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #95FF64;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #83FF4A;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #72FF31;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #61FF18;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #CFFDBC;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #C7FDB5;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #D1FFBD;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #C9FFA2;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #C3FDB8;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #C8FFB0 0%, #C8FFB0 50%, #B8C25D 50%, #B8C25D 100%);
  background: -moz-linear-gradient(45deg, #C8FFB0 0%, #C8FFB0 50%, #B8C25D 50%, #B8C25D 100%);
  background: -ms-linear-gradient(45deg, #C8FFB0 0%, #C8FFB0 50%, #B8C25D 50%, #B8C25D 100%);
  background: -o-linear-gradient(45deg, #C8FFB0 0%, #C8FFB0 50%, #B8C25D 50%, #B8C25D 100%);
  background: linear-gradient(45deg, #C8FFB0 0%, #C8FFB0 50%, #B8C25D 50%, #B8C25D 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #C8FFB0 0%, #C8FFB0 50%, #CD9575 50%, #CD9575 100%);
  background: -moz-linear-gradient(45deg, #C8FFB0 0%, #C8FFB0 50%, #CD9575 50%, #CD9575 100%);
  background: -ms-linear-gradient(45deg, #C8FFB0 0%, #C8FFB0 50%, #CD9575 50%, #CD9575 100%);
  background: -o-linear-gradient(45deg, #C8FFB0 0%, #C8FFB0 50%, #CD9575 50%, #CD9575 100%);
  background: linear-gradient(45deg, #C8FFB0 0%, #C8FFB0 50%, #CD9575 50%, #CD9575 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #C8FFB0 0%, #C8FFB0 50%, #78D1B6 50%, #78D1B6 100%);
  background: -moz-linear-gradient(45deg, #C8FFB0 0%, #C8FFB0 50%, #78D1B6 50%, #78D1B6 100%);
  background: -ms-linear-gradient(45deg, #C8FFB0 0%, #C8FFB0 50%, #78D1B6 50%, #78D1B6 100%);
  background: -o-linear-gradient(45deg, #C8FFB0 0%, #C8FFB0 50%, #78D1B6 50%, #78D1B6 100%);
  background: linear-gradient(45deg, #C8FFB0 0%, #C8FFB0 50%, #78D1B6 50%, #78D1B6 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #C8FFB0 0%, #C8FFB0 50%, #CD5C5C 50%, #CD5C5C 100%);
  background: -moz-linear-gradient(45deg, #C8FFB0 0%, #C8FFB0 50%, #CD5C5C 50%, #CD5C5C 100%);
  background: -ms-linear-gradient(45deg, #C8FFB0 0%, #C8FFB0 50%, #CD5C5C 50%, #CD5C5C 100%);
  background: -o-linear-gradient(45deg, #C8FFB0 0%, #C8FFB0 50%, #CD5C5C 50%, #CD5C5C 100%);
  background: linear-gradient(45deg, #C8FFB0 0%, #C8FFB0 50%, #CD5C5C 50%, #CD5C5C 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #C8FFB0 0%, #C8FFB0 50%, #F660AB 50%, #F660AB 100%);
  background: -moz-linear-gradient(45deg, #C8FFB0 0%, #C8FFB0 50%, #F660AB 50%, #F660AB 100%);
  background: -ms-linear-gradient(45deg, #C8FFB0 0%, #C8FFB0 50%, #F660AB 50%, #F660AB 100%);
  background: -o-linear-gradient(45deg, #C8FFB0 0%, #C8FFB0 50%, #F660AB 50%, #F660AB 100%);
  background: linear-gradient(45deg, #C8FFB0 0%, #C8FFB0 50%, #F660AB 50%, #F660AB 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_8 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #C8FFB0;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #C8FFB0;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #C8FFB0;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #C8FFB0;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #C8FFB0;
}

#card_tone_4 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #C8FFB0;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #C8FFB0;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #C8FFB0;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #C8FFB0;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #C8FFB0;
}
