
:root {
    --col-header-border: #261414;
}

#card_shade_1 {
  background: #0C0606;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #190D0D;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #261414;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #412626;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #5C3B3B;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #775454;
}
.card:hover #name_shade_6 p {
  color: #ffffff;
}

#card_shade_7 {
  background: #927070;
}
.card:hover #name_shade_7 p {
  color: #ffffff;
}

#card_shade_8 {
  background: #AD8F8F;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #C8B1B1;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #E3D6D6;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #141212;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #171414;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #1B1515;
}
.card:hover #name_tone_3 p {
  color: #ffffff;
}

#card_tone_4 {
  background: #1F1515;
}
.card:hover #name_tone_4 p {
  color: #ffffff;
}

#card_tone_5 {
  background: #221515;
}
.card:hover #name_tone_5 p {
  color: #ffffff;
}

#card_tone_6 {
  background: #261414;
}
.card:hover #name_tone_6 p {
  color: #ffffff;
}

#card_tone_7 {
  background: #3E1A1A;
}
.card:hover #name_tone_7 p {
  color: #ffffff;
}

#card_tone_8 {
  background: #561B1B;
}
.card:hover #name_tone_8 p {
  color: #ffffff;
}

#card_tone_9 {
  background: #6E1717;
}
.card:hover #name_tone_9 p {
  color: #ffffff;
}

#card_tone_10 {
  background: #860E0E;
}
.card:hover #name_tone_10 p {
  color: #ffffff;
}

#card_simcol_1 {
  background: #301F1E;
}
.circle:hover #name_simcol_1 p {
  color: #ffffff;
}

#card_simcol_2 {
  background: #321414;
}
.circle:hover #name_simcol_2 p {
  color: #ffffff;
}

#card_simcol_3 {
  background: #311C17;
}
.circle:hover #name_simcol_3 p {
  color: #ffffff;
}

#card_simcol_4 {
  background: #481C1C;
}
.circle:hover #name_simcol_4 p {
  color: #ffffff;
}

#card_simcol_5 {
  background: #3E2B23;
}
.circle:hover #name_simcol_5 p {
  color: #ffffff;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #261414 0%, #261414 50%, #ADA587 50%, #ADA587 100%);
  background: -moz-linear-gradient(45deg, #261414 0%, #261414 50%, #ADA587 50%, #ADA587 100%);
  background: -ms-linear-gradient(45deg, #261414 0%, #261414 50%, #ADA587 50%, #ADA587 100%);
  background: -o-linear-gradient(45deg, #261414 0%, #261414 50%, #ADA587 50%, #ADA587 100%);
  background: linear-gradient(45deg, #261414 0%, #261414 50%, #ADA587 50%, #ADA587 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #261414 0%, #261414 50%, #E5D8AF 50%, #E5D8AF 100%);
  background: -moz-linear-gradient(45deg, #261414 0%, #261414 50%, #E5D8AF 50%, #E5D8AF 100%);
  background: -ms-linear-gradient(45deg, #261414 0%, #261414 50%, #E5D8AF 50%, #E5D8AF 100%);
  background: -o-linear-gradient(45deg, #261414 0%, #261414 50%, #E5D8AF 50%, #E5D8AF 100%);
  background: linear-gradient(45deg, #261414 0%, #261414 50%, #E5D8AF 50%, #E5D8AF 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #261414 0%, #261414 50%, #C8E3D7 50%, #C8E3D7 100%);
  background: -moz-linear-gradient(45deg, #261414 0%, #261414 50%, #C8E3D7 50%, #C8E3D7 100%);
  background: -ms-linear-gradient(45deg, #261414 0%, #261414 50%, #C8E3D7 50%, #C8E3D7 100%);
  background: -o-linear-gradient(45deg, #261414 0%, #261414 50%, #C8E3D7 50%, #C8E3D7 100%);
  background: linear-gradient(45deg, #261414 0%, #261414 50%, #C8E3D7 50%, #C8E3D7 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #261414 0%, #261414 50%, #CB99C9 50%, #CB99C9 100%);
  background: -moz-linear-gradient(45deg, #261414 0%, #261414 50%, #CB99C9 50%, #CB99C9 100%);
  background: -ms-linear-gradient(45deg, #261414 0%, #261414 50%, #CB99C9 50%, #CB99C9 100%);
  background: -o-linear-gradient(45deg, #261414 0%, #261414 50%, #CB99C9 50%, #CB99C9 100%);
  background: linear-gradient(45deg, #261414 0%, #261414 50%, #CB99C9 50%, #CB99C9 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #261414 0%, #261414 50%, #E7ACCF 50%, #E7ACCF 100%);
  background: -moz-linear-gradient(45deg, #261414 0%, #261414 50%, #E7ACCF 50%, #E7ACCF 100%);
  background: -ms-linear-gradient(45deg, #261414 0%, #261414 50%, #E7ACCF 50%, #E7ACCF 100%);
  background: -o-linear-gradient(45deg, #261414 0%, #261414 50%, #E7ACCF 50%, #E7ACCF 100%);
  background: linear-gradient(45deg, #261414 0%, #261414 50%, #E7ACCF 50%, #E7ACCF 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_3 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #261414;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #261414;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #261414;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #261414;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #261414;
}

#card_tone_6 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #261414;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #261414;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #261414;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #261414;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #261414;
}
