
:root {
    --col-header-border: #FF2052;
}

#card_shade_1 {
  background: #2A050E;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #540B1C;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #7F102A;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #A91638;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #D41B46;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #FF2052;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #FF4D76;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #FF7998;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #FFA6BA;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #FFD2DC;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #86797C;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #95797F;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #A47580;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #B36E7E;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #C2647A;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #D15874;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #E0486C;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #EF3661;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #FF2052;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #FF1048;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #FE2C54;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #FB2943;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #FD0E35;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #FF355E;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #FF073A;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #FF2052 0%, #FF2052 50%, #DFBE6F 50%, #DFBE6F 100%);
  background: -moz-linear-gradient(45deg, #FF2052 0%, #FF2052 50%, #DFBE6F 50%, #DFBE6F 100%);
  background: -ms-linear-gradient(45deg, #FF2052 0%, #FF2052 50%, #DFBE6F 50%, #DFBE6F 100%);
  background: -o-linear-gradient(45deg, #FF2052 0%, #FF2052 50%, #DFBE6F 50%, #DFBE6F 100%);
  background: linear-gradient(45deg, #FF2052 0%, #FF2052 50%, #DFBE6F 50%, #DFBE6F 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #FF2052 0%, #FF2052 50%, #8A2BE2 50%, #8A2BE2 100%);
  background: -moz-linear-gradient(45deg, #FF2052 0%, #FF2052 50%, #8A2BE2 50%, #8A2BE2 100%);
  background: -ms-linear-gradient(45deg, #FF2052 0%, #FF2052 50%, #8A2BE2 50%, #8A2BE2 100%);
  background: -o-linear-gradient(45deg, #FF2052 0%, #FF2052 50%, #8A2BE2 50%, #8A2BE2 100%);
  background: linear-gradient(45deg, #FF2052 0%, #FF2052 50%, #8A2BE2 50%, #8A2BE2 100%);
}
.combo:hover #name_combo_2 p {
  color: #ffffff;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #FF2052 0%, #FF2052 50%, #FFCC99 50%, #FFCC99 100%);
  background: -moz-linear-gradient(45deg, #FF2052 0%, #FF2052 50%, #FFCC99 50%, #FFCC99 100%);
  background: -ms-linear-gradient(45deg, #FF2052 0%, #FF2052 50%, #FFCC99 50%, #FFCC99 100%);
  background: -o-linear-gradient(45deg, #FF2052 0%, #FF2052 50%, #FFCC99 50%, #FFCC99 100%);
  background: linear-gradient(45deg, #FF2052 0%, #FF2052 50%, #FFCC99 50%, #FFCC99 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #FF2052 0%, #FF2052 50%, #BCE954 50%, #BCE954 100%);
  background: -moz-linear-gradient(45deg, #FF2052 0%, #FF2052 50%, #BCE954 50%, #BCE954 100%);
  background: -ms-linear-gradient(45deg, #FF2052 0%, #FF2052 50%, #BCE954 50%, #BCE954 100%);
  background: -o-linear-gradient(45deg, #FF2052 0%, #FF2052 50%, #BCE954 50%, #BCE954 100%);
  background: linear-gradient(45deg, #FF2052 0%, #FF2052 50%, #BCE954 50%, #BCE954 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #FF2052 0%, #FF2052 50%, #FFCC33 50%, #FFCC33 100%);
  background: -moz-linear-gradient(45deg, #FF2052 0%, #FF2052 50%, #FFCC33 50%, #FFCC33 100%);
  background: -ms-linear-gradient(45deg, #FF2052 0%, #FF2052 50%, #FFCC33 50%, #FFCC33 100%);
  background: -o-linear-gradient(45deg, #FF2052 0%, #FF2052 50%, #FFCC33 50%, #FFCC33 100%);
  background: linear-gradient(45deg, #FF2052 0%, #FF2052 50%, #FFCC33 50%, #FFCC33 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_6 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF2052;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF2052;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF2052;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF2052;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF2052;
}

#card_tone_9 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF2052;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF2052;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF2052;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF2052;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF2052;
}
