
:root {
    --col-header-border: #79BAEC;
}

#card_shade_1 {
  background: #111A21;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #223543;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #334F65;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #456A87;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #5685A9;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #67A0CB;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #79BAEC;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #98CBF1;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #B9DCF6;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #DBEDFA;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #767C80;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #7E8B96;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #8299AC;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #82A6C1;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #7FB1D7;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #79BAEC;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #61B1EF;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #49A8F1;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #319FF3;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #1995F5;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #8AB9F1;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #7DC8F7;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #5CB3FF;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #82CAFC;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #99BADD;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: linear-gradient(45deg, #79BAEC 0%, #79BAEC 50%, #7F00FF 50%, #7F00FF 100%);
}
.combo:hover #name_combo_1 p {
  color: #ffffff;
}

#card_combo_2 {
  background: linear-gradient(45deg, #79BAEC 0%, #79BAEC 50%, #D6FFDB 50%, #D6FFDB 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: linear-gradient(45deg, #79BAEC 0%, #79BAEC 50%, #DCD747 50%, #DCD747 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: linear-gradient(45deg, #79BAEC 0%, #79BAEC 50%, #9AF764 50%, #9AF764 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: linear-gradient(45deg, #79BAEC 0%, #79BAEC 50%, #7AF9AB 50%, #7AF9AB 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_7 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #79BAEC;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #79BAEC;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #79BAEC;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #79BAEC;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #79BAEC;
}

#card_tone_6 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #79BAEC;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #79BAEC;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #79BAEC;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #79BAEC;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #79BAEC;
}
