
:root {
    --col-header-border: #FF81C0;
}

#card_shade_1 {
  background: #1F1018;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #3F2030;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #5F3048;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #7F4161;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #9F5179;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #BF6191;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #DF71AA;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #FF81C0;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #FFABD6;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #FFD5EA;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #8A7F85;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #A28795;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #B98CA3;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #D08CAF;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #E789BA;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #FF81C0;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #FF68B6;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #FF4EA9;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #FF349C;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #FF1A90;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #F77FBE;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #FE83CC;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #FC89AC;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #F49AC2;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #E38AAE;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #FF81C0 0%, #FF81C0 50%, #915F6D 50%, #915F6D 100%);
  background: -moz-linear-gradient(45deg, #FF81C0 0%, #FF81C0 50%, #915F6D 50%, #915F6D 100%);
  background: -ms-linear-gradient(45deg, #FF81C0 0%, #FF81C0 50%, #915F6D 50%, #915F6D 100%);
  background: -o-linear-gradient(45deg, #FF81C0 0%, #FF81C0 50%, #915F6D 50%, #915F6D 100%);
  background: linear-gradient(45deg, #FF81C0 0%, #FF81C0 50%, #915F6D 50%, #915F6D 100%);
}
.combo:hover #name_combo_1 p {
  color: #ffffff;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #FF81C0 0%, #FF81C0 50%, #5E9B8A 50%, #5E9B8A 100%);
  background: -moz-linear-gradient(45deg, #FF81C0 0%, #FF81C0 50%, #5E9B8A 50%, #5E9B8A 100%);
  background: -ms-linear-gradient(45deg, #FF81C0 0%, #FF81C0 50%, #5E9B8A 50%, #5E9B8A 100%);
  background: -o-linear-gradient(45deg, #FF81C0 0%, #FF81C0 50%, #5E9B8A 50%, #5E9B8A 100%);
  background: linear-gradient(45deg, #FF81C0 0%, #FF81C0 50%, #5E9B8A 50%, #5E9B8A 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #FF81C0 0%, #FF81C0 50%, #5FA052 50%, #5FA052 100%);
  background: -moz-linear-gradient(45deg, #FF81C0 0%, #FF81C0 50%, #5FA052 50%, #5FA052 100%);
  background: -ms-linear-gradient(45deg, #FF81C0 0%, #FF81C0 50%, #5FA052 50%, #5FA052 100%);
  background: -o-linear-gradient(45deg, #FF81C0 0%, #FF81C0 50%, #5FA052 50%, #5FA052 100%);
  background: linear-gradient(45deg, #FF81C0 0%, #FF81C0 50%, #5FA052 50%, #5FA052 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #FF81C0 0%, #FF81C0 50%, #6B3FA0 50%, #6B3FA0 100%);
  background: -moz-linear-gradient(45deg, #FF81C0 0%, #FF81C0 50%, #6B3FA0 50%, #6B3FA0 100%);
  background: -ms-linear-gradient(45deg, #FF81C0 0%, #FF81C0 50%, #6B3FA0 50%, #6B3FA0 100%);
  background: -o-linear-gradient(45deg, #FF81C0 0%, #FF81C0 50%, #6B3FA0 50%, #6B3FA0 100%);
  background: linear-gradient(45deg, #FF81C0 0%, #FF81C0 50%, #6B3FA0 50%, #6B3FA0 100%);
}
.combo:hover #name_combo_4 p {
  color: #ffffff;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #FF81C0 0%, #FF81C0 50%, #FFCD8C 50%, #FFCD8C 100%);
  background: -moz-linear-gradient(45deg, #FF81C0 0%, #FF81C0 50%, #FFCD8C 50%, #FFCD8C 100%);
  background: -ms-linear-gradient(45deg, #FF81C0 0%, #FF81C0 50%, #FFCD8C 50%, #FFCD8C 100%);
  background: -o-linear-gradient(45deg, #FF81C0 0%, #FF81C0 50%, #FFCD8C 50%, #FFCD8C 100%);
  background: linear-gradient(45deg, #FF81C0 0%, #FF81C0 50%, #FFCD8C 50%, #FFCD8C 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_8 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF81C0;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF81C0;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF81C0;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF81C0;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF81C0;
}

#card_tone_6 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF81C0;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF81C0;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF81C0;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF81C0;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FF81C0;
}
