
:root {
    --col-header-border: #348781;
}

#card_shade_1 {
  background: #0A1B19;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #153633;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #1F514C;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #2A6C66;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #348781;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #4C9B94;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #67AEA9;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #87C2BD;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #ABD6D3;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #D3EAE8;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #424847;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #445251;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #445D5B;
}
.card:hover #name_tone_3 p {
  color: #ffffff;
}

#card_tone_4 {
  background: #436764;
}
.card:hover #name_tone_4 p {
  color: #ffffff;
}

#card_tone_5 {
  background: #40726E;
}
.card:hover #name_tone_5 p {
  color: #ffffff;
}

#card_tone_6 {
  background: #3B7C77;
}
.card:hover #name_tone_6 p {
  color: #ffffff;
}

#card_tone_7 {
  background: #348781;
}
.card:hover #name_tone_7 p {
  color: #ffffff;
}

#card_tone_8 {
  background: #2C988F;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #20A99D;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #11BAAC;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #317D82;
}
.circle:hover #name_simcol_1 p {
  color: #ffffff;
}

#card_simcol_2 {
  background: #438D80;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #3C9992;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #4C9085;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #427977;
}
.circle:hover #name_simcol_5 p {
  color: #ffffff;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #348781 0%, #348781 50%, #C9DC87 50%, #C9DC87 100%);
  background: -moz-linear-gradient(45deg, #348781 0%, #348781 50%, #C9DC87 50%, #C9DC87 100%);
  background: -ms-linear-gradient(45deg, #348781 0%, #348781 50%, #C9DC87 50%, #C9DC87 100%);
  background: -o-linear-gradient(45deg, #348781 0%, #348781 50%, #C9DC87 50%, #C9DC87 100%);
  background: linear-gradient(45deg, #348781 0%, #348781 50%, #C9DC87 50%, #C9DC87 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #348781 0%, #348781 50%, #C0FA8B 50%, #C0FA8B 100%);
  background: -moz-linear-gradient(45deg, #348781 0%, #348781 50%, #C0FA8B 50%, #C0FA8B 100%);
  background: -ms-linear-gradient(45deg, #348781 0%, #348781 50%, #C0FA8B 50%, #C0FA8B 100%);
  background: -o-linear-gradient(45deg, #348781 0%, #348781 50%, #C0FA8B 50%, #C0FA8B 100%);
  background: linear-gradient(45deg, #348781 0%, #348781 50%, #C0FA8B 50%, #C0FA8B 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #348781 0%, #348781 50%, #D99B82 50%, #D99B82 100%);
  background: -moz-linear-gradient(45deg, #348781 0%, #348781 50%, #D99B82 50%, #D99B82 100%);
  background: -ms-linear-gradient(45deg, #348781 0%, #348781 50%, #D99B82 50%, #D99B82 100%);
  background: -o-linear-gradient(45deg, #348781 0%, #348781 50%, #D99B82 50%, #D99B82 100%);
  background: linear-gradient(45deg, #348781 0%, #348781 50%, #D99B82 50%, #D99B82 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #348781 0%, #348781 50%, #C7A317 50%, #C7A317 100%);
  background: -moz-linear-gradient(45deg, #348781 0%, #348781 50%, #C7A317 50%, #C7A317 100%);
  background: -ms-linear-gradient(45deg, #348781 0%, #348781 50%, #C7A317 50%, #C7A317 100%);
  background: -o-linear-gradient(45deg, #348781 0%, #348781 50%, #C7A317 50%, #C7A317 100%);
  background: linear-gradient(45deg, #348781 0%, #348781 50%, #C7A317 50%, #C7A317 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #348781 0%, #348781 50%, #B7E1A1 50%, #B7E1A1 100%);
  background: -moz-linear-gradient(45deg, #348781 0%, #348781 50%, #B7E1A1 50%, #B7E1A1 100%);
  background: -ms-linear-gradient(45deg, #348781 0%, #348781 50%, #B7E1A1 50%, #B7E1A1 100%);
  background: -o-linear-gradient(45deg, #348781 0%, #348781 50%, #B7E1A1 50%, #B7E1A1 100%);
  background: linear-gradient(45deg, #348781 0%, #348781 50%, #B7E1A1 50%, #B7E1A1 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_5 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #348781;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #348781;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #348781;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #348781;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #348781;
}

#card_tone_7 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #348781;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #348781;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #348781;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #348781;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #348781;
}
