
:root {
    --col-header-border: #02478E;
}

#card_shade_1 {
  background: #000E1C;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #001C39;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #002B55;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #013972;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #02478E;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #1C5EA1;
}
.card:hover #name_shade_6 p {
  color: #ffffff;
}

#card_shade_7 {
  background: #3D78B4;
}
.card:hover #name_shade_7 p {
  color: #ffffff;
}

#card_shade_8 {
  background: #6495C6;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #91B5D9;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #C4D8EB;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #44484C;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #434B53;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #3F4D5B;
}
.card:hover #name_tone_3 p {
  color: #ffffff;
}

#card_tone_4 {
  background: #3B4E62;
}
.card:hover #name_tone_4 p {
  color: #ffffff;
}

#card_tone_5 {
  background: #354F69;
}
.card:hover #name_tone_5 p {
  color: #ffffff;
}

#card_tone_6 {
  background: #2D4F71;
}
.card:hover #name_tone_6 p {
  color: #ffffff;
}

#card_tone_7 {
  background: #254E78;
}
.card:hover #name_tone_7 p {
  color: #ffffff;
}

#card_tone_8 {
  background: #1A4D80;
}
.card:hover #name_tone_8 p {
  color: #ffffff;
}

#card_tone_9 {
  background: #0E4B87;
}
.card:hover #name_tone_9 p {
  color: #ffffff;
}

#card_tone_10 {
  background: #02478E;
}
.card:hover #name_tone_10 p {
  color: #ffffff;
}

#card_simcol_1 {
  background: #035096;
}
.circle:hover #name_simcol_1 p {
  color: #ffffff;
}

#card_simcol_2 {
  background: #08457E;
}
.circle:hover #name_simcol_2 p {
  color: #ffffff;
}

#card_simcol_3 {
  background: #0F4D92;
}
.circle:hover #name_simcol_3 p {
  color: #ffffff;
}

#card_simcol_4 {
  background: #003399;
}
.circle:hover #name_simcol_4 p {
  color: #ffffff;
}

#card_simcol_5 {
  background: #015482;
}
.circle:hover #name_simcol_5 p {
  color: #ffffff;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #02478E 0%, #02478E 50%, #EDEA99 50%, #EDEA99 100%);
  background: -moz-linear-gradient(45deg, #02478E 0%, #02478E 50%, #EDEA99 50%, #EDEA99 100%);
  background: -ms-linear-gradient(45deg, #02478E 0%, #02478E 50%, #EDEA99 50%, #EDEA99 100%);
  background: -o-linear-gradient(45deg, #02478E 0%, #02478E 50%, #EDEA99 50%, #EDEA99 100%);
  background: linear-gradient(45deg, #02478E 0%, #02478E 50%, #EDEA99 50%, #EDEA99 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #02478E 0%, #02478E 50%, #DB7093 50%, #DB7093 100%);
  background: -moz-linear-gradient(45deg, #02478E 0%, #02478E 50%, #DB7093 50%, #DB7093 100%);
  background: -ms-linear-gradient(45deg, #02478E 0%, #02478E 50%, #DB7093 50%, #DB7093 100%);
  background: -o-linear-gradient(45deg, #02478E 0%, #02478E 50%, #DB7093 50%, #DB7093 100%);
  background: linear-gradient(45deg, #02478E 0%, #02478E 50%, #DB7093 50%, #DB7093 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #02478E 0%, #02478E 50%, #8FFF9F 50%, #8FFF9F 100%);
  background: -moz-linear-gradient(45deg, #02478E 0%, #02478E 50%, #8FFF9F 50%, #8FFF9F 100%);
  background: -ms-linear-gradient(45deg, #02478E 0%, #02478E 50%, #8FFF9F 50%, #8FFF9F 100%);
  background: -o-linear-gradient(45deg, #02478E 0%, #02478E 50%, #8FFF9F 50%, #8FFF9F 100%);
  background: linear-gradient(45deg, #02478E 0%, #02478E 50%, #8FFF9F 50%, #8FFF9F 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #02478E 0%, #02478E 50%, #D462FF 50%, #D462FF 100%);
  background: -moz-linear-gradient(45deg, #02478E 0%, #02478E 50%, #D462FF 50%, #D462FF 100%);
  background: -ms-linear-gradient(45deg, #02478E 0%, #02478E 50%, #D462FF 50%, #D462FF 100%);
  background: -o-linear-gradient(45deg, #02478E 0%, #02478E 50%, #D462FF 50%, #D462FF 100%);
  background: linear-gradient(45deg, #02478E 0%, #02478E 50%, #D462FF 50%, #D462FF 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #02478E 0%, #02478E 50%, #B57EDC 50%, #B57EDC 100%);
  background: -moz-linear-gradient(45deg, #02478E 0%, #02478E 50%, #B57EDC 50%, #B57EDC 100%);
  background: -ms-linear-gradient(45deg, #02478E 0%, #02478E 50%, #B57EDC 50%, #B57EDC 100%);
  background: -o-linear-gradient(45deg, #02478E 0%, #02478E 50%, #B57EDC 50%, #B57EDC 100%);
  background: linear-gradient(45deg, #02478E 0%, #02478E 50%, #B57EDC 50%, #B57EDC 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_5 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #02478E;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #02478E;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #02478E;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #02478E;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #02478E;
}

#card_tone_10 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #02478E;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #02478E;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #02478E;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #02478E;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #02478E;
}
