
:root {
    --col-header-border: #606E68;
}

#card_shade_1 {
  background: #131514;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #262B29;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #39413E;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #4C5752;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #606E68;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #77857F;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #909E98;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #AAB6B1;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #C5CECA;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #E2E6E4;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #3E4140;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #505754;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #606E68;
}
.card:hover #name_tone_3 p {
  color: #ffffff;
}

#card_tone_4 {
  background: #5A776A;
}
.card:hover #name_tone_4 p {
  color: #ffffff;
}

#card_tone_5 {
  background: #54816D;
}
.card:hover #name_tone_5 p {
  color: #ffffff;
}

#card_tone_6 {
  background: #4B8A6F;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #409470;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #339E6F;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #24A76E;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #12B16C;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #748881;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #3F5D53;
}
.circle:hover #name_simcol_2 p {
  color: #ffffff;
}

#card_simcol_3 {
  background: #517C66;
}
.circle:hover #name_simcol_3 p {
  color: #ffffff;
}

#card_simcol_4 {
  background: #678975;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #828685;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #606E68 0%, #606E68 50%, #CEB98F 50%, #CEB98F 100%);
  background: -moz-linear-gradient(45deg, #606E68 0%, #606E68 50%, #CEB98F 50%, #CEB98F 100%);
  background: -ms-linear-gradient(45deg, #606E68 0%, #606E68 50%, #CEB98F 50%, #CEB98F 100%);
  background: -o-linear-gradient(45deg, #606E68 0%, #606E68 50%, #CEB98F 50%, #CEB98F 100%);
  background: linear-gradient(45deg, #606E68 0%, #606E68 50%, #CEB98F 50%, #CEB98F 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #606E68 0%, #606E68 50%, #B5EAAA 50%, #B5EAAA 100%);
  background: -moz-linear-gradient(45deg, #606E68 0%, #606E68 50%, #B5EAAA 50%, #B5EAAA 100%);
  background: -ms-linear-gradient(45deg, #606E68 0%, #606E68 50%, #B5EAAA 50%, #B5EAAA 100%);
  background: -o-linear-gradient(45deg, #606E68 0%, #606E68 50%, #B5EAAA 50%, #B5EAAA 100%);
  background: linear-gradient(45deg, #606E68 0%, #606E68 50%, #B5EAAA 50%, #B5EAAA 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #606E68 0%, #606E68 50%, #C4D0B0 50%, #C4D0B0 100%);
  background: -moz-linear-gradient(45deg, #606E68 0%, #606E68 50%, #C4D0B0 50%, #C4D0B0 100%);
  background: -ms-linear-gradient(45deg, #606E68 0%, #606E68 50%, #C4D0B0 50%, #C4D0B0 100%);
  background: -o-linear-gradient(45deg, #606E68 0%, #606E68 50%, #C4D0B0 50%, #C4D0B0 100%);
  background: linear-gradient(45deg, #606E68 0%, #606E68 50%, #C4D0B0 50%, #C4D0B0 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #606E68 0%, #606E68 50%, #E4D1C0 50%, #E4D1C0 100%);
  background: -moz-linear-gradient(45deg, #606E68 0%, #606E68 50%, #E4D1C0 50%, #E4D1C0 100%);
  background: -ms-linear-gradient(45deg, #606E68 0%, #606E68 50%, #E4D1C0 50%, #E4D1C0 100%);
  background: -o-linear-gradient(45deg, #606E68 0%, #606E68 50%, #E4D1C0 50%, #E4D1C0 100%);
  background: linear-gradient(45deg, #606E68 0%, #606E68 50%, #E4D1C0 50%, #E4D1C0 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #606E68 0%, #606E68 50%, #C7BCA2 50%, #C7BCA2 100%);
  background: -moz-linear-gradient(45deg, #606E68 0%, #606E68 50%, #C7BCA2 50%, #C7BCA2 100%);
  background: -ms-linear-gradient(45deg, #606E68 0%, #606E68 50%, #C7BCA2 50%, #C7BCA2 100%);
  background: -o-linear-gradient(45deg, #606E68 0%, #606E68 50%, #C7BCA2 50%, #C7BCA2 100%);
  background: linear-gradient(45deg, #606E68 0%, #606E68 50%, #C7BCA2 50%, #C7BCA2 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_5 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #606E68;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #606E68;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #606E68;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #606E68;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #606E68;
}

#card_tone_3 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #606E68;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #606E68;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #606E68;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #606E68;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #606E68;
}
