
:root {
    --col-header-border: #175579;
}

#card_shade_1 {
  background: #05151D;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #0B2A3B;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #114059;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #175579;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #2A698B;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #427E9E;
}
.card:hover #name_shade_6 p {
  color: #ffffff;
}

#card_shade_7 {
  background: #5F95B1;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #81ADC5;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #A6C7D8;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #D1E2EC;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #393C3E;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #394145;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #38454D;
}
.card:hover #name_tone_3 p {
  color: #ffffff;
}

#card_tone_4 {
  background: #354954;
}
.card:hover #name_tone_4 p {
  color: #ffffff;
}

#card_tone_5 {
  background: #324C5B;
}
.card:hover #name_tone_5 p {
  color: #ffffff;
}

#card_tone_6 {
  background: #2D4F62;
}
.card:hover #name_tone_6 p {
  color: #ffffff;
}

#card_tone_7 {
  background: #275269;
}
.card:hover #name_tone_7 p {
  color: #ffffff;
}

#card_tone_8 {
  background: #1F5470;
}
.card:hover #name_tone_8 p {
  color: #ffffff;
}

#card_tone_9 {
  background: #175579;
}
.card:hover #name_tone_9 p {
  color: #ffffff;
}

#card_tone_10 {
  background: #0F70A4;
}
.card:hover #name_tone_10 p {
  color: #ffffff;
}

#card_simcol_1 {
  background: #155084;
}
.circle:hover #name_simcol_1 p {
  color: #ffffff;
}

#card_simcol_2 {
  background: #08457E;
}
.circle:hover #name_simcol_2 p {
  color: #ffffff;
}

#card_simcol_3 {
  background: #26538D;
}
.circle:hover #name_simcol_3 p {
  color: #ffffff;
}

#card_simcol_4 {
  background: #055989;
}
.circle:hover #name_simcol_4 p {
  color: #ffffff;
}

#card_simcol_5 {
  background: #0F4D92;
}
.circle:hover #name_simcol_5 p {
  color: #ffffff;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #175579 0%, #175579 50%, #DA70D6 50%, #DA70D6 100%);
  background: -moz-linear-gradient(45deg, #175579 0%, #175579 50%, #DA70D6 50%, #DA70D6 100%);
  background: -ms-linear-gradient(45deg, #175579 0%, #175579 50%, #DA70D6 50%, #DA70D6 100%);
  background: -o-linear-gradient(45deg, #175579 0%, #175579 50%, #DA70D6 50%, #DA70D6 100%);
  background: linear-gradient(45deg, #175579 0%, #175579 50%, #DA70D6 50%, #DA70D6 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #175579 0%, #175579 50%, #54C571 50%, #54C571 100%);
  background: -moz-linear-gradient(45deg, #175579 0%, #175579 50%, #54C571 50%, #54C571 100%);
  background: -ms-linear-gradient(45deg, #175579 0%, #175579 50%, #54C571 50%, #54C571 100%);
  background: -o-linear-gradient(45deg, #175579 0%, #175579 50%, #54C571 50%, #54C571 100%);
  background: linear-gradient(45deg, #175579 0%, #175579 50%, #54C571 50%, #54C571 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #175579 0%, #175579 50%, #89C35C 50%, #89C35C 100%);
  background: -moz-linear-gradient(45deg, #175579 0%, #175579 50%, #89C35C 50%, #89C35C 100%);
  background: -ms-linear-gradient(45deg, #175579 0%, #175579 50%, #89C35C 50%, #89C35C 100%);
  background: -o-linear-gradient(45deg, #175579 0%, #175579 50%, #89C35C 50%, #89C35C 100%);
  background: linear-gradient(45deg, #175579 0%, #175579 50%, #89C35C 50%, #89C35C 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #175579 0%, #175579 50%, #E799A3 50%, #E799A3 100%);
  background: -moz-linear-gradient(45deg, #175579 0%, #175579 50%, #E799A3 50%, #E799A3 100%);
  background: -ms-linear-gradient(45deg, #175579 0%, #175579 50%, #E799A3 50%, #E799A3 100%);
  background: -o-linear-gradient(45deg, #175579 0%, #175579 50%, #E799A3 50%, #E799A3 100%);
  background: linear-gradient(45deg, #175579 0%, #175579 50%, #E799A3 50%, #E799A3 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #175579 0%, #175579 50%, #C9DC87 50%, #C9DC87 100%);
  background: -moz-linear-gradient(45deg, #175579 0%, #175579 50%, #C9DC87 50%, #C9DC87 100%);
  background: -ms-linear-gradient(45deg, #175579 0%, #175579 50%, #C9DC87 50%, #C9DC87 100%);
  background: -o-linear-gradient(45deg, #175579 0%, #175579 50%, #C9DC87 50%, #C9DC87 100%);
  background: linear-gradient(45deg, #175579 0%, #175579 50%, #C9DC87 50%, #C9DC87 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_4 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #175579;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #175579;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #175579;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #175579;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #175579;
}

#card_tone_9 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #175579;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #175579;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #175579;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #175579;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #175579;
}
