
:root {
    --col-header-border: #4E9258;
}

#card_shade_1 {
  background: #0C180E;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #19301C;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #26482B;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #336039;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #407947;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #4E9258;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #68A770;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #87BD8E;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #ABD3B0;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #D3E9D6;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #484F49;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #4D5C4F;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #506953;
}
.card:hover #name_tone_3 p {
  color: #ffffff;
}

#card_tone_4 {
  background: #517656;
}
.card:hover #name_tone_4 p {
  color: #ffffff;
}

#card_tone_5 {
  background: #508457;
}
.card:hover #name_tone_5 p {
  color: #ffffff;
}

#card_tone_6 {
  background: #4E9258;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #429D4E;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #36A945;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #26B639;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #14C22B;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #4F9153;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #3EA055;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #578363;
}
.circle:hover #name_simcol_3 p {
  color: #ffffff;
}

#card_simcol_4 {
  background: #598556;
}
.circle:hover #name_simcol_4 p {
  color: #ffffff;
}

#card_simcol_5 {
  background: #658D6D;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: linear-gradient(45deg, #4E9258 0%, #4E9258 50%, #ED989E 50%, #ED989E 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: linear-gradient(45deg, #4E9258 0%, #4E9258 50%, #C4F4EB 50%, #C4F4EB 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: linear-gradient(45deg, #4E9258 0%, #4E9258 50%, #A1DAD7 50%, #A1DAD7 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: linear-gradient(45deg, #4E9258 0%, #4E9258 50%, #B4CFD3 50%, #B4CFD3 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: linear-gradient(45deg, #4E9258 0%, #4E9258 50%, #B9C46A 50%, #B9C46A 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_6 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #4E9258;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #4E9258;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #4E9258;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #4E9258;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #4E9258;
}

#card_tone_6 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #4E9258;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #4E9258;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #4E9258;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #4E9258;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #4E9258;
}
