
#card_shade_1 {
  background: #1B1C18;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #363830;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #525549;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #6D7161;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #888D79;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #A4AA92;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #BFC6AA;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #DAE2C2;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #F6FFDC;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #FAFFED;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #979991;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #C7CCB9;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #F6FFDC;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #EFFFBF;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #E8FFA4;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #E1FF88;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #DAFF6D;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #D3FF51;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #CCFF36;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #C5FF1A;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #F8FDD3;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #F1FFC8;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #FAFDE4;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #FCFFE7;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #FCFEDA;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: linear-gradient(45deg, #F6FFDC 0%, #F6FFDC 50%, #6FD0C5 50%, #6FD0C5 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: linear-gradient(45deg, #F6FFDC 0%, #F6FFDC 50%, #6FC276 50%, #6FC276 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: linear-gradient(45deg, #F6FFDC 0%, #F6FFDC 50%, #93C572 50%, #93C572 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: linear-gradient(45deg, #F6FFDC 0%, #F6FFDC 50%, #DB5079 50%, #DB5079 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: linear-gradient(45deg, #F6FFDC 0%, #F6FFDC 50%, #45CEA2 50%, #45CEA2 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_9 {
  border-color: var(--col-accent2);
}

#card_tone_3 {
  border-color: var(--col-accent2);
}

:root {
  --shadow-swatch: 0 3px 6px rgba(0,0,0,.3);
}
