
:root {
    --col-header-border: #CA7B80;
}

#card_shade_1 {
  background: #1C1112;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #392224;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #563437;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #734649;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #8F575C;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #AC696E;
}
.card:hover #name_shade_6 p {
  color: #ffffff;
}

#card_shade_7 {
  background: #CA7B80;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #D6989D;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #E3B7BB;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #F1DADC;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #6F6667;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #867172;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #9C777A;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #B37B7F;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #CA7B80;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #CE6871;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #D35560;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #D7414E;
}
.card:hover #name_tone_8 p {
  color: #ffffff;
}

#card_tone_9 {
  background: #DC2C3B;
}
.card:hover #name_tone_9 p {
  color: #ffffff;
}

#card_tone_10 {
  background: #E11627;
}
.card:hover #name_tone_10 p {
  color: #ffffff;
}

#card_simcol_1 {
  background: #C48189;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #C0737A;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #CC7A8B;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #C48793;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #D1768F;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: linear-gradient(45deg, #CA7B80 0%, #CA7B80 50%, #ACE5EE 50%, #ACE5EE 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: linear-gradient(45deg, #CA7B80 0%, #CA7B80 50%, #F9BF58 50%, #F9BF58 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: linear-gradient(45deg, #CA7B80 0%, #CA7B80 50%, #E5D8AF 50%, #E5D8AF 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: linear-gradient(45deg, #CA7B80 0%, #CA7B80 50%, #EDC9AF 50%, #EDC9AF 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: linear-gradient(45deg, #CA7B80 0%, #CA7B80 50%, #BDDA57 50%, #BDDA57 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_7 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #CA7B80;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #CA7B80;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #CA7B80;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #CA7B80;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #CA7B80;
}

#card_tone_5 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #CA7B80;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #CA7B80;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #CA7B80;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #CA7B80;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #CA7B80;
}
