
:root {
    --col-header-border: #F78FA7;
}

#card_shade_1 {
  background: #1F1215;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #3E242A;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #5D353F;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #7B4754;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #9A596A;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #B96B7F;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #D87D94;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #F78FA7;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #F9B3C5;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #FCD9E1;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #897D80;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #A4898F;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #C08F9B;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #DB91A4;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #F78FA7;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #F87797;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #F86086;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #F94874;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #FA3062;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #FB1750;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #FC89AC;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #FF91A4;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #EF98AA;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #E799A3;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #E68FAC;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #F78FA7 0%, #F78FA7 50%, #5A87A0 50%, #5A87A0 100%);
  background: -moz-linear-gradient(45deg, #F78FA7 0%, #F78FA7 50%, #5A87A0 50%, #5A87A0 100%);
  background: -ms-linear-gradient(45deg, #F78FA7 0%, #F78FA7 50%, #5A87A0 50%, #5A87A0 100%);
  background: -o-linear-gradient(45deg, #F78FA7 0%, #F78FA7 50%, #5A87A0 50%, #5A87A0 100%);
  background: linear-gradient(45deg, #F78FA7 0%, #F78FA7 50%, #5A87A0 50%, #5A87A0 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #F78FA7 0%, #F78FA7 50%, #5FA777 50%, #5FA777 100%);
  background: -moz-linear-gradient(45deg, #F78FA7 0%, #F78FA7 50%, #5FA777 50%, #5FA777 100%);
  background: -ms-linear-gradient(45deg, #F78FA7 0%, #F78FA7 50%, #5FA777 50%, #5FA777 100%);
  background: -o-linear-gradient(45deg, #F78FA7 0%, #F78FA7 50%, #5FA777 50%, #5FA777 100%);
  background: linear-gradient(45deg, #F78FA7 0%, #F78FA7 50%, #5FA777 50%, #5FA777 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #F78FA7 0%, #F78FA7 50%, #AB7E4C 50%, #AB7E4C 100%);
  background: -moz-linear-gradient(45deg, #F78FA7 0%, #F78FA7 50%, #AB7E4C 50%, #AB7E4C 100%);
  background: -ms-linear-gradient(45deg, #F78FA7 0%, #F78FA7 50%, #AB7E4C 50%, #AB7E4C 100%);
  background: -o-linear-gradient(45deg, #F78FA7 0%, #F78FA7 50%, #AB7E4C 50%, #AB7E4C 100%);
  background: linear-gradient(45deg, #F78FA7 0%, #F78FA7 50%, #AB7E4C 50%, #AB7E4C 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #F78FA7 0%, #F78FA7 50%, #6B3FA0 50%, #6B3FA0 100%);
  background: -moz-linear-gradient(45deg, #F78FA7 0%, #F78FA7 50%, #6B3FA0 50%, #6B3FA0 100%);
  background: -ms-linear-gradient(45deg, #F78FA7 0%, #F78FA7 50%, #6B3FA0 50%, #6B3FA0 100%);
  background: -o-linear-gradient(45deg, #F78FA7 0%, #F78FA7 50%, #6B3FA0 50%, #6B3FA0 100%);
  background: linear-gradient(45deg, #F78FA7 0%, #F78FA7 50%, #6B3FA0 50%, #6B3FA0 100%);
}
.combo:hover #name_combo_4 p {
  color: #ffffff;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #F78FA7 0%, #F78FA7 50%, #C04737 50%, #C04737 100%);
  background: -moz-linear-gradient(45deg, #F78FA7 0%, #F78FA7 50%, #C04737 50%, #C04737 100%);
  background: -ms-linear-gradient(45deg, #F78FA7 0%, #F78FA7 50%, #C04737 50%, #C04737 100%);
  background: -o-linear-gradient(45deg, #F78FA7 0%, #F78FA7 50%, #C04737 50%, #C04737 100%);
  background: linear-gradient(45deg, #F78FA7 0%, #F78FA7 50%, #C04737 50%, #C04737 100%);
}
.combo:hover #name_combo_5 p {
  color: #ffffff;
}

#card_shade_8 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F78FA7;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F78FA7;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F78FA7;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F78FA7;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F78FA7;
}

#card_tone_5 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F78FA7;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F78FA7;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F78FA7;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F78FA7;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F78FA7;
}
