
:root {
    --col-header-border: #F7F5FA;
}

#card_shade_1 {
  background: #181818;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #313031;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #4A494A;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #626163;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #7B7A7C;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #949295;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #ACABAE;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #C5C3C7;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #DEDCE0;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #F7F5FA;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #A5A4A6;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #F7F5FA;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #E6D9FA;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #D5BEFA;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #C5A3FA;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #B488FA;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #A36DFB;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #9251FB;
}
.card:hover #name_tone_8 p {
  color: #ffffff;
}

#card_tone_9 {
  background: #8236FB;
}
.card:hover #name_tone_9 p {
  color: #ffffff;
}

#card_tone_10 {
  background: #711BFB;
}
.card:hover #name_tone_10 p {
  color: #ffffff;
}

#card_simcol_1 {
  background: #F8F7FC;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #F1E9FF;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #FEFCFF;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #F0EEFF;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #F8F8FF;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: linear-gradient(45deg, #F7F5FA 0%, #F7F5FA 50%, #4C9085 50%, #4C9085 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: linear-gradient(45deg, #F7F5FA 0%, #F7F5FA 50%, #779ECB 50%, #779ECB 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: linear-gradient(45deg, #F7F5FA 0%, #F7F5FA 50%, #66B58F 50%, #66B58F 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: linear-gradient(45deg, #F7F5FA 0%, #F7F5FA 50%, #589AAF 50%, #589AAF 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: linear-gradient(45deg, #F7F5FA 0%, #F7F5FA 50%, #DFBE6F 50%, #DFBE6F 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_10 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F7F5FA;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F7F5FA;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F7F5FA;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F7F5FA;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F7F5FA;
}

#card_tone_2 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F7F5FA;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F7F5FA;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F7F5FA;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F7F5FA;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F7F5FA;
}
