
:root {
    --col-header-border: #DFC5FE;
}

#card_shade_1 {
  background: #19161C;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #312C38;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #4A4255;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #635871;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #7C6E8D;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #9584AA;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #AE9AC6;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #C7B0E2;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #DFC5FE;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #EFE2FF;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #928D99;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #BBAECC;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #DFC5FE;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #D2ADFF;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #C494FF;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #B67BFF;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #A962FF;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #9B49FF;
}
.card:hover #name_tone_8 p {
  color: #ffffff;
}

#card_tone_9 {
  background: #8D30FF;
}
.card:hover #name_tone_9 p {
  color: #ffffff;
}

#card_tone_10 {
  background: #7F17FF;
}
.card:hover #name_tone_10 p {
  color: #ffffff;
}

#card_simcol_1 {
  background: #E4CBFF;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #EDC8FF;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #DCD0FF;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #D6CEF6;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #D6B4FC;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #DFC5FE 0%, #DFC5FE 50%, #7BB274 50%, #7BB274 100%);
  background: -moz-linear-gradient(45deg, #DFC5FE 0%, #DFC5FE 50%, #7BB274 50%, #7BB274 100%);
  background: -ms-linear-gradient(45deg, #DFC5FE 0%, #DFC5FE 50%, #7BB274 50%, #7BB274 100%);
  background: -o-linear-gradient(45deg, #DFC5FE 0%, #DFC5FE 50%, #7BB274 50%, #7BB274 100%);
  background: linear-gradient(45deg, #DFC5FE 0%, #DFC5FE 50%, #7BB274 50%, #7BB274 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #DFC5FE 0%, #DFC5FE 50%, #46C7C7 50%, #46C7C7 100%);
  background: -moz-linear-gradient(45deg, #DFC5FE 0%, #DFC5FE 50%, #46C7C7 50%, #46C7C7 100%);
  background: -ms-linear-gradient(45deg, #DFC5FE 0%, #DFC5FE 50%, #46C7C7 50%, #46C7C7 100%);
  background: -o-linear-gradient(45deg, #DFC5FE 0%, #DFC5FE 50%, #46C7C7 50%, #46C7C7 100%);
  background: linear-gradient(45deg, #DFC5FE 0%, #DFC5FE 50%, #46C7C7 50%, #46C7C7 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #DFC5FE 0%, #DFC5FE 50%, #436BAD 50%, #436BAD 100%);
  background: -moz-linear-gradient(45deg, #DFC5FE 0%, #DFC5FE 50%, #436BAD 50%, #436BAD 100%);
  background: -ms-linear-gradient(45deg, #DFC5FE 0%, #DFC5FE 50%, #436BAD 50%, #436BAD 100%);
  background: -o-linear-gradient(45deg, #DFC5FE 0%, #DFC5FE 50%, #436BAD 50%, #436BAD 100%);
  background: linear-gradient(45deg, #DFC5FE 0%, #DFC5FE 50%, #436BAD 50%, #436BAD 100%);
}
.combo:hover #name_combo_3 p {
  color: #ffffff;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #DFC5FE 0%, #DFC5FE 50%, #CD5B45 50%, #CD5B45 100%);
  background: -moz-linear-gradient(45deg, #DFC5FE 0%, #DFC5FE 50%, #CD5B45 50%, #CD5B45 100%);
  background: -ms-linear-gradient(45deg, #DFC5FE 0%, #DFC5FE 50%, #CD5B45 50%, #CD5B45 100%);
  background: -o-linear-gradient(45deg, #DFC5FE 0%, #DFC5FE 50%, #CD5B45 50%, #CD5B45 100%);
  background: linear-gradient(45deg, #DFC5FE 0%, #DFC5FE 50%, #CD5B45 50%, #CD5B45 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #DFC5FE 0%, #DFC5FE 50%, #79BAEC 50%, #79BAEC 100%);
  background: -moz-linear-gradient(45deg, #DFC5FE 0%, #DFC5FE 50%, #79BAEC 50%, #79BAEC 100%);
  background: -ms-linear-gradient(45deg, #DFC5FE 0%, #DFC5FE 50%, #79BAEC 50%, #79BAEC 100%);
  background: -o-linear-gradient(45deg, #DFC5FE 0%, #DFC5FE 50%, #79BAEC 50%, #79BAEC 100%);
  background: linear-gradient(45deg, #DFC5FE 0%, #DFC5FE 50%, #79BAEC 50%, #79BAEC 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_9 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #DFC5FE;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #DFC5FE;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #DFC5FE;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #DFC5FE;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #DFC5FE;
}

#card_tone_3 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #DFC5FE;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #DFC5FE;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #DFC5FE;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #DFC5FE;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #DFC5FE;
}
