
:root {
    --col-header-border: #1569C7;
}

#card_shade_1 {
  background: #031121;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #072342;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #0A3563;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #0E4784;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #1259A5;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #1569C7;
}
.card:hover #name_shade_6 p {
  color: #ffffff;
}

#card_shade_7 {
  background: #3C84D2;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #67A0DD;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #95BDE8;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #C8DDF3;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #5F6368;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #5E6873;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #5C6C7D;
}
.card:hover #name_tone_3 p {
  color: #ffffff;
}

#card_tone_4 {
  background: #576F88;
}
.card:hover #name_tone_4 p {
  color: #ffffff;
}

#card_tone_5 {
  background: #517092;
}
.card:hover #name_tone_5 p {
  color: #ffffff;
}

#card_tone_6 {
  background: #49719D;
}
.card:hover #name_tone_6 p {
  color: #ffffff;
}

#card_tone_7 {
  background: #3F71A7;
}
.card:hover #name_tone_7 p {
  color: #ffffff;
}

#card_tone_8 {
  background: #3370B1;
}
.card:hover #name_tone_8 p {
  color: #ffffff;
}

#card_tone_9 {
  background: #256EBC;
}
.card:hover #name_tone_9 p {
  color: #ffffff;
}

#card_tone_10 {
  background: #1569C7;
}
.card:hover #name_tone_10 p {
  color: #ffffff;
}

#card_simcol_1 {
  background: #1164B4;
}
.circle:hover #name_simcol_1 p {
  color: #ffffff;
}

#card_simcol_2 {
  background: #286ACD;
}
.circle:hover #name_simcol_2 p {
  color: #ffffff;
}

#card_simcol_3 {
  background: #0F52BA;
}
.circle:hover #name_simcol_3 p {
  color: #ffffff;
}

#card_simcol_4 {
  background: #0066CC;
}
.circle:hover #name_simcol_4 p {
  color: #ffffff;
}

#card_simcol_5 {
  background: #276AB3;
}
.circle:hover #name_simcol_5 p {
  color: #ffffff;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #1569C7 0%, #1569C7 50%, #00BFFF 50%, #00BFFF 100%);
  background: -moz-linear-gradient(45deg, #1569C7 0%, #1569C7 50%, #00BFFF 50%, #00BFFF 100%);
  background: -ms-linear-gradient(45deg, #1569C7 0%, #1569C7 50%, #00BFFF 50%, #00BFFF 100%);
  background: -o-linear-gradient(45deg, #1569C7 0%, #1569C7 50%, #00BFFF 50%, #00BFFF 100%);
  background: linear-gradient(45deg, #1569C7 0%, #1569C7 50%, #00BFFF 50%, #00BFFF 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #1569C7 0%, #1569C7 50%, #46C7C7 50%, #46C7C7 100%);
  background: -moz-linear-gradient(45deg, #1569C7 0%, #1569C7 50%, #46C7C7 50%, #46C7C7 100%);
  background: -ms-linear-gradient(45deg, #1569C7 0%, #1569C7 50%, #46C7C7 50%, #46C7C7 100%);
  background: -o-linear-gradient(45deg, #1569C7 0%, #1569C7 50%, #46C7C7 50%, #46C7C7 100%);
  background: linear-gradient(45deg, #1569C7 0%, #1569C7 50%, #46C7C7 50%, #46C7C7 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #1569C7 0%, #1569C7 50%, #ED989E 50%, #ED989E 100%);
  background: -moz-linear-gradient(45deg, #1569C7 0%, #1569C7 50%, #ED989E 50%, #ED989E 100%);
  background: -ms-linear-gradient(45deg, #1569C7 0%, #1569C7 50%, #ED989E 50%, #ED989E 100%);
  background: -o-linear-gradient(45deg, #1569C7 0%, #1569C7 50%, #ED989E 50%, #ED989E 100%);
  background: linear-gradient(45deg, #1569C7 0%, #1569C7 50%, #ED989E 50%, #ED989E 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #1569C7 0%, #1569C7 50%, #CC8899 50%, #CC8899 100%);
  background: -moz-linear-gradient(45deg, #1569C7 0%, #1569C7 50%, #CC8899 50%, #CC8899 100%);
  background: -ms-linear-gradient(45deg, #1569C7 0%, #1569C7 50%, #CC8899 50%, #CC8899 100%);
  background: -o-linear-gradient(45deg, #1569C7 0%, #1569C7 50%, #CC8899 50%, #CC8899 100%);
  background: linear-gradient(45deg, #1569C7 0%, #1569C7 50%, #CC8899 50%, #CC8899 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #1569C7 0%, #1569C7 50%, #DA70D6 50%, #DA70D6 100%);
  background: -moz-linear-gradient(45deg, #1569C7 0%, #1569C7 50%, #DA70D6 50%, #DA70D6 100%);
  background: -ms-linear-gradient(45deg, #1569C7 0%, #1569C7 50%, #DA70D6 50%, #DA70D6 100%);
  background: -o-linear-gradient(45deg, #1569C7 0%, #1569C7 50%, #DA70D6 50%, #DA70D6 100%);
  background: linear-gradient(45deg, #1569C7 0%, #1569C7 50%, #DA70D6 50%, #DA70D6 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_6 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #1569C7;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #1569C7;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #1569C7;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #1569C7;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #1569C7;
}

#card_tone_10 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #1569C7;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #1569C7;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #1569C7;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #1569C7;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #1569C7;
}
