
:root {
    --col-header-border: #B1610B;
}

#card_shade_1 {
  background: #231302;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #462604;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #693906;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #8C4C08;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #B1610B;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #BD7529;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #CA8D4B;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #D7A672;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #E4C29D;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #F2E0CC;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #5D5954;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #665D53;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #6F6050;
}
.card:hover #name_tone_3 p {
  color: #ffffff;
}

#card_tone_4 {
  background: #78624B;
}
.card:hover #name_tone_4 p {
  color: #ffffff;
}

#card_tone_5 {
  background: #826444;
}
.card:hover #name_tone_5 p {
  color: #ffffff;
}

#card_tone_6 {
  background: #8B653C;
}
.card:hover #name_tone_6 p {
  color: #ffffff;
}

#card_tone_7 {
  background: #946532;
}
.card:hover #name_tone_7 p {
  color: #ffffff;
}

#card_tone_8 {
  background: #9D6427;
}
.card:hover #name_tone_8 p {
  color: #ffffff;
}

#card_tone_9 {
  background: #A66219;
}
.card:hover #name_tone_9 p {
  color: #ffffff;
}

#card_tone_10 {
  background: #B1610B;
}
.card:hover #name_tone_10 p {
  color: #ffffff;
}

#card_simcol_1 {
  background: #A75E09;
}
.circle:hover #name_simcol_1 p {
  color: #ffffff;
}

#card_simcol_2 {
  background: #B06500;
}
.circle:hover #name_simcol_2 p {
  color: #ffffff;
}

#card_simcol_3 {
  background: #A85307;
}
.circle:hover #name_simcol_3 p {
  color: #ffffff;
}

#card_simcol_4 {
  background: #A86515;
}
.circle:hover #name_simcol_4 p {
  color: #ffffff;
}

#card_simcol_5 {
  background: #BE6400;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #B1610B 0%, #B1610B 50%, #FC89AC 50%, #FC89AC 100%);
  background: -moz-linear-gradient(45deg, #B1610B 0%, #B1610B 50%, #FC89AC 50%, #FC89AC 100%);
  background: -ms-linear-gradient(45deg, #B1610B 0%, #B1610B 50%, #FC89AC 50%, #FC89AC 100%);
  background: -o-linear-gradient(45deg, #B1610B 0%, #B1610B 50%, #FC89AC 50%, #FC89AC 100%);
  background: linear-gradient(45deg, #B1610B 0%, #B1610B 50%, #FC89AC 50%, #FC89AC 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #B1610B 0%, #B1610B 50%, #B8FFEB 50%, #B8FFEB 100%);
  background: -moz-linear-gradient(45deg, #B1610B 0%, #B1610B 50%, #B8FFEB 50%, #B8FFEB 100%);
  background: -ms-linear-gradient(45deg, #B1610B 0%, #B1610B 50%, #B8FFEB 50%, #B8FFEB 100%);
  background: -o-linear-gradient(45deg, #B1610B 0%, #B1610B 50%, #B8FFEB 50%, #B8FFEB 100%);
  background: linear-gradient(45deg, #B1610B 0%, #B1610B 50%, #B8FFEB 50%, #B8FFEB 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #B1610B 0%, #B1610B 50%, #F49AC2 50%, #F49AC2 100%);
  background: -moz-linear-gradient(45deg, #B1610B 0%, #B1610B 50%, #F49AC2 50%, #F49AC2 100%);
  background: -ms-linear-gradient(45deg, #B1610B 0%, #B1610B 50%, #F49AC2 50%, #F49AC2 100%);
  background: -o-linear-gradient(45deg, #B1610B 0%, #B1610B 50%, #F49AC2 50%, #F49AC2 100%);
  background: linear-gradient(45deg, #B1610B 0%, #B1610B 50%, #F49AC2 50%, #F49AC2 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #B1610B 0%, #B1610B 50%, #BCECAC 50%, #BCECAC 100%);
  background: -moz-linear-gradient(45deg, #B1610B 0%, #B1610B 50%, #BCECAC 50%, #BCECAC 100%);
  background: -ms-linear-gradient(45deg, #B1610B 0%, #B1610B 50%, #BCECAC 50%, #BCECAC 100%);
  background: -o-linear-gradient(45deg, #B1610B 0%, #B1610B 50%, #BCECAC 50%, #BCECAC 100%);
  background: linear-gradient(45deg, #B1610B 0%, #B1610B 50%, #BCECAC 50%, #BCECAC 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #B1610B 0%, #B1610B 50%, #DDADAF 50%, #DDADAF 100%);
  background: -moz-linear-gradient(45deg, #B1610B 0%, #B1610B 50%, #DDADAF 50%, #DDADAF 100%);
  background: -ms-linear-gradient(45deg, #B1610B 0%, #B1610B 50%, #DDADAF 50%, #DDADAF 100%);
  background: -o-linear-gradient(45deg, #B1610B 0%, #B1610B 50%, #DDADAF 50%, #DDADAF 100%);
  background: linear-gradient(45deg, #B1610B 0%, #B1610B 50%, #DDADAF 50%, #DDADAF 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_5 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #B1610B;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #B1610B;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #B1610B;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #B1610B;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #B1610B;
}

#card_tone_10 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #B1610B;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #B1610B;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #B1610B;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #B1610B;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #B1610B;
}
