
:root {
    --col-header-border: #658B38;
}

#card_shade_1 {
  background: #141C0B;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #283816;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #3D5421;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #51702C;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #658B38;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #7B9F4F;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #92B26B;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #AAC58A;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #C5D8AD;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #E1EBD4;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #494B45;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #505647;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #566148;
}
.card:hover #name_tone_3 p {
  color: #ffffff;
}

#card_tone_4 {
  background: #5B6C47;
}
.card:hover #name_tone_4 p {
  color: #ffffff;
}

#card_tone_5 {
  background: #5F7643;
}
.card:hover #name_tone_5 p {
  color: #ffffff;
}

#card_tone_6 {
  background: #63813E;
}
.card:hover #name_tone_6 p {
  color: #ffffff;
}

#card_tone_7 {
  background: #658B38;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #6B9C2E;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #6EAC22;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #70BD12;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #728639;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #667E2C;
}
.circle:hover #name_simcol_2 p {
  color: #ffffff;
}

#card_simcol_3 {
  background: #667C3E;
}
.circle:hover #name_simcol_3 p {
  color: #ffffff;
}

#card_simcol_4 {
  background: #749551;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #667C26;
}
.circle:hover #name_simcol_5 p {
  color: #ffffff;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #658B38 0%, #658B38 50%, #A6FBB2 50%, #A6FBB2 100%);
  background: -moz-linear-gradient(45deg, #658B38 0%, #658B38 50%, #A6FBB2 50%, #A6FBB2 100%);
  background: -ms-linear-gradient(45deg, #658B38 0%, #658B38 50%, #A6FBB2 50%, #A6FBB2 100%);
  background: -o-linear-gradient(45deg, #658B38 0%, #658B38 50%, #A6FBB2 50%, #A6FBB2 100%);
  background: linear-gradient(45deg, #658B38 0%, #658B38 50%, #A6FBB2 50%, #A6FBB2 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #658B38 0%, #658B38 50%, #E7A1B0 50%, #E7A1B0 100%);
  background: -moz-linear-gradient(45deg, #658B38 0%, #658B38 50%, #E7A1B0 50%, #E7A1B0 100%);
  background: -ms-linear-gradient(45deg, #658B38 0%, #658B38 50%, #E7A1B0 50%, #E7A1B0 100%);
  background: -o-linear-gradient(45deg, #658B38 0%, #658B38 50%, #E7A1B0 50%, #E7A1B0 100%);
  background: linear-gradient(45deg, #658B38 0%, #658B38 50%, #E7A1B0 50%, #E7A1B0 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #658B38 0%, #658B38 50%, #71D9E2 50%, #71D9E2 100%);
  background: -moz-linear-gradient(45deg, #658B38 0%, #658B38 50%, #71D9E2 50%, #71D9E2 100%);
  background: -ms-linear-gradient(45deg, #658B38 0%, #658B38 50%, #71D9E2 50%, #71D9E2 100%);
  background: -o-linear-gradient(45deg, #658B38 0%, #658B38 50%, #71D9E2 50%, #71D9E2 100%);
  background: linear-gradient(45deg, #658B38 0%, #658B38 50%, #71D9E2 50%, #71D9E2 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #658B38 0%, #658B38 50%, #61E160 50%, #61E160 100%);
  background: -moz-linear-gradient(45deg, #658B38 0%, #658B38 50%, #61E160 50%, #61E160 100%);
  background: -ms-linear-gradient(45deg, #658B38 0%, #658B38 50%, #61E160 50%, #61E160 100%);
  background: -o-linear-gradient(45deg, #658B38 0%, #658B38 50%, #61E160 50%, #61E160 100%);
  background: linear-gradient(45deg, #658B38 0%, #658B38 50%, #61E160 50%, #61E160 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #658B38 0%, #658B38 50%, #8EEBEC 50%, #8EEBEC 100%);
  background: -moz-linear-gradient(45deg, #658B38 0%, #658B38 50%, #8EEBEC 50%, #8EEBEC 100%);
  background: -ms-linear-gradient(45deg, #658B38 0%, #658B38 50%, #8EEBEC 50%, #8EEBEC 100%);
  background: -o-linear-gradient(45deg, #658B38 0%, #658B38 50%, #8EEBEC 50%, #8EEBEC 100%);
  background: linear-gradient(45deg, #658B38 0%, #658B38 50%, #8EEBEC 50%, #8EEBEC 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_5 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #658B38;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #658B38;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #658B38;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #658B38;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #658B38;
}

#card_tone_7 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #658B38;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #658B38;
      -ms-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #658B38;
       -o-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #658B38;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #658B38;
}
