
:root {
    --col-header-border: #702963;
}

#card_shade_1 {
  background: #160814;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #2C1028;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #43183C;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #592150;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #702963;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #87407C;
}
.card:hover #name_shade_6 p {
  color: #ffffff;
}

#card_shade_7 {
  background: #9F5C94;
}
.card:hover #name_shade_7 p {
  color: #ffffff;
}

#card_shade_8 {
  background: #B77DAD;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #CFA3C7;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #E6CEE2;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #3C363B;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #443842;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #4D384A;
}
.card:hover #name_tone_3 p {
  color: #ffffff;
}

#card_tone_4 {
  background: #563751;
}
.card:hover #name_tone_4 p {
  color: #ffffff;
}

#card_tone_5 {
  background: #5E3457;
}
.card:hover #name_tone_5 p {
  color: #ffffff;
}

#card_tone_6 {
  background: #672F5E;
}
.card:hover #name_tone_6 p {
  color: #ffffff;
}

#card_tone_7 {
  background: #702963;
}
.card:hover #name_tone_7 p {
  color: #ffffff;
}

#card_tone_8 {
  background: #842474;
}
.card:hover #name_tone_8 p {
  color: #ffffff;
}

#card_tone_9 {
  background: #991C84;
}
.card:hover #name_tone_9 p {
  color: #ffffff;
}

#card_tone_10 {
  background: #AD1093;
}
.card:hover #name_tone_10 p {
  color: #ffffff;
}

#card_simcol_1 {
  background: #682860;
}
.circle:hover #name_simcol_1 p {
  color: #ffffff;
}

#card_simcol_2 {
  background: #6C3461;
}
.circle:hover #name_simcol_2 p {
  color: #ffffff;
}

#card_simcol_3 {
  background: #5D1451;
}
.circle:hover #name_simcol_3 p {
  color: #ffffff;
}

#card_simcol_4 {
  background: #952E8F;
}
.circle:hover #name_simcol_4 p {
  color: #ffffff;
}

#card_simcol_5 {
  background: #873260;
}
.circle:hover #name_simcol_5 p {
  color: #ffffff;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #702963 0%, #702963 50%, #6FD0C5 50%, #6FD0C5 100%);
  background: -moz-linear-gradient(45deg, #702963 0%, #702963 50%, #6FD0C5 50%, #6FD0C5 100%);
  background: -o-linear-gradient(45deg, #702963 0%, #702963 50%, #6FD0C5 50%, #6FD0C5 100%);
  background: linear-gradient(45deg, #702963 0%, #702963 50%, #6FD0C5 50%, #6FD0C5 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #702963 0%, #702963 50%, #D5D195 50%, #D5D195 100%);
  background: -moz-linear-gradient(45deg, #702963 0%, #702963 50%, #D5D195 50%, #D5D195 100%);
  background: -o-linear-gradient(45deg, #702963 0%, #702963 50%, #D5D195 50%, #D5D195 100%);
  background: linear-gradient(45deg, #702963 0%, #702963 50%, #D5D195 50%, #D5D195 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #702963 0%, #702963 50%, #ED989E 50%, #ED989E 100%);
  background: -moz-linear-gradient(45deg, #702963 0%, #702963 50%, #ED989E 50%, #ED989E 100%);
  background: -o-linear-gradient(45deg, #702963 0%, #702963 50%, #ED989E 50%, #ED989E 100%);
  background: linear-gradient(45deg, #702963 0%, #702963 50%, #ED989E 50%, #ED989E 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #702963 0%, #702963 50%, #DE9DAC 50%, #DE9DAC 100%);
  background: -moz-linear-gradient(45deg, #702963 0%, #702963 50%, #DE9DAC 50%, #DE9DAC 100%);
  background: -o-linear-gradient(45deg, #702963 0%, #702963 50%, #DE9DAC 50%, #DE9DAC 100%);
  background: linear-gradient(45deg, #702963 0%, #702963 50%, #DE9DAC 50%, #DE9DAC 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #702963 0%, #702963 50%, #EDB381 50%, #EDB381 100%);
  background: -moz-linear-gradient(45deg, #702963 0%, #702963 50%, #EDB381 50%, #EDB381 100%);
  background: -o-linear-gradient(45deg, #702963 0%, #702963 50%, #EDB381 50%, #EDB381 100%);
  background: linear-gradient(45deg, #702963 0%, #702963 50%, #EDB381 50%, #EDB381 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_5 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #702963;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #702963;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #702963;
}

#card_tone_7 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #702963;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #702963;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #702963;
}
