
:root {
    --col-header-border: #2C6FBB;
}

#card_shade_1 {
  background: #07121E;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #0E253D;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #16385C;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #1D4B7B;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #255E9B;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #2C6FBB;
}
.card:hover #name_shade_6 p {
  color: #ffffff;
}

#card_shade_7 {
  background: #4E89C7;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #74A3D5;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #9EBFE3;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #CCDEF1;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #595D62;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #5A646F;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #58697B;
}
.card:hover #name_tone_3 p {
  color: #ffffff;
}

#card_tone_4 {
  background: #546D88;
}
.card:hover #name_tone_4 p {
  color: #ffffff;
}

#card_tone_5 {
  background: #4E7094;
}
.card:hover #name_tone_5 p {
  color: #ffffff;
}

#card_tone_6 {
  background: #4571A1;
}
.card:hover #name_tone_6 p {
  color: #ffffff;
}

#card_tone_7 {
  background: #3A71AD;
}
.card:hover #name_tone_7 p {
  color: #ffffff;
}

#card_tone_8 {
  background: #2C6FBB;
}
.card:hover #name_tone_8 p {
  color: #ffffff;
}

#card_tone_9 {
  background: #1F71C7;
}
.card:hover #name_tone_9 p {
  color: #ffffff;
}

#card_tone_10 {
  background: #1170D5;
}
.card:hover #name_tone_10 p {
  color: #ffffff;
}

#card_simcol_1 {
  background: #276AB3;
}
.circle:hover #name_simcol_1 p {
  color: #ffffff;
}

#card_simcol_2 {
  background: #2976BB;
}
.circle:hover #name_simcol_2 p {
  color: #ffffff;
}

#card_simcol_3 {
  background: #286ACD;
}
.circle:hover #name_simcol_3 p {
  color: #ffffff;
}

#card_simcol_4 {
  background: #357EC7;
}
.circle:hover #name_simcol_4 p {
  color: #ffffff;
}

#card_simcol_5 {
  background: #1569C7;
}
.circle:hover #name_simcol_5 p {
  color: #ffffff;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #2C6FBB 0%, #2C6FBB 50%, #90E4C1 50%, #90E4C1 100%);
  background: -moz-linear-gradient(45deg, #2C6FBB 0%, #2C6FBB 50%, #90E4C1 50%, #90E4C1 100%);
  background: -o-linear-gradient(45deg, #2C6FBB 0%, #2C6FBB 50%, #90E4C1 50%, #90E4C1 100%);
  background: linear-gradient(45deg, #2C6FBB 0%, #2C6FBB 50%, #90E4C1 50%, #90E4C1 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #2C6FBB 0%, #2C6FBB 50%, #D1E231 50%, #D1E231 100%);
  background: -moz-linear-gradient(45deg, #2C6FBB 0%, #2C6FBB 50%, #D1E231 50%, #D1E231 100%);
  background: -o-linear-gradient(45deg, #2C6FBB 0%, #2C6FBB 50%, #D1E231 50%, #D1E231 100%);
  background: linear-gradient(45deg, #2C6FBB 0%, #2C6FBB 50%, #D1E231 50%, #D1E231 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #2C6FBB 0%, #2C6FBB 50%, #0ADD08 50%, #0ADD08 100%);
  background: -moz-linear-gradient(45deg, #2C6FBB 0%, #2C6FBB 50%, #0ADD08 50%, #0ADD08 100%);
  background: -o-linear-gradient(45deg, #2C6FBB 0%, #2C6FBB 50%, #0ADD08 50%, #0ADD08 100%);
  background: linear-gradient(45deg, #2C6FBB 0%, #2C6FBB 50%, #0ADD08 50%, #0ADD08 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #2C6FBB 0%, #2C6FBB 50%, #45B1E8 50%, #45B1E8 100%);
  background: -moz-linear-gradient(45deg, #2C6FBB 0%, #2C6FBB 50%, #45B1E8 50%, #45B1E8 100%);
  background: -o-linear-gradient(45deg, #2C6FBB 0%, #2C6FBB 50%, #45B1E8 50%, #45B1E8 100%);
  background: linear-gradient(45deg, #2C6FBB 0%, #2C6FBB 50%, #45B1E8 50%, #45B1E8 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #2C6FBB 0%, #2C6FBB 50%, #C38EC7 50%, #C38EC7 100%);
  background: -moz-linear-gradient(45deg, #2C6FBB 0%, #2C6FBB 50%, #C38EC7 50%, #C38EC7 100%);
  background: -o-linear-gradient(45deg, #2C6FBB 0%, #2C6FBB 50%, #C38EC7 50%, #C38EC7 100%);
  background: linear-gradient(45deg, #2C6FBB 0%, #2C6FBB 50%, #C38EC7 50%, #C38EC7 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_6 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #2C6FBB;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #2C6FBB;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #2C6FBB;
}

#card_tone_8 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #2C6FBB;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #2C6FBB;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #2C6FBB;
}
