
:root {
    --col-header-border: #C6AEC7;
}

#card_shade_1 {
  background: #171417;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #302A30;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #494049;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #625662;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #7B6B7B;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #938194;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #AC97AD;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #C6AEC7;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #D8C6D9;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #EBE1EC;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #777277;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #9E919F;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #C6AEC7;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #C89ACA;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #CA86CE;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #CD72D2;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #D05CD6;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #D246DA;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #D52FDD;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #D718E1;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #C8A2C8;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #BEA6C3;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #D2B9D3;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #CB99C9;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #B39EB5;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #C6AEC7 0%, #C6AEC7 50%, #652DC1 50%, #652DC1 100%);
  background: -moz-linear-gradient(45deg, #C6AEC7 0%, #C6AEC7 50%, #652DC1 50%, #652DC1 100%);
  background: -o-linear-gradient(45deg, #C6AEC7 0%, #C6AEC7 50%, #652DC1 50%, #652DC1 100%);
  background: linear-gradient(45deg, #C6AEC7 0%, #C6AEC7 50%, #652DC1 50%, #652DC1 100%);
}
.combo:hover #name_combo_1 p {
  color: #ffffff;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #C6AEC7 0%, #C6AEC7 50%, #589AAF 50%, #589AAF 100%);
  background: -moz-linear-gradient(45deg, #C6AEC7 0%, #C6AEC7 50%, #589AAF 50%, #589AAF 100%);
  background: -o-linear-gradient(45deg, #C6AEC7 0%, #C6AEC7 50%, #589AAF 50%, #589AAF 100%);
  background: linear-gradient(45deg, #C6AEC7 0%, #C6AEC7 50%, #589AAF 50%, #589AAF 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #C6AEC7 0%, #C6AEC7 50%, #C0FA8B 50%, #C0FA8B 100%);
  background: -moz-linear-gradient(45deg, #C6AEC7 0%, #C6AEC7 50%, #C0FA8B 50%, #C0FA8B 100%);
  background: -o-linear-gradient(45deg, #C6AEC7 0%, #C6AEC7 50%, #C0FA8B 50%, #C0FA8B 100%);
  background: linear-gradient(45deg, #C6AEC7 0%, #C6AEC7 50%, #C0FA8B 50%, #C0FA8B 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #C6AEC7 0%, #C6AEC7 50%, #AB4E52 50%, #AB4E52 100%);
  background: -moz-linear-gradient(45deg, #C6AEC7 0%, #C6AEC7 50%, #AB4E52 50%, #AB4E52 100%);
  background: -o-linear-gradient(45deg, #C6AEC7 0%, #C6AEC7 50%, #AB4E52 50%, #AB4E52 100%);
  background: linear-gradient(45deg, #C6AEC7 0%, #C6AEC7 50%, #AB4E52 50%, #AB4E52 100%);
}
.combo:hover #name_combo_4 p {
  color: #ffffff;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #C6AEC7 0%, #C6AEC7 50%, #659EC7 50%, #659EC7 100%);
  background: -moz-linear-gradient(45deg, #C6AEC7 0%, #C6AEC7 50%, #659EC7 50%, #659EC7 100%);
  background: -o-linear-gradient(45deg, #C6AEC7 0%, #C6AEC7 50%, #659EC7 50%, #659EC7 100%);
  background: linear-gradient(45deg, #C6AEC7 0%, #C6AEC7 50%, #659EC7 50%, #659EC7 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_8 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #C6AEC7;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #C6AEC7;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #C6AEC7;
}

#card_tone_3 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #C6AEC7;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #C6AEC7;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #C6AEC7;
}
