
:root {
    --col-header-border: #1D0200;
}

#card_shade_1 {
  background: #0E0000;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #1D0200;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #350905;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #4E1511;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #672722;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #813E39;
}
.card:hover #name_shade_6 p {
  color: #ffffff;
}

#card_shade_7 {
  background: #9A5A55;
}
.card:hover #name_shade_7 p {
  color: #ffffff;
}

#card_shade_8 {
  background: #B37B77;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #CCA29F;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #E6CDCC;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #0E0C0C;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #0F0C0C;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #110C0C;
}
.card:hover #name_tone_3 p {
  color: #ffffff;
}

#card_tone_4 {
  background: #120B0B;
}
.card:hover #name_tone_4 p {
  color: #ffffff;
}

#card_tone_5 {
  background: #140A0A;
}
.card:hover #name_tone_5 p {
  color: #ffffff;
}

#card_tone_6 {
  background: #150908;
}
.card:hover #name_tone_6 p {
  color: #ffffff;
}

#card_tone_7 {
  background: #170807;
}
.card:hover #name_tone_7 p {
  color: #ffffff;
}

#card_tone_8 {
  background: #180604;
}
.card:hover #name_tone_8 p {
  color: #ffffff;
}

#card_tone_9 {
  background: #1A0402;
}
.card:hover #name_tone_9 p {
  color: #ffffff;
}

#card_tone_10 {
  background: #1D0200;
}
.card:hover #name_tone_10 p {
  color: #ffffff;
}

#card_simcol_1 {
  background: #130000;
}
.circle:hover #name_simcol_1 p {
  color: #ffffff;
}

#card_simcol_2 {
  background: #2B0202;
}
.circle:hover #name_simcol_2 p {
  color: #ffffff;
}

#card_simcol_3 {
  background: #370202;
}
.circle:hover #name_simcol_3 p {
  color: #ffffff;
}

#card_simcol_4 {
  background: #410200;
}
.circle:hover #name_simcol_4 p {
  color: #ffffff;
}

#card_simcol_5 {
  background: #3D0C02;
}
.circle:hover #name_simcol_5 p {
  color: #ffffff;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #1D0200 0%, #1D0200 50%, #DFBE6F 50%, #DFBE6F 100%);
  background: -moz-linear-gradient(45deg, #1D0200 0%, #1D0200 50%, #DFBE6F 50%, #DFBE6F 100%);
  background: -o-linear-gradient(45deg, #1D0200 0%, #1D0200 50%, #DFBE6F 50%, #DFBE6F 100%);
  background: linear-gradient(45deg, #1D0200 0%, #1D0200 50%, #DFBE6F 50%, #DFBE6F 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #1D0200 0%, #1D0200 50%, #E56E94 50%, #E56E94 100%);
  background: -moz-linear-gradient(45deg, #1D0200 0%, #1D0200 50%, #E56E94 50%, #E56E94 100%);
  background: -o-linear-gradient(45deg, #1D0200 0%, #1D0200 50%, #E56E94 50%, #E56E94 100%);
  background: linear-gradient(45deg, #1D0200 0%, #1D0200 50%, #E56E94 50%, #E56E94 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #1D0200 0%, #1D0200 50%, #42B395 50%, #42B395 100%);
  background: -moz-linear-gradient(45deg, #1D0200 0%, #1D0200 50%, #42B395 50%, #42B395 100%);
  background: -o-linear-gradient(45deg, #1D0200 0%, #1D0200 50%, #42B395 50%, #42B395 100%);
  background: linear-gradient(45deg, #1D0200 0%, #1D0200 50%, #42B395 50%, #42B395 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #1D0200 0%, #1D0200 50%, #B1D27B 50%, #B1D27B 100%);
  background: -moz-linear-gradient(45deg, #1D0200 0%, #1D0200 50%, #B1D27B 50%, #B1D27B 100%);
  background: -o-linear-gradient(45deg, #1D0200 0%, #1D0200 50%, #B1D27B 50%, #B1D27B 100%);
  background: linear-gradient(45deg, #1D0200 0%, #1D0200 50%, #B1D27B 50%, #B1D27B 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #1D0200 0%, #1D0200 50%, #DB4BDA 50%, #DB4BDA 100%);
  background: -moz-linear-gradient(45deg, #1D0200 0%, #1D0200 50%, #DB4BDA 50%, #DB4BDA 100%);
  background: -o-linear-gradient(45deg, #1D0200 0%, #1D0200 50%, #DB4BDA 50%, #DB4BDA 100%);
  background: linear-gradient(45deg, #1D0200 0%, #1D0200 50%, #DB4BDA 50%, #DB4BDA 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_2 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #1D0200;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #1D0200;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #1D0200;
}

#card_tone_10 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #1D0200;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #1D0200;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #1D0200;
}
