/*
  ========================================
  Overview Colour Hues
  ========================================
*/

/* mobile */
:root {

    /* all */
    --grid-ratio-hue-tab: 10% 10% 80%;

    /* search box width */
    --height-searchb: 25px;
    --height-upload-icon: 27px;
    --scale-colpick: 1.5;
    --scale-searcb-hover: 1.05;
    
    /* color picker */
    --scale-icon-hover: 1.2;

    /* hue table */
    --grid-tab-hue-groups: 50% 50%;
    --grid-tab-hue-gr-rows: 20% 50% 30%;
    --grid-tab-hue-gr-names: 'resgr-name resgr-name'
                             'resgr-arcard resgr-orcard'
                             'resgr-arhex resgr-orhex';
    --vis-resgr-desc: none;
    --line-h-match: 20px;

    /* each swatch */
    --shadow-swatch: 0 5px 10px rgba(0,0,0,.1);
}

/* desktop */
@media all and (min-width: 768px) {
    :root {
        /* all */
        --grid-ratio-hue-tab: 0% 12% 88%;

        /* search box width */        
        --height-searchb: 30px;
        --height-upload-icon: 32px;
    }
}

@media all and (orientation: landscape) {
    :root {
        /* hue table */
        --grid-tab-hue-groups: 33.3% 33.3% 33.3%;
        --grid-tab-hue-gr-rows: 87% 13%;
        --grid-tab-hue-gr-names: 'resgr-name resgr-arcard resgr-orcard'
                                 'resgr-desc resgr-arhex resgr-orhex ';
        --vis-resgr-desc: block;
        --line-h-match: 50px;
    }
}


/* -------------- whole page -------------- */
.col-overview-page {
    height: var(--height-page);
    display: grid;
    grid-template-rows: var(--grid-ratio-hue-tab);
    grid-template-areas: 'huegr-title' 'huegr-search' 'huegr-overview';
    align-items: center;
}
/* defined before */
.huegr-title {
    grid-area: huegr-title;
}
/* defined before */
.huegr-search {
    grid-area: huegr-search;
}
/* defined before */
.huegr-overview {
    grid-area: huegr-overview;
}


/* -------------- table title -------------- */
.huegr-title > * {
    margin: auto;
}


/* -------------- search bar -------------- */
.tab-search {
    display: flex;
    width: var(--width-searchb-whole);
    width: calc(var(--width-searchb-whole) + var(--height-upload-icon) + 2vw);
    flex-direction: row;

    margin-right: auto;
    margin-left: var(--align-search-left);
}

/* search - container */
.searchInput {
    position: absolute;
    left: 8%;
}

/* color picker and cover */
.color-picker, .color-picker-cover {
    z-index: 2;
    border-radius: 50%;
    width: var(--height-searchb);
    height: var(--height-searchb);
    opacity: 1;
}
.color-picker-cover {
    z-index: 1;
}

#MyColor {
    opacity: 0;
    position: relative;
}
#PickerCover {
    top: 0;
    left: -2px;
    position: absolute;
}

input[type="color"] {
    -webkit-appearance: none;
       -moz-appearance: none;
        -ms-appearance: none;
         -o-appearance: none;
            appearance: none;

    border: none;
    padding: 0px;
    width: var(--height-searchb);
    height: var(--height-searchb);
    cursor: pointer;
}

/* upload image - container */ 
#upload-icon {
    width: var(--height-upload-icon);
    height: var(--height-upload-icon);
    border: 50%;
    margin-left: 2vw;

    -webkit-animation: searchbox-upload-animate 3s ease-in-out;
    -moz-animation: searchbox-upload-animate 3s ease-in-out;
    -o-animation: searchbox-upload-animate 3s ease-in-out;
    animation: searchbox-upload-animate 3s ease-in-out;
}

@-webkit-keyframes searchbox-upload-animate {
    from {
        -webkit-transform: scale(0);
    }
    80% {
        -webkit-transform: scale(0);
    }
    90% {
        -webkit-transform: scale(1.2);
    }   
    to {
        -webkit-transform: scale(1);
    }
}
@-moz-keyframes searchbox-upload-animate {
    from {
        -webkit-transform: scale(0);
    }
    80% {
        -webkit-transform: scale(0);
    }
    90% {
        -webkit-transform: scale(1.2);
    }   
    to {
        -webkit-transform: scale(1);
    }
}
@-o-keyframes searchbox-upload-animate {
    from {
        -webkit-transform: scale(0);
    }
    80% {
        -webkit-transform: scale(0);
    }
    90% {
        -webkit-transform: scale(1.2);
    }   
    to {
        -webkit-transform: scale(1);
    }
}
@keyframes searchbox-upload-animate {
    from {
        -webkit-transform: scale(0);
    }
    80% {
        -webkit-transform: scale(0);
    }
    90% {
        -webkit-transform: scale(1.2);
    }   
    to {
        -webkit-transform: scale(1);
    }
}


#upload-icon:hover {
 -webkit-transform: scale(var(--scale-icon-hover));
    -moz-transform: scale(var(--scale-icon-hover));
     -ms-transform: scale(var(--scale-icon-hover));
      -o-transform: scale(var(--scale-icon-hover));
         transform: scale(var(--scale-icon-hover));

-webkit-transition: .5s;
   -moz-transition: .5s;
    -ms-transition: .5s;
     -o-transition: .5s;
        transition: .5s;
}


/* -------------- whole table with cards -------------- */
.table-hue-all {
    display: grid;
    grid-template-columns: var(--grid-tab-hue-groups);
    grid-template-rows: var(--grid-tab-hue-gr-rows);
    grid-template-areas: var(--grid-tab-hue-gr-names);
}
.table-hue-all > * {
    display: flex;
    margin: auto;
    text-align: center;
}

.resgr-orcard {
    grid-area: resgr-orcard;
}
.resgr-arcard {
    grid-area: resgr-arcard;
}
.resgr-name {
    grid-area: resgr-name;
}
.resgr-orhex {
    grid-area: resgr-orhex;
}
.resgr-arhex {
    grid-area: resgr-arhex;
}
.resgr-desc {
    grid-area: resgr-desc;
    display: var(--vis-resgr-desc);
}

/* color group container */
#card_my_color {
    background: #82d3ab;
}

#card_artista_color {
    background: #78D1B6;
}

#perc_match {
    line-height: var(--line-h-match);
}

#uploaded_image {
    z-index: 3;
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: var(--radius-swatch);
    visibility: hidden;
}

#mouse_pos {
    z-index: 4;
    position: absolute; 
    left: 50%; 
    top: 50%;
    visibility: hidden;

    width: 14px;
    height: auto;
    border-radius: 50%;
    border: 2px solid white;
}