/*
  ========================================
  Overview Colour Hues
  ========================================
*/

/* mobile */
:root {

    /* all */
    --height-overlap-bg: 8%;
    --height-page: calc(100vh - var(--height-header) - var(--height-sidebar-perm));
    --grid-ratio-hue-tab: 10% 8% 82%; /* change --height-ratio-cards too */
    --marg-stand: 1.5vh;

    /* table title */
    --display-title-block: flex;
    --display-title-inline: none;
    --align-title: center;

    /* search box width */
    --align-search-left: auto;
    --width-searchb-whole: max(200px, 30vw);
    --height-searchb: 25px; 

    /* hue table */
    --grid-tab-hue-groups: 50% 50%;

    /* each swatch */
    --radius-swatch: 5px;
    --shadow-swatch: 0 5px 10px rgba(0,0,0,.1);
    --scale-swatch-hover: 1.01;
    --opac-swatch-hover: 1;

    /* card titles */
    --text-swatch-opac-before: 0;
    --text-swatch-opac-after: 0;
    --text-swatch-col: var(--white);
    --text-swatch-col-bg: var(--col-accent2-dark);
    --text-swatch-w: 100%;
    --text-swatch-dist-l: 0%;
    --text-swatch-dist-t: 100%;
    --text-swatch-lspace: var(--font-size-h5);
    --text-swatch-padding-b: var(--text-swatch-lspace);

    --col-text-card1: red;
    --col-text-card2: darkorange;
    --col-text-card3: rgb(153, 153, 0);
    --col-text-card4: rgb(53, 160, 99);
    --col-text-card5: rgb(0, 196, 130);
    --col-text-card6: rgb(10, 68, 255);
    --col-text-card7: rgb(82, 0, 175);
    --col-text-card8: fuchsia;   
    --col-bg-card1: white;
    --col-bg-card2: white;
    --col-bg-card3: white;
    --col-bg-card4: white;
    --col-bg-card5: white;
    --col-bg-card6: white;
    --col-bg-card7: white;
    --col-bg-card8: white; 

    /* description - text */
    --desc-num-col: 1;

    /* tooltip */
    --display-tooltip: none;
}

/* desktop */
@media all and (orientation: landscape) {
    :root {
        /* all */
        --grid-ratio-hue-tab: 12% 8% 80%; /* change --height-ratio-cards too */
        --marg-stand: 5px;

        /* table title */

        /* search box width */
        --height-searchb: 30px;

        /* hue table */
        --grid-tab-hue-groups: 25% 25% 25% 25%;

        /* each swatch */
        --radius-swatch: 5px;
        --opac-swatch-hover: 0.3;

        /* card titles */
        --text-swatch-opac-before: 0;
        --text-swatch-opac-after: 1;
        --text-swatch-dist-t: 50%;
        --text-swatch-lspace: auto;

        --col-text-card1: white;
        --col-text-card2: white;
        --col-text-card3: var(--col-text);
        --col-text-card4: white;
        --col-text-card5: var(--col-text);
        --col-text-card6: white;
        --col-text-card7: white;
        --col-text-card8: white;   
        --col-bg-card1: red;
        --col-bg-card2: darkorange;
        --col-bg-card3: gold;
        --col-bg-card4: rgb(53, 160, 99);
        --col-bg-card5: aquamarine;
        --col-bg-card6: rgb(10, 68, 255);
        --col-bg-card7: rgb(82, 0, 175);
        --col-bg-card8: fuchsia;
    }
}

/* wide screen */
@media all and (min-width: 768px) {
    :root {
        /* all */
        --grid-ratio-hue-tab: 0% 12% 88%; /* change --height-ratio-cards too */
        --marg-stand: 5px;

        /* title */
        --display-title-block: none;
        --display-title-inline: inline-block;
        --align-title: flex-end;

        /* search */
        --align-search-left: 0;

        /* description - text */
        --desc-num-col: 3;

        /* tooltip */
        --display-tooltip: block;
    }
}


/* -------------- whole page -------------- */
.col-overview-page {
    height: var(--height-page);
    display: grid;
    grid-template-rows: var(--grid-ratio-hue-tab);
    grid-template-areas: 'huegr-title' 'huegr-search' 'huegr-overview';
}
.huegr-title {
    grid-area: huegr-title;
    background: var(--col-accent2-ll);
}
.huegr-search {
    grid-area: huegr-search;
    /*background: var(--col-accent2-ll);*/
    background: -webkit-linear-gradient(var(--col-accent2-ll), var(--col-accent2-ll), white);
    background: -moz-linear-gradient(var(--col-accent2-ll), var(--col-accent2-ll), white);
    background: -o-linear-gradient(var(--col-accent2-ll), var(--col-accent2-ll), white);
    background: linear-gradient(var(--col-accent2-ll), var(--col-accent2-ll), white);
}
.huegr-overview {
    grid-area: huegr-overview; 
    overflow: hidden;
    /*background: linear-gradient(10deg, var(--col-accent2), var(--col-accent2-light), var(--col-accent2-ll), var(--col-accent2-ll));*/
    background: white;
}
.huegr-title, .huegr-search, .huegr-overview {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -------------- table title -------------- */
.title-desc h1 {
    display: inline-block;
}

.title-block {
    display: var(--display-title-block);
}

.title-inline {
    display: var(--display-title-inline);
}


/* -------------- search bar -------------- */
.huegr-search {
    padding: 0 5%;
    justify-content: var(--align-title);
}

.searchBox {
    z-index: 4;
    position: relative;
    display: inline-block;
    height: var(--height-searchb);
    width: var(--width-searchb-whole);    
    
    border-radius: var(--height-searchb);
    border: 1px solid var(--col-accent2-dd);
    box-sizing: content-box;
    background: white;

    margin-right: auto;
    margin-left: var(--align-search-left);

    -webkit-animation: searchbox-animate 2s ease-in-out;
    -moz-animation: searchbox-animate 2s ease-in-out;
    -o-animation: searchbox-animate 2s ease-in-out;
    animation: searchbox-animate 2s ease-in-out;
}

@-webkit-keyframes searchbox-animate {
    0% {
        width: var(--height-searchb);
    }
    50% {
        width: var(--height-searchb);
    }
    100% {
        width: var(--width-searchb-whole);
    }
}
@-moz-keyframes searchbox-animate {
    0% {
        width: var(--height-searchb);
    }
    50% {
        width: var(--height-searchb);
    }
    100% {
        width: var(--width-searchb-whole);
    }
}
@-o-keyframes searchbox-animate {
    0% {
        width: var(--height-searchb);
    }
    50% {
        width: var(--height-searchb);
    }
    100% {
        width: var(--width-searchb-whole);
    }
}
@keyframes searchbox-animate {
    0% {
        width: var(--height-searchb);
    }
    50% {
        width: var(--height-searchb);
    }
    100% {
        width: var(--width-searchb-whole);
    }
}

.searchButton {
    z-index: 4;
    
    position: absolute;
    bottom: 0;
    right: -2px;

    width: var(--height-searchb);
    height: var(--height-searchb);

    -webkit-animation: searchbox-button-animate 0.5s ease-in-out 2s;
    -moz-animation: searchbox-button-animate 0.5s ease-in-out 2s;
    -o-animation: searchbox-button-animate 0.5s ease-in-out 2s;
    animation: searchbox-button-animate 0.5s ease-in-out 2s;
}

@-webkit-keyframes searchbox-button-animate {
    0% {
        -webkit-transform: scale(1);
    }
    30% {
        -webkit-transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
    }
}
@-moz-keyframes searchbox-button-animate {
    0% {
        -moz-transform: scale(1);
    }
    30% {
        -moz-transform: scale(1.2);
    }
    100% {
        -moz-transform: scale(1);
    }
}
@-o-keyframes searchbox-button-animate {
    0% {
        -o-transform: scale(1);
    }
    30% {
        -o-transform: scale(1.2);
    }
    100% {
        -o-transform: scale(1);
    }
}
@keyframes searchbox-button-animate {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.searchBox:hover .searchButton {
    z-index: 4;
    -webkit-transform: scale(1.15);
       -moz-transform: scale(1.15);
        -ms-transform: scale(1.15);
         -o-transform: scale(1.15);
            transform: scale(1.15);
  }


.searchInput {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    height: var(--height-searchb);
    width: calc(var(--width-searchb-whole) - 1.1 * var(--height-searchb));
    padding-left: calc(0.5 * var(--height-searchb));

    font: var(--font-weight-text) var(--font-size-p) var(--font-fam);
    letter-spacing: var(--font-chspace-p);
    color: var(--col-text);

 -webkit-transition: .5s;
    -moz-transition: .5s;
     -ms-transition: .5s;
      -o-transition: .5s;
         transition: .5s;

    -webkit-animation: searchbox-animate 2s ease-in-out;
    -moz-animation: searchbox-animate 2s ease-in-out;
    -o-animation: searchbox-animate 2s ease-in-out;
    animation: searchbox-animate 2s ease-in-out;
}

.searchBox ::-moz-input-placeholder {
    font: var(--font-size-p) var(--font-fam);
    color: darkgray;
}
.searchBox ::-ms-input-placeholder {
    font: var(--font-size-p) var(--font-fam);
    color: darkgray;
}
.searchBox ::-o-input-placeholder {
    font: var(--font-size-p) var(--font-fam);
    color: darkgray;
}
.searchBox ::-webkit-input-placeholder {
    font: var(--font-size-p) var(--font-fam);
    color: darkgray;
}
.searchBox ::placeholder {
    font: var(--font-size-p) var(--font-fam);
    color: darkgray;
}

/* search results */
.tab-searchlist {
    width: calc(var(--width-searchb-whole) - var(--height-searchb));
}

#ColNameList {
    display: none;
}

#ColNameList li a {
    background-color: white;
    padding: calc(0.3 * var(--height-searchb));
    text-decoration: none; 
    color: var(--col-text);
    display: block;
    list-style-type: none;
  }

#ColNameList li a:hover:not(.header) {
    background-color: var(--col-accent2-ll); /* Add a hover effect to all links, except for headers */
}


/* -------------- whole table with cards -------------- */
.table-hue-all {
    height: 95%;
    width: 95%;
    display: grid;
    grid-template-columns: var(--grid-tab-hue-groups);
    background: white;
    border-radius: var(--radius-swatch);
}
.table-hue-all > * {
    display: flex;
}

/* colour group container */
.card {
    height: 95%;
    width: 95%;
    margin: auto;

    position: relative;
    border-radius: var(--radius-swatch);

    background-color: white;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

  -webkit-box-shadow: var(--shadow-swatch);
     -moz-box-shadow: var(--shadow-swatch);
      -ms-box-shadow: var(--shadow-swatch);
       -o-box-shadow: var(--shadow-swatch);
          box-shadow: var(--shadow-swatch);

  -webkit-transition: .5s;
     -moz-transition: .5s;
      -ms-transition: .5s;
       -o-transition: .5s;
          transition: .5s;
}
.card:hover {
    z-index: 2;
  -webkit-transform: scale(var(--scale-swatch-hover));
     -moz-transform: scale(var(--scale-swatch-hover));
      -ms-transform: scale(var(--scale-swatch-hover));
       -o-transform: scale(var(--scale-swatch-hover));
          transform: scale(var(--scale-swatch-hover));
}

#card_huegr1 {
    background-color: #ffcccc;
    background-image: url(/colors/images/red_overview_icon.svg);
}
#card_huegr2 {
    background-color: #ffe9cc;
    background-image: url(/colors/images/orange_overview_icon.svg);
}
#card_huegr3 {
    background-color: #ffffcc;
    background-image: url(/colors/images/yellow_overview_icon.svg);
}
#card_huegr4 {
    background-color: #ccffcc;
    background-image: url(/colors/images/green_overview_icon.svg);
}
#card_huegr5 {
    background-color: #ccfff2;
    background-image: url(/colors/images/aqua_overview_icon.svg);
}
#card_huegr6 {
    background-color: #cce5ff;
    background-image: url(/colors/images/blue_overview_icon.svg);
}
#card_huegr7 {
    background-color: #eeccff;
    background-image: url(/colors/images/purple_overview_icon.svg);
}
#card_huegr8 {
    background-color: #ffccff;
    background-image: url(/colors/images/magenta_overview_icon.svg);
}


/* colour group name */
.title-hue h5 {
    z-index: 3;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: var(--radius-swatch);
    color: var(--text-swatch-col);
    background: var(--text-swatch-col-bg);
    opacity: var(--text-swatch-opac-before);
}

.card:hover .title-hue h5 {
   opacity: var(--text-swatch-opac-after);
}

#huegr1 h5 {
    color: var(--col-text-card1);
    background: var(--col-bg-card1);
}
#huegr2 h5 {
    color: var(--col-text-card2);
    background: var(--col-bg-card2);
}
#huegr3 h5 {
    color: var(--col-text-card3);
    background: var(--col-bg-card3);
}
#huegr4 h5 {
    color: var(--col-text-card4);
    background: var(--col-bg-card4);
}
#huegr5 h5 {
    color: var(--col-text-card5);
    background: var(--col-bg-card5);
}
#huegr6 h5 {
    color: var(--col-text-card6);
    background: var(--col-bg-card6);
}
#huegr7 h5 {
    color: var(--col-text-card7);
    background: var(--col-bg-card7);
}
#huegr8 h5 {
    color: var(--col-text-card8);
    background: var(--col-bg-card8);
}


/* -------------- text - description -------------- */
.desc-cont {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /*
    background: -webkit-linear-gradient(45deg, var(--col-accent2-ll), white);
    background: -moz-linear-gradient(45deg, var(--col-accent2-ll), white);
    background: -o-linear-gradient(45deg, var(--col-accent2-ll), white);
    background: linear-gradient(45deg, var(--col-accent2-ll), white);
    */
    background: var(--col-accent2-ll);
}
.desc-cont > *{
    width: 95%;
    margin: 5vh auto;
    background: white;
    border-radius: var(--radius-swatch);

    column-count: var(--desc-num-col);
    column-gap: 3vw;
    padding: 3vw;
    text-align: justify;
}

.desc-cont h2 {
    column-span: all;
    margin-bottom: 2vh;
}
.desc-text-title {
    font-weight: 1000;
}
.desc-list {
    padding-left: 2vw;
    list-style-type: disc;
}
