
:root {
    --col-header-border: #704241;
}

#card_shade_1 {
  background: #160D0D;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #2C1A1A;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #432727;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #593434;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #704241;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #875958;
}
.card:hover #name_shade_6 p {
  color: #ffffff;
}

#card_shade_7 {
  background: #9F7372;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #B79190;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #CFB2B2;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #E6D6D6;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #3E3938;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #4A3E3E;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #574141;
}
.card:hover #name_tone_3 p {
  color: #ffffff;
}

#card_tone_4 {
  background: #634242;
}
.card:hover #name_tone_4 p {
  color: #ffffff;
}

#card_tone_5 {
  background: #704241;
}
.card:hover #name_tone_5 p {
  color: #ffffff;
}

#card_tone_6 {
  background: #7D3D3C;
}
.card:hover #name_tone_6 p {
  color: #ffffff;
}

#card_tone_7 {
  background: #8A3635;
}
.card:hover #name_tone_7 p {
  color: #ffffff;
}

#card_tone_8 {
  background: #972D2B;
}
.card:hover #name_tone_8 p {
  color: #ffffff;
}

#card_tone_9 {
  background: #A4211F;
}
.card:hover #name_tone_9 p {
  color: #ffffff;
}

#card_tone_10 {
  background: #B11310;
}
.card:hover #name_tone_10 p {
  color: #ffffff;
}

#card_simcol_1 {
  background: #674846;
}
.circle:hover #name_simcol_1 p {
  color: #ffffff;
}

#card_simcol_2 {
  background: #593737;
}
.circle:hover #name_simcol_2 p {
  color: #ffffff;
}

#card_simcol_3 {
  background: #79443B;
}
.circle:hover #name_simcol_3 p {
  color: #ffffff;
}

#card_simcol_4 {
  background: #674C47;
}
.circle:hover #name_simcol_4 p {
  color: #ffffff;
}

#card_simcol_5 {
  background: #863C3C;
}
.circle:hover #name_simcol_5 p {
  color: #ffffff;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #704241 0%, #704241 50%, #E5D8AF 50%, #E5D8AF 100%);
  background: -moz-linear-gradient(45deg, #704241 0%, #704241 50%, #E5D8AF 50%, #E5D8AF 100%);
  background: -o-linear-gradient(45deg, #704241 0%, #704241 50%, #E5D8AF 50%, #E5D8AF 100%);
  background: linear-gradient(45deg, #704241 0%, #704241 50%, #E5D8AF 50%, #E5D8AF 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #704241 0%, #704241 50%, #92C7C7 50%, #92C7C7 100%);
  background: -moz-linear-gradient(45deg, #704241 0%, #704241 50%, #92C7C7 50%, #92C7C7 100%);
  background: -o-linear-gradient(45deg, #704241 0%, #704241 50%, #92C7C7 50%, #92C7C7 100%);
  background: linear-gradient(45deg, #704241 0%, #704241 50%, #92C7C7 50%, #92C7C7 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #704241 0%, #704241 50%, #D1B26F 50%, #D1B26F 100%);
  background: -moz-linear-gradient(45deg, #704241 0%, #704241 50%, #D1B26F 50%, #D1B26F 100%);
  background: -o-linear-gradient(45deg, #704241 0%, #704241 50%, #D1B26F 50%, #D1B26F 100%);
  background: linear-gradient(45deg, #704241 0%, #704241 50%, #D1B26F 50%, #D1B26F 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #704241 0%, #704241 50%, #CF71AF 50%, #CF71AF 100%);
  background: -moz-linear-gradient(45deg, #704241 0%, #704241 50%, #CF71AF 50%, #CF71AF 100%);
  background: -o-linear-gradient(45deg, #704241 0%, #704241 50%, #CF71AF 50%, #CF71AF 100%);
  background: linear-gradient(45deg, #704241 0%, #704241 50%, #CF71AF 50%, #CF71AF 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #704241 0%, #704241 50%, #B7E1A1 50%, #B7E1A1 100%);
  background: -moz-linear-gradient(45deg, #704241 0%, #704241 50%, #B7E1A1 50%, #B7E1A1 100%);
  background: -o-linear-gradient(45deg, #704241 0%, #704241 50%, #B7E1A1 50%, #B7E1A1 100%);
  background: linear-gradient(45deg, #704241 0%, #704241 50%, #B7E1A1 50%, #B7E1A1 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_5 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #704241;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #704241;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #704241;
}

#card_tone_5 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #704241;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #704241;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #704241;
}
