
:root {
    --col-header-border: #F3EDCF;
}

#card_shade_1 {
  background: #1A1916;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #35332D;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #504E44;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #6B685B;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #868272;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #A19D88;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #BCB79F;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #D7D1B6;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #F3EDCF;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #F8F5E5;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #91908A;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #C1BEAE;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #F3EDCF;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #F3E8B4;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #F3E59B;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #F4E182;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #F5DD68;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #F6DA4E;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #F6D634;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #F7D21A;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #F0EAD6;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #F1EEC1;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #FAECCC;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #FAF0BE;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #EAE8D4;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #F3EDCF 0%, #F3EDCF 50%, #83AA5D 50%, #83AA5D 100%);
  background: -moz-linear-gradient(45deg, #F3EDCF 0%, #F3EDCF 50%, #83AA5D 50%, #83AA5D 100%);
  background: -o-linear-gradient(45deg, #F3EDCF 0%, #F3EDCF 50%, #83AA5D 50%, #83AA5D 100%);
  background: linear-gradient(45deg, #F3EDCF 0%, #F3EDCF 50%, #83AA5D 50%, #83AA5D 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #F3EDCF 0%, #F3EDCF 50%, #FE2C54 50%, #FE2C54 100%);
  background: -moz-linear-gradient(45deg, #F3EDCF 0%, #F3EDCF 50%, #FE2C54 50%, #FE2C54 100%);
  background: -o-linear-gradient(45deg, #F3EDCF 0%, #F3EDCF 50%, #FE2C54 50%, #FE2C54 100%);
  background: linear-gradient(45deg, #F3EDCF 0%, #F3EDCF 50%, #FE2C54 50%, #FE2C54 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #F3EDCF 0%, #F3EDCF 50%, #FF7F50 50%, #FF7F50 100%);
  background: -moz-linear-gradient(45deg, #F3EDCF 0%, #F3EDCF 50%, #FF7F50 50%, #FF7F50 100%);
  background: -o-linear-gradient(45deg, #F3EDCF 0%, #F3EDCF 50%, #FF7F50 50%, #FF7F50 100%);
  background: linear-gradient(45deg, #F3EDCF 0%, #F3EDCF 50%, #FF7F50 50%, #FF7F50 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #F3EDCF 0%, #F3EDCF 50%, #E45E9D 50%, #E45E9D 100%);
  background: -moz-linear-gradient(45deg, #F3EDCF 0%, #F3EDCF 50%, #E45E9D 50%, #E45E9D 100%);
  background: -o-linear-gradient(45deg, #F3EDCF 0%, #F3EDCF 50%, #E45E9D 50%, #E45E9D 100%);
  background: linear-gradient(45deg, #F3EDCF 0%, #F3EDCF 50%, #E45E9D 50%, #E45E9D 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #F3EDCF 0%, #F3EDCF 50%, #C45655 50%, #C45655 100%);
  background: -moz-linear-gradient(45deg, #F3EDCF 0%, #F3EDCF 50%, #C45655 50%, #C45655 100%);
  background: -o-linear-gradient(45deg, #F3EDCF 0%, #F3EDCF 50%, #C45655 50%, #C45655 100%);
  background: linear-gradient(45deg, #F3EDCF 0%, #F3EDCF 50%, #C45655 50%, #C45655 100%);
}
.combo:hover #name_combo_5 p {
  color: #ffffff;
}

#card_shade_9 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F3EDCF;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F3EDCF;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F3EDCF;
}

#card_tone_3 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F3EDCF;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F3EDCF;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #F3EDCF;
}
