
:root {
    --col-header-border: #76CD26;
}

#card_shade_1 {
  background: #142206;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #27440C;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #3B6613;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #4F8819;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #62AA20;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #76CD26;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #8ED64B;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #A8E073;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #C3EA9E;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #E0F4CD;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #676C62;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #6C7862;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #718460;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #75905C;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #779C55;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #79A84D;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #79B442;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #78C035;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #76CD26;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #75DD15;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #97CD2D;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #6CC417;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #5EDC1F;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #A1C935;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #61DE2A;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #76CD26 0%, #76CD26 50%, #9E0168 50%, #9E0168 100%);
  background: -moz-linear-gradient(45deg, #76CD26 0%, #76CD26 50%, #9E0168 50%, #9E0168 100%);
  background: -o-linear-gradient(45deg, #76CD26 0%, #76CD26 50%, #9E0168 50%, #9E0168 100%);
  background: linear-gradient(45deg, #76CD26 0%, #76CD26 50%, #9E0168 50%, #9E0168 100%);
}
.combo:hover #name_combo_1 p {
  color: #ffffff;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #76CD26 0%, #76CD26 50%, #D9D6CF 50%, #D9D6CF 100%);
  background: -moz-linear-gradient(45deg, #76CD26 0%, #76CD26 50%, #D9D6CF 50%, #D9D6CF 100%);
  background: -o-linear-gradient(45deg, #76CD26 0%, #76CD26 50%, #D9D6CF 50%, #D9D6CF 100%);
  background: linear-gradient(45deg, #76CD26 0%, #76CD26 50%, #D9D6CF 50%, #D9D6CF 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #76CD26 0%, #76CD26 50%, #DCDDCC 50%, #DCDDCC 100%);
  background: -moz-linear-gradient(45deg, #76CD26 0%, #76CD26 50%, #DCDDCC 50%, #DCDDCC 100%);
  background: -o-linear-gradient(45deg, #76CD26 0%, #76CD26 50%, #DCDDCC 50%, #DCDDCC 100%);
  background: linear-gradient(45deg, #76CD26 0%, #76CD26 50%, #DCDDCC 50%, #DCDDCC 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #76CD26 0%, #76CD26 50%, #3F00FF 50%, #3F00FF 100%);
  background: -moz-linear-gradient(45deg, #76CD26 0%, #76CD26 50%, #3F00FF 50%, #3F00FF 100%);
  background: -o-linear-gradient(45deg, #76CD26 0%, #76CD26 50%, #3F00FF 50%, #3F00FF 100%);
  background: linear-gradient(45deg, #76CD26 0%, #76CD26 50%, #3F00FF 50%, #3F00FF 100%);
}
.combo:hover #name_combo_4 p {
  color: #ffffff;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #76CD26 0%, #76CD26 50%, #CFE5D2 50%, #CFE5D2 100%);
  background: -moz-linear-gradient(45deg, #76CD26 0%, #76CD26 50%, #CFE5D2 50%, #CFE5D2 100%);
  background: -o-linear-gradient(45deg, #76CD26 0%, #76CD26 50%, #CFE5D2 50%, #CFE5D2 100%);
  background: linear-gradient(45deg, #76CD26 0%, #76CD26 50%, #CFE5D2 50%, #CFE5D2 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_6 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #76CD26;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #76CD26;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #76CD26;
}

#card_tone_9 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #76CD26;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #76CD26;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #76CD26;
}
