
:root {
    --col-header-border: #070D0D;
}

#card_shade_1 {
  background: #030606;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #070D0D;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #172727;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #2A4242;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #415D5D;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #597878;
}
.card:hover #name_shade_6 p {
  color: #ffffff;
}

#card_shade_7 {
  background: #759393;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #93AEAE;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #B5C9C9;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #D9E4E4;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #050606;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #060707;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #060808;
}
.card:hover #name_tone_3 p {
  color: #ffffff;
}

#card_tone_4 {
  background: #070A0A;
}
.card:hover #name_tone_4 p {
  color: #ffffff;
}

#card_tone_5 {
  background: #070B0B;
}
.card:hover #name_tone_5 p {
  color: #ffffff;
}

#card_tone_6 {
  background: #070D0D;
}
.card:hover #name_tone_6 p {
  color: #ffffff;
}

#card_tone_7 {
  background: #112727;
}
.card:hover #name_tone_7 p {
  color: #ffffff;
}

#card_tone_8 {
  background: #154242;
}
.card:hover #name_tone_8 p {
  color: #ffffff;
}

#card_tone_9 {
  background: #145D5D;
}
.card:hover #name_tone_9 p {
  color: #ffffff;
}

#card_tone_10 {
  background: #0D7878;
}
.card:hover #name_tone_10 p {
  color: #ffffff;
}

#card_simcol_1 {
  background: #163531;
}
.circle:hover #name_simcol_1 p {
  color: #ffffff;
}

#card_simcol_2 {
  background: #16322C;
}
.circle:hover #name_simcol_2 p {
  color: #ffffff;
}

#card_simcol_3 {
  background: #1C352D;
}
.circle:hover #name_simcol_3 p {
  color: #ffffff;
}

#card_simcol_4 {
  background: #1A2421;
}
.circle:hover #name_simcol_4 p {
  color: #ffffff;
}

#card_simcol_5 {
  background: #2F4F4F;
}
.circle:hover #name_simcol_5 p {
  color: #ffffff;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #070D0D 0%, #070D0D 50%, #8FBC8F 50%, #8FBC8F 100%);
  background: -moz-linear-gradient(45deg, #070D0D 0%, #070D0D 50%, #8FBC8F 50%, #8FBC8F 100%);
  background: -o-linear-gradient(45deg, #070D0D 0%, #070D0D 50%, #8FBC8F 50%, #8FBC8F 100%);
  background: linear-gradient(45deg, #070D0D 0%, #070D0D 50%, #8FBC8F 50%, #8FBC8F 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #070D0D 0%, #070D0D 50%, #D2F6DE 50%, #D2F6DE 100%);
  background: -moz-linear-gradient(45deg, #070D0D 0%, #070D0D 50%, #D2F6DE 50%, #D2F6DE 100%);
  background: -o-linear-gradient(45deg, #070D0D 0%, #070D0D 50%, #D2F6DE 50%, #D2F6DE 100%);
  background: linear-gradient(45deg, #070D0D 0%, #070D0D 50%, #D2F6DE 50%, #D2F6DE 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #070D0D 0%, #070D0D 50%, #CFFDBC 50%, #CFFDBC 100%);
  background: -moz-linear-gradient(45deg, #070D0D 0%, #070D0D 50%, #CFFDBC 50%, #CFFDBC 100%);
  background: -o-linear-gradient(45deg, #070D0D 0%, #070D0D 50%, #CFFDBC 50%, #CFFDBC 100%);
  background: linear-gradient(45deg, #070D0D 0%, #070D0D 50%, #CFFDBC 50%, #CFFDBC 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #070D0D 0%, #070D0D 50%, #E5D8AF 50%, #E5D8AF 100%);
  background: -moz-linear-gradient(45deg, #070D0D 0%, #070D0D 50%, #E5D8AF 50%, #E5D8AF 100%);
  background: -o-linear-gradient(45deg, #070D0D 0%, #070D0D 50%, #E5D8AF 50%, #E5D8AF 100%);
  background: linear-gradient(45deg, #070D0D 0%, #070D0D 50%, #E5D8AF 50%, #E5D8AF 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #070D0D 0%, #070D0D 50%, #C19A6B 50%, #C19A6B 100%);
  background: -moz-linear-gradient(45deg, #070D0D 0%, #070D0D 50%, #C19A6B 50%, #C19A6B 100%);
  background: -o-linear-gradient(45deg, #070D0D 0%, #070D0D 50%, #C19A6B 50%, #C19A6B 100%);
  background: linear-gradient(45deg, #070D0D 0%, #070D0D 50%, #C19A6B 50%, #C19A6B 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_2 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #070D0D;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #070D0D;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #070D0D;
}

#card_tone_6 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #070D0D;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #070D0D;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #070D0D;
}
