
:root {
    --col-header-border: #4997D0;
}

#card_shade_1 {
  background: #0C1922;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #183245;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #244C68;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #30658B;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #3C7EAE;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #4997D0;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #68AADA;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #8ABEE3;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #AFD3EC;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #D5E8F5;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #666C70;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #687680;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #688090;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #6588A0;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #5E8EB0;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #5594C1;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #4997D0;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #3895D7;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #2691DE;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #138DE4;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #488AC7;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #5590D9;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #448EE4;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #368BC1;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #3090C7;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #4997D0 0%, #4997D0 50%, #E6F2EA 50%, #E6F2EA 100%);
  background: -moz-linear-gradient(45deg, #4997D0 0%, #4997D0 50%, #E6F2EA 50%, #E6F2EA 100%);
  background: -o-linear-gradient(45deg, #4997D0 0%, #4997D0 50%, #E6F2EA 50%, #E6F2EA 100%);
  background: linear-gradient(45deg, #4997D0 0%, #4997D0 50%, #E6F2EA 50%, #E6F2EA 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #4997D0 0%, #4997D0 50%, #F1E788 50%, #F1E788 100%);
  background: -moz-linear-gradient(45deg, #4997D0 0%, #4997D0 50%, #F1E788 50%, #F1E788 100%);
  background: -o-linear-gradient(45deg, #4997D0 0%, #4997D0 50%, #F1E788 50%, #F1E788 100%);
  background: linear-gradient(45deg, #4997D0 0%, #4997D0 50%, #F1E788 50%, #F1E788 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #4997D0 0%, #4997D0 50%, #DDADAF 50%, #DDADAF 100%);
  background: -moz-linear-gradient(45deg, #4997D0 0%, #4997D0 50%, #DDADAF 50%, #DDADAF 100%);
  background: -o-linear-gradient(45deg, #4997D0 0%, #4997D0 50%, #DDADAF 50%, #DDADAF 100%);
  background: linear-gradient(45deg, #4997D0 0%, #4997D0 50%, #DDADAF 50%, #DDADAF 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #4997D0 0%, #4997D0 50%, #BCE954 50%, #BCE954 100%);
  background: -moz-linear-gradient(45deg, #4997D0 0%, #4997D0 50%, #BCE954 50%, #BCE954 100%);
  background: -o-linear-gradient(45deg, #4997D0 0%, #4997D0 50%, #BCE954 50%, #BCE954 100%);
  background: linear-gradient(45deg, #4997D0 0%, #4997D0 50%, #BCE954 50%, #BCE954 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #4997D0 0%, #4997D0 50%, #53FE5C 50%, #53FE5C 100%);
  background: -moz-linear-gradient(45deg, #4997D0 0%, #4997D0 50%, #53FE5C 50%, #53FE5C 100%);
  background: -o-linear-gradient(45deg, #4997D0 0%, #4997D0 50%, #53FE5C 50%, #53FE5C 100%);
  background: linear-gradient(45deg, #4997D0 0%, #4997D0 50%, #53FE5C 50%, #53FE5C 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_6 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #4997D0;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #4997D0;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #4997D0;
}

#card_tone_7 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #4997D0;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #4997D0;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #4997D0;
}
