
:root {
    --col-header-border: #FDEE73;
}

#card_shade_1 {
  background: #242210;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #484420;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #6C6530;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #908741;
}
.card:hover #name_shade_4 p {
  color: #000000;
}

#card_shade_5 {
  background: #B4A851;
}
.card:hover #name_shade_5 p {
  color: #000000;
}

#card_shade_6 {
  background: #D8CA61;
}
.card:hover #name_shade_6 p {
  color: #000000;
}

#card_shade_7 {
  background: #FDEE73;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #FCF094;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #FDF5B8;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #FDF9DB;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #89887D;
}
.card:hover #name_tone_1 p {
  color: #000000;
}

#card_tone_2 {
  background: #A09D83;
}
.card:hover #name_tone_2 p {
  color: #000000;
}

#card_tone_3 {
  background: #B7B185;
}
.card:hover #name_tone_3 p {
  color: #000000;
}

#card_tone_4 {
  background: #CEC582;
}
.card:hover #name_tone_4 p {
  color: #000000;
}

#card_tone_5 {
  background: #E5D97C;
}
.card:hover #name_tone_5 p {
  color: #000000;
}

#card_tone_6 {
  background: #FDEE73;
}
.card:hover #name_tone_6 p {
  color: #000000;
}

#card_tone_7 {
  background: #FCE95A;
}
.card:hover #name_tone_7 p {
  color: #000000;
}

#card_tone_8 {
  background: #FCE744;
}
.card:hover #name_tone_8 p {
  color: #000000;
}

#card_tone_9 {
  background: #FDE42D;
}
.card:hover #name_tone_9 p {
  color: #000000;
}

#card_tone_10 {
  background: #FDE216;
}
.card:hover #name_tone_10 p {
  color: #000000;
}

#card_simcol_1 {
  background: #FBE870;
}
.circle:hover #name_simcol_1 p {
  color: #000000;
}

#card_simcol_2 {
  background: #FBEC5D;
}
.circle:hover #name_simcol_2 p {
  color: #000000;
}

#card_simcol_3 {
  background: #FFF380;
}
.circle:hover #name_simcol_3 p {
  color: #000000;
}

#card_simcol_4 {
  background: #FCF679;
}
.circle:hover #name_simcol_4 p {
  color: #000000;
}

#card_simcol_5 {
  background: #FBEA8C;
}
.circle:hover #name_simcol_5 p {
  color: #000000;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #FDEE73 0%, #FDEE73 50%, #BA6F1E 50%, #BA6F1E 100%);
  background: -moz-linear-gradient(45deg, #FDEE73 0%, #FDEE73 50%, #BA6F1E 50%, #BA6F1E 100%);
  background: -o-linear-gradient(45deg, #FDEE73 0%, #FDEE73 50%, #BA6F1E 50%, #BA6F1E 100%);
  background: linear-gradient(45deg, #FDEE73 0%, #FDEE73 50%, #BA6F1E 50%, #BA6F1E 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #FDEE73 0%, #FDEE73 50%, #2EE8BB 50%, #2EE8BB 100%);
  background: -moz-linear-gradient(45deg, #FDEE73 0%, #FDEE73 50%, #2EE8BB 50%, #2EE8BB 100%);
  background: -o-linear-gradient(45deg, #FDEE73 0%, #FDEE73 50%, #2EE8BB 50%, #2EE8BB 100%);
  background: linear-gradient(45deg, #FDEE73 0%, #FDEE73 50%, #2EE8BB 50%, #2EE8BB 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #FDEE73 0%, #FDEE73 50%, #B9484E 50%, #B9484E 100%);
  background: -moz-linear-gradient(45deg, #FDEE73 0%, #FDEE73 50%, #B9484E 50%, #B9484E 100%);
  background: -o-linear-gradient(45deg, #FDEE73 0%, #FDEE73 50%, #B9484E 50%, #B9484E 100%);
  background: linear-gradient(45deg, #FDEE73 0%, #FDEE73 50%, #B9484E 50%, #B9484E 100%);
}
.combo:hover #name_combo_3 p {
  color: #ffffff;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #FDEE73 0%, #FDEE73 50%, #AF593E 50%, #AF593E 100%);
  background: -moz-linear-gradient(45deg, #FDEE73 0%, #FDEE73 50%, #AF593E 50%, #AF593E 100%);
  background: -o-linear-gradient(45deg, #FDEE73 0%, #FDEE73 50%, #AF593E 50%, #AF593E 100%);
  background: linear-gradient(45deg, #FDEE73 0%, #FDEE73 50%, #AF593E 50%, #AF593E 100%);
}
.combo:hover #name_combo_4 p {
  color: #ffffff;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #FDEE73 0%, #FDEE73 50%, #FF33CC 50%, #FF33CC 100%);
  background: -moz-linear-gradient(45deg, #FDEE73 0%, #FDEE73 50%, #FF33CC 50%, #FF33CC 100%);
  background: -o-linear-gradient(45deg, #FDEE73 0%, #FDEE73 50%, #FF33CC 50%, #FF33CC 100%);
  background: linear-gradient(45deg, #FDEE73 0%, #FDEE73 50%, #FF33CC 50%, #FF33CC 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_7 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FDEE73;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FDEE73;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FDEE73;
}

#card_tone_6 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FDEE73;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FDEE73;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #FDEE73;
}
