
:root {
    --col-header-border: #020035;
}

#card_shade_1 {
  background: #000011;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #010023;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #020035;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #0C094E;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #1C1A68;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #333081;
}
.card:hover #name_shade_6 p {
  color: #ffffff;
}

#card_shade_7 {
  background: #4F4D9A;
}
.card:hover #name_shade_7 p {
  color: #ffffff;
}

#card_shade_8 {
  background: #7270B3;
}
.card:hover #name_shade_8 p {
  color: #ffffff;
}

#card_shade_9 {
  background: #9B99CD;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #CAC9E6;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #19191C;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #19181F;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #181721;
}
.card:hover #name_tone_3 p {
  color: #ffffff;
}

#card_tone_4 {
  background: #161624;
}
.card:hover #name_tone_4 p {
  color: #ffffff;
}

#card_tone_5 {
  background: #141327;
}
.card:hover #name_tone_5 p {
  color: #ffffff;
}

#card_tone_6 {
  background: #11102A;
}
.card:hover #name_tone_6 p {
  color: #ffffff;
}

#card_tone_7 {
  background: #0E0D2D;
}
.card:hover #name_tone_7 p {
  color: #ffffff;
}

#card_tone_8 {
  background: #0A092F;
}
.card:hover #name_tone_8 p {
  color: #ffffff;
}

#card_tone_9 {
  background: #060532;
}
.card:hover #name_tone_9 p {
  color: #ffffff;
}

#card_tone_10 {
  background: #020035;
}
.card:hover #name_tone_10 p {
  color: #ffffff;
}

#card_simcol_1 {
  background: #000133;
}
.circle:hover #name_simcol_1 p {
  color: #ffffff;
}

#card_simcol_2 {
  background: #040348;
}
.circle:hover #name_simcol_2 p {
  color: #ffffff;
}

#card_simcol_3 {
  background: #000741;
}
.circle:hover #name_simcol_3 p {
  color: #ffffff;
}

#card_simcol_4 {
  background: #0D0332;
}
.circle:hover #name_simcol_4 p {
  color: #ffffff;
}

#card_simcol_5 {
  background: #00035B;
}
.circle:hover #name_simcol_5 p {
  color: #ffffff;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #020035 0%, #020035 50%, #6FD0C5 50%, #6FD0C5 100%);
  background: -moz-linear-gradient(45deg, #020035 0%, #020035 50%, #6FD0C5 50%, #6FD0C5 100%);
  background: -o-linear-gradient(45deg, #020035 0%, #020035 50%, #6FD0C5 50%, #6FD0C5 100%);
  background: linear-gradient(45deg, #020035 0%, #020035 50%, #6FD0C5 50%, #6FD0C5 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #020035 0%, #020035 50%, #C9AE74 50%, #C9AE74 100%);
  background: -moz-linear-gradient(45deg, #020035 0%, #020035 50%, #C9AE74 50%, #C9AE74 100%);
  background: -o-linear-gradient(45deg, #020035 0%, #020035 50%, #C9AE74 50%, #C9AE74 100%);
  background: linear-gradient(45deg, #020035 0%, #020035 50%, #C9AE74 50%, #C9AE74 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #020035 0%, #020035 50%, #B66A50 50%, #B66A50 100%);
  background: -moz-linear-gradient(45deg, #020035 0%, #020035 50%, #B66A50 50%, #B66A50 100%);
  background: -o-linear-gradient(45deg, #020035 0%, #020035 50%, #B66A50 50%, #B66A50 100%);
  background: linear-gradient(45deg, #020035 0%, #020035 50%, #B66A50 50%, #B66A50 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #020035 0%, #020035 50%, #DD85D7 50%, #DD85D7 100%);
  background: -moz-linear-gradient(45deg, #020035 0%, #020035 50%, #DD85D7 50%, #DD85D7 100%);
  background: -o-linear-gradient(45deg, #020035 0%, #020035 50%, #DD85D7 50%, #DD85D7 100%);
  background: linear-gradient(45deg, #020035 0%, #020035 50%, #DD85D7 50%, #DD85D7 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #020035 0%, #020035 50%, #659EC7 50%, #659EC7 100%);
  background: -moz-linear-gradient(45deg, #020035 0%, #020035 50%, #659EC7 50%, #659EC7 100%);
  background: -o-linear-gradient(45deg, #020035 0%, #020035 50%, #659EC7 50%, #659EC7 100%);
  background: linear-gradient(45deg, #020035 0%, #020035 50%, #659EC7 50%, #659EC7 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_3 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #020035;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #020035;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #020035;
}

#card_tone_10 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #020035;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #020035;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #020035;
}
