
:root {
    --col-header-border: #2E3F62;
}

#card_shade_1 {
  background: #0B0F18;
}
.card:hover #name_shade_1 p {
  color: #ffffff;
}

#card_shade_2 {
  background: #161F30;
}
.card:hover #name_shade_2 p {
  color: #ffffff;
}

#card_shade_3 {
  background: #222E48;
}
.card:hover #name_shade_3 p {
  color: #ffffff;
}

#card_shade_4 {
  background: #2E3F62;
}
.card:hover #name_shade_4 p {
  color: #ffffff;
}

#card_shade_5 {
  background: #415377;
}
.card:hover #name_shade_5 p {
  color: #ffffff;
}

#card_shade_6 {
  background: #586A8E;
}
.card:hover #name_shade_6 p {
  color: #ffffff;
}

#card_shade_7 {
  background: #7383A4;
}
.card:hover #name_shade_7 p {
  color: #000000;
}

#card_shade_8 {
  background: #919FBB;
}
.card:hover #name_shade_8 p {
  color: #000000;
}

#card_shade_9 {
  background: #B2BDD2;
}
.card:hover #name_shade_9 p {
  color: #000000;
}

#card_shade_10 {
  background: #D7DDE9;
}
.card:hover #name_shade_10 p {
  color: #000000;
}

#card_tone_1 {
  background: #2F3134;
}
.card:hover #name_tone_1 p {
  color: #ffffff;
}

#card_tone_2 {
  background: #32353D;
}
.card:hover #name_tone_2 p {
  color: #ffffff;
}

#card_tone_3 {
  background: #333946;
}
.card:hover #name_tone_3 p {
  color: #ffffff;
}

#card_tone_4 {
  background: #333C4F;
}
.card:hover #name_tone_4 p {
  color: #ffffff;
}

#card_tone_5 {
  background: #313E57;
}
.card:hover #name_tone_5 p {
  color: #ffffff;
}

#card_tone_6 {
  background: #2E3F62;
}
.card:hover #name_tone_6 p {
  color: #ffffff;
}

#card_tone_7 {
  background: #2B4272;
}
.card:hover #name_tone_7 p {
  color: #ffffff;
}

#card_tone_8 {
  background: #254484;
}
.card:hover #name_tone_8 p {
  color: #ffffff;
}

#card_tone_9 {
  background: #1C4495;
}
.card:hover #name_tone_9 p {
  color: #ffffff;
}

#card_tone_10 {
  background: #0F42A7;
}
.card:hover #name_tone_10 p {
  color: #ffffff;
}

#card_simcol_1 {
  background: #202E54;
}
.circle:hover #name_simcol_1 p {
  color: #ffffff;
}

#card_simcol_2 {
  background: #314459;
}
.circle:hover #name_simcol_2 p {
  color: #ffffff;
}

#card_simcol_3 {
  background: #29465B;
}
.circle:hover #name_simcol_3 p {
  color: #ffffff;
}

#card_simcol_4 {
  background: #1F3B4D;
}
.circle:hover #name_simcol_4 p {
  color: #ffffff;
}

#card_simcol_5 {
  background: #354E8C;
}
.circle:hover #name_simcol_5 p {
  color: #ffffff;
}

#card_combo_1 {
  background: -webkit-linear-gradient(45deg, #2E3F62 0%, #2E3F62 50%, #C0737A 50%, #C0737A 100%);
  background: -moz-linear-gradient(45deg, #2E3F62 0%, #2E3F62 50%, #C0737A 50%, #C0737A 100%);
  background: -o-linear-gradient(45deg, #2E3F62 0%, #2E3F62 50%, #C0737A 50%, #C0737A 100%);
  background: linear-gradient(45deg, #2E3F62 0%, #2E3F62 50%, #C0737A 50%, #C0737A 100%);
}
.combo:hover #name_combo_1 p {
  color: #000000;
}

#card_combo_2 {
  background: -webkit-linear-gradient(45deg, #2E3F62 0%, #2E3F62 50%, #56B4BE 50%, #56B4BE 100%);
  background: -moz-linear-gradient(45deg, #2E3F62 0%, #2E3F62 50%, #56B4BE 50%, #56B4BE 100%);
  background: -o-linear-gradient(45deg, #2E3F62 0%, #2E3F62 50%, #56B4BE 50%, #56B4BE 100%);
  background: linear-gradient(45deg, #2E3F62 0%, #2E3F62 50%, #56B4BE 50%, #56B4BE 100%);
}
.combo:hover #name_combo_2 p {
  color: #000000;
}

#card_combo_3 {
  background: -webkit-linear-gradient(45deg, #2E3F62 0%, #2E3F62 50%, #C154C1 50%, #C154C1 100%);
  background: -moz-linear-gradient(45deg, #2E3F62 0%, #2E3F62 50%, #C154C1 50%, #C154C1 100%);
  background: -o-linear-gradient(45deg, #2E3F62 0%, #2E3F62 50%, #C154C1 50%, #C154C1 100%);
  background: linear-gradient(45deg, #2E3F62 0%, #2E3F62 50%, #C154C1 50%, #C154C1 100%);
}
.combo:hover #name_combo_3 p {
  color: #000000;
}

#card_combo_4 {
  background: -webkit-linear-gradient(45deg, #2E3F62 0%, #2E3F62 50%, #D5869D 50%, #D5869D 100%);
  background: -moz-linear-gradient(45deg, #2E3F62 0%, #2E3F62 50%, #D5869D 50%, #D5869D 100%);
  background: -o-linear-gradient(45deg, #2E3F62 0%, #2E3F62 50%, #D5869D 50%, #D5869D 100%);
  background: linear-gradient(45deg, #2E3F62 0%, #2E3F62 50%, #D5869D 50%, #D5869D 100%);
}
.combo:hover #name_combo_4 p {
  color: #000000;
}

#card_combo_5 {
  background: -webkit-linear-gradient(45deg, #2E3F62 0%, #2E3F62 50%, #6FC276 50%, #6FC276 100%);
  background: -moz-linear-gradient(45deg, #2E3F62 0%, #2E3F62 50%, #6FC276 50%, #6FC276 100%);
  background: -o-linear-gradient(45deg, #2E3F62 0%, #2E3F62 50%, #6FC276 50%, #6FC276 100%);
  background: linear-gradient(45deg, #2E3F62 0%, #2E3F62 50%, #6FC276 50%, #6FC276 100%);
}
.combo:hover #name_combo_5 p {
  color: #000000;
}

#card_shade_4 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #2E3F62;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #2E3F62;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #2E3F62;
}

#card_tone_6 {
  -webkit-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #2E3F62;
     -moz-box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #2E3F62;
          box-shadow: 0 var(--underline-dist-inner) 0 white, 0 var(--underline-dist-outer) 0 #2E3F62;
}
